{% extends "layoutsld.html" %}

{% block pageTitle %}
Select your organisation
{% endblock %}

{% block content %}



    <a href="javascript:history.back()" class="govuk-back-link">Back</a>

     <br></br>

       <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" data-module="error-summary">
        <h2 class="govuk-error-summary__title" id="error-summary-title">
            There’s a problem
        </h2>
        <div class="govuk-error-summary__body">
            <ul class="govuk-list govuk-error-summary__list">
                <li>
                    <a href="#controls" autofocus="">Check data you want to submit</a>
                </li>
            </ul>
        </div>
    </div>

        <main class="govuk-main-wrapper" id="content" role="main">
            <div class="govuk-grid-row flex">
                <div class="govuk-grid-column-full">
                    

                    
        
            <h1 class="govuk-heading-xl">Select your organisation</h1>
        <p class="govuk-body">
                You are associated with more than 1 organisation, please select the one you wish to sign-in with.
            </p>

            <p class="govuk-body govuk-!-font-weight-bold">
                Your organisations
            </p>


        
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
                
                 <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="internalusergroup" type="radio" value="internalusergroup">
                    <label class="govuk-label govuk-radios__label" for="organisation ">
                    DfE - Submit learner data internal user group (open)
                    </label>
                </div>
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="internalauditusergroup" type="radio" value="auditinternalusergroup">
                    <label class="govuk-label govuk-radios__label" for="organisation-2">
                    DfE - Submit learner data internal audit user group (open)
                    </label>
                </div>
                </div>
            </fieldset>
    
            </br>
            </br>
            
            <button class="govuk-button" onclick="continueBtnClick()">Continue</button>
                
        </main>
    </div>

</body>
</html>

<script>
function continueBtnClick() {       
    try {

        const selected = document.getElementById("internalauditusergroup").checked;
        
        if (selected) {
            window.location.href = "/cias/audit-services";
        }
        else
        {
            
            window.location.href = "/cias/select-your-organisation-error";
        }
    } catch (error) {
        console.log(error.message);
    }
}
</script>


{% endblock %}