{% extends "layoutsld.html" %}

{% block pageTitle %}
  Estimated 16-19 student counts - Submit learner data
{% endblock %}

{% block content %}

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Live
    </strong>
    <span class="govuk-phase-banner__text">
      Your <a class="govuk-link" href="#" target="_blank">feedback (opens in new tab)</a> will help us improve the service.
    </span>
  </p>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full govuk-!-text-align-right govuk-!-padding-top-2">
        <span class="govuk-body">Niamh Gallagher UKPRN:10033670</span>
        <a href="#" class="govuk-link govuk-!-margin-left-2">Sign out</a>
    </div>
</div>

<a href="javascript:history.back()" class="govuk-back-link">Back</a>

<main class="govuk-main-wrapper" id="content" role="main">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">
            Estimated 16-19 student counts
        </h1>

        <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    Help with your estimate
                </span>
            </summary>
            <div class="govuk-details__text">
                <p class="govuk-body">
                    The estimate should relate to the number of 16-19 year old students you expect to have on roll for the academic year.
                </p>
            </div>
        </details>

        <h2 class="govuk-heading-m">Academic Year 2025 to 2026</h2>
        <table class="govuk-table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Return period</th>
                    <th scope="col" class="govuk-table__header">Estimate</th>
                    <th scope="col" class="govuk-table__header"><span class="govuk-visually-hidden">Action</span></th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">R03</td>
                    <td class="govuk-table__cell">799</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">
                        <a href="#" class="govuk-link">Change<span class="govuk-visually-hidden"> R03 estimate</span></a>
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">R02</td>
                    <td class="govuk-table__cell">798</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">
                         <a href="#" class="govuk-link">Change<span class="govuk-visually-hidden"> R02 estimate</span></a>
                    </td>
                </tr>
            </tbody>
        </table>

        <h2 class="govuk-heading-m govuk-!-margin-top-8">Academic Year 2024 to 2025</h2>
        <table class="govuk-table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Return period</th>
                    <th scope="col" class="govuk-table__header">Estimate</th>
                    <th scope="col" class="govuk-table__header"><span class="govuk-visually-hidden">Action</span></th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">R03</td>
                    <td class="govuk-table__cell">750</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">
                        <a href="#" class="govuk-link">Change<span class="govuk-visually-hidden"> R03 estimate</span></a>
                    </td>
                </tr>
                 <tr class="govuk-table__row">
                    <td class="govuk-table__cell">R02</td>
                    <td class="govuk-table__cell">745</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">
                        <a href="#" class="govuk-link">Change<span class="govuk-visually-hidden"> R02 estimate</span></a>
                    </td>
                </tr>
            </tbody>
        </table>

        </form>

    </div>
  </div>
</main>

{% endblock %}