<h2 class="govuk-heading-m">Academic Year 2025 to 2026</h2>
        <table class="govuk-table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header" style="width: 30%;">Return period</th>
                    <th scope="col" class="govuk-table__header" style="width: 20%;">Estimate</th>
                    <th scope="col" class="govuk-table__header"><span class="govuk-visually-hidden">Action</span></th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">R03</td>
                    <td class="govuk-table__cell">
                        <input class="govuk-input" id="estimate-r03" name="estimate-r03" type="text" value="799" style="width: 70px; margin: 0;">
                    </td>
                    <td class="govuk-table__cell"></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">R02</td>
                    <td class="govuk-table__cell">798</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">
                         <a href="#" class="govuk-link">Change<span class="govuk-visually-hidden"> R02 estimate</span></a>
                    </td>
                </tr>
            </tbody>
        </table>

        <h2 class="govuk-heading-m govuk-!-margin-top-8">Academic Year 2024 to 2025</h2>
        <table class="govuk-table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header" style="width: 30%;">Return period</th>
                    <th scope="col" class="govuk-table__header" style="width: 20%;">Estimate</th>
                    <th scope="col" class="govuk-table__header"><span class="govuk-visually-hidden">Action</span></th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">R04</td>
                    <td class="govuk-table__cell">750</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">
                        <a href="#" class="govuk-link">Change<span class="govuk-visually-hidden"> R04 estimate</span></a>
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">R03</td>
                    <td class="govuk-table__cell">743</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">
                        <a href="#" class="govuk-link">Change<span class="govuk-visually-hidden"> R03 estimate</span></a>
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">R02</td>
                    <td class="govuk-table__cell">745</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">
                        <a href="#" class="govuk-link">Change<span class="govuk-visually-hidden"> R02 estimate</span></a>
                    </td>
                </tr>
            </tbody>
        </table>