{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}


{% block content %}
{% include "./includes/nav.html" %}
<br>
<a class="govuk-link" href="/settingstopics">< Back</a>
<br>
<br>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        



        
<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
<h2 class="govuk-heading-m">ServiceFabric Applications</h2>

<table class="govuk-table">
<thead class="govuk-table__head">
<tr class="govuk-table__row">
    <td class="govuk-table__header">Name</td>
    <td class="govuk-table__header">Version</td>
    <td class="govuk-table__header">HealthState</td>
    <td class="govuk-table__header">Status</td>
</tr>
</thead>
    <tbody><tr class="govuk-table__row">
        <td class="govuk-table__cell">
            ESFA.DC.DataMatch.ReportServiceType
        </td>
        <td class="govuk-table__cell">
            .0.1.0-beta.1+172
        </td>
        <td class="govuk-table__cell">
            Ok
        </td>
        <td class="govuk-table__cell">
            Ready
        </td>
    </tr>
    <tr class="govuk-table__row">
        <td class="govuk-table__cell">
            ESFA.DC.EAS1920Type
        </td>
        <td class="govuk-table__cell">
            .0.0.0138
        </td>
        <td class="govuk-table__cell">
            Ok
        </td>
        <td class="govuk-table__cell">
            Ready
        </td>
    </tr>
    <tr class="govuk-table__row">
        <td class="govuk-table__cell">
            ESFA.DC.EAS2021Type
        </td>
        <td class="govuk-table__cell">
            .0.1.0087
        </td>
        <td class="govuk-table__cell">
            Ok
        </td>
        <td class="govuk-table__cell">
            Ready
        </td>
    </tr>
    <tr class="govuk-table__row">
        <td class="govuk-table__cell">
            ESFA.DC.EAS2122Type
        </td>
        <td class="govuk-table__cell">
            .0.1.0-beta.1+339
        </td>
        <td class="govuk-table__cell">
            Ok
        </td>
        <td class="govuk-table__cell">
            Ready
        </td>
    </tr>
    <tr class="govuk-table__row">
        <td class="govuk-table__cell">
            ESFA.DC.ESF.R2Type
        </td>
        <td class="govuk-table__cell">
            .0.2.0999
        </td>
        <td class="govuk-table__cell">
            Ok
        </td>
        <td class="govuk-table__cell">
            Ready
        </td>
    </tr>
    <tr class="govuk-table__row">
        <td class="govuk-table__cell">
            ESFA.DC.ESF.ServerlessType
        </td>
        <td class="govuk-table__cell">
            .0.0.0423
        </td>
        <td class="govuk-table__cell">
            Ok
        </td>
        <td class="govuk-table__cell">
            Ready
        </td>
    </tr>
    <tr class="govuk-table__row">
        <td class="govuk-table__cell">
            ESFA.DC.FEW.2021.FileProcessingServiceType
        </td>
        <td class="govuk-table__cell">
            .0.2.179-beta.1+0
        </td>
        <td class="govuk-table__cell">
            Ok
        </td>
        <td class="govuk-table__cell">
            Ready
        </td>
    </tr>
    <tr class="govuk-table__row">
        <td class="govuk-table__cell">
            ESFA.DC.FRM.ReportServiceType
        </td>
        <td class="govuk-table__cell">
            .0.0.0104
        </td>
        <td class="govuk-table__cell">
            Ok
        </td>
        <td class="govuk-table__cell">
            Ready
        </td>
    </tr>
    <tr class="govuk-table__row">
        <td class="govuk-table__cell">
            ESFA.DC.GenericCollectionType
        </td>
        <td class="govuk-table__cell">
            .0.0.0109
        </td>
        <td class="govuk-table__cell">
            Ok
        </td>
        <td class="govuk-table__cell">
            Ready
        </td>
    </tr>
    <tr class="govuk-table__row">
        <td class="govuk-table__cell">
            ESFA.DC.ILR1920.DataStoreType
        </td>
        <td class="govuk-table__cell">
            .0.0.0580
        </td>
        <td class="govuk-table__cell">
            Ok
        </td>
        <td class="govuk-table__cell">
            Ready
        </td>
    </tr>
    <tr class="govuk-table__row">
        <td class="govuk-table__cell">
            ESFA.DC.ILR1920.FileValidationServiceType
        </td>
        <td class="govuk-table__cell">
            .0.1.0130
        </td>
        <td class="govuk-table__cell">
            Ok
        </td>
        <td class="govuk-table__cell">
            Ready
        </td>
    </tr>
    <tr class="govuk-table__row">
        <td class="govuk-table__cell">
            ESFA.DC.ILR1920.FundingServiceType
        </td>
        <td class="govuk-table__cell">
            .0.0.0316
        </td>
        <td class="govuk-table__cell">
            Ok
        </td>
        <td class="govuk-table__cell">
            Ready
        </td>
    </tr>
    <tr class="govuk-table__row">
        <td class="govuk-table__cell">
            ESFA.DC.ILR1920.ReferenceDataServiceType
        </td>
        <td class="govuk-table__cell">
            .0.2.0051
        </td>
        <td class="govuk-table__cell">
            Ok
        </td>
        <td class="govuk-table__cell">
            Ready
        </td>
    </tr>
    <tr class="govuk-table__row">
        <td class="govuk-table__cell">
            ESFA.DC.ILR1920.ReportServiceType
        </td>
        <td class="govuk-table__cell">
            .0.0.1229
        </td>
        <td class="govuk-table__cell">
            Ok
        </td>
        <td class="govuk-table__cell">
            Ready
        </td>
    </tr>
    <tr class="govuk-table__row">
        <td class="govuk-table__cell">
            ESFA.DC.ILR1920.ReportService.MCAGLAType
        </td>
        <td class="govuk-table__cell">
            .0.0.0281
        </td>
        <td class="govuk-table__cell">
            Ok
        </td>
        <td class="govuk-table__cell">
            Ready
        </td>
    </tr>
    <tr class="govuk-table__row">
        <td class="govuk-table__cell">
            ESFA.DC.ILR1920.ValidationServiceType
        </td>
        <td class="govuk-table__cell">
            .0.0.1511
        </td>
        <td class="govuk-table__cell">
            Ok
        </td>
        <td class="govuk-table__cell">
            Ready
        </td>
    </tr>
    <tr class="govuk-table__row">
        <td class="govuk-table__cell">
            ESFA.DC.ILR2021.DataStoreType
        </td>
        <td class="govuk-table__cell">
            .0.1.0198
        </td>
        <td class="govuk-table__cell">
            Ok
        </td>
        <td class="govuk-table__cell">
            Ready
        </td>
    </tr>
    <tr class="govuk-table__row">
        <td class="govuk-table__cell">
            ESFA.DC.ILR2021.FileValidationServiceType
        </td>
        <td class="govuk-table__cell">
            .0.1.63
        </td>
        <td class="govuk-table__cell">
            Ok
        </td>
        <td class="govuk-table__cell">
            Ready
        </td>
    </tr>
    <tr class="govuk-table__row">
        <td class="govuk-table__cell">
            ESFA.DC.ILR2021.FundingServiceType
        </td>
        <td class="govuk-table__cell">
            .0.1.212
        </td>
        <td class="govuk-table__cell">
            Ok
        </td>
        <td class="govuk-table__cell">
            Ready
        </td>
    </tr>
    <tr class="govuk-table__row">
        <td class="govuk-table__cell">
            ESFA.DC.ILR2021.ReferenceDataServiceType
        </td>
        <td class="govuk-table__cell">
            .0.3.0263
        </td>
        <td class="govuk-table__cell">
            Ok
        </td>
        <td class="govuk-table__cell">
            Ready
        </td>
    </tr>
    <tr class="govuk-table__row">
        <td class="govuk-table__cell">
            ESFA.DC.ILR2021.ReportServiceType
        </td>
        <td class="govuk-table__cell">
            .0.1.0705
        </td>
        <td class="govuk-table__cell">
            Ok
        </td>
        <td class="govuk-table__cell">
            Ready
        </td>
    </tr>
    <tr class="govuk-table__row">
        <td class="govuk-table__cell">
            ESFA.DC.ILR2021.ReportService.MCAGLAType
        </td>
        <td class="govuk-table__cell">
            .0.1.0146
        </td>
        <td class="govuk-table__cell">
            Ok
        </td>
        <td class="govuk-table__cell">
            Ready
        </td>
    </tr>
    <tr class="govuk-table__row">
        <td class="govuk-table__cell">
            ESFA.DC.ILR2021.ValidationServiceType
        </td>
        <td class="govuk-table__cell">
            .0.1.1215
        </td>
        <td class="govuk-table__cell">
            Ok
        </td>
        <td class="govuk-table__cell">
            Ready
        </td>
    </tr>
    <tr class="govuk-table__row">
        <td class="govuk-table__cell">
            ESFA.DC.ILR2122.DataStoreType
        </td>
        <td class="govuk-table__cell">
            .0.1.0-beta.1+766
        </td>
        <td class="govuk-table__cell">
            Ok
        </td>
        <td class="govuk-table__cell">
            Ready
        </td>
    </tr>
    <tr class="govuk-table__row">
        <td class="govuk-table__cell">
            ESFA.DC.ILR2122.FileValidationServiceType
        </td>
        <td class="govuk-table__cell">
            .0.1.0-beta.1+325
        </td>
        <td class="govuk-table__cell">
            Ok
        </td>
        <td class="govuk-table__cell">
            Ready
        </td>
    </tr>
    <tr class="govuk-table__row">
        <td class="govuk-table__cell">
            ESFA.DC.ILR2122.FundingServiceType
        </td>
        <td class="govuk-table__cell">
            .0.1.0-beta.1+921
        </td>
        <td class="govuk-table__cell">
            Ok
        </td>
        <td class="govuk-table__cell">
            Ready
        </td>
    </tr>
    <tr class="govuk-table__row">
        <td class="govuk-table__cell">
            ESFA.DC.ILR2122.ReferenceDataServiceType
        </td>
        <td class="govuk-table__cell">
            .0.1.0-beta.1+965
        </td>
        <td class="govuk-table__cell">
            Ok
        </td>
        <td class="govuk-table__cell">
            Ready
        </td>
    </tr>
    <tr class="govuk-table__row">
        <td class="govuk-table__cell">
            ESFA.DC.ILR2122.ReportServiceType
        </td>
        <td class="govuk-table__cell">
            .0.1.0-beta.1+2120
        </td>
        <td class="govuk-table__cell">
            Ok
        </td>
        <td class="govuk-table__cell">
            Ready
        </td>
    </tr>
    <tr class="govuk-table__row">
        <td class="govuk-table__cell">
            ESFA.DC.ILR2122.ReportService.MCAGLAType
        </td>
        <td class="govuk-table__cell">
            .0.1.0-beta.1+329
        </td>
        <td class="govuk-table__cell">
            Ok
        </td>
        <td class="govuk-table__cell">
            Ready
        </td>
    </tr>
    <tr class="govuk-table__row">
        <td class="govuk-table__cell">
            ESFA.DC.ILR2122.ValidationServiceType
        </td>
        <td class="govuk-table__cell">
            .0.1.751
        </td>
        <td class="govuk-table__cell">
            Ok
        </td>
        <td class="govuk-table__cell">
            Ready
        </td>
    </tr>
    <tr class="govuk-table__row">
        <td class="govuk-table__cell">
            ESFA.DC.MCA.DevolvedContractsType
        </td>
        <td class="govuk-table__cell">
            .0.0.0127
        </td>
        <td class="govuk-table__cell">
            Ok
        </td>
        <td class="govuk-table__cell">
            Ready
        </td>
    </tr>
    <tr class="govuk-table__row">
        <td class="govuk-table__cell">
            ESFA.DC.MCA.FundedAimsType
        </td>
        <td class="govuk-table__cell">
            .0.1.0-beta.1+175
        </td>
        <td class="govuk-table__cell">
            Ok
        </td>
        <td class="govuk-table__cell">
            Ready
        </td>
    </tr>
    <tr class="govuk-table__row">
        <td class="govuk-table__cell">
            ESFA.DC.NCSType
        </td>
        <td class="govuk-table__cell">
            .0.0.0176
        </td>
        <td class="govuk-table__cell">
            Ok
        </td>
        <td class="govuk-table__cell">
            Ready
        </td>
    </tr>
    <tr class="govuk-table__row">
        <td class="govuk-table__cell">
            ESFA.DC.Operations.ReportsType
        </td>
        <td class="govuk-table__cell">
            .0.0.0281
        </td>
        <td class="govuk-table__cell">
            Ok
        </td>
        <td class="govuk-table__cell">
            Ready
        </td>
    </tr>
    <tr class="govuk-table__row">
        <td class="govuk-table__cell">
            ESFA.DC.PeriodEnd.CrossYear.ReportService.StatelessType
        </td>
        <td class="govuk-table__cell">
            .0.1.0-beta.1+72
        </td>
        <td class="govuk-table__cell">
            Ok
        </td>
        <td class="govuk-table__cell">
            Ready
        </td>
    </tr>
    <tr class="govuk-table__row">
        <td class="govuk-table__cell">
            ESFA.DC.PeriodEnd1920.ReportServiceType
        </td>
        <td class="govuk-table__cell">
            .0.0.1120
        </td>
        <td class="govuk-table__cell">
            Ok
        </td>
        <td class="govuk-table__cell">
            Ready
        </td>
    </tr>
    <tr class="govuk-table__row">
        <td class="govuk-table__cell">
            ESFA.DC.PeriodEnd2021.ReportServiceType
        </td>
        <td class="govuk-table__cell">
            .0.1.0801
        </td>
        <td class="govuk-table__cell">
            Ok
        </td>
        <td class="govuk-table__cell">
            Ready
        </td>
    </tr>
    <tr class="govuk-table__row">
        <td class="govuk-table__cell">
            ESFA.DC.PeriodEnd2122.ReportServiceType
        </td>
        <td class="govuk-table__cell">
            .0.1.0-beta.1+1215
        </td>
        <td class="govuk-table__cell">
            Ok
        </td>
        <td class="govuk-table__cell">
            Ready
        </td>
    </tr>
    <tr class="govuk-table__row">
        <td class="govuk-table__cell">
            ESFA.DC.ReferenceDataType
        </td>
        <td class="govuk-table__cell">
            .0.1.0-beta.1+1515
        </td>
        <td class="govuk-table__cell">
            Ok
        </td>
        <td class="govuk-table__cell">
            Ready
        </td>
    </tr>
    <tr class="govuk-table__row">
        <td class="govuk-table__cell">
            ESFA.DC.SummarisationType
        </td>
        <td class="govuk-table__cell">
            .0.1.0-beta.1+797
        </td>
        <td class="govuk-table__cell">
            Ok
        </td>
        <td class="govuk-table__cell">
            Ready
        </td>
    </tr>
    <tr class="govuk-table__row">
        <td class="govuk-table__cell">
            ESFA.DC.Summarisation.ReportServiceType
        </td>
        <td class="govuk-table__cell">
            .0.1.0-beta.1+49
        </td>
        <td class="govuk-table__cell">
            Ok
        </td>
        <td class="govuk-table__cell">
            Ready
        </td>
    </tr>
    <tr class="govuk-table__row">
        <td class="govuk-table__cell">
            ESFA.DC.Summarisation2021.ReportServiceType
        </td>
        <td class="govuk-table__cell">
            .0.1.0070
        </td>
        <td class="govuk-table__cell">
            Ok
        </td>
        <td class="govuk-table__cell">
            Ready
        </td>
    </tr>
</tbody></table>
</div>
</div>

<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
<h2 class="govuk-heading-m">ServiceFabric Nodes</h2>

<table class="govuk-table">
<thead class="govuk-table__head">
    <tr class="govuk-table__row">
        <td class="govuk-table__header">Node Type</td>
        <td class="govuk-table__header">Count</td>
        <td class="govuk-table__header">Healthy</td>
        <td class="govuk-table__header">Bad</td>
    </tr>
</thead>
    <tbody><tr class="govuk-table__row">
        <td class="govuk-table__cell">
            processor
        </td>
        <td class="govuk-table__cell">
            30
        </td>
        <td class="govuk-table__cell">
            30
        </td>
        <td class="govuk-table__cell">
            0
        </td>
    </tr>
    <tr class="govuk-table__row">
        <td class="govuk-table__cell">
            data
        </td>
        <td class="govuk-table__cell">
            5
        </td>
        <td class="govuk-table__cell">
            5
        </td>
        <td class="govuk-table__cell">
            0
        </td>
    </tr>
</tbody></table>
</div>
</div>
    </div>
</div>


{% endblock %}
