{% extends "layoutsld.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}


{% block content %}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>

<h1 class="govuk-heading-l">Adult skills fund</h1>


<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">
      Ethan Carter
    </h2>
  </div>
  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
           Id
        </dt>
        <dd class="govuk-summary-list__value">
          1(2i)
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Learner reference number
        </dt>
        <dd class="govuk-summary-list__value">
          482
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Issue
        </dt>
        <dd class="govuk-summary-list__value">
          Full/co funding and approved qualifications
        </dd>
      </div>
     <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Description
        </dt>
        <dd class="govuk-summary-list__value">
          Claims for full or co funding are made in accordance with the eligibility, entitlement and age criteria. The learner is working towards an applicable approved qualification. 
        </dd>
      </div>
     <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Audit comment
        </dt>
        <dd class="govuk-summary-list__value">
          60089143 – Award in Progression: According to the evidence pack, the learner has withdrawn from the learning aim, with the last date of learning recorded as 26/03/2025, which was also the planned end date. 
          The college MIS was notified of the withdrawal on 05/09/2025; however, the withdrawal was not processed in a timely manner.
        </dd>
      </div>
     <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Provider response
        </dt>
        <dd class="govuk-summary-list__value">
           <div class="govuk-form-group">
           <textarea class="govuk-textarea" id="more-detail" name="moreDetail" rows="3" aria-describedby="more-detail-hint"</textarea>Acknowledged - CPD is delivered throughout the year with curriculum highlighting the impact of timely data management.</textarea>  
       </dd>
      </div>
     <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Accept provider response?
        </dt>
        <dd class="govuk-summary-list__value">
           <select class="govuk-select" id="sort" name="sort">
           <option value="published" selected>Choose option</option>
           <option value="updated">Yes</option>
           <option value="views">No</option>
           <option value="comments">N/A</option>
           </select>
        </dd>
      </div>
     <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Error cleared?
        </dt>
        <dd class="govuk-summary-list__value">
           <select class="govuk-select" id="sort" name="sort">
           <option value="published" selected>Choose option</option>
           <option value="updated">Yes</option>
           <option value="views">No</option>
           <option value="comments">N/A</option>
           </select>
        </dd>
      </div>
     <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Has a sub-population of learners with the same error characteristics as the error in the main sample been identified?
        </dt>
        <dd class="govuk-summary-list__value">
            <select class="govuk-select" id="sort" name="sort">
           <option value="published" selected>Choose option</option>
           <option value="updated">Yes</option>
           <option value="views">No</option>
           <option value="comments">N/A</option>
           </select>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Describe the sub-population affected?
        </dt>
        <dd class="govuk-summary-list__value">
           <div class="govuk-form-group">
           <textarea class="govuk-textarea" id="more-detail" name="moreDetail" rows="3" aria-describedby="more-detail-hint"</textarea>All 16-18 yr/olds.</textarea>  
       </dd>
      </div>
    </dl>
  </div>
</div>





 <a class="govuk-button" href="Audit_AdultSkillsAudit_P2.html">Save and continue</a>

{% endblock %}