{% extends "layoutsld.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}


{% block content %}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>

<h1 class="govuk-heading-l">Adult skills fund</h1>


<div class="govuk-width-container">

  
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l">Check your answers before sending your application</h1>
        <h2 class="govuk-heading-m">Personal details</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
           <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Transaction number
            </dt>
            <dd class="govuk-summary-list__value">
              1
            </dd>
          </div>         
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Name
            </dt>
            <dd class="govuk-summary-list__value">
              Ethan Carter
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Learner reference number
            </dt>
            <dd class="govuk-summary-list__value">
              482
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Unique learner number
            </dt>
            <dd class="govuk-summary-list__value">
              123456789
            </dd>
          </div>
       </dl>







        <h2 class="govuk-heading-m">Audit details</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-half">
              Does the learner satisfy the ESFA's eligibility criteria?
            </dt>
            <dd class="govuk-summary-list__value">
              Yes
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> previous application number</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Are claims for full or co funding made in accordance with the eligibility, entitlement and age criteria?
Is the learner working towards an applicable approved qualification?
            </dt>
            <dd class="govuk-summary-list__value">
              No
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> licence type</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Are claims under the FCFJ offer in accordance with the eligibility criteria for the age of the learner?<br>Is the learner working towards an approved qualification? 
            </dt>
            <dd class="govuk-summary-list__value">
              Yes
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> home address</span></a>
            </dd>
          </div>
            <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Does the learner's age and prior attainment meet the eligibility criteria required to claim full funding as part of the learner's legal entitlement?
            </dt>
            <dd class="govuk-summary-list__value">
              Yes
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> home address</span></a>
            </dd>
          </div>
        </dl>



        <h2 class="govuk-heading-m">Now send your application</h2>
        <p class="govuk-body">By submitting this application you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>
        <form action="/form-handler" method="post" novalidate>
          <input type="hidden" name="answers-checked" value="true">
          <button type="submit" class="govuk-button" data-module="govuk-button">
            Accept and send
          </button>
        </form>
      </div>
    </div>
  </main>
</div>

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
      <h3 class="govuk-fieldset__heading">
        iii)  English and maths  entitlement and assessment (ASF) 
      </h3>
    </legend>
    <div id="contact-hint" class="govuk-hint">
      Does the learner's age and prior attainment meet the eligibility criteria required to claim full funding as part of the learner's legal entitlement?</div>
    <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="ASF-1" name="ASF" type="radio" value="email">
        <label class="govuk-label govuk-radios__label" for="ASF-1">
          Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="ASF-2" name="ASF" type="radio" value="phone" data-aria-controls="2iii">
        <label class="govuk-label govuk-radios__label" for="ASF-2">
          No
        </label>
      </div>
      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="2iii">
        <div class="govuk-form-group">
          <label class="govuk-label" for="contact-by-phone">
            Comment
          </label>
          <input class="govuk-input govuk-!-width-full" id="contact-by-phone" name="contactByPhone" type="tel" autocomplete="tel">
        </div>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="ASF-3" name="ASF" type="radio" value="text">
        <label class="govuk-label govuk-radios__label" for="ASF-3">
          Not applicable
        </label>
      </div>
    </div>
  </fieldset>
</div>


<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
      <h3 class="govuk-fieldset__heading">
        iv)  English and maths assessment and enrolled level (AEB)
      </h3>
    </legend>
    <div id="contact-hint" class="govuk-hint">
       Is the level on which the learner is enrolled correctly determined by the outcome of the initial assessment?      
    <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="2iv1" name="AEB" type="radio" value="email">
        <label class="govuk-label govuk-radios__label" for="2iv1">
          Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="2iv2" name="AEB" type="radio" value="phone" data-aria-controls="2iv">
        <label class="govuk-label govuk-radios__label" for="2iv2">
          No
        </label>
      </div>
      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="2iv">
        <div class="govuk-form-group">
          <label class="govuk-label" for="contact-by-phone">
            Comment
          </label>
          <input class="govuk-input govuk-!-width-full" id="contact-by-phone" name="contactByPhone" type="tel" autocomplete="tel">
        </div>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="2iv3" name="AEB" type="radio" value="text">
        <label class="govuk-label govuk-radios__label" for="2iv3">
          Not applicable
        </label>
      </div>
    </div>
  </fieldset>
</div>

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
      <h3 class="govuk-fieldset__heading">
        v)  Digital Skills
      </h3>
    </legend>
    <div id="contact-hint" class="govuk-hint">
       Learners are fully funded where they meet the eligibility and age criteria, and the assessment of digital skills shows them to be below level 1.      
    <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="2v1" name="Digital" type="radio" value="email">
        <label class="govuk-label govuk-radios__label" for="2v1">
          Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="2v2" name="Digital" type="radio" value="phone" data-aria-controls="2v">
        <label class="govuk-label govuk-radios__label" for="2v2">
          No
        </label>
      </div>
      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="2v">
        <div class="govuk-form-group">
          <label class="govuk-label" for="contact-by-phone">
            Comment
          </label>
          <input class="govuk-input govuk-!-width-full" id="contact-by-phone" name="contactByPhone" type="tel" autocomplete="tel">
        </div>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="2v3" name="Digital" type="radio" value="text">
        <label class="govuk-label govuk-radios__label" for="2v3">
          Not applicable
        </label>
      </div>
    </div>
  </fieldset>
</div>

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
      <h3 class="govuk-fieldset__heading">
        vi)  English for speakers of other languages
      </h3>
    </legend>
    <div id="contact-hint" class="govuk-hint">
       Is there must an assessment of need for each separate qualification to support claims for additional learning to that funded through the matrix rate?   
    <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="2vi1" name="English" type="radio" value="email">
        <label class="govuk-label govuk-radios__label" for="2vi1">
          Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="2vi2" name="English" type="radio" value="phone" data-aria-controls="2vi">
        <label class="govuk-label govuk-radios__label" for="2vi2">
          No
        </label>
      </div>
      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="2vi">
        <div class="govuk-form-group">
          <label class="govuk-label" for="contact-by-phone">
            Comment
          </label>
          <input class="govuk-input govuk-!-width-full" id="contact-by-phone" name="contactByPhone" type="tel" autocomplete="tel">
        </div>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="2vi3" name="English" type="radio" value="text">
        <label class="govuk-label govuk-radios__label" for="2vi3">
          Not applicable
        </label>
      </div>
    </div>
  </fieldset>
</div>





 <a class="govuk-button" href="Audit_Summary.html">Finish</a>

{% endblock %}