{% extends "layoutsld.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}
{% block content %}

<div class="govuk-width-container">
  <a href="javascript:history.back()" class="govuk-back-link">Back</a>
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
          Add an audit
        </h1>
        
        <div class="govuk-form-group">
         
          <label class="govuk-label govuk-date-input__label" for="assessment-price">
            Provider UKPRN
          </label>
          <input class="govuk-input govuk-input--width-10" id="width-10" name="width10" type="text">
        </div>

                <div class="govuk-form-group">
         
          <label class="govuk-label govuk-date-input__label" for="assessment-price">
            Audit name
          </label>
          <input class="govuk-input govuk-input--width-50" id="width-100" name="width10" type="text">
        </div>

                <div class="govuk-form-group">
         
          <label class="govuk-label govuk-date-input__label" for="assessment-price">
            Audit description
          </label>
          <input class="govuk-input govuk-input--width-50" id="width-100" name="width10" type="text">
        </div>


        <a class="govuk-button" href="Audit_AddAudit2.html">Select ILR</a>
      </div>
    </div>
  </main>
</div>

 

{% endblock %}