{% extends "layoutsld.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}


{% block content %}


<a href="javascript:history.back()" class="govuk-back-link">Back</a>

 <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Provider UKPRN
    </dt>
    <dd class="govuk-summary-list__value">
      12345678
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Provider name
    </dt>
    <dd class="govuk-summary-list__value">
      Coventry City Football Club
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      ILR file
    </dt>
    <dd class="govuk-summary-list__value">
      ILR-1111111111-2526-20260114-100251-01
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Funding organisation
    </dt>
    <dd class="govuk-summary-list__value">
      ESFA
    </dd>
  </div>
</dl>  
    

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Funding categories</th>
      <th scope="col" class="govuk-table__header">Population value</th>
      <th scope="col" class="govuk-table__header">Learner numbers</th>
      <th scope="col" class="govuk-table__header">Sample size</th>
      <th scope="col" class="govuk-table__header">Sample value</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Adult Skills Fund</th>
      <td class="govuk-table__cell">£457,772.03</td>
      <td class="govuk-table__cell">283</td>
      <td class="govuk-table__cell">30</td>
      <td class="govuk-table__cell">£100,000.03</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Adult Skills Fund (FM38)</th>
      <td class="govuk-table__cell">£457,772.03</td>
      <td class="govuk-table__cell">283</td>
      <td class="govuk-table__cell">30</td>
      <td class="govuk-table__cell">£100,000.03</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Adult Skills Fund (FM35)</th>
      <td class="govuk-table__cell">£457,772.03</td>
      <td class="govuk-table__cell">283</td>
      <td class="govuk-table__cell">30</td>
      <td class="govuk-table__cell">£100,000.03</td>
    </tr>    

  </tbody>
</table>


 <a class="govuk-button" href="Audit_D1.html">Continue</a>

{% endblock %}