{% extends "layoutsld.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}


{% block content %}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>

<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Transaction number
    </dt>
    <dd class="govuk-summary-list__value">
      1
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Learner reference number
    </dt>
    <dd class="govuk-summary-list__value">
      999999
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Unique learner number
    </dt>
    <dd class="govuk-summary-list__value">
      123456789
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Date of birth
    </dt>
    <dd class="govuk-summary-list__value">
     26-01-1970
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      NI number
    </dt>
    <dd class="govuk-summary-list__value">
     NI123456XA
    </dd>
  </div>
    <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Postcode prior to enrolment
    </dt>
    <dd class="govuk-summary-list__value">
     CV1 1GD
    </dd>
  </div>
    <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Disadvantage uplift factor
    </dt>
    <dd class="govuk-summary-list__value">
     1.0000
    </dd>
  </div>
    <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      FM38 funding (YTD)
    </dt>
    <dd class="govuk-summary-list__value">
     £1,000.00
    </dd>
  </div>
    <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      FM35 funding (YTD)
    </dt>
    <dd class="govuk-summary-list__value">
     £0.00
    </dd>
  </div>
</dl>


 <a class="govuk-button" href="Audit_Summary.html">Continue</a>

{% endblock %}