{% extends "layoutsld.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}


{% block content %}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>

<h1 class="govuk-heading-l">Adult skills fund</h1>


<div class="govuk-summary-card">
<div class="govuk-summary-card__title-wrapper">
  <div class="govuk-summary-card__status-wrapper">
  <h2 class="govuk-summary-card__title">Ethan Carter</h2>
</div>
    <ul class="govuk-summary-card__actions">
  <li class="govuk-summary-card__action">
    <a id="personal-information-change" tabindex="0" href="Audit_AdultSkillsFeedbackUpdate.html" class="govuk-link govuk-link--no-visited-state" data-module="">
      Change
    </a>
  </li>
  </ul>
</div>
  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
           Id
        </dt>
        <dd class="govuk-summary-list__value">
          1(2i)
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Learner reference number
        </dt>
        <dd class="govuk-summary-list__value">
          482
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Issue
        </dt>
        <dd class="govuk-summary-list__value">
          Full/co funding and approved qualifications
        </dd>
      </div>
     <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Description
        </dt>
        <dd class="govuk-summary-list__value">
          Claims for full or co funding are made in accordance with the eligibility, entitlement and age criteria. The learner is working towards an applicable approved qualification. 
        </dd>
      </div>
     <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Audit comment
        </dt>
        <dd class="govuk-summary-list__value">
          60089143 – Award in Progression: According to the evidence pack, the learner has withdrawn from the learning aim, with the last date of learning recorded as 26/03/2025, which was also the planned end date. 
          The college MIS was notified of the withdrawal on 05/09/2025; however, the withdrawal was not processed in a timely manner.
        </dd>
      </div>
     <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Provider response
        </dt>
        <dd class="govuk-summary-list__value">
          Acknowledged - CPD is delivered throughout the year with curriculum highlighting the impact of timely data management.  
       </dd>
      </div>
     <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Accept provider response?
        </dt>
        <dd class="govuk-summary-list__value">
          No
        </dd>
      </div>
     <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Error cleared?
        </dt>
        <dd class="govuk-summary-list__value">
          No
        </dd>
      </div>
     <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Has a (sub-) population of learners with the same error characteristics as the error in the main sample been identified?
        </dt>
        <dd class="govuk-summary-list__value">
          No
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Describe the sub-population affected?
        </dt>
        <dd class="govuk-summary-list__value">
         All 16-18 yr/olds.  
       </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Has the (sub-) population been 100% tested and assurance gained?
        </dt>
        <dd class="govuk-summary-list__value">
         N/A 
       </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Additional testing working paper reference
        </dt>
        <dd class="govuk-summary-list__value">

       </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Error categorisation
        </dt>
        <dd class="govuk-summary-list__value">
          N/A
       </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Report issue
        </dt>
        <dd class="govuk-summary-list__value">
          N/A
       </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Action plan reference
        </dt>
        <dd class="govuk-summary-list__value">
          N/A
       </dd>
      </div>
    </dl>
  </div>
</div>


<div class="govuk-summary-card">
<div class="govuk-summary-card__title-wrapper">
  <div class="govuk-summary-card__status-wrapper">
  <h2 class="govuk-summary-card__title">FM38</h2>
</div>
    <ul class="govuk-summary-card__actions">
  <li class="govuk-summary-card__action">
    <a id="personal-information-change" tabindex="0" href="Audit_AdultSkillsFeedbackUpdate.html" class="govuk-link govuk-link--no-visited-state" data-module="">
      Change
    </a>
  </li>
  </ul>
</div>
  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Sample error
        </dt>
        <dd class="govuk-summary-list__value">
          £10,000.00
       </dd>
     </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Other errors outside of sample but within population
        </dt>
        <dd class="govuk-summary-list__value">
          
       </dd>
     </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Error relating to prior years funding
        </dt>
        <dd class="govuk-summary-list__value">
          
       </dd>
     </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Under-claims
        </dt>
        <dd class="govuk-summary-list__value">
          
       </dd>
     </div>
    </dl>
  </div>
</div>

<div class="govuk-summary-card">
<div class="govuk-summary-card__title-wrapper">
  <div class="govuk-summary-card__status-wrapper">
  <h2 class="govuk-summary-card__title">FM35</h2>
</div>
    <ul class="govuk-summary-card__actions">
  <li class="govuk-summary-card__action">
    <a id="personal-information-change" tabindex="0" href="Audit_AdultSkillsFeedbackUpdate.html" class="govuk-link govuk-link--no-visited-state" data-module="">
      Change
    </a>
  </li>
  </ul>
</div>
  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Sample error
        </dt>
        <dd class="govuk-summary-list__value">

       </dd>
     </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Other errors outside of sample but within population
        </dt>
        <dd class="govuk-summary-list__value">
          
       </dd>
     </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Error relating to prior years funding
        </dt>
        <dd class="govuk-summary-list__value">
          
       </dd>
     </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Under-claims
        </dt>
        <dd class="govuk-summary-list__value">
          
       </dd>
     </div>
    </dl>
  </div>
</div>


 <a class="govuk-button" href="Audit_AdultSkillsFeedback2.html">Next</a>

{% endblock %}