{% extends "layoutsld.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}


{% block content %}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>


<nav class="app-navigation govuk-clearfix">
    <ul class="app-navigation__list app-width-container">

      <li class="app-navigation__list-item">
        <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline app-navigation__link" href="Audit_Summary.html" data-topnav="Sum">Sample summary</a>
      </li>
  
      <li class="app-navigation__list-item">
        <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline app-navigation__link" href="Audit_D1.html" data-topnav="WP">Working papers</a>
      </li>

      <li class="app-navigation__list-item">
        <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline app-navigation__link" href="Audit_Feedback.html" data-topnav="feedback">Feedback</a>
      </li>

      <li class="app-navigation__list-item app-navigation__list-item--current">
        <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline app-navigation__link" href="Audit_Analysis.html" data-topnav="feedback">Analysis</a>
      </li>
  
      <li class="app-navigation__list-item">
        <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline app-navigation__link" href="Audit_Reconciliation.html" data-topnav="recon">Reconciliation</a>
      </li>
  
    </ul>
  </nav>
  <br>

<span class="govuk-caption-xl">Audit of adult skills for 2026</span>
<h1 class="govuk-heading-l">Analysis</h1>
<div class="govuk-tabs" data-module="govuk-tabs">
  <h2 class="govuk-tabs__title">
    Contents
  </h2>
  <ul class="govuk-tabs__list">
    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
      <a class="govuk-tabs__tab" href="#past-day">
        Adult Skills Fund
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#past-week">
        16-19 Funding
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#past-month">
        Apprenticeship
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#past-year">
        Advanced Learner Loans
      </a>
    </li>
  </ul>
  <div class="govuk-tabs__panel" id="past-day">
   <h2 class="govuk-heading-l">Adult skills fund</h2>
   <strong class="govuk-tag govuk-tag--orange">In progress</strong>
   <br>
   <br>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Txn No.</th>
          <th scope="col" class="govuk-table__header">Learner refernce number</th>
          <th scope="col" class="govuk-table__header">Name</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric">Sample value</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric">Sample value error</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric">Random error</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric">Ring-fenced error</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">1</td>
          <td class="govuk-table__cell">482</td>
          <td class="govuk-table__cell">Ethan Carter</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£7,482.91</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>                                  
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">2</td>
          <td class="govuk-table__cell">703</td>
          <td class="govuk-table__cell">Maya Hopkins</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£254.30</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>                                  
        </tr>
                <tr class="govuk-table__row">
          <td class="govuk-table__cell">3</td>
          <td class="govuk-table__cell">159</td>
          <td class="govuk-table__cell">Daniel Fraser</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£9,617.08</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>                                  
        </tr>
                <tr class="govuk-table__row">
          <td class="govuk-table__cell">4</td>
          <td class="govuk-table__cell">847</td>
          <td class="govuk-table__cell">Olivia Kerr</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£3,826.44</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>                                  
        </tr>
                <tr class="govuk-table__row">
          <td class="govuk-table__cell">5</td>
          <td class="govuk-table__cell">216</td>
          <td class="govuk-table__cell">Marcus Lennox</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£6,105.77</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>                                  
        </tr>
                <tr class="govuk-table__row">
          <td class="govuk-table__cell">6</td>
          <td class="govuk-table__cell">935</td>
          <td class="govuk-table__cell">Hannah Reid</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£998.52</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>                                  
        </tr>
                <tr class="govuk-table__row">
          <td class="govuk-table__cell">7</td>
          <td class="govuk-table__cell">478</td>
          <td class="govuk-table__cell">Jacob Turner</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£4,733.10</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>                                  
        </tr>
                <tr class="govuk-table__row">
          <td class="govuk-table__cell">8</td>
          <td class="govuk-table__cell">602</td>
          <td class="govuk-table__cell">Freya Collins</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£8,209.66</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>                                  
        </tr>
                <tr class="govuk-table__row">
          <td class="govuk-table__cell">9</td>
          <td class="govuk-table__cell">751</td>
          <td class="govuk-table__cell">Samuel Boyd</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£1,547.89</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>                                  
        </tr>
                <tr class="govuk-table__row">
          <td class="govuk-table__cell">10</td>
          <td class="govuk-table__cell">394</td>
          <td class="govuk-table__cell">Chloe Watkins</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£2,380.41</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>                                  
        </tr>
                <tr class="govuk-table__row">
          <td class="govuk-table__cell">11</td>
          <td class="govuk-table__cell">818</td>
          <td class="govuk-table__cell">Leo Harding</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£9,955.72</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>                                  
        </tr>
                <tr class="govuk-table__row">
          <td class="govuk-table__cell">12</td>
          <td class="govuk-table__cell">267</td>
          <td class="govuk-table__cell">Amelia Brooke</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£6,788.03</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>                                  
        </tr>
                <tr class="govuk-table__row">
          <td class="govuk-table__cell">13</td>
          <td class="govuk-table__cell">543</td>
          <td class="govuk-table__cell">Nathan Cole</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£423.67</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>                                  
        </tr>
                <tr class="govuk-table__row">
          <td class="govuk-table__cell">14</td>
          <td class="govuk-table__cell">901</td>
          <td class="govuk-table__cell">Zara Mitchell</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£5,901.22</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>                                  
        </tr>
                <tr class="govuk-table__row">
          <td class="govuk-table__cell">15</td>
          <td class="govuk-table__cell">326</td>
          <td class="govuk-table__cell">Dylan Parker</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£7,044.55</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>                                  
        </tr>
                <tr class="govuk-table__row">
          <td class="govuk-table__cell">16</td>
          <td class="govuk-table__cell">774</td>
          <td class="govuk-table__cell">Elise Morton</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£3,119.08</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>                                  
        </tr>
                <tr class="govuk-table__row">
          <td class="govuk-table__cell">17</td>
          <td class="govuk-table__cell">689</td>
          <td class="govuk-table__cell">Isaac Fletcher</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£8,866.92</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>                                  
        </tr>
                <tr class="govuk-table__row">
          <td class="govuk-table__cell">18</td>
          <td class="govuk-table__cell">415</td>
          <td class="govuk-table__cell">Ruby James</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£290.14</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>                                  
        </tr>
                <tr class="govuk-table__row">
          <td class="govuk-table__cell">19</td>
          <td class="govuk-table__cell">892</td>
          <td class="govuk-table__cell">Oscar Talbot</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£9,302.60</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>                                  
        </tr>
                <tr class="govuk-table__row">
          <td class="govuk-table__cell">20</td>
          <td class="govuk-table__cell">508</td>
          <td class="govuk-table__cell">Erin Walsh</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£1,775.48</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>                                  
        </tr>
                <tr class="govuk-table__row">
          <td class="govuk-table__cell">21</td>
          <td class="govuk-table__cell">637</td>
          <td class="govuk-table__cell">Felix Monroe</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£6,449.37</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>                                  
        </tr>
                <tr class="govuk-table__row">
          <td class="govuk-table__cell"22</td>
          <td class="govuk-table__cell">123</td>
          <td class="govuk-table__cell">Sophie Grant</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£2,951.06</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>                                  
        </tr>
                <tr class="govuk-table__row">
          <td class="govuk-table__cell">23</td>
          <td class="govuk-table__cell">964</td>
          <td class="govuk-table__cell">Alex Donovan</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£7,830.29</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>                                  
        </tr>
                <tr class="govuk-table__row">
          <td class="govuk-table__cell">24</td>
          <td class="govuk-table__cell">706</td>
          <td class="govuk-table__cell">Poppy Reeves</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£510.93</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>                                  
        </tr>
                <tr class="govuk-table__row">
          <td class="govuk-table__cell">25</td>
          <td class="govuk-table__cell">358</td>
          <td class="govuk-table__cell">Jonah Clarke</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£9,483.11</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>                                  
        </tr>
                <tr class="govuk-table__row">
          <td class="govuk-table__cell">26</td>
          <td class="govuk-table__cell">829</td>
          <td class="govuk-table__cell">Isla Hammond</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£3,668.72</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>                                  
        </tr>
                <tr class="govuk-table__row">
          <td class="govuk-table__cell">27</td>
          <td class="govuk-table__cell">497</td>
          <td class="govuk-table__cell">Tobias Quinn</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£1,089.50</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>                                  
        </tr>
                <tr class="govuk-table__row">
          <td class="govuk-table__cell">28</td>
          <td class="govuk-table__cell">680</td>
          <td class="govuk-table__cell">Millie Barrett</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£8,570.84</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>                                  
        </tr>
                <tr class="govuk-table__row">
          <td class="govuk-table__cell">29</td>
          <td class="govuk-table__cell">241</td>
          <td class="govuk-table__cell">Rowan Hayes</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£4,244.19</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>                                  
        </tr>
                <tr class="govuk-table__row">
          <td class="govuk-table__cell">30</td>
          <td class="govuk-table__cell">915</td>
          <td class="govuk-table__cell">Talia Spencer</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£6,993.02</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>                                  
        </tr>
       </tbody>
    </table>
  </div>
  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-week">
    <h2 class="govuk-heading-l">Past week</h2>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Case manager</th>
          <th scope="col" class="govuk-table__header">Cases opened</th>
          <th scope="col" class="govuk-table__header">Cases closed</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">David Francis</td>
          <td class="govuk-table__cell">24</td>
          <td class="govuk-table__cell">18</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Paul Farmer</td>
          <td class="govuk-table__cell">16</td>
          <td class="govuk-table__cell">20</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Rita Patel</td>
          <td class="govuk-table__cell">24</td>
          <td class="govuk-table__cell">27</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-month">
    <h2 class="govuk-heading-l">Past month</h2>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Case manager</th>
          <th scope="col" class="govuk-table__header">Cases opened</th>
          <th scope="col" class="govuk-table__header">Cases closed</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">David Francis</td>
          <td class="govuk-table__cell">98</td>
          <td class="govuk-table__cell">95</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Paul Farmer</td>
          <td class="govuk-table__cell">122</td>
          <td class="govuk-table__cell">131</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Rita Patel</td>
          <td class="govuk-table__cell">126</td>
          <td class="govuk-table__cell">142</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-year">
    <h2 class="govuk-heading-l">Past year</h2>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Case manager</th>
          <th scope="col" class="govuk-table__header">Cases opened</th>
          <th scope="col" class="govuk-table__header">Cases closed</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">David Francis</td>
          <td class="govuk-table__cell">1380</td>
          <td class="govuk-table__cell">1472</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Paul Farmer</td>
          <td class="govuk-table__cell">1129</td>
          <td class="govuk-table__cell">1083</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Rita Patel</td>
          <td class="govuk-table__cell">1539</td>
          <td class="govuk-table__cell">1265</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


 <a class="govuk-button" href="Audit_Summary.html">Continue</a>

{% endblock %}