{% extends "layoutsld.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}


{% block content %}


<a href="javascript:history.back()" class="govuk-back-link">Back</a>

 <dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Provider
    </dt>
    <dd class="govuk-summary-list__value">
      Coventry City Football Club
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      ILR file
    </dt>
    <dd class="govuk-summary-list__value">
      ILR-1111111111-2526-20260114-100251-01
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Funding organisation
    </dt>
    <dd class="govuk-summary-list__value">
      ESFA
    </dd>
  </div>
</dl>  
    



{% endblock %}