{% extends "layout.html" %}

{% block pageTitle %}
  Start page example
{% endblock %}


{% block content %}
{% include "./includes/nav.html" %}
<br>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    
<h1 class="govuk-heading-xl">Manage collections</h1>

<div class="govuk-grid-row">
    <details class="govuk-details" data-module="govuk-details" open>
    <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
            Active
        </span>
    </summary>
    <div class="govuk-details__text">


<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
        <div class="border-top ">
            <h2 class="govuk-heading-m "><a class="govuk-link" href="/Collections/Manage/154">EAS2021</a></h2>
            <span class="govuk-body-s">Submissions open</span><br>
            <span class="govuk-body-s">
Current period R14                            </span>
            <br>
            <span class="govuk-body-s">Closing on 21 October</span><br>
        </div>
    </div>    
    <div class="govuk-grid-column-one-third">
            <div class="border-top ">
                <h2 class="govuk-heading-m "><a class="govuk-link" href="/Collections/Manage/202">EAS2122</a></h2>
                <span class="govuk-body-s">Submissions open</span><br>
                <span class="govuk-body-s">Current period R03</span>
                <br>
                <span class="govuk-body-s">Closing on 04 November</span><br>
            </div>
        </div>
        <div class="govuk-grid-column-one-third">
            <div class="border-top ">
                <h2 class="govuk-heading-m "><a class="govuk-link" href="/Collections/Manage/205">ESFR2-2122</a></h2>
                <span class="govuk-body-s">Submissions open</span><br>
                <span class="govuk-body-s">
Current period R03                            </span>
                <br>
                <span class="govuk-body-s">Closing on 04 November</span><br>
            </div>
        </div>
                <div class="govuk-grid-column-one-third">
            <div class="border-top ">
                <h2 class="govuk-heading-m "><a class="govuk-link" href="/Collections/Manage/2021132">ESF-Reprofiling</a></h2>
                <span class="govuk-body-s">Submissions closed</span><br>
                <span class="govuk-body-s">
Next period E04                            </span>
                <br>
                <span class="govuk-body-s">Opening on 11 November</span><br>
            </div>
        </div>

        <div class="govuk-grid-column-one-third">
            <div class="border-top ">
                <h2 class="govuk-heading-m "><a class="govuk-link" href="/Collections/Manage/200">FEW2021</a></h2>
                <span class="govuk-body-s">Submissions open</span><br>
                <span class="govuk-body-s">
Current period R01                            </span>
                <br>
                <span class="govuk-body-s">Closing on 22 October</span><br>
            </div>
        </div>

        <div class="govuk-grid-column-one-third">
            <div class="border-top ">
                <h2 class="govuk-heading-m "><a class="govuk-link" href="/Collections/Manage/200">FEWG2021</a></h2>
                <span class="govuk-body-s">Submissions open</span><br>
                <span class="govuk-body-s">
Current period R01                            </span>
                <br>
                <span class="govuk-body-s">Closing on 22 October</span><br>
            </div>
        </div>

        <div class="govuk-grid-column-one-third">
            <div class="border-top ">
                <h2 class="govuk-heading-m "><a class="govuk-link" href="/Collections/Manage/201">ILR2021</a></h2>
                <span class="govuk-body-s">Submissions open</span><br>
                <span class="govuk-body-s">
Current period R14                            </span>
                <br>
                <span class="govuk-body-s">Closing on 21 October</span><br>
            </div>
        </div>


        <div class="govuk-grid-column-one-third">
            <div class="border-top ">
                <h2 class="govuk-heading-m "><a class="govuk-link" href="/Collections/Manage/201">ILR2122</a></h2>
                <span class="govuk-body-s">Submissions open</span><br>
                <span class="govuk-body-s">
Current period R03                            </span>
                <br>
                <span class="govuk-body-s">Closing on 04 November</span><br>
            </div>
        </div>
        <div class="govuk-grid-column-one-third">
            <div class="border-top ">
                <h2 class="govuk-heading-m "><a class="govuk-link" href="/Collections/Manage/195">NCS2122</a></h2>
                <span class="govuk-body-s">Submissions open</span><br>
                <span class="govuk-body-s">
Current period N07                            </span>
                <br>
                <span class="govuk-body-s">Closing on 05 November</span><br>
            </div>
        </div>
</div>
<br>
</details>
</div>

<div class="govuk-grid-row">
    <details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
            Inactive
        </span>
    </summary>
    <div class="govuk-details__text">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
                <div class="border-top ">
                    <h2 class="govuk-heading-m "><a class="govuk-link" href="/Collections/Manage/154">COVID19</a></h2>
                    <span class="govuk-body-s">Submissions closed</span><br>
                    <span class="govuk-body-s">Last period R01</span>
                    <br>
                    <span class="govuk-body-s">Closed on 30 April</span><br>
                </div>
            </div>  

            
                <div class="govuk-grid-column-one-third">
                    <div class="border-top ">
                        <h2 class="govuk-heading-m "><a class="govuk-link" href="/Collections/Manage/154">COVIDRelief2</a></h2>
                        <span class="govuk-body-s">Submissions closed</span><br>
                        <span class="govuk-body-s">Last period R02</span>
                        <br>
                        <span class="govuk-body-s">Closed on 03 July</span><br>
                    </div>
                </div>

                <div class="govuk-grid-column-one-third">
                    <div class="border-top ">
                        <h2 class="govuk-heading-m "><a class="govuk-link" href="/Collections/Manage/154">EAS1819</a></h2>
                        <span class="govuk-body-s">Submissions closed</span><br>
                        <span class="govuk-body-s">Last period R14</span>
                        <br>
                        <span class="govuk-body-s">Closed on 17 October</span><br>
                    </div>
                </div>

        <div class="govuk-grid-column-one-third">
            <div class="border-top ">
                <h2 class="govuk-heading-m "><a class="govuk-link" href="/Collections/Manage/154">EAS1920</a></h2>
                <span class="govuk-body-s">Submissions closed</span><br>
                <span class="govuk-body-s">Last period R14</span>
                <br>
                <span class="govuk-body-s">Closed on 22 October</span><br>
            </div>
        </div>


        <div class="govuk-grid-column-one-third">
            <div class="border-top ">
                <h2 class="govuk-heading-m "><a class="govuk-link" href="/Collections/Manage/154">ESFR1</a></h2>
                <span class="govuk-body-s">Submissions closed</span><br>
                <span class="govuk-body-s">Last period R14</span>
                <br>
                <span class="govuk-body-s">Closed on 17 October</span><br>
            </div>
        </div> 

        <div class="govuk-grid-column-one-third">
            <div class="border-top ">
                <h2 class="govuk-heading-m "><a class="govuk-link" href="/Collections/Manage/154">ESFR2-1819</a></h2>
                <span class="govuk-body-s">Submissions closed</span><br>
                <span class="govuk-body-s">Last period R12</span>
                <br>
                <span class="govuk-body-s">Closed on 06 August</span><br>
            </div>
        </div> 
       
            <div class="govuk-grid-column-one-third">
                <div class="border-top ">
                    <h2 class="govuk-heading-m "><a class="govuk-link" href="/Collections/Manage/154">ESFR2-1920</a></h2>
                    <span class="govuk-body-s">Submissions closed</span><br>
                    <span class="govuk-body-s">Last period R12</span>
                    <br>
                    <span class="govuk-body-s">Closed on 06 August</span><br>
                </div>
            </div> 

            <div class="govuk-grid-column-one-third">
                <div class="border-top ">
                    <h2 class="govuk-heading-m "><a class="govuk-link" href="/Collections/Manage/154">ESFR2-2021</a></h2>
                    <span class="govuk-body-s">Submissions closed</span><br>
                    <span class="govuk-body-s">Last period R12</span>
                    <br>
                    <span class="govuk-body-s">Closed on 05 August</span><br>
                </div>
            </div>

            <div class="govuk-grid-column-one-third">
                <div class="border-top ">
                    <h2 class="govuk-heading-m "><a class="govuk-link" href="/Collections/Manage/154">ILR1819</a></h2>
                    <span class="govuk-body-s">Submissions closed</span><br>
                    <span class="govuk-body-s">Last period R14</span>
                    <br>
                    <span class="govuk-body-s">Closed on 17 October</span><br>
                </div>
            </div>             

                <div class="govuk-grid-column-one-third">
                    <div class="border-top ">
                        <h2 class="govuk-heading-m "><a class="govuk-link" href="/Collections/Manage/154">ILR1920</a></h2>
                        <span class="govuk-body-s">Submissions closed</span><br>
                        <span class="govuk-body-s">Last period R14</span>
                        <br>
                        <span class="govuk-body-s">Closed on 22 October</span><br>
                    </div>
                </div> 

               
                    <div class="govuk-grid-column-one-third">
                        <div class="border-top ">
                            <h2 class="govuk-heading-m "><a class="govuk-link" href="/Collections/Manage/154">NCS1920</a></h2>
                            <span class="govuk-body-s">Submissions closed</span><br>
                            <span class="govuk-body-s">Last period N12</span>
                            <br>
                            <span class="govuk-body-s">Closed on 07 April</span><br>
                        </div>
                    </div>  


    
        <div class="govuk-grid-column-one-third">
            <div class="border-top ">
                <h2 class="govuk-heading-m "><a class="govuk-link" href="/Collections/Manage/154">NCS2021</a></h2>
                <span class="govuk-body-s">Submissions closed</span><br>
                <span class="govuk-body-s">Last period N12</span>
                <br>
                <span class="govuk-body-s">Closed on 12 April</span><br>
            </div>
        </div>  


</div>
<br>
</details>
</div>




{% endblock %}
