{% extends "layout.html" %}

{% block pageTitle %}
  Contract Funding Waves
{% endblock %}

{% block content %}
{% include "./includes/nav.html" %}

<a href="#" class="govuk-back-link">Back</a>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">Contract funding waves</h1>

    <a class="govuk-button govuk-!-margin-bottom-4" href="#">Add a new contract funding wave</a>

    <div class="govuk-body">

        {# ----------------- SKILLS BOOTCAMPS ----------------- #}
        <section>
            <h2 class="govuk-heading-l govuk-!-margin-bottom-3">Skills Bootcamps</h2>
            
            <dl class="govuk-summary-list">
                
                {# Description Row REMOVED. The Manage link will be removed with it. #}

                {# Created by (Standard 2-column) #}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Created by</dt>
                    <dd class="govuk-summary-list__value">Janet William</dd>
                </div>
                
                {# Date created (Standard 2-column) #}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Date created</dt>
                    <dd class="govuk-summary-list__value">20-03-2025</dd>
                </div>

                {# Modified by (Standard 2-column) #}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Modified by</dt>
                    <dd class="govuk-summary-list__value">Mary Block</dd>
                </div>

                {# Last modified (Standard 2-column) #}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Last modified</dt>
                    <dd class="govuk-summary-list__value">20-03-2025</dd>
                </div>
            </dl>
        </section>

        {# ----------------- ADULT SKILLS FUND ----------------- #}
        <section>
            <h2 class="govuk-heading-l govuk-!-margin-bottom-3">Adult Skills Fund</h2>

            <dl class="govuk-summary-list">
                
                {# Description Row REMOVED. The Manage link will be removed with it. #}
                
                {# Created by (Standard 2-column) #}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Created by</dt>
                    <dd class="govuk-summary-list__value">Lucy Steven</dd>
                </div>

                {# Date created (Standard 2-column) #}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Date created</dt>
                    <dd class="govuk-summary-list__value">15-07-2024</dd>
                </div>

                {# Modified by (Standard 2-column) #}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Modified by</dt>
                    <dd class="govuk-summary-list__value">Alan Stick</dd>
                </div>

                {# Last modified (Standard 2-column) #}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Last modified</dt>
                    <dd class="govuk-summary-list__value">15-07-2024</dd>
                </div>
            </dl>
        </section>
    </div>
  </div>
</div>

{% endblock %}