<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GOV.UK Data Collections Operations - Contract Line Waves</title>
</head>
<body>

    GOV.UK Data Collections Operations
    <span style="float:right;">Beau Durman <a href="#">Sign out</a></span>
    <br>
    <br>

    Important submitlearnerdatabeta2024-25 has a deadline of 2025-09-21
    <br>
    <br>

    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Collections</a></li>
        <li><a href="#">Dashboards</a></li>
        <li><a href="#">Period end</a></li>
        <li><a href="#">Providers</a></li>
        <li><a href="#">Reference data</a></li>
        <li><a href="#">Reports</a></li>
        <li><a href="#">SLD admin</a></li>
        <li><a href="#">Tools</a></li>
    </ul>

    <br>
    <a href="#">&lt; Back</a>
    <br>
    <br>

    <h1>Contract line waves</h1>

    <button>Add a new contract line wave</button>
    <br>
    <br>

    <h2>Wave 6</h2>
    <p>
        Description<br>
        Wave 6 for financial year 01 April 2025 to 31 March 2026 (2025-26).<br>
        <a href="#">Manage</a><br>
        Start date<br>
        01-04-2025<br>
        End date<br>
        31-03-2026<br>
        Created by<br>
        Steven Spruce<br>
        Modified by<br>
        Steven Spruce
    </p>

    <h2>Wave 5</h2>
    <p>
        Description<br>
        Wave 5 for financial year 01 April 2024 to 31 March 2025 (2024-25).<br>
        <a href="#">Manage</a><br>
        Start date<br>
        01-04-2024<br>
        End date<br>
        31-03-2025<br>
        Created by<br>
        Steven Spruce<br>
        Modified by<br>
        Steven Spruce
    </p>

    <br>
    <hr>
    OGL All content is available under the <a href="#">Open Government Licence v3.0</a>, except where otherwise stated
    <span style="float:right;">&copy; Crown copyright</span>

</body>
</html>