{% extends "layout.html" %}

{% block pageTitle %}
  Contract Funding Waves
{% endblock %}

{% block content %}
{% include "./includes/nav.html" %}

<a href="#" class="govuk-back-link">Back</a>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">Contract funding waves</h1>

    <a class="govuk-button govuk-!-margin-bottom-4" href="#">Add a new contract funding wave</a>

    <div class="govuk-body">

        {# ----------------- SKILLS BOOTCAMPS ----------------- #}
        <section>
            <h2 class="govuk-heading-l govuk-!-margin-bottom-3">Skills Bootcamps</h2>
            
            {# MANAGE LINK ROW #}
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full govuk-!-text-align-right govuk-!-margin-bottom-2">
                    <a class="govuk-link" href="#">Manage</a>
                </div>
            </div>

            <dl class="govuk-summary-list">
                
                {# Row 1: Created by / Date created - SHORTER LABELS & TIGHTER WIDTHS #}
                <div class="govuk-summary-list__row govuk-!-padding-top-2 govuk-!-padding-bottom-2">
                    <dt class="govuk-summary-list__key govuk-visually-hidden">Creation Info</dt>
                    <dd class="govuk-summary-list__value govuk-!-width-full">
                        <div class="govuk-grid-row">
                            <div class="govuk-grid-column-one-half">
                                <strong class="govuk-!-font-weight-bold govuk-!-display-inline-block govuk-!-width-one-third">Creator</strong>
                                <span class="govuk-!-display-inline-block govuk-!-width-two-thirds">Janet William</span>
                            </div>
                            <div class="govuk-grid-column-one-half">
                                <strong class="govuk-!-font-weight-bold govuk-!-display-inline-block govuk-!-width-one-half">Date</strong>
                                <span class="govuk-!-display-inline-block govuk-!-width-one-half">20-03-2025</span>
                            </div>
                        </div>
                    </dd>
                    <dd class="govuk-summary-list__actions"></dd> 
                </div>
                
                {# Row 2: Modified by / Last modified - SHORTER LABELS & TIGHTER WIDTHS #}
                <div class="govuk-summary-list__row govuk-!-padding-top-2 govuk-!-padding-bottom-2">
                    <dt class="govuk-summary-list__key govuk-visually-hidden">Modification Info</dt>
                    <dd class="govuk-summary-list__value govuk-!-width-full">
                        <div class="govuk-grid-row">
                            <div class="govuk-grid-column-one-half">
                                <strong class="govuk-!-font-weight-bold govuk-!-display-inline-block govuk-!-width-one-third">Modifier</strong>
                                <span class="govuk-!-display-inline-block govuk-!-width-two-thirds">Mary Block</span>
                            </div>
                            <div class="govuk-grid-column-one-half">
                                <strong class="govuk-!-font-weight-bold govuk-!-display-inline-block govuk-!-width-one-half">Modified</strong>
                                <span class="govuk-!-display-inline-block govuk-!-width-one-half">20-03-2025</span>
                            </div>
                        </div>
                    </dd>
                    <dd class="govuk-summary-list__actions"></dd> 
                </div>
            </dl>
        </section>

        {# ----------------- ADULT SKILLS FUND ----------------- #}
        <section>
            <h2 class="govuk-heading-l govuk-!-margin-bottom-3">Adult Skills Fund</h2>

            {# MANAGE LINK ROW #}
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full govuk-!-text-align-right govuk-!-margin-bottom-2">
                    <a class="govuk-link" href="#">Manage</a>
                </div>
            </div>
            
            <dl class="govuk-summary-list">
                
                {# Row 1: Created by / Date created - SHORTER LABELS & TIGHTER WIDTHS #}
                <div class="govuk-summary-list__row govuk-!-padding-top-2 govuk-!-padding-bottom-2">
                    <dt class="govuk-summary-list__key govuk-visually-hidden">Creation Info</dt>
                    <dd class="govuk-summary-list__value govuk-!-width-full">
                        <div class="govuk-grid-row">
                            <div class="govuk-grid-column-one-half">
                                <strong class="govuk-!-font-weight-bold govuk-!-display-inline-block govuk-!-width-one-third">Creator</strong>
                                <span class="govuk-!-display-inline-block govuk-!-width-two-thirds">Lucy Steven</span>
                            </div>
                            <div class="govuk-grid-column-one-half">
                                <strong class="govuk-!-font-weight-bold govuk-!-display-inline-block govuk-!-width-one-half">Date</strong>
                                <span class="govuk-!-display-inline-block govuk-!-width-one-half">15-07-2024</span>
                            </div>
                        </div>
                    </dd>
                    <dd class="govuk-summary-list__actions"></dd> 
                </div>

                {# Row 2: Modified by / Last modified - SHORTER LABELS & TIGHTER WIDTHS #}
                <div class="govuk-summary-list__row govuk-!-padding-top-2 govuk-!-padding-bottom-2">
                    <dt class="govuk-summary-list__key govuk-visually-hidden">Modification Info</dt>
                    <dd class="govuk-summary-list__value govuk-!-width-full">
                        <div class="govuk-grid-row">
                            <div class="govuk-grid-column-one-half">
                                <strong class="govuk-!-font-weight-bold govuk-!-display-inline-block govuk-!-width-one-third">Modifier</strong>
                                <span class="govuk-!-display-inline-block govuk-!-width-two-thirds">Alan Stick</span>
                            </div>
                            <div class="govuk-grid-column-one-half">
                                <strong class="govuk-!-font-weight-bold govuk-!-display-inline-block govuk-!-width-one-half">Modified</strong>
                                <span class="govuk-!-display-inline-block govuk-!-width-one-half">15-07-2024</span>
                            </div>
                        </div>
                    </dd>
                    <dd class="govuk-summary-list__actions"></dd> 
                </div>
            </dl>
        </section>
    </div>
  </div>
</div>

{% endblock %}