{% extends "layoutsld.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}


{% block content %}

<style>
.dropdown {
  width: 400px;
  position: relative;
  margin-bottom: 20px;
}

.dropdown-btn {
  width: 100%;
  padding: 10px;
  border: 1px solid #b1b4b6;
  cursor: pointer;
  background: #fff;
  text-align: left;
}

.dropdown-list {
  display: none;
  position: absolute;
  width: 100%;
  border: 1px solid #b1b4b6;
  background: #fff;
  max-height: 250px;
  overflow-y: auto;
  z-index: 1000;
}

.dropdown.open .dropdown-list {
  display: block;
}

.search-box {
  width: 100%;
  padding: 8px;
  border: none;
  border-bottom: 1px solid #b1b4b6;
  box-sizing: border-box;
}

.group-title {
  padding: 8px;
  font-weight: bold;
  background: #f3f2f1;
}

.option {
  padding: 10px;
  cursor: pointer;
}

.option:hover {
  background: #f3f2f1;
}

.option.selected {
  background: #1d70b8;
  color: white;
}

.dropdown.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.hidden {
  display: none;
}
</style>

<a href="javascript:history.back()" class="govuk-back-link">Back</a>

    <div class="govuk-grid-row">
    
        <div class="govuk-grid-column">
            <h1 class="govuk-heading-xl">Provider Selection</h1>
        </div>         
    </div>
    
    
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
             
            <p class="govuk-body">Select a provider to run a cross ILR</p>
            <div class="govuk-input-group">
            
               <!-- Dropdown 1 -->
            <div class="dropdown" id="dropdown1" onclick="handleSelect(this)">
              <div class="dropdown-btn">Select a provider</div>
              <div class="dropdown-list">
                <input type="text" class="search-box" placeholder="Search...">

                <div class="group">
                  <div class="group-title">Select a provider</div>
                  <div class="option" id="1">10000001 - THE CAMDEN SCHOOL FOR GIRLS</div>
                  <div class="option" id="2">10000020 - 5 E LTD.</div>
                  <div class="option" id="3">10000044 - ABBOT BEYNE SCHOOL</div>
                  <div class="option" id="4">10000045 - OAK WOOD SCHOOL</div>
                  <div class="option" id="5">10000055 - ABINGDON AND WITNEY COLLEGE</div>
                  <div class="option" id="6">10000080 - ACCESS FURTHER EDUCATION LIMITED</div>
                  <div class="option" id="7">10000082 - TRN (TRAIN) LTD.</div>
                  <div class="option" id="8">10000099 - ACHIEVEMENT TRAINING LIMITED</div>
                  <div class="option" id="9">10000101 - ACLAND BURGHLEY SCHOOL</div>
                  <div class="option" id="10">10000108 - ACORN TRAINING CONSULTANTS LIMITED</div>
                  <div class="option" id="11">10000143 - BARKING & DAGENHAM LONDON BOROUGH COUNCIL</div>
                  <div class="option" id="12">10000146 - BEXLEY LONDON BOROUGH COUNCIL</div>
                  <div class="option" id="13">10000201 - THE LEARNING FOUNDRY LIMITED</div>
                  <div class="option" id="14">10000222 - ALL SAINTS CATHOLIC SCHOOL AND TECHNOLOGY COLLEGE</div>
                  <div class="option" id="15">10000230 - ALLERTON GRANGE SCHOOL</div>
                  <div class="option" id="16">10000231 - ALLERTON HIGH SCHOOL</div>
                  <div class="option" id="17">10000239 - PRE-SCHOOL LEARNING ALLIANCE</div>
                  <div class="option" id="18">10000311 - APCYMRU LIMITED</div>
                  <div class="option" id="19">10000330 - AQUINAS COLLEGE</div>
                  <div class="option" id="20">10000339 - ARCHBISHOP BECK CATHOLIC COLLEGE</div>
                  <div class="option" id="21">10000349 - ARCHWAY SCHOOL</div>
                  <div class="option" id="22">10000385 - ARTS UNIVERSITY BOURNEMOUTH, THE</div>
                  <div class="option" id="23">10000405 - ASHLYNS SCHOOL</div>
                  <div class="option" id="24">10000415 - ASKHAM BRYAN COLLEGE</div>
                  <div class="option" id="25">10000421 - ASPIRATION TRAINING LIMITED</div>
                  <div class="option" id="26">10000438 - SEATON VALLEY HIGH SCHOOL</div>
                  <div class="option" id="27">10000446 - KAPLAN FINANCIAL LIMITED</div>
                  <div class="option" id="28">10000470 - AXIA SOLUTIONS LIMITED</div>
                  <div class="option" id="29">10000488 - B-SKILL LIMITED</div>
                  <div class="option" id="30">10000528 - BARKING AND DAGENHAM COLLEGE</div>
                  <div class="option" id="31">10000532 - BARNARDO'S</div>
                  <div class="option" id="32">10000533 - BARNET & SOUTHGATE COLLEGE</div>
                  <div class="option" id="33">10000536 - BARNSLEY COLLEGE</div>
                  <div class="option" id="34">10000538 - BARNSLEY METROPOLITAN BOROUGH COUNCIL</div>
                  <div class="option" id="35">10000540 - BARNWELL SCHOOL</div>
                  <div class="option" id="36">10000552 - BARTON PEVERIL SIXTH FORM COLLEGE</div>
                  <div class="option" id="37">10000560 - BASINGSTOKE COLLEGE OF TECHNOLOGY</div>
                  <div class="option" id="38">10000565 - NOTTINGHAMSHIRE TRAINING GROUP LIMITED</div>
                  <div class="option" id="39">10000594 - BEAMINSTER SCHOOL</div>
                  <div class="option" id="40">10000597 - BEAUCHAMPS HIGH SCHOOL</div>
                  <div class="option" id="41">10000610 - BEDFORD COLLEGE</div>
                  <div class="option" id="42">10000632 - BELPER SCHOOL AND SIXTH FORM CENTRE</div>
                  <div class="option" id="43">10000667 - BEVERLEY HIGH SCHOOL</div>
                  <div class="option" id="44">10000670 - BEXHILL COLLEGE</div>
                  <div class="option" id="45">10000673 - LONDON SKILLS FOR GROWTH LIMITED</div>
                  <div class="option" id="46">10000684 - BIDDENHAM INTERNATIONAL SCHOOL AND SPORTS COLLEGE</div>
                  <div class="option" id="47">10000697 - BINGLEY GRAMMAR SCHOOL</div>
                  <div class="option" id="48">10000703 - BIRMINGHAM CITY COUNCIL</div>
                  <div class="option" id="49">10000712 - UNIVERSITY COLLEGE BIRMINGHAM</div>
                  <div class="option" id="50">10000715 - BIRMINGHAM ELECTRICAL TRAINING LTD</div>
                  <div class="option" id="51">10000720 - BISHOP AUCKLAND COLLEGE</div>
                  <div class="option" id="52">10000721 - BISHOP BURTON COLLEGE</div>
                  <div class="option" id="53">10000722 - BISHOP CHALLONER CATHOLIC COLLEGE</div>
                  <div class="option" id="54">10000726 - BISHOP HEBER HIGH SCHOOL</div>
                  <div class="option" id="55">10000737 - THE BISHOP'S STORTFORD HIGH SCHOOL</div>
                  <div class="option" id="56">10000747 - BLACKBURN COLLEGE</div>
                  <div class="option" id="57">10000748 - BLACKBURN WITH DARWEN BOROUGH COUNCIL</div>
                  <div class="option" id="58">10000754 - BLACKPOOL AND THE FYLDE COLLEGE</div>
                  <div class="option" id="59">10000755 - BLACKPOOL BOROUGH COUNCIL</div>
                  <div class="option" id="60">10000794 - BOLTON COLLEGE</div>
                  <div class="option" id="61">10000796 - BOLTON SIXTH FORM COLLEGE</div>
                  <div class="option" id="62">10000812 - BOSTON COLLEGE</div>
                  <div class="option" id="63">10000820 - BOURNEMOUTH AND POOLE COLLEGE, THE</div>
                  <div class="option" id="64">10000834 - BRACKNELL FOREST BOROUGH COUNCIL</div>
                  <div class="option" id="65">10000840 - BRADFORD COLLEGE</div>
                  <div class="option" id="66">10000850 - BRADFORD CITY COUNCIL</div>
                  <div class="option" id="67">10000863 - BRENT LONDON BOROUGH COUNCIL</div>
                  <div class="option" id="68">10000866 - BRENTSIDE HIGH SCHOOL</div>
                  <div class="option" id="69">10000874 - BRIDGE TRAINING LIMITED</div>
                  <div class="option" id="70">10000878 - UNIVERSITY CENTRE SOMERSET COLLEGE GROUP</div>
                  <div class="option" id="71">10000879 - BRIDLINGTON SCHOOL</div>
                  <div class="option" id="72">10000883 - BRIGHTON & HOVE CITY COUNCIL</div>
                  <div class="option" id="73">10000887 - BRIGHTON HOVE AND SUSSEX SIXTH FORM COLLEGE</div>
                  <div class="option" id="74">10000896 - BRISTOL CITY COUNCIL</div>
                  <div class="option" id="75">10000917 - BRITISH HOROLOGICAL INSTITUTE LIMITED(THE)</div>
                  <div class="option" id="76">10000944 - BROCKENHURST COLLEGE</div>
                  <div class="option" id="77">10000948 - LONDON SOUTH EAST COLLEGES</div>
                  <div class="option" id="78">10000950 - BROOKLANDS COLLEGE</div>
                  <div class="option" id="79">10000954 - LAUREL PARK SCHOOL</div>
                  <div class="option" id="80">10000955 - BROUGHTON HALL CATHOLIC HIGH SCHOOL</div>
                  <div class="option" id="81">10000976 - BUCKINGHAMSHIRE COUNCIL</div>
                  <div class="option" id="82">10000979 - BUDEHAVEN COMMUNITY SCHOOL</div>
                  <div class="option" id="83">10000994 - MARTINEX LIMITED</div>
                  <div class="option" id="84">10001000 - BURNLEY COLLEGE</div>
                  <div class="option" id="85">10001004 - BURTON AND SOUTH DERBYSHIRE COLLEGE</div>
                  <div class="option" id="86">10001005 - BURY COLLEGE</div>
                  <div class="option" id="87">10001008 - BURY METROPOLITAN BOROUGH COUNCIL</div>
                  <div class="option" id="88">10001013 - THINK EMPLOYMENT LIMITED</div>
                  <div class="option" id="89">10001078 - DIGITAL TELECOMS NETWORK ACADEMY LIMITED</div>
                  <div class="option" id="90">10001093 - CALDERDALE COLLEGE</div>
                  <div class="option" id="91">10001094 - CALDERDALE METROPOLITAN BOROUGH COUNCIL</div>
                  <div class="option" id="92">10001095 - CALDERSTONES SCHOOL</div>
                  <div class="option" id="93">10001116 - CAMBRIDGE REGIONAL COLLEGE</div>
                  <div class="option" id="94">10001148 - CAPEL MANOR COLLEGE</div>
                  <div class="option" id="95">10001161 - NEWMAN CATHOLIC COLLEGE</div>
                  <div class="option" id="96">10001162 - CARDINAL LANGLEY ROMAN CATHOLIC HIGH SCHOOL</div>
                  <div class="option" id="97">10001165 - CARDINAL NEWMAN COLLEGE</div>
                  <div class="option" id="98">10001174 - CT SKILLS LIMITED</div>
                  <div class="option" id="99">10001201 - CARMEL COLLEGE</div>
                  <div class="option" id="100">10001257 - CENTRAL FOUNDATION BOYS' SCHOOL</div>
                  <div class="option" id="101">10001258 - CENTRAL FOUNDATION GIRLS' SCHOOL</div>
                  <div class="option" id="102">10001259 - CENTRAL TRAINING ACADEMY LIMITED</div>
                  <div class="option" id="103">10001302 - CHACE COMMUNITY SCHOOL</div>
                  <div class="option" id="104">10001309 - COVENTRY AND WARWICKSHIRE CHAMBERS OF COMMERCE TRAINING LIMITED</div>
                  <div class="option" id="105">10001353 - CHELMSFORD COLLEGE</div>
                  <div class="option" id="106">10001378 - CHESTERFIELD COLLEGE</div>
                  <div class="option" id="107">10001394 - CHILTERN TRAINING LIMITED</div>
                  <div class="option" id="108">10001396 - CHILWELL SCHOOL</div>
                  <div class="option" id="109">10001414 - CHRIST THE KING CATHOLIC HIGH SCHOOL AND SIXTH FORM CENTRE</div>
                  <div class="option" id="110">10001429 - CHURCHILL COMMUNITY COLLEGE</div>
                  <div class="option" id="111">10001446 - CIRENCESTER COLLEGE</div>
                  <div class="option" id="112">10001463 - THE CITY LITERARY INSTITUTE</div>
                  <div class="option" id="113">10001464 - WESTMINSTER CITY COUNCIL</div>
                  <div class="option" id="114">10001465 - BATH COLLEGE</div>
                  <div class="option" id="115">10001467 - CITY OF BRISTOL COLLEGE</div>
                  <div class="option" id="116">10001473 - STOKE-ON-TRENT CITY COUNCIL</div>
                  <div class="option" id="117">10001475 - CITY OF SUNDERLAND COLLEGE</div>
                  <div class="option" id="118">10001476 - UNITED COLLEGES GROUP</div>
                  <div class="option" id="119">10001477 - CITY OF YORK COUNCIL</div>
                  <div class="option" id="120">10001503 - THE NORTHERN SCHOOL OF ART</div>
                  <div class="option" id="121">10001515 - C.M.S. VOCATIONAL TRAINING LIMITED</div>
                  <div class="option" id="122">10001530 - CODSALL COMMUNITY HIGH SCHOOL</div>
                  <div class="option" id="123">10001531 - COGENT SSC LIMITED</div>
                  <div class="option" id="124">10001535 - COLCHESTER INSTITUTE</div>
                  <div class="option" id="125">10001538 - COLEG ELIDYR</div>
                  <div class="option" id="126">10001539 - THE COLLEGE OF ANIMAL WELFARE LIMITED</div>
                  <div class="option" id="127">10001564 - COLTON HILLS COMMUNITY SCHOOL</div>
                  <div class="option" id="128">10001602 - COMMUNITY TRAINING SERVICES LIMITED</div>
                  <div class="option" id="129">10001640 - INSPIRA (01)</div>
                  <div class="option" id="130">10001647 - FUTURES ADVICE, SKILLS AND EMPLOYMENT LIMITED</div>
                  <div class="option" id="131">10001685 - JAMES CALVERT SPENCE COLLEGE</div>
                  <div class="option" id="132">10001695 - CORNWALL COUNCIL</div>
                  <div class="option" id="133">10001696 - CORNWALL COLLEGE</div>
                  <div class="option" id="134">10001710 - COUNCIL OF THE ISLES OF SCILLY</div>
                  <div class="option" id="135">10001723 - COVENTRY CITY COUNCIL</div>
                  <div class="option" id="136">10001726 - COVENTRY UNIVERSITY</div>
                  <div class="option" id="137">10001730 - COWLEY INTERNATIONAL COLLEGE</div>
                  <div class="option" id="138">10001736 - CRACKERJACK TRAINING LIMITED</div>
                  <div class="option" id="139">10001743 - CRAVEN COLLEGE</div>
                  <div class="option" id="140">10001754 - CRESSEX COMMUNITY SCHOOL</div>
                  <div class="option" id="141">10001777 - ALT VALLEY COMMUNITY TRUST LIMITED</div>
                  <div class="option" id="142">10001778 - CROYDON COLLEGE</div>
                  <div class="option" id="143">10001848 - DARLINGTON BOROUGH COUNCIL</div>
                  <div class="option" id="144">10001850 - DARLINGTON COLLEGE</div>
                  <div class="option" id="145">10001855 - DARTFORD SCIENCE & TECHNOLOGY COLLEGE</div>
                  <div class="option" id="146">10001869 - DAVIDSON TRAINING UK LIMITED</div>
                  <div class="option" id="147">10001883 - DE MONTFORT UNIVERSITY</div>
                  <div class="option" id="148">10001895 - THE DEANERY CHURCH OF ENGLAND HIGH SCHOOL AND SIXTH FORM COLLEGE</div>
                  <div class="option" id="149">10001918 - DERBY CITY COUNCIL</div>
                  <div class="option" id="150">10001919 - DCG</div>
                </div>
              </div>
            </div>
            </div>
        </div>
    </div>

    <button 
  type="button"
  class="govuk-button govuk-button--start"
  id="continueBtn"
  disabled
  onclick="handleBtnClick(this)">

          Continue
          <svg class="govuk-button__start-icon"
              xmlns="http://www.w3.org/2000/svg"
              width="17.5"
              height="19"
              viewBox="0 0 33 40"
              aria-hidden="true"
              focusable="false">
            <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
          </svg>
        </button>


<script>
document.addEventListener("DOMContentLoaded", function () {

  
  const dropdowns = document.querySelectorAll(".dropdown");
  const dropdown1 = document.getElementById("dropdown1");
  
  dropdowns.forEach(dropdown => {
    const button = dropdown.querySelector(".dropdown-btn");
    const options = dropdown.querySelectorAll(".option");
    const searchBox = dropdown.querySelector(".search-box");
    const groups = dropdown.querySelectorAll(".group");

    // Toggle dropdown
    button.addEventListener("click", () => {
    
      if (dropdown.classList.contains("disabled")) 
      {          
        return;
      }
        
      dropdown.classList.toggle("open");
      if (searchBox) searchBox.focus();
    }); 

    // Select option
    options.forEach(option => {
      option.addEventListener("click", () => {
        options.forEach(o => o.classList.remove("selected"));
        option.classList.add("selected");

        button.textContent = option.textContent;
        dropdown.classList.remove("open");

        // Enable dropdown 2 when dropdown 1 is selected
        if (dropdown.id == "dropdown1") {
          
          const continueBtn = document.getElementById("continueBtn");

          continueBtn.disabled = !(document.querySelector("#dropdown1 .option.selected"));                  
        }
      });
    });

    // Search/filter
    if (searchBox) {
      searchBox.addEventListener("input", () => {
        const value = searchBox.value.toLowerCase();

        groups.forEach(group => {
          let hasVisible = false;
          const groupOptions = group.querySelectorAll(".option");

          groupOptions.forEach(option => {
            const text = option.textContent.toLowerCase();

            if (text.includes(value)) {
              option.classList.remove("hidden");
              hasVisible = true;
            } else {
              option.classList.add("hidden");
            }
          });

          group.style.display = hasVisible ? "block" : "none";
        });
      });
    }
  });

  // Close dropdowns if clicking outside
  document.addEventListener("click", (e) => {
    document.querySelectorAll(".dropdown").forEach(dropdown => {
      if (!dropdown.contains(e.target)) {
        dropdown.classList.remove("open");
      }
    });
  });

});

function handleBtnClick(btn) {
  window.location.href = "./CrossILR_ReportsHistory.html";
}


</script>


{% endblock %}