{% extends "layoutsld.html" %}

{% block pageTitle %}
  Devolved Authority Allocations - Submit learner data
{% endblock %}

{% block content %}

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Live
    </strong>
    <span class="govuk-phase-banner__text">
      Your <a class="govuk-link" href="#" target="_blank">feedback (opens in new tab)</a> will help us improve the service.
    </span>
  </p>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full govuk-!-text-align-right govuk-!-padding-top-2">
        <span class="govuk-body">Niamh Gallagher UKPRN:10033670</span>
        <a href="#" class="govuk-link govuk-!-margin-left-2">Sign out</a>
    </div>
</div>

<a href="javascript:history.back()" class="govuk-back-link">Back</a>

<main class="govuk-main-wrapper" id="content" role="main">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <span class="govuk-caption-xl">CHIEF EXECUTIVE OF SKILLS FUNDING - 10033670</span>
        <h1 class="govuk-heading-xl">Devolved Authority Allocations</h1>

        <h2 class="govuk-heading-s govuk-!-margin-bottom-1">
            Devolved Authority Allocations collection
        </h2>
        
        <p class="govuk-body">
            <a href="/view-allocation-data" class="govuk-link">View your allocation data</a>
        </p>

        <h3 class="govuk-heading-s govuk-!-margin-top-6">
            Download your CSV file and reports:
        </h3>

        <table class="govuk-table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Date</th>
                    <th scope="col" class="govuk-table__header">Submitted by</th>
                    <th scope="col" class="govuk-table__header">File</th>
                    <th scope="col" class="govuk-table__header">Reference</th>
                    <th scope="col" class="govuk-table__header">Status</th>
                    <th scope="col" class="govuk-table__header">Reports</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">05/10/2025</td>
                    <td class="govuk-table__cell">Test Test</td>
                    <td class="govuk-table__cell">
                        <a href="#" class="govuk-link">10040002.csv</a>
                    </td>
                    <td class="govuk-table__cell">2074080</td>
                    <td class="govuk-table__cell">Completed</td>
                    <td class="govuk-table__cell">
                        <a href="#" class="govuk-link">Download report</a>
                    </td>
                </tr>

                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">05/10/2025</td>
                    <td class="govuk-table__cell">Test Test</td>
                    <td class="govuk-table__cell">
                        <a href="#" class="govuk-link">10040002.csv</a>
                    </td>
                    <td class="govuk-table__cell">2073079</td>
                    <td class="govuk-table__cell">Completed</td>
                    <td class="govuk-table__cell">
                        <a href="#" class="govuk-link">Download report</a>
                    </td>
                </tr>

                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">05/10/2025</td>
                    <td class="govuk-table__cell">Test Test</td>
                    <td class="govuk-table__cell">
                        <a href="#" class="govuk-link">10040002.csv</a>
                    </td>
                    <td class="govuk-table__cell">2071978</td>
                    <td class="govuk-table__cell">Completed</td>
                    <td class="govuk-table__cell">
                        <a href="#" class="govuk-link">Download report</a>
                    </td>
                </tr>

            </tbody>
        </table>

    </div>
  </div>
</main>

{% endblock %}