{% extends "layoutsld.html" %}

{% block pageTitle %}
  Allocations - Submit learner data
{% endblock %}

{% block content %}

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Live
    </strong>
    <span class="govuk-phase-banner__text">
      Your <a class="govuk-link" href="#" target="_blank">feedback (opens in new tab)</a> will help us improve the service.
    </span>
  </p>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full govuk-!-text-align-right govuk-!-padding-top-2">
        <span class="govuk-body">Niamh Gallagher UKPRN:10033670</span>
        <a href="#" class="govuk-link govuk-!-margin-left-2">Sign out</a>
    </div>
</div>

<a href="javascript:history.back()" class="govuk-back-link">Back</a>

<main class="govuk-main-wrapper" id="content" role="main">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <h1 class="govuk-heading-l">Allocations</h1>

        <table class="govuk-table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Provider UKPRN</th>
                    <th scope="col" class="govuk-table__header">Award type</th>
                    <th scope="col" class="govuk-table__header">Funding Line</th>
                    <th scope="col" class="govuk-table__header">Allocation start date</th>
                    <th scope="col" class="govuk-table__header">Allocation end date</th>
                    <th scope="col" class="govuk-table__header">Allocation value (£)</th>
                    <th scope="col" class="govuk-table__header">Action</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">12345678</td>
                    <td class="govuk-table__cell">Grant</td>
                    <td class="govuk-table__cell">Skills Bootcamps</td>
                    <td class="govuk-table__cell">01/04/2024</td>
                    <td class="govuk-table__cell">31/03/2025</td>
                    <td class="govuk-table__cell">150,000</td>
                    <td class="govuk-table__cell">
                        <a href="#" class="govuk-link">Edit</a>
                    </td>
                </tr>

                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">87654321</td>
                    <td class="govuk-table__cell">Contract for Services</td>
                    <td class="govuk-table__cell">Adult Skills Fund</td>
                    <td class="govuk-table__cell">01/08/2024</td>
                    <td class="govuk-table__cell">31/07/2025</td>
                    <td class="govuk-table__cell">250,000</td>
                    <td class="govuk-table__cell">
                        <a href="#" class="govuk-link">Edit</a>
                    </td>
                </tr>

                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">19999999</td>
                    <td class="govuk-table__cell">Grant</td>
                    <td class="govuk-table__cell">Free Courses for Jobs</td>
                    <td class="govuk-table__cell">01/09/2024</td>
                    <td class="govuk-table__cell">31/08/2025</td>
                    <td class="govuk-table__cell">75,000</td>
                    <td class="govuk-table__cell">
                        <a href="#" class="govuk-link">Edit</a>
                    </td>
                </tr>

            </tbody>
        </table>

    </div>
  </div>
</main>

{% endblock %}