{% extends "layouts/main.html" %}

{% block pageTitle %}
  DAA Reports – Submit learner data – GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: { text: "LIVE" },
    html: 'Your <a class="govuk-link" href="#">feedback (opens in new tab)</a> will help us improve the service.'
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div style="text-align: right; margin-bottom: 10px;" class="govuk-body-s">
        Niamh Gallagher UKPRN:10007511 | <a href="#" class="govuk-link">Sign out</a>
      </div>
    </div>
  </div>

  {{ govukBackLink({
    text: "Back to Homepage",
    href: "#"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">DAA Reports</h1>

    <p class="govuk-body">
      These reports allow you to review Devolved Authority Allocations.
    </p>

    <h2 class="govuk-heading-l">Reports for year 2025 to 2026</h2>

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Return period</th>
          <th scope="col" class="govuk-table__header">Error Reports</th>
          <th scope="col" class="govuk-table__header">MCA Reports</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">R07</th>
          <td class="govuk-table__cell"><a href="#" class="govuk-link">Download Error Report for R07</a></td>
          <td class="govuk-table__cell"><a href="#" class="govuk-link">Download MCA Report for R07</a></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">R06</th>
          <td class="govuk-table__cell"><a href="#" class="govuk-link">Download Error Report for R06</a></td>
          <td class="govuk-table__cell"><a href="#" class="govuk-link">Download MCA Report for R06</a></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">R05</th>
          <td class="govuk-table__cell"><a href="#" class="govuk-link">Download Error Report for R05</a></td>
          <td class="govuk-table__cell"><a href="#" class="govuk-link">Download MCA Report for R05</a></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">R04</th>
          <td class="govuk-table__cell"><span class="govuk-hint">No report available</span></td>
          <td class="govuk-table__cell"><span class="govuk-hint">No report available</span></td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
{% endblock %}