{% block content %}
<div class="govuk-grid-row">
  
  {# Side Navigation #}
  <div class="govuk-grid-column-one-quarter">
    <nav class="moj-side-navigation" aria-label="Side navigation">
      <ul class="moj-side-navigation__list">
        <li class="moj-side-navigation__item">
          <a href="#">Latest submissions</a>
        </li>
        <li class="moj-side-navigation__item">
          <a href="#">Submission history</a>
        </li>
        <li class="moj-side-navigation__item moj-side-navigation__item--active">
          <a href="#" aria-current="location">DA Allocations Submissions</a>
        </li>
        <li class="moj-side-navigation__item">
          <a href="#">FRM reports</a>
        </li>
        <li class="moj-side-navigation__item">
          <a href="#">DAA Reports</a>
        </li>
        <li class="moj-side-navigation__item">
          <a href="#">FM36 summary</a>
        </li>
        <li class="moj-side-navigation__item">
          <a href="#">Reports archive</a>
        </li>
      </ul>
    </nav>
  </div>

  {# Main Content #}
  <div class="govuk-grid-column-three-quarters">
    <h1 class="govuk-heading-xl">DA Allocations Submissions</h1>

    <p class="govuk-body">
      These reports allow you to review your submission results, error reports, and funding summaries.
    </p>

    <h2 class="govuk-heading-l">Summary reports for year 2025 to 2026</h2>

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Return period</th>
          <th scope="col" class="govuk-table__header">Error Reports</th>
          <th scope="col" class="govuk-table__header">Total Allocation MCA Funding Report</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">R07</th>
          <td class="govuk-table__cell"><a href="#" class="govuk-link">Error report for R07</a></td>
          <td class="govuk-table__cell"><a href="#" class="govuk-link">MCA Funding report for R07</a></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">R06</th>
          <td class="govuk-table__cell"><a href="#" class="govuk-link">Error report for R06</a></td>
          <td class="govuk-table__cell"><a href="#" class="govuk-link">MCA Funding report for R06</a></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">R05</th>
          <td class="govuk-table__cell"><a href="#" class="govuk-link">Error report for R05</a></td>
          <td class="govuk-table__cell"><a href="#" class="govuk-link">MCA Funding report for R05</a></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">R04</th>
          <td class="govuk-table__cell govuk-hint" colspan="2">No reports available</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
{% endblock %}