{% extends "layouts/main.html" %}

{% block pageTitle %}
  Submit learner data – GOV.UK
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Make a submission</h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <div class="submission-tile">
      <div class="tile-header">
        <h3 class="govuk-heading-s">FE Workforce</h3>
        <p class="govuk-body-s">Staff and vacancy data collections</p>
      </div>
      <div class="tile-status">22/23 Open</div>
    </div>
  </div>

  <div class="govuk-grid-column-one-third">
    <div class="submission-tile">
      <div class="tile-header">
        <h3 class="govuk-heading-s">FE Workforce</h3>
        <p class="govuk-body-s">Governor data collection</p>
      </div>
      <div class="tile-status">22/23 Open</div>
    </div>
  </div>

  <div class="govuk-grid-column-one-third">
    <div class="submission-tile">
      <div class="tile-header">
        <h3 class="govuk-heading-s">HECOS</h3>
        <p class="govuk-body-s">Higher Education Classification of Subjects</p>
      </div>
      <div class="tile-status">23/24 Open</div>
    </div>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <div class="submission-tile">
      <div class="tile-header">
        <h3 class="govuk-heading-s">Funding Claims</h3>
        <p class="govuk-body-s">Submit Funding Claims</p>
      </div>
      <div class="tile-status">Open</div>
    </div>
  </div>

  <div class="govuk-grid-column-one-third">
    <div class="submission-tile">
      <div class="tile-header">
        <h3 class="govuk-heading-s">DA Allocations</h3>
        <p class="govuk-body-s">Devolved Authority Allocations</p>
      </div>
      <div class="tile-status">R01 Open</div>
    </div>
  </div>
</div>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<h2 class="govuk-heading-l">Reports and data</h2>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <div class="report-card">
      <div class="report-card-top">
        <a href="#" class="govuk-link govuk-heading-s">Reports</a>
      </div>
      <div class="report-card-bottom">
        <a href="#" class="govuk-link">View reports</a>
      </div>
    </div>
  </div>

  <div class="govuk-grid-column-one-third">
    <div class="report-card">
      <div class="report-card-top">
        <a href="#" class="govuk-link govuk-heading-s">FE Workforce</a>
        <p class="govuk-body-s">Staff and vacancy data collections</p>
      </div>
      <div class="report-card-bottom">
        <a href="#" class="govuk-link">View submissions</a>
      </div>
    </div>
  </div>

  <div class="govuk-grid-column-one-third">
    <div class="report-card">
      <div class="report-card-top">
        <a href="#" class="govuk-link govuk-heading-s">FE Workforce</a>
        <p class="govuk-body-s">Governor data collection</p>
      </div>
      <div class="report-card-bottom">
        <a href="#" class="govuk-link">View submissions</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}