{% extends "layouts/main.html" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Provider UKPRN</th>
          <th scope="col" class="govuk-table__header">Award type</th>
          <th scope="col" class="govuk-table__header">Allocation Type</th>
          <th scope="col" class="govuk-table__header">Allocation start date</th>
          <th scope="col" class="govuk-table__header">Allocation end date</th>
          <th scope="col" class="govuk-table__header">Allocation value (£)</th>
          <th scope="col" class="govuk-table__header">Action</th>
          <th scope="col" class="govuk-table__header">Allocation Ended</th>
          <th scope="col" class="govuk-table__header">On hold</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">10000041</td>
          <td class="govuk-table__cell">Grant</td>
          <td class="govuk-table__cell">Adult Skills Fund</td>
          <td class="govuk-table__cell">01 February 2026</td>
          <td class="govuk-table__cell">01 September 2026</td>
          <td class="govuk-table__cell">£1</td>
          <td class="govuk-table__cell">
            <a href="#" class="govuk-link govuk-link--no-visited-state">Edit</a>
          </td>
          <td class="govuk-table__cell">
            <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="allocation-ended" name="allocation-ended" type="checkbox" value="ended" checked>
                <label class="govuk-label govuk-checkboxes__label" for="allocation-ended">
                  <span class="govuk-visually-hidden">Allocation Ended</span>
                </label>
              </div>
            </div>
          </td>
          <td class="govuk-table__cell">
            <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="on-hold" name="on-hold" type="checkbox" value="hold">
                <label class="govuk-label govuk-checkboxes__label" for="on-hold">
                  <span class="govuk-visually-hidden">On hold</span>
                </label>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    {{ govukButton({
      text: "Confirm"
    }) }}

    <nav class="govuk-pagination" role="navigation" aria-label="results">
      <div class="govuk-pagination__prev">
        <a class="govuk-link govuk-pagination__link" href="#" rel="prev">
          <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
            <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.0098-3.8086h10.863v-2h-10.826l3.8965-3.8965-1.418-1.418z"></path>
          </svg>
          <span class="govuk-pagination__link-title">Previous</span></a>
      </div>
      <ul class="govuk-pagination__list">
        <li class="govuk-pagination__item govuk-pagination__item--current">
          <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 1" aria-current="page">
            1
          </a>
        </li>
      </ul>
      <div class="govuk-pagination__next">
        <a class="govuk-link govuk-pagination__link" href="#" rel="next">
          <span class="govuk-pagination__link-title">Next</span>
          <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
            <path d="m8.107-0.0078125-1.4136 1.414 4.1852 4.1853h-10.456v2h10.407l-4.1353 4.1353 1.4141 1.4141 6.7266-6.7266-6.7266-6.7266z"></path>
          </svg></a>
      </div>
    </nav>

  </div>
</div>
{% endblock %}