{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
{% include "./includes/nav.html" %}

<div class="govuk-grid-row">
                <div class="govuk-grid-column-full">

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
        <h1 class="govuk-heading-xl">
            <span class="govuk-caption-m">Data Collections <season>🍸</season></span>
            Health check
            <span class="govuk-caption-m">🕑<span class="govuk-body-s" id="lastTime">13:34:31</span></span>
        </h1>
    </div>
    <div class="govuk-grid-column-one-half">
        <section class="info">
            <div class="govuk-heading-s no-margin-bottom">Average processing time</div>
            <span class="inline-display">
                <h3 class="govuk-heading-xl no-margin-bottom govuk-teal">
                    <span id="average">03m 33s</span><text id="averageSymbol" style="color: orange;font-size: 20px">⟷</text>
                </h3>
                <span class="govuk-body-s">Today</span>
            </span>
            <span class="inline-display govuk-!-margin-left-4">
                <h3 class="govuk-heading-xl no-margin-bottom">
                    <span id="averageLastHour">01m 04s</span><text id="averageLastHourSymbol" style="color: orange;font-size: 20px">⟷</text>
                </h3>
                <span class="govuk-body-s">Last hour</span>
            </span>

        </section>
    </div>
</div>
<div class="govuk-grid-row grey-background">
    <div class="govuk-grid-column-one-third">
        <section class="margin-bottom">
            <h2 class="govuk-heading-m centre-text">
                <a href="/processing/jobProcessing">Jobs processing</a>
            </h2>
            <svg class="circle-chart" viewBox="0 0 33.83098862 33.83098862" width="200" height="200" xmlns="http://www.w3.org/2000/svg">
                <circle stroke="#ffffff" stroke-width="2" fill="none" cx="16.91549431" cy="16.91549431" r="15"></circle>
                <circle id="firstCircle" class="circle-chart__circle" stroke-width="3" stroke-dasharray="0,100" stroke-linecap="" fill="none" cx="16.91549431" cy="16.91549431" r="15" style="stroke:rgb(-6,255,0)"></circle>
                <g class="circle-chart__info">
                    <text x="16.91549431" y="15.5" alignment-baseline="central" text-anchor="middle" font-size="8" id="firstDonut" data-count="">0</text>
                    <text x="16.91549431" y="20.5" alignment-baseline="central" text-anchor="middle" font-size="2" id="firstLabel">Looking Good</text>
                </g>
            </svg>
        </section>
    </div>
    <div class="govuk-grid-column-one-third">
        <section class="margin-bottom">
            <h2 class="govuk-heading-m centre-text">
                <a href="/processing/jobQueued">Jobs queued</a>
            </h2>
            <svg class="circle-chart" viewBox="0 0 33.83098862 33.83098862" width="200" height="200" xmlns="http://www.w3.org/2000/svg">
                <circle stroke="#ffffff" stroke-width="2" fill="none" cx="16.91549431" cy="16.91549431" r="15"></circle>
                <circle id="secondCircle" class="circle-chart__circle warning" stroke-width="3" stroke-dasharray="50,100" stroke-linecap="" fill="none" cx="16.91549431" cy="16.91549431" r="15"></circle>
                <g class="circle-chart__info">
                    <text x="16.91549431" y="15.5" alignment-baseline="central" text-anchor="middle" font-size="8" id="secondDonut" data-count="">0</text>
                    <text x="16.91549431" y="20.5" alignment-baseline="central" text-anchor="middle" font-size="2" id="secondLabel">Looking Good</text>
                </g>
            </svg>
        </section>
    </div>
    <div class="govuk-grid-column-one-third">
        <section class="margin-bottom">
            <h2 class="govuk-heading-m centre-text">
                <a href="/processing/jobSubmitted">Submissions</a>
            </h2>
            <svg class="circle-chart" viewBox="0 0 33.83098862 33.83098862" width="200" height="200" xmlns="http://www.w3.org/2000/svg">
                <circle stroke="#ffffff" stroke-width="2" fill="none" cx="16.91549431" cy="16.91549431" r="15"></circle>
                <circle id="thirdCircle" class="circle-chart__circle warning danger" stroke-width="3" stroke-dasharray="3.6191147369354413,100" stroke-linecap="" fill="none" cx="16.91549431" cy="16.91549431" r="15" style="stroke:rgb(14,254,0)"></circle>
                <g class="circle-chart__info">
                    <text x="16.91549431" y="15.5" alignment-baseline="central" text-anchor="middle" font-size="8" id="thirdDonut" data-count="">96</text>
                    <text x="16.91549431" y="20.5" alignment-baseline="central" text-anchor="middle" font-size="2" id="thirdLabel">Looking Good</text>
                </g>
            </svg>
        </section>
    </div>
    <div id="serviceBusStatistics">
            <div class="govuk-grid-column-one-third">
                <section class="margin-bottom"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                    <h2 class="govuk-heading-m centre-text">Queues</h2>
                    <canvas id="queueSystem" width="408" height="408" class="chartjs-render-monitor" style="display: block; width: 204px; height: 204px;"></canvas>
                </section>
            </div>

            <div class="govuk-grid-column-one-third">
                <section class="margin-bottom"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                    <h2 class="govuk-heading-m centre-text">Topics</h2>
                    <canvas id="queueTopics" width="408" height="408" class="chartjs-render-monitor" style="display: block; width: 204px; height: 204px;"></canvas>
                </section>
            </div>

            <div class="govuk-grid-column-one-third">
                <section class="margin-bottom"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                    <h2 class="govuk-heading-m centre-text">ILR</h2>
                    <canvas id="queueIlr" width="408" height="408" class="chartjs-render-monitor" style="display: block; width: 204px; height: 204px;"></canvas>
                </section>
            </div>
        </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-l">Red zone</h2>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
        <div class="border-top">
            <h2 class="govuk-heading-m">
                <a href="/processing/jobFailedToday">Failed today</a>
            </h2>
            <span id="failedToday" class="govuk-heading-l no-margin-bottom">0</span>
        </div>
    </div>

    <div class="govuk-grid-column-one-third">
        <div class="border-top">
            <h2 class="govuk-heading-m">
                <a href="/processing/jobSlowFile">Slow files</a>
            </h2>
            <span id="slowFiles" class="govuk-heading-l no-margin-bottom">0</span>
            <span class="govuk-body-s">Taking 20% longer than usual</span>
        </div>
    </div>

    <div class="govuk-grid-column-one-third">
        <div class="border-top">
            <h2 class="govuk-heading-m">
                <a id="jobConcern" href="/processing/jobConcern">Concerns</a>
            </h2>
            <span id="concerns" class="govuk-heading-l no-margin-bottom">4</span>
            <span class="govuk-body-s">Providers where their last submitted file was unsuccessful</span>
        </div>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-l">Processing in detail</h2>
        <span id="collectionYearContainer" style="display: block;" class="govuk-!-padding-bottom-6">
            <select id="collectionYears" class="govuk-select govuk-input--width-10 form-control">
            <option value="2021">20/21</option><option value="2122">21/22</option></select>
        </span>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
        <div class="border-top">
            <h2 class="govuk-heading-m">
                <a class="dashboardLink" id="jobProcessingDetail/CurrentPeriod" href="/processing/jobProcessingDetail/CurrentPeriod/?collectionYear=2021">Current Period</a>
            </h2>
            <span id="lastPeriod" class="govuk-heading-l no-margin-bottom">35</span>
        </div>
    </div>

    <div class="govuk-grid-column-one-third">
        <div class="border-top ">
            <h2 class="govuk-heading-m">
                <a class="dashboardLink" id="jobProcessingDetail/LastHour" href="/processing/jobProcessingDetail/LastHour/?collectionYear=2021">Last Hour</a>
            </h2>
            <span id="lastHour" class="govuk-heading-l no-margin-bottom">3</span>
        </div>
    </div>

    <div class="govuk-grid-column-one-third">
        <div class="border-top ">
            <h2 class="govuk-heading-m">
                <a class="dashboardLink" id="jobProcessingDetail/LastFiveMins" href="/processing/jobProcessingDetail/LastFiveMins/?collectionYear=2021">Last 5 Minutes</a>
            </h2>
            <span id="last5Minutes" class="govuk-heading-l no-margin-bottom">0</span>
        </div>
    </div>
    <div class="govuk-grid-column-one-third">
        <div class="border-top">
            <h2 class="govuk-heading-m">
                <a class="dashboardLink" id="jobProvidersReturnedCurrentPeriod" href="/processing/jobProvidersReturnedCurrentPeriod/?collectionYear=2021">ILR returners in current period</a>
            </h2>
            <span id="ilrReturns" class="govuk-heading-l no-margin-bottom">375</span>
        </div>
    </div>

    <div class="govuk-grid-column-one-third">
        <div class="border-top ">
            <h2 class="govuk-heading-m">
                <a class="dashboardLink" id="jobFailedCurrentPeriod" href="/processing/jobFailedCurrentPeriod/?collectionYear=2021">Failed files in current period</a>
            </h2>
            <span id="failedFiles" class="govuk-heading-l no-margin-bottom">0</span>
        </div>
    </div>

    <div class="govuk-grid-column-one-third">
        <div class="border-top ">
            <h2 class="govuk-heading-m">
                <a class="dashboardLink" id="jobDasMismatch" href="/processing/jobDasMismatch/?collectionYear=2021">SLD/DAS mismatches in current period</a>
            </h2>
            <span id="sldDasMismatches" class="govuk-heading-l no-margin-bottom">324</span>
        </div>
    </div>
</div>

<br>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">&nbsp;</div>
    <div class="govuk-grid-column-two-thirds">
        <state-display><label id="lastSync">Last updated: 26/08/2021 13:34:31</label><label id="state">Status: Connected</label></state-display>
    </div>
</div>


</div>
</div>

{% endblock %}
