{% extends "layoutsld.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<nav class="app-navigation govuk-clearfix">
    <ul class="app-navigation__list app-width-container">
  
      <li class="app-navigation__list-item">
        <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline app-navigation__link" href="DevolvedContractTable.html" data-topnav="Contracts">Contracts</a>
      </li>

      <li class="app-navigation__list-item app-navigation__list-item--current">
        <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline app-navigation__link" href="DevolvedContractsUpload.html" data-topnav="Import">Import</a>
      </li>
  
      <li class="app-navigation__list-item">
        <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline app-navigation__link" href="DevolvedContractExport.html" data-topnav="Export">Export</a>
      </li>
  
    </ul>
  </nav>
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
    <div class="govuk-width-container">


        <main class="govuk-main-wrapper" id="content" role="main">
            <div class="govuk-grid-row flex">
                <!--<div class="govuk-grid-column-fullgovuk-grid-column-two-thirds"> -->
                <div class="govuk-grid-column-three-quarters">


<div class="govuk-panel govuk-panel--confirmation"> 
    <h2 class="govuk-panel__title">
        Contract Saved 
    </h2>
    <div class="govuk-panel__body">
        
    </div>
</div>

<h2 class="govuk-heading-m">Upload details</h2>
<dl class="govuk-summary-list dl-override">
    <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key dt-override">
   
    </dt>
    <dd class="govuk-summary-list__value dd-override">
    
    </dd>
    </div>

    <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key dt-override">
        Submitted by
    </dt>
    <dd class="govuk-summary-list__value dd-override">
        devolved user
    </dd>
    </div>

    <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key dt-override">
        Time and date
    </dt>
    <dd class="govuk-summary-list__value dd-override">
        10:19am on Friday 10 May 2024
    </dd>
    </div>
</dl>





    <script src="/assets/minified/app.min.js?v=ZtVrfTFn24M2aHg4_7R0E2SGwegJZT0kSPbzHnMt-Jo"></script>

                </div>
                    <div class="govuk-grid-column-one-quarter">
                        <aside class="app-related-items" role="complementary">
                            <h2 class="govuk-heading-m" id="subsection-title-help">
                                Help and support
                            </h2>
                                <ul class="govuk-list govuk-!-font-size-16">
                                    <li>
                                        <a class="govuk-link" href="https://esfahelp.education.gov.uk/hc/en-gb" target="_blank">
                                            ESFA training provider self-help and communities
                                        </a>
                                    </li>
                                    <li>
                                        <a class="govuk-link" href="https://esfahelp.education.gov.uk/hc/en-gb/community/topics/360000847259-Training-Providers" target="_blank">Discussion forums</a>
                                    </li>
                                </ul>

                            <h3 class="govuk-heading-s">ESFA support desk</h3>
                            <p class="govuk-!-font-size-16">Log a query using our 
                                <a class="govuk-link" href=" https://form.education.gov.uk/en/AchieveForms/?form_uri=sandbox-publish://AF-Process-f9f4f5a1-936f-448b-bbeb-9dcdd595f468/AF-Stage-8aa41278-3cdd-45a3-ad87-80cbffb8b992/definition.json&amp;redirectlink=%2fen&amp;cancelRedirectLink=%2fen" target="_blank">
                                            ESFA Service Desk enquiry form
                                </a>
                            </p>
                            <p class="govuk-!-font-size-16">Get help with 
                                <a class="govuk-link" href="  https://esfahelp.education.gov.uk/hc/en-gb/" target="_blank">
                                           Education and Skills Funding Agency Services
                                </a>
                            </p>
                            
                            <p class="govuk-!-font-size-16">
                                Telephone: 0370 267 0001<br>
                                Monday to Thursday, 9:00am to 5:00pm<br>
                                Friday, 9:00am to 4:00pm<br>
                            </p>

                            

                        </aside>
                    </div>
            </div>
        </main>
    </div>

 


</body>


{% endblock %}