{% extends "layout.html" %}

{% block pageTitle %}
  Edit allocation details - 12345678 - Skills Bootcamps
{% endblock %}

{% block beforeContent %}
  <a href="#" class="govuk-back-link">Back to allocations</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <span class="govuk-caption-l">Skills Bootcamps (UKPRN: 12345678)</span>
      <h1 class="govuk-heading-l">Edit allocation details</h1>

      <form action="/path-to-your-handler" method="post">

        {{ govukInput({
          label: {
            text: "Allocation value",
            classes: "govuk-label--m"
          },
          hint: {
            text: "Enter the total amount in pounds"
          },
          id: "allocation-value",
          name: "allocationValue",
          prefix: {
            text: "£"
          },
          classes: "govuk-input--width-10",
          spellcheck: false,
          value: "150,000"
        }) }}

        {{ govukDateInput({
          id: "end-date",
          namePrefix: "end-date",
          fieldset: {
            legend: {
              text: "Allocation end date",
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: "For example, 31 3 2025"
          },
          items: [
            { name: "day", classes: "govuk-input--width-2", value: "31" },
            { name: "month", classes: "govuk-input--width-2", value: "03" },
            { name: "year", classes: "govuk-input--width-4", value: "2025" }
          ]
        }) }}

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Update allocation"
          }) }}

          <a class="govuk-link" href="#">Cancel</a>
        </div>

      </form>
    </div>
  </div>
{% endblock %}