{% extends "layoutsld.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <a href="javascript:history.back()" class="govuk-back-link">Back</a>
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">Devolved Contracts</h1>

        <p class="govuk-body">
            This collection allows you to submit the Skills Bootcamp contract reference data required to support the funding calculation.
        </p>

       <!-- <p class="govuk-body">
              Data can be entered using the online form service or imported using the CSV file upload service:
        </p>

        <ul class="govuk-list govuk-list--bullet">
            <li>the online form service allows you to add contract reference data individually</li>
            <li>the CSV file upload service allows you to bulk upload contract reference data</li> 
        </ul> 

        <div class="govuk-inset-text">
          Click <a href="/SBC_CollectionDetails.html" button class="govuk-link" data-module="govuk-button"> here </a> for information regarding contract waves and calculation methods 
        </div> -->

        <a class="govuk-button" href="DevolvedContractsCollectionAdditionaInfo.html">
            Continue
        </a>
      </div>
    </div>
  </main>
</div>



{% endblock %}