{% extends "layoutsld.html" %}

{% block pageTitle %}
  Allocation details - Submit learner data
{% endblock %}

{% block content %}

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Live
    </strong>
    <span class="govuk-phase-banner__text">
      Your <a class="govuk-link" href="#" target="_blank">feedback (opens in new tab)</a> will help us improve the service.
    </span>
  </p>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full govuk-!-text-align-right govuk-!-padding-top-2">
        <span class="govuk-body">Niamh Gallagher UKPRN:10033670</span>
        <a href="#" class="govuk-link govuk-!-margin-left-2">Sign out</a>
    </div>
</div>

<a href="javascript:history.back()" class="govuk-back-link">Back</a>

<main class="govuk-main-wrapper" id="content" role="main">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <span class="govuk-caption-l">Devolved Authority Allocations</span>
        <h1 class="govuk-heading-l">Allocation details</h1>

        <dl class="govuk-summary-list">
            
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Provider UKPRN
                </dt>
                <dd class="govuk-summary-list__value">
                    12345678
                </dd>
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Award type
                </dt>
                <dd class="govuk-summary-list__value">
                    Grant
                </dd>
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Funding Line
                </dt>
                <dd class="govuk-summary-list__value">
                    Skills Bootcamps
                </dd>
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Allocation start date
                </dt>
                <dd class="govuk-summary-list__value">
                    1 April 2024
                </dd>
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Allocation end date
                </dt>
                <dd class="govuk-summary-list__value">
                    31 March 2025
                </dd>
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Allocation value
                </dt>
                <dd class="govuk-summary-list__value">
                    £150,000
                </dd>
            </div>

        </dl>

    </div>
  </div>
</main>

{% endblock %}