{% extends "layout.html" %}
{% block pageTitle %}
  Period End
{% endblock %}
{% block content %}
{% include "./includes/nav.html" %}
<a href="/DevolvedPeriodEndHome" class="govuk-back-link">Back</a>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl heading-bottom-margin">Period End</h1>
    <h2 class="govuk-heading-l">Period R06 of Year 2425</h2>
    <!-- Critical Path Section -->
    <img src="/public/images/DevolvedJobsTable.png" alt="Critical Path and Tables" class="govuk-!-margin-bottom-6">
  </div>
</div>
{% endblock %}

