{% extends "layoutsld.html" %}
Reports
{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}


{% block content %}
<a href="/homepage" class="govuk-back-link">Back to Homepage</a>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">Reports</h1>
    <p class="govuk-body">
      Reports can be accessed by downloading the Zip files below. 
    </p>
    <h2 class="govuk-heading-l">Academic Collection Year 2024 to 2025</h2>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Return period</th>
          <th scope="col" class="govuk-table__header">Reports at period end</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">R06</td>
          <td class="govuk-table__cell">
            <a href="/downloads/2425-R06" class="govuk-link">Download 2425-R06 (zip, 24.88KB)</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">R05</td>
          <td class="govuk-table__cell">
            <a href="/downloads/2425-R05" class="govuk-link">Download 2425-R05 (zip, 24.58KB)</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">R04</td>
          <td class="govuk-table__cell">
            <a href="/downloads/2425-R04" class="govuk-link">Download 2425-R04 (zip, 23.33KB)</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">R03</td>
          <td class="govuk-table__cell">
            <a href="/downloads/2425-R03" class="govuk-link">Download 2425-R03 (zip, 22.33KB)</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">R01</td>
          <td class="govuk-table__cell">
            <a href="/downloads/2425-R01" class="govuk-link">Download 2425-R01 (zip, 31.45KB)</a>
          </td>
        </tr>
      </tbody>
    </table>
    <h2 class="govuk-heading-l">Academic Collection Year 2023 to 2024</h2>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Return period</th>
          <th scope="col" class="govuk-table__header">Reports at period end</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">R14</td>
          <td class="govuk-table__cell">
            <a href="/downloads/2324-R14" class="govuk-link">Download 2324-R14 (zip, 98.37KB)</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">R13</td>
          <td class="govuk-table__cell">
            <a href="/downloads/2324-R13" class="govuk-link">Download 2324-R13 (zip, 98.38KB)</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">R12</td>
          <td class="govuk-table__cell">
            <a href="/downloads/2324-R12" class="govuk-link">Download 2324-R12 (zip, 53.14KB)</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">R11</td>
          <td class="govuk-table__cell">
            <a href="/downloads/2324-R11" class="govuk-link">Download 2324-R11 (zip, 53.17KB)</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">R10</td>
          <td class="govuk-table__cell">
            <a href="/downloads/2324-R10" class="govuk-link">Download 2324-R10 (zip, 53.19KB)</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">R09</td>
          <td class="govuk-table__cell">
            <a href="/downloads/2324-R09" class="govuk-link">Download 2324-R09 (zip, 53.20KB)</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
{% endblock %}