{% extends "layout.html" %}
{% block pageTitle %}
  Period End
{% endblock %}
{% block content %}
{% include "./includes/nav.html" %}
<a href="/period-end-summary" class="govuk-back-link">Back</a>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">Period End</h1>
    <h2 class="govuk-heading-l">Period R06 of Year 2425</h2>
    <!-- MCA Section -->
    <h3 class="govuk-heading-m">MCA</h3>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr>
          <th scope="col" class="govuk-table__header">PT Task</th>
          <th scope="col" class="govuk-table__header">Started</th>
          <th scope="col" class="govuk-table__header">Finished</th>
          <th scope="col" class="govuk-table__header">Duration</th>
          <th scope="col" class="govuk-table__header">Status</th>
          <th scope="col" class="govuk-table__header">Action</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr>
          <td class="govuk-table__cell">Apps Data Match Month End Report</td>
          <td class="govuk-table__cell">09/01/2025 13:07</td>
          <td class="govuk-table__cell">09/01/2025 13:50</td>
          <td class="govuk-table__cell">00:25:00</td>
          <td class="govuk-table__cell">Completed</td>
          <td class="govuk-table__cell"><a href="#" class="govuk-link">View</a></td>
        </tr>
        <!-- Add all MCA rows here -->
      </tbody>
    </table>
    <hr class="govuk-section-break govuk-section-break--visible">
    <!-- Non-MCA Devolved Section -->
    <h3 class="govuk-heading-m">Non-MCA Devolved</h3>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr>
          <th scope="col" class="govuk-table__header">PT Task</th>
          <th scope="col" class="govuk-table__header">UKPRN</th>
          <th scope="col" class="govuk-table__header">Started</th>
          <th scope="col" class="govuk-table__header">Finished</th>
          <th scope="col" class="govuk-table__header">Duration</th>
          <th scope="col" class="govuk-table__header">Status</th>
          <th scope="col" class="govuk-table__header">Action</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr>
          <td class="govuk-table__cell">Apps Monthly Payment Report</td>
          <td class="govuk-table__cell">10067090</td>
          <td class="govuk-table__cell">09/01/2025 13:07</td>
          <td class="govuk-table__cell">09/01/2025 13:30</td>
          <td class="govuk-table__cell">00:23:00</td>
          <td class="govuk-table__cell">Completed</td>
          <td class="govuk-table__cell"><a href="#" class="govuk-link">View</a></td>
        </tr>
        <!-- Add all Non-MCA rows here -->
      </tbody>
    </table>
    <hr class="govuk-section-break govuk-section-break--visible">
    <h3 class="govuk-heading-m">Other Tasks</h3>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr>
          <th scope="col" class="govuk-table__header">PT Task</th>
          <th scope="col" class="govuk-table__header">Started</th>
          <th scope="col" class="govuk-table__header">Finished</th>
          <th scope="col" class="govuk-table__header">Duration</th>
          <th scope="col" class="govuk-table__header">Status</th>
          <th scope="col" class="govuk-table__header">Action</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr>
          <td class="govuk-table__cell">Funding Summary Period End Report</td>
          <td class="govuk-table__cell">09/01/2025 13:00</td>
          <td class="govuk-table__cell">09/01/2025 13:40</td>
          <td class="govuk-table__cell">00:40:00</td>
          <td class="govuk-table__cell">Completed</td>
          <td class="govuk-table__cell"><a href="#" class="govuk-link">View</a></td>
        </tr>
        <!-- Add all other task rows here -->
      </tbody>
    </table>
    <hr class="govuk-section-break govuk-section-break--visible">
  </div>
</div>
{% endblock %}
