{% extends "layoutsld.html" %}

{% block pageTitle %}
Upload a devolved contracts file
{% endblock %}


{% block content %}

<div class="govuk-width-container">
  <a href="javascript:history.back()" class="govuk-back-link">Back</a>

<main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <form method="post" enctype="multipart/form-data" action="/your-upload-handler">
                <div>
                    <h1 class="govuk-heading-xl">
                        Select a CSV file to upload
                    </h1>
                    
                    <h2 class="govuk-heading-m">Before you start</h2>
                    <p class="govuk-body">Make sure the file is:</p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>accurate</li>
                        <li>complete</li>
                        <li>in CSV format</li>
                        <li>using the specified file name format</li>
                    </ul>
                    <div class="govuk-form-group" id="controls">
                        <input class="govuk-file-upload" name="file" id="file" type="file" accept=".csv">
                    </div>

                    <button class="govuk-button" data-module="govuk-button">
                        Upload file
                    </button>
                    
                </div>
            </form>

        </div>
    </div> 
    
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            
            <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

            <h2 class="govuk-heading-l">File history</h2>

            <table class="govuk-table">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Date</th>
                    <th scope="col" class="govuk-table__header">Submitted by</th>
                    <th scope="col" class="govuk-table__header">File</th>
                    <th scope="col" class="govuk-table__header">Reference</th>
                    <th scope="col" class="govuk-table__header">Status</th>
                    <th scope="col" class="govuk-table__header">Reports</th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                    <td class="govuk-table__cell">05/10/2025</td>
                    <td class="govuk-table__cell">Beau DurmTEST</td>
                    <td class="govuk-table__cell"><a href="#" class="govuk-link">10040002.csv</a></td>
                    <td class="govuk-table__cell">2074080</td>
                    <td class="govuk-table__cell">Completed</td>
                    <td class="govuk-table__cell"><a href="#" class="govuk-link">Download report</a></td>
                    </tr>
                    <tr class="govuk-table__row">
                    <td class="govuk-table__cell">05/10/2025</td>
                    <td class="govuk-table__cell">Beau DurmTEST</td>
                    <td class="govuk-table__cell"><a href="#" class="govuk-link">10040002.csv</a></td>
                    <td class="govuk-table__cell">2073079</td>
                    <td class="govuk-table__cell">Completed</td>
                    <td class="govuk-table__cell"><a href="#" class="govuk-link">Download report</a></td>
                    </tr>
                    <tr class="govuk-table__row">
                    <td class="govuk-table__cell">05/10/2025</td>
                    <td class="govuk-table__cell">Beau DurmTEST</td>
                    <td class="govuk-table__cell"><a href="#" class="govuk-link">10040002.csv</a></td>
                    <td class="govuk-table__cell">2071978</td>
                    <td class="govuk-table__cell">Completed</td>
                    <td class="govuk-table__cell"><a href="#" class="govuk-link">Download report</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div> 
</main>
</div>
{% endblock %}