{% extends "layoutsld.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<a href="javascript:history.back()" class="govuk-back-link">Back</a>
    <div class="govuk-width-container">


        <main class="govuk-main-wrapper" id="content" role="main">
            <div class="govuk-grid-row flex">
                <!--<div class="govuk-grid-column-fullgovuk-grid-column-two-thirds"> -->
                <div class="govuk-grid-column-three-quarters">


<div class="govuk-panel govuk-panel--confirmation"> 
    <h2 class="govuk-panel__title">
        Devolved Authority Allocations data file imported
    </h2>
    <div class="govuk-panel__body">
        Checking file for errors and preparing reports<br>
        Reference: 1995867
    </div>
</div>

<h2 class="govuk-heading-m">Upload details</h2>
<dl class="govuk-summary-list dl-override">
    <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key dt-override">
      Filename
    </dt>
    <dd class="govuk-summary-list__value dd-override">
    [Filename]
    </dd>
    </div>

    <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key dt-override">
        Submitted by
    </dt>
    <dd class="govuk-summary-list__value dd-override">
        Devolved Contract User
    </dd>
    </div>

    <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key dt-override">
        Time and date
    </dt>
    <dd class="govuk-summary-list__value dd-override">
        10:19am on Friday 10 May 2024
    </dd>
    </div>
</dl>

<div class="govuk-button-group">
    <a class="govuk-button" href="DevolvedContractSubmitted.html">Download error reports</a>
</div>


<h2 class="govuk-heading-m">What happens next?:</h2>
<p class="govuk-body">
    </p><ul class="govuk-list govuk-list--number">
        <li>We’ve sent an email to dcttestemail@gmail.com to confirm we’ve received your file</li>
        <li>You must check the summary reports for any errors</li>
        <li>Correct any errors and upload a new file</li>
        <li>Check email for notifications</li>
    </ul>

    <details class="govuk-details">
        <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
                Wrong email address or email not arrived
            </span>
        </summary>
        <div class="govuk-details__text">
            <p>If your email address is wrong, you will need to <a href="https://services.signin.education.gov.uk/">update it in your DfE Sign-in account</a>.</p>
            <p>
                If you haven't received an email, it may be in your junkmail folder.
            </p>
        </div>
    </details>
</p>

<div class="govuk-button-group">
    <a class="govuk-button govuk-button--secondary" href="DevolvedContractTable.html">View and manage your contracts</a>
    <a class="govuk-link" href="DevolvedContractTable.html">Upload new file</a>
</div>

   

</body>


{% endblock %}