{% extends "layoutsld.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <a href="javascript:history.back()" class="govuk-back-link">Back</a>
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">Devolved Contracts</h1>

        <p class="govuk-body">
        There are two submission methods for this collection, a CSV upload and online form journey. To complete this collection you will need:
        </p>

        <ul class="govuk-list govuk-list--bullet">
            <li>The provider's UKPRN</li>
            <li>The allocation type</li>
            <li>The contract type</li>
            <li>The contract start and end dates</li>
            <li>The total contract value (£)</li>
        </ul>

                <a class="govuk-button" href="DevolvedContractTable.html">
            Continue
        </a>
      </div>
    </div>
  </main>
</div>

{% endblock %}