{% extends "layoutsld.html" %}

{% block pageTitle %}
File Submissions - GOV.UK
{% endblock %}


{% block content %}

<nav class="app-navigation govuk-clearfix">
  <ul class="app-navigation__list app-width-container">

    <li class="app-navigation__list-item">
      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline app-navigation__link" href="DevolvedContractTable.html" data-topnav="Online Form">Online Form</a>
    </li>

    <li class="app-navigation__list-item">
      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline app-navigation__link" href="DevolvedContractExport.html" data-topnav="Export">Export</a>
    </li>
    
    <li class="app-navigation__list-item app-navigation__list-item--current">
      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline app-navigation__link" href="DevolvedContractSubmissions.html" data-topnav="Submissions">Submissions</a>
    </li>

  </ul>
</nav>

<div class="govuk-width-container">
  <a href="javascript:history.back()" class="govuk-back-link">Back</a>
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        
        <p class="govuk-heading-xl govuk-hint">R02 25/26</p>
        <h1 class="govuk-heading-xl">File Submissions</h1>
        
        <p class="govuk-body">View and download previously submitted files for this collection.</p>

      </div>
    </div>

    <!-- Table of file submissions -->
 <h2 class="govuk-heading-l">File history</h2>

            <table class="govuk-table">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Date</th>
                    <th scope="col" class="govuk-table__header">Submitted by</th>
                    <th scope="col" class="govuk-table__header">File</th>
                    <th scope="col" class="govuk-table__header">Reference</th>
                    <th scope="col" class="govuk-table__header">Status</th>
                    <th scope="col" class="govuk-table__header">Reports</th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                    <td class="govuk-table__cell">05/10/2025</td>
                    <td class="govuk-table__cell">Beau DurmTEST</td>
                    <td class="govuk-table__cell"><a href="#" class="govuk-link">10040002.csv</a></td>
                    <td class="govuk-table__cell">2074080</td>
                    <td class="govuk-table__cell">Completed</td>
                    <td class="govuk-table__cell"><a href="#" class="govuk-link">Download report</a></td>
                    </tr>
                    <tr class="govuk-table__row">
                    <td class="govuk-table__cell">05/10/2025</td>
                    <td class="govuk-table__cell">Beau DurmTEST</td>
                    <td class="govuk-table__cell"><a href="#" class="govuk-link">10040002.csv</a></td>
                    <td class="govuk-table__cell">2073079</td>
                    <td class="govuk-table__cell">Completed</td>
                    <td class="govuk-table__cell"><a href="#" class="govuk-link">Download report</a></td>
                    </tr>
                    <tr class="govuk-table__row">
                    <td class="govuk-table__cell">05/10/2025</td>
                    <td class="govuk-table__cell">Beau DurmTEST</td>
                    <td class="govuk-table__cell"><a href="#" class="govuk-link">10040002.csv</a></td>
                    <td class="govuk-table__cell">2071978</td>
                    <td class="govuk-table__cell">Completed</td>
                    <td class="govuk-table__cell"><a href="#" class="govuk-link">Download report</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    
  </main>
</div>
{% endblock %}