{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}
{% include "./includes/nav.html" %}

<br>
<a class="govuk-link" href="/reminders">Back</a>
<br>
<br>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

<div class="govuk-grid-row">
<form method="post" action="/reminders/submit-certificate-reminder">
<h1 class="govuk-heading-l">Edit certificate reminder</h1>

<div>
<span class="govuk-label govuk-!-font-weight-bold">Name</span>
<p>api-fundingclaims-2021-22</p>
</div>

<div>
<span class="govuk-label govuk-!-font-weight-bold">Thumbprint</span>
<p>43-BD-48-EC-FB-DF-14-57-31-3C-01-7A-CA-85-07-14-BE-FE-4B-08</p>
</div>

<div>
<span class="govuk-label govuk-!-font-weight-bold">Deadline date</span>
<p>2022-05-22</p>
</div>

<div class="govuk-form-group">
<label class="govuk-label govuk-!-font-weight-bold" for="Reminder_ReminderDate">
  Select reminder date
</label>
<input class="govuk-input govuk-!-width-one-third" type="date" id="Reminder_ReminderDate" name="Reminder.ReminderDate" value="2021-11-27">
</div>

<div class="govuk-form-group">
<label class="govuk-label govuk-!-font-weight-bold" for="Reminder_Notes">
  Notes
</label>
<textarea class="govuk-textarea" rows="5" id="Reminder_Notes" name="Reminder.Notes">will this appear on the email?</textarea>
</div>

<div class="govuk-form-group" id="emails-form-group" aria-describedby="emails-hint">

<label class="govuk-label govuk-label--s" for="emails">
  Who do you want to remind?
</label>
<div id="emails-hint" class="govuk-hint">
  Please enter one or more valid email addresses, separated by ;
</div>
<input class="govuk-input" id="Emails" type="text" name="Emails" value="">
<div id="email-suggestions" class="predict-text-wrapper"></div>
</div>

<a class="govuk-button" href="/reminders">Save</a>
</div>
</div>
</div>



{% endblock %}
