{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}


{% block content %}
{% include "./includes/nav.html" %}

<a href="javascript:history.back()" class="govuk-back-link">Back</a>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-l">End point assessment</h1>

                
                  <h2 class="govuk-heading-m">Organisations</h2>
                 
                  <div class="standard-search">
                    <label for="autocomplete-overlay" class="govuk-label">Search by <strong>EPA Id</strong>, <strong>name</strong> or <strong>UKPRN</strong> </label>
                    <div class="govuk-form-group">
                        <div id="tt-overlay" class="autocomplete-wrapper second">
                            <div class="autocomplete__wrapper" role="combobox" aria-expanded="false">
                                <input class="govuk-input" id="autocomplete-overlay" name="SearchTerm" placeholder="e.g EPA0001" type="text" maxlength="200">
                            </div>
                        </div>
                        <br>
                    </div>
                 </div>

                <div id="filesList">﻿<div class="govuk-grid-row">
                    <div class="govuk-grid-column-full">
                        <table class="govuk-table">
                            <thead class="govuk-table__head">
                                <tr class="govuk-table__row">
                                    <th scope="col" class="govuk-table__header">EPA Id</th>

                                    <th scope="col" class="govuk-table__header">Name</th>

                                    <th scope="col" class="govuk-table__header">UKPRN</th>

                                    <th scope="col" class="govuk-table__header">Deleted</th>

                                </tr>
                            </thead>
                            <tbody class="govuk-table__body" id="fileContainer">
                                <tr class="govuk-table__row">
                                    <td class="govuk-table__cell govuk-!-font-weight-bold">EPA0001</td>

                                    <td class="govuk-table__cell">BCS, The Chartered Institute for IT</td>

                                    <td class="govuk-table__cell">10022712</td>

                                    <td class="govuk-table__cell">
                                      <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
                                        <label class="govuk-label govuk-checkboxes__label" for="waste">
                                        </label>
                                      </div>
                                  </td>
                                </tr>
                              </tbody>
                        </table>
                    </div>
              </div>
               
<br>

  <h2 class="govuk-heading-m">Standard codes</h2>
  
  <p>Use this date input field if the same date is to apply to all standard codes without an effective to date, otherwise enter dates for each standard code.</p>
              <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-third">
                  <input asp-for="2022-08-15T07:00:00" type="date" class="govuk-input" value="dd-mm-yyyy" name="effectivetodate">
                  <br>
                  <br>
                  <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
                    Apply to all
                  </button>


                </div>
              </div>
                    
  
                   <div id="filesList">﻿<div class="govuk-grid-row">
                    <div class="govuk-grid-column-full">
                        <table class="govuk-table">
                            <thead class="govuk-table__head">
                                <tr class="govuk-table__row">

                                    <th scope="col" class="govuk-table__header">Standard code</th>
  
                                    <th scope="col" class="govuk-table__header">Effective from date</th>
  
                                    <th scope="col" class="govuk-table__header">Effective to date</th>
                                </tr>
                            </thead>
                            <tbody class="govuk-table__body" id="fileContainer">
                                <tr class="govuk-table__row">
  
                                    <td class="govuk-table__cell">1</td>
  
                                    <td class="govuk-table__cell">01 August 2014</td>
  
                                    <td class="govuk-table__cell">
                                      <input asp-for="2022-08-15T07:00:00" type="date" class="govuk-input" value="dd-mm-yyyy" name="effectivetodate">
                                    </td>
                                </tr>
                                <tr class="govuk-table__row">
 
                                    <td class="govuk-table__cell">2</td>
  
                                    <td class="govuk-table__cell">01 August 2014</td>
                                    <td class="govuk-table__cell">
                                      <input asp-for="2022-08-15T07:00:00" type="date" class="govuk-input" value="dd-mm-yyyy" name="effectivetodate">
                                    </td>
                                </tr>
                                <tr class="govuk-table__row">
 
                                  <td class="govuk-table__cell">3</td>
  
                                  <td class="govuk-table__cell">01 August 2014</td> 
                                  <td class="govuk-table__cell">
                                    <input asp-for="2022-08-15T07:00:00" type="date" class="govuk-input" value="dd-mm-yyyy" name="effectivetodate">
                                  </td>
                                  </tr>
                                <tr class="govuk-table__row">
  
                                  <td class="govuk-table__cell">4</td>
  
                                  <td class="govuk-table__cell">01 August 2014</td>
                                  <td class="govuk-table__cell">
                                    <input asp-for="2022-08-15T07:00:00" type="date" class="govuk-input" value="dd-mm-yyyy" name="effectivetodate">
                                  </td>
                                </tr>
                                <tr class="govuk-table__row">
 
                                  <td class="govuk-table__cell">5</td>
  
                                  <td class="govuk-table__cell">01 August 2014</td>
                                  <td class="govuk-table__cell">31 July 2021</td>
  
                                </tr>
  
                              </tbody>
                        </table>
  
                        <button class="govuk-button" data-module="govuk-button">Save</button>
  
                  </div>
               </div>
          </div>




                

               </div>
             </div>
        </div>
    </div>
</div>


{% endblock %}
