{% extends "layoutsld.html" %}
{% block content %}

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item" aria-current="page">Search Results</li>
  </ol>
</div>

<main class="govuk-main-wrapper govuk-width-container" id="main-content" role="main">
  <h1 class="govuk-heading-l">Search Standards</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-form-group">
        <label class="govuk-label" for="search-title">
          Search by title or reference number
        </label>
        <div class="govuk-input__wrapper">
          <input class="govuk-input" id="search-title" name="search-title" type="text" value="construction">
          <button class="govuk-button govuk-button--secondary govuk-input__button" data-module="govuk-button">
            <svg class="govuk-icon govuk-icon--search" xmlns="http://www.w3.org/2000/svg" focusable="false" viewBox="0 0 19 19">
              <path fill="currentColor" d="M13 16s-2 1-5 1-5-1-5-1V8h1v8s2 1 5 1 5-1 5-1V8h1v8zM11 3a4 4 0 1 0-8 0 4 4 0 0 0 8 0z"/>
            </svg>
            <span class="govuk-visually-hidden">Search</span>
          </button>
        </div>
      </div>
      <p class="govuk-body"><a class="govuk-link" href="#">Search using a wildcard</a></p>
    </div>
    <div class="govuk-grid-column-one-third">
      <div class="govuk-form-group">
        <label class="govuk-label" for="type-of-learning">
          Type of learning
        </label>
        <select class="govuk-select" id="type-of-learning" name="type-of-learning">
          <option value="" selected>Standards</option>
        </select>
      </div>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
      <aside class="govuk-!-padding-right-5">
        <h2 class="govuk-heading-m">Filter results</h2>

        <a href="#" id="Sectors-Button" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-19 filter-box-button" role="button" aria-expanded="false" aria-controls="Sectors-Content">
          <svg class="govuk-details__summary-arrow" width="0" height="0" focusable="false" aria-hidden="true">
            <path stroke="currentColor" fill="currentColor" stroke-width="2" d="M0 0l6.5 6.5-6.5 6.5"></path>
          </svg>
          Sector
        </a>
        <div class="filter-box-content" id="Sectors-Content" aria-hidden="true">
          </div>

        <a href="#" id="Levels-Button" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-19 filter-box-button" role="button" aria-expanded="false" aria-controls="Levels-Content">
          <svg class="govuk-details__summary-arrow" width="0" height="0" focusable="false" aria-hidden="true">
            <path stroke="currentColor" fill="currentColor" stroke-width="2" d="M0 0l6.5 6.5-6.5 6.5"></path>
          </svg>
          Level
        </a>
        <div class="filter-box-content" id="Levels-Content" aria-hidden="true">
          </div>

        <p class="govuk-body"><a class="govuk-link" href="#">Clear filters</a></p>
      </aside>
    </div>
    <div class="govuk-grid-column-three-quarters">
      <h2 class="govuk-heading-s">19 results</h2>

      <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-top-3 govuk-!-margin-bottom-3">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <div class="govuk-table__head">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-1"><a class="govuk-link" href="#">Construction Quantity Surveying Technician</a></h3>
          </div>
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Code</dt>
              <dd class="govuk-summary-list__value">468</dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Level</dt>
              <dd class="govuk-summary-list__value">4</dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Sector</dt>
              <dd class="govuk-summary-list__value">21 - Surveying</dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Last date for new starts</dt>
              <dd class="govuk-summary-list__value">Not set</dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Effective from</dt>
              <dd class="govuk-summary-list__value">03 July 2019</dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Effective to</dt>
              <dd class="govuk-summary-list__value">Open</dd>
            </div>
          </dl>

        </div>
      </div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <div class="govuk-table__head">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-1"><a class="govuk-link" href="#">Construction Quantity Surveyor (degree)</a></h3>
          </div>
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Code</dt>
              <dd class="govuk-summary-list__value">482</dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Level</dt>
              <dd class="govuk-summary-list__value">6</dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Sector</dt>
              <dd class="govuk-summary-list__value">21 - Surveying</dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Last date for new starts</dt>
              <dd class="govuk-summary-list__value">Not set</dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Effective from</dt>
              <dd class="govuk-summary-list__value">11 July 2019</dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Effective to</dt>
              <dd class="govuk-summary-list__value">Open</dd>
            </div>
          </dl>

        </div>
      </div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <div class="govuk-table__head">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-1"><a class="govuk-link" href="#">Construction Site Management (degree)</a></h3>
          </div>
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Code</dt>
              <dd class="govuk-summary-list__value">501</dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Level</dt>
              <dd class="govuk-summary-list__value">6</dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Sector</dt>
              <dd class="govuk-summary-list__value">55 - Construction</dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Last date for new starts</dt>
              <dd class="govuk-summary-list__value">Not set</dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Effective from</dt>
              <dd class="govuk-summary-list__value">06 September 2019</dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Effective to</dt>
              <dd class="govuk-summary-list__value">Open</dd>
            </div>
          </dl>
          <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-top-3 govuk-!-margin-bottom-3">
        </div>
      </div>

      </div>
  </div>
</main>

{% endblock %}