{% extends "layoutsld.html" %}
{% block content %}

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/search-results">Search Results</a>
    </li>
    <li class="govuk-breadcrumbs__list-item" aria-current="page">Dental Practice Manager</li>
  </ol>
</div>

<main class="govuk-main-wrapper govuk-width-container" id="main-content" role="main">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Construction Quantity Surveying Technician</h1>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Code</dt>
          <dd class="govuk-summary-list__value">468</dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Reference</dt>
          <dd class="govuk-summary-list__value">ST0049</dd>
        </div>
         <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Apprenticeship Type</dt>
          <dd class="govuk-summary-list__value">Other</dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Sector</dt>
          <dd class="govuk-summary-list__value">21 - Surveying</dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Effective from</dt>
          <dd class="govuk-summary-list__value">01 September 2023</dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Effective to</dt>
          <dd class="govuk-summary-list__value">Open</dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Last date for new starts</dt>
          <dd class="govuk-summary-list__value">Not set</dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Level</dt>
          <dd class="govuk-summary-list__value">4</dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Sector subject area</dt>
          <dd class="govuk-summary-list__value">5.00 – Construction, Planning and the Built Environment</dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Sector subject area Tier 2</dt>
          <dd class="govuk-summary-list__value">5.20 – Building and Construction</dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Integrated degree standard</dt>
          <dd class="govuk-summary-list__value">N</dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Other body approval required</dt>
          <dd class="govuk-summary-list__value">N</dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">URL</dt>
          <dd class="govuk-summary-list__value">
            <a href="https://www.instituteforapprenticeships.org/apprenticeship-standards/st0049-v1-1" class="govuk-link">https://www.instituteforapprenticeships.org/apprenticeship-standards/st0049-v1-1</a>
          </dd>
        </div>
      </dl>

      <p class="govuk-body"><a href="#" class="govuk-link">Common components</a></p>
      <p class="govuk-body"><a href="#" class="govuk-link">Related learning aims</a></p>


      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      <h2 class="govuk-heading-m">Standard trailblazer</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-6">
         <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Start date</dt>
          <dd class="govuk-summary-list__value">26 March 2015</dd>
        </div>
         <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Last date for new starts</dt>
          <dd class="govuk-summary-list__value">Not set</dd>
        </div>
         <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">End date</dt>
          <dd class="govuk-summary-list__value">Not set</dd>
        </div>
      </dl>

      <details class="govuk-details govuk-!-margin-bottom-6" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Show all sections
          </span>
        </summary>
        <div class="govuk-details__text">
          Content for all sections would be revealed here.
        </div>
      </details>

      <h3 class="govuk-heading-s">Standard Trailblazer</h3>
      <p class="govuk-body">Band number: 3</p>
      <details class="govuk-details govuk-!-margin-bottom-6" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Show
          </span>
        </summary>
        <div class="govuk-details__text">
          Details for Standard Trailblazer Band number 3.
        </div>
      </details>

      <h3 class="govuk-heading-s">Apprenticeships from May 2017</h3>
      <p class="govuk-body">Band number: 9</p>
       <details class="govuk-details govuk-!-margin-bottom-6" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Show
          </span>
        </summary>
        <div class="govuk-details__text">
          Details for Apprenticeships from May 2017 Band number 9.
        </div>
      </details>

      <h3 class="govuk-heading-s">Apprenticeships from May 2017</h3>
       <p class="govuk-body">Band number: 12</p>
       <details class="govuk-details govuk-!-margin-bottom-9" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Show
          </span>
        </summary>
        <div class="govuk-details__text">
           Details for Apprenticeships from May 2017 Band number 12.
        </div>
      </details>

    </div>
  </div>

</main>

{% endblock %}