{% extends "layout.html" %}

{% block pageTitle %}
  Access to HE Diploma (Health and Social Care)
{% endblock %}

{% block content %}

                 

                    
<div class="govuk-breadcrumbs">
    <ol id="breadCrumbs" class="govuk-breadcrumbs__list"><li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="falaqualhome.html">Search Results</a></li><li class="govuk-breadcrumbs__list-item">Access to HE Diploma (Health and Social Care)</li></ol>
</div>



<div id="aimDetails" class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <span class="govuk-caption-l">Reference: 4000935X</span>
        <h1 class="govuk-heading-xl">
            Access to HE Diploma (Health and Social Care)
        </h1>
    </div>
</div>

        <div class="govuk-form-group">
            <label class="govuk-label" for="academicYear">
                Academic year
            </label>
<form action="/find-a-learning-aim/LearningAimDetails" class="govuk-form-group" id="academicYearForm" method="post">                <input type="hidden" name="learnAimRef" value="4000935X">
                <input type="hidden" name="Section" value="Overview">
                <select class="govuk-select" id="academicYear" name="AcademicYear">
                                            
                            <option value="2526"selected="">2025 to 2026</option>
                            <option value="2425">2024 to 2025</option>
                            <option value="2324">2023 to 2024</option>
                            <option value="2223">2022 to 2023</option>
                            <option value="2122">2021 to 2022</option>
                            <option value="2021">2020 to 2021</option>
                            <option value="1920">2019 to 2020</option>
                </select>


<br>
<br>
<div class="govuk-grid-row govuk-!-margin-top-4">
    <div class="govuk-grid-column-one-quarter">
        <nav>
            <ul class="govuk-list detailsNav">
                <li>
                    <a class="govuk-link govuk-link--no-visited-state active" href="/find-a-learning-aim/LearningAimDetails/4000935X?academicYear=2324">Overview</a>
                </li>
                <li>
                    <a class="govuk-link govuk-link--no-visited-state " href=/falaqualfunding.html>Funding</a>
                </li>
                <li>
                    <a class="govuk-link govuk-link--no-visited-state " href="/find-a-learning-aim/LearningAimDetails/Frameworks/4000935X?academicYear=2324">Frameworks</a>
                </li>
                <li>
                    <a class="govuk-link govuk-link--no-visited-state " href="/find-a-learning-aim/LearningAimDetails/Category/4000935X?academicYear=2324">Category</a>
                </li>
                <li>
                    <a class="govuk-link govuk-link--no-visited-state " href="/find-a-learning-aim/LearningAimDetails/BasicSkills/4000935X?academicYear=2324">Basic skills</a>
                </li>
                <li>
                    <a class="govuk-link govuk-link--no-visited-state " href="/find-a-learning-aim/LearningAimDetails/KeyDates/4000935X?academicYear=2324">Key dates</a>
                </li>
                <li>
                    <a class="govuk-link govuk-link--no-visited-state " href="/find-a-learning-aim/LearningAimDetails/LearnDirect/4000935X?academicYear=2324">LearnDirect class system</a>
                </li>
            </ul>
        </nav>
    </div>

    <div class="govuk-grid-column-three-quarters">
        
<div id="overview" class="govuk-grid-row">
    <h2 class="govuk-heading-l">Overview</h2>
    <div class="flex space-between">
        <dl class="govuk-summary-list govuk-!-margin-bottom-9 govuk-summary-list--no-border">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Reference
                </dt>
                <dd class="govuk-summary-list__value">
                    4000935X
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Level
                </dt>
                <dd class="govuk-summary-list__value">
                    Level 3
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Awarding body
                </dt>
                <dd class="govuk-summary-list__value">
                    Aim Qualifications
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Type
                </dt>
                <dd class="govuk-summary-list__value">
                    Access to Higher Education Diploma (from 2014 onwards)
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Guided learning hours
                </dt>
                <dd class="govuk-summary-list__value">
                    Not Provided
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Level 3 category
                </dt>
                <dd class="govuk-summary-list__value">
                    Full Level 3 Qualification
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Level 2 category
                </dt>
                <dd class="govuk-summary-list__value">
                    Not Applicable
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Ofqual total qualification time
                </dt>
                <dd class="govuk-summary-list__value">
                    Not Provided
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Minimum Ofqual guided learning hours
                </dt>
                <dd class="govuk-summary-list__value">
                    0
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Maximum Ofqual guided learning hours
                </dt>
                <dd class="govuk-summary-list__value">
                    0
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Sector subject area tier 1
                </dt>
                <dd class="govuk-summary-list__value">
                    1.00 - Health, Public Services and Care
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Sector subject area tier 2
                </dt>
                <dd class="govuk-summary-list__value">
                    1.30 - Health and Social Care
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Last modified
                </dt>
                <dd class="govuk-summary-list__value">
                    09 February 2024
                </dd>
            </div>
        </dl>

    </div><!-- /overview -->
  </div><!-- /govuk-grid-column-three-quarters -->

</div><!-- /govuk-grid-row -->

{% endblock %}
