{% extends "layoutfala.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}


{% block content %}




<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-l">Sorry, there is a problem with the service</h1>
          <p class="govuk-body">Try again later.</p>
          <p>If you continue to have problems, log a query using our 
            <a class="govuk-link" href=" https://form.education.gov.uk/en/AchieveForms/?form_uri=sandbox-publish://AF-Process-f9f4f5a1-936f-448b-bbeb-9dcdd595f468/AF-Stage-8aa41278-3cdd-45a3-ad87-80cbffb8b992/definition.json&amp;redirectlink=%2fen&amp;cancelRedirectLink=%2fen" target="_blank">
                        ESFA Service Desk enquiry form.
            </a>
        </p>
        
        </div>
      </div>
    </main>
  </div>
</body>

{% endblock %}