{% extends "layoutsld.html" %}



{% block content %}




<script src="/find-a-learning-aim/assets/dist/js/app/Layout/header.js?v=y7imvRzcAuxBYiRnF0q8u4PqBghiEKUMFzf7EGIF-zE"></script>

    <div class="govuk-width-container">
        
    </div>

    

    <div class="govuk-width-container">

        <main class="govuk-main-wrapper" id="content" role="main">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    

                    



<div id="resultsApp">
    <form id="filterForm" method="post" class="govuk-form-group" action="/find-a-learning-aim/LearningAimSearchResult/Search">
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-5">Search qualifications</h1>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <div class="standard-search">
                    <label for="autocomplete-overlay" class="govuk-label">Search by <strong>title</strong> or <strong>reference number</strong></label>
                </div>
                 </div>
        </div>



            <div class="govuk-grid-column-two-thirds">
                

                <hr class="colour-black govuk-section-break govuk-section-break--m govuk-section-break--visible">
                
    



                <div id="resultList" class="govuk-list">



    <div class="search-item">
        <h3 class="govuk-!-margin-0">
            <a class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold no-underline govuk-!-font-size-19" href="/find-a-learning-aim/LearningAimSearchResult/RedirectToDetails?learnAimRef=Z0004323&amp;academicYear=2223">Non regulated Adult skills formula funded provision, Level 1, ESOL, 93 to 100 hrs</a>
        </h3>

        <dl class="govuk-summary-list govuk-!-margin-bottom-0 govuk-summary-list--no-border">
            <div class="govuk-summary-list__row govuk-!-font-size-16">
                <dt class="govuk-summary-list__key">
                    Reference
                </dt>
                <dd class="govuk-summary-list__value wide-col">
                    Z0004323
                </dd>
                <dt class="govuk-summary-list__key">
                    Level
                </dt>
                <dd class="govuk-summary-list__value wide-col">
                    Level 1
                </dd>
            </div>
            <div class="govuk-summary-list__row govuk-!-font-size-16">
                <dt class="govuk-summary-list__key">
                    Awarding body
                </dt>
                <dd class="govuk-summary-list__value wide-col">
                    NONE
                </dd>
                <dt class="govuk-summary-list__key">
                    Guided learning hours
                </dt>
                <dd class="govuk-summary-list__value wide-col">
                    Not Provided
                </dd>
            </div>
        </dl>

            <h4 class="govuk-heading-s govuk-!-font-size-16 govuk-!-margin-bottom-0 govuk-!-margin-top-2">Available funding streams for academic year 2022 to 2023:</h4>
            <dl class="govuk-summary-list govuk-!-margin-bottom-0 govuk-summary-list--no-border">
                    <div class="govuk-summary-list__row custom-row govuk-!-font-size-16">
                            <dd class="govuk-summary-list__value custom">
                                Adult Skills
                            </dd>
                            <dd class="govuk-summary-list__value custom">
                                Other
                            </dd>
                            <dd class="govuk-summary-list__value custom">
                                European Social Fund
                            </dd>
                    </div>
                    <div class="govuk-summary-list__row custom-row govuk-!-font-size-16">
                            <dd class="govuk-summary-list__value custom">
                                MCA/GLA
                            </dd>
                    </div>
            </dl>
            <dl class="govuk-summary-list govuk-!-margin-bottom-0">
                <div class="govuk-summary-list__row govuk-!-font-size-16">
                    <dt class="govuk-summary-list__key govuk-!-width-one-half">
                        Last date for new start
                    </dt>
                    <dd class="govuk-summary-list__value">
                        Varies - see listing for dates
                    </dd>
                </div>
            </dl>
            
    </div>
<br>
<br>
    <div class="search-item">
        <h3 class="govuk-!-margin-0">
            <a class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold no-underline govuk-!-font-size-19" href="/find-a-learning-aim/LearningAimSearchResult/RedirectToDetails?learnAimRef=Z0004323&amp;academicYear=2223">Non regulated Adult skills formula funded provision, Level 1, ESOL, 93 to 100 hrs</a>
        </h3>

        <dl class="govuk-summary-list govuk-!-margin-bottom-0 govuk-summary-list--no-border">
            <div class="govuk-summary-list__row govuk-!-font-size-16">
                <dt class="govuk-summary-list__key">
                    Reference
                </dt>
                <dd class="govuk-summary-list__value wide-col">
                    Z0004323
                </dd>
                <dt class="govuk-summary-list__key">
                    Level
                </dt>
                <dd class="govuk-summary-list__value wide-col">
                    Level 1
                </dd>
            </div>
            <div class="govuk-summary-list__row govuk-!-font-size-16">
                <dt class="govuk-summary-list__key">
                    Awarding body
                </dt>
                <dd class="govuk-summary-list__value wide-col">
                    NONE
                </dd>
                <dt class="govuk-summary-list__key">
                    Guided learning hours
                </dt>
                <dd class="govuk-summary-list__value wide-col">
                    Not Provided
                </dd>
            </div>
        </dl>

            <h4 class="govuk-heading-s govuk-!-font-size-16 govuk-!-margin-bottom-0 govuk-!-margin-top-2">Available funding streams and their last date for new starts for academic year 2022 to 2023:</h4>
            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dd class="govuk-summary-list__value">
                    Adult Skills
                </dd>
                  <dd class="govuk-summary-list__value">
                    01/12/2023
                  </dd>

                </div>
                <div class="govuk-summary-list__row">
                    <dd class="govuk-summary-list__value">
                    Other
                  </dt>
                  <dd class="govuk-summary-list__value">
                    Not set
                 </dd>
 
                </div>
                <div class="govuk-summary-list__row">
                    <dd class="govuk-summary-list__value">
                    European Social Fund
                </dd>
                  <dd class="govuk-summary-list__value">
                    01/03/2023
                  </dd>

                </div>
                <div class="govuk-summary-list__row">
                    <dd class="govuk-summary-list__value">
                    MCA/GL
                </dd>
                  <dd class="govuk-summary-list__value">
                    01/03/2023
                  </dd>

                </div>
              </dl>
           
    </div>
     


</body>
 
{% endblock %}
