{% extends "layoutsld.html" %}



{% block content %}

<body class="govuk-template__body  js-enabled">

    <!-- Google Tag Manager (noscript) -->
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KRD8CKK"
            height="0" width="0" class="display-none visibility-hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->

<div id="skiplink-container">
    <div>
        <a href="#content" class="govuk-skip-link">Skip to main content</a>
    </div>
</div>
<div id="global-cookie-confirmation-message" class="govuk-cookie-banner " data-nosnippet="" role="alert" hidden="" tabindex="-1" aria-label="Cookies on submit learner data">
    <div class="govuk-cookie-banner__message govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <div class="govuk-cookie-banner__content">
                    <p>You've <span id="cookie_preference"></span> analytics cookies. You can <a class="govuk-link" href="/help/cookies">change your cookie settings</a> at anytime.</p>
                </div>
            </div>
        </div>
        <div class="govuk-button-group">
            <button id="btn_cookie_confirmation_hide" value="hide" type="button" name="cookies" class="govuk-button" data-module="govuk-button">
                Hide this message
            </button>
        </div>
    </div>
</div>
<div id="global-cookie-preference-set-message" class="govuk-cookie-banner " data-nosnippet="" role="region" hidden="" aria-label="Cookies on find a learning aim">
    <div class="govuk-cookie-banner__message govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h2 class="govuk-cookie-banner__heading govuk-heading-m">Cookies on find a learning aim</h2>
                <div class="govuk-cookie-banner__content">
                    <p>We use some essential cookies to make this service work.</p>
                    <p>We'd like to set additional cookies so we can remember your settings, understand how people use the service and make improvements.</p>
                </div>
            </div>
        </div>
        <div class="govuk-button-group">
            <button id="btn_cookies_accept" value="accept" type="button" name="cookies" class="govuk-button" data-module="govuk-button">
                Accept additional cookies
            </button>
            <button id="btn_cookies_reject" value="reject" type="button" name="cookies" class="govuk-button" data-module="govuk-button">
                Reject additional cookies
            </button>
            <a class="govuk-link" href="/help/cookies">View cookies</a>
        </div>
    </div>
</div>


<script src="/find-a-learning-aim/assets/dist/js/app/Layout/header.js?v=y7imvRzcAuxBYiRnF0q8u4PqBghiEKUMFzf7EGIF-zE"></script>

    <div class="govuk-width-container">
        
    </div>

    

    <div class="govuk-width-container">

        <main class="govuk-main-wrapper" id="content" role="main">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    

                    
<div class="govuk-breadcrumbs">
    <ol id="breadCrumbs" class="govuk-breadcrumbs__list"><li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="/find-a-learning-aim/">Home</a></li><li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="/find-a-learning-aim/LearningAimSearchResult?SearchTerm=4000935X&amp;TeachingYear=2324">Search Results</a></li><li class="govuk-breadcrumbs__list-item">Access to HE Diploma (Health and Social Care)</li></ol>
</div>



<div id="aimDetails" class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            Access to HE Diploma (Health and Social Care)
            <span class="govuk-caption-l">Reference: 4000935X</span>
        </h1>
    </div>

    <div class="govuk-grid-column-one-third academic-year-wrapper">
        <div class="govuk-form-group">
            <label class="govuk-label" for="academicYear">
                Academic year
            </label>
<form action="/find-a-learning-aim/LearningAimDetails" class="govuk-form-group" id="academicYearForm" method="post">                <input type="hidden" name="learnAimRef" value="4000935X">
                <input type="hidden" name="Section" value="Funding">
                <select class="govuk-select" id="academicYear" name="AcademicYear">
                            <option value="2425" selected="">2024 to 2025</option>
                            <option value="2324">2023 to 2024</option>
                            <option value="2223">2022 to 2023</option>
                            <option value="2122">2021 to 2022</option>
                            <option value="2021">2020 to 2021</option>
                            <option value="1920">2019 to 2020</option>
                </select>
                <noscript>
                    <br />
                    <input type="submit" value="Update" class="govuk-!-margin-top-4 govuk-button" />
                </noscript>
<input name="__RequestVerificationToken" type="hidden" value="CfDJ8JK6N0uUxiFEj82uCkU08ka7Th7Tj5ESxMOyM89oiR7bV9cuRDiUAuIPG1UOrBLhw86XwQ_7JICoJ6LcyqOqXBT03iYpcMCEHvvbNdf8UaRDfp6HMl-cX00LpwuciDbhxrv-4uj39KROv_j0rTm3wPQ"></form>        </div>
    </div>
</div>

<div class="govuk-grid-row govuk-!-margin-top-4">
    <div class="govuk-grid-column-one-quarter">
        <nav>
            <ul class="govuk-list detailsNav">
                <li>
                    <a class="govuk-link govuk-link--no-visited-state " href="/find-a-learning-aim/LearningAimDetails/4000935X?academicYear=2425">Overview</a>
                </li>
                <li>
                    <a class="govuk-link govuk-link--no-visited-state active" href="/find-a-learning-aim/LearningAimDetails/Funding/4000935X?academicYear=2425">Funding</a>
                </li>
                <li>
                    <a class="govuk-link govuk-link--no-visited-state " href="/find-a-learning-aim/LearningAimDetails/Frameworks/4000935X?academicYear=2425">Frameworks</a>
                </li>
                <li>
                    <a class="govuk-link govuk-link--no-visited-state " href="/find-a-learning-aim/LearningAimDetails/Category/4000935X?academicYear=2425">Category</a>
                </li>
                <li>
                    <a class="govuk-link govuk-link--no-visited-state " href="/find-a-learning-aim/LearningAimDetails/BasicSkills/4000935X?academicYear=2425">Basic skills</a>
                </li>
                <li>
                    <a class="govuk-link govuk-link--no-visited-state " href="/find-a-learning-aim/LearningAimDetails/KeyDates/4000935X?academicYear=2425">Key dates</a>
                </li>
                <li>
                    <a class="govuk-link govuk-link--no-visited-state " href="/find-a-learning-aim/LearningAimDetails/LearnDirect/4000935X?academicYear=2425">LearnDirect class system</a>
                </li>
            </ul>
        </nav>
    </div>

    <div class="govuk-grid-column-three-quarters">
        

        
<div id="funding" class="govuk-grid-row">
    <h2 class="govuk-heading-l">Funding approved for selected year</h2>

    <div class="govuk-accordion" data-module="govuk-accordion" id="category"><div class="govuk-accordion__controls"><button type="button" class="govuk-accordion__open-all" aria-expanded="false">Open all<span class="govuk-visually-hidden"> sections</span></button></div>
            <div class="govuk-accordion__section">
                <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                        
                    <button type="button" id="category-summary-1" aria-controls="category-content-1" class="govuk-accordion__section-button" aria-describedby="category-summary-1" aria-expanded="false">
                            16-19 EFA
                        <span class="govuk-accordion__icon" aria-hidden="true"></span></button></h2>

                    <div class="govuk-accordion__section-summary govuk-body">
                        <span>
                            <strong>Last date for new start:</strong> 31 July 2026
                        </span>
                    </div>
                </div>

                <div class="govuk-body govuk-accordion__section-content category-no-top-padding" aria-labelledby="category-summary-1">
                    <h3>Course validity</h3>
                    <p><strong>Valid from:</strong> 01 August 2019</p>
                    <p><strong>Valid to:</strong> 31 July 2029</p>

                </div>
            </div>
            <div class="govuk-accordion__section">
                <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                        
                    <button type="button" id="category-summary-2" aria-controls="category-content-2" class="govuk-accordion__section-button" aria-describedby="category-summary-2" aria-expanded="false">
                            Adult Skills
                        <span class="govuk-accordion__icon" aria-hidden="true"></span></button></h2>

                    <div class="govuk-accordion__section-summary govuk-body">
                        <span>
                            <strong>Last date for new start:</strong> 31 July 2026
                        </span>
                    </div>
                </div>

                <div class="govuk-body govuk-accordion__section-content category-no-top-padding" aria-labelledby="category-summary-2">
                    <h3>Course validity</h3>
                    <p><strong>Valid from:</strong> 01 August 2019</p>
                    <p><strong>Valid to:</strong> 31 July 2029</p>
                        
<ul class="govuk-list">
    <li>
        <strong>Category:</strong> Adult Skills Fund
    </li>
    <li>
        <strong>Effective from:</strong> 01 August 2024
    </li>
    <li>
        <strong>Effective to:</strong> 31 July 2029
    </li>
    <li>
        <strong>Programme weighting:</strong> X
    </li>
    <li>
        <strong>Weighted rate:</strong> £5,040.00
    </li>
    <li>
        <strong>Unweighted rate:</strong> £3,600.00
    </li>
</ul>
                        
<ul class="govuk-list">
    <li>
        <strong>Category:</strong> Matrix
    </li>
    <li>
        <strong>Effective from:</strong> 01 August 2019
    </li>
    <li>
        <strong>Effective to:</strong> 31 July 2028
    </li>
    <li>
        <strong>Programme weighting:</strong> B
    </li>
    <li>
        <strong>Weighted rate:</strong> £3,384.00
    </li>
    <li>
        <strong>Unweighted rate:</strong> £3,022.00
    </li>
</ul>

                </div>
            </div>
            <div class="govuk-accordion__section">
                <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                        
                    <button type="button" id="category-summary-3" aria-controls="category-content-3" class="govuk-accordion__section-button" aria-describedby="category-summary-3" aria-expanded="false">
                            Advanced Learner Loan
                        <span class="govuk-accordion__icon" aria-hidden="true"></span></button></h2>

                    <div class="govuk-accordion__section-summary govuk-body">
                        <span>
                            <strong>Last date for new start:</strong> 31 July 2026
                        </span>
                    </div>
                </div>

                <div class="govuk-body govuk-accordion__section-content category-no-top-padding" aria-labelledby="category-summary-3">
                    <h3>Course validity</h3>
                    <p><strong>Valid from:</strong> 01 August 2019</p>
                    <p><strong>Valid to:</strong> 31 July 2029</p>
                        
<ul class="govuk-list">
    <li>
        <strong>Category:</strong> Matrix
    </li>
    <li>
        <strong>Effective from:</strong> 01 August 2019
    </li>
    <li>
        <strong>Effective to:</strong> 31 July 2028
    </li>
    <li>
        <strong>Programme weighting:</strong> B
    </li>
    <li>
        <strong>Weighted rate:</strong> £3,384.00
    </li>
    <li>
        <strong>Unweighted rate:</strong> £3,022.00
    </li>
</ul>

                </div>
            </div>
            <div class="govuk-accordion__section">
                <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                        
                    <button type="button" id="category-summary-4" aria-controls="category-content-4" class="govuk-accordion__section-button" aria-describedby="category-summary-4" aria-expanded="false">
                            Other
                        <span class="govuk-accordion__icon" aria-hidden="true"></span></button></h2>

                    <div class="govuk-accordion__section-summary govuk-body">
                        <span>
                            <strong>Last date for new start:</strong> not set
                        </span>
                    </div>
                </div>

                <div class="govuk-body govuk-accordion__section-content category-no-top-padding" aria-labelledby="category-summary-4">
                    <h3>Course validity</h3>
                    <p><strong>Valid from:</strong> 01 August 2019</p>
                    <p><strong>Valid to:</strong> Open</p>

                </div>
            </div>
            <div class="govuk-accordion__section govuk-accordion__section">
                <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                        
                    <button type="button" id="category-summary-5" aria-controls="category-content-5" class="govuk-accordion__section-button" aria-describedby="category-summary-5" aria-expanded="false">
                            MCA/GLA
                        <span class="govuk-accordion__icon" aria-hidden="true"></span></button></h2>

                    <div class="govuk-accordion__section-summary govuk-body">
                        <span>
                            <strong>Last date for new start:</strong> 31 July 2026
                        </span>
                    </div>
                </div>

                <div class="govuk-body govuk-accordion__section-content category-no-top-padding" aria-labelledby="category-summary-5">
                    <h3>Course validity</h3>
                    <p><strong>Valid from:</strong> 01 August 2019</p>
                    <p><strong>Valid to:</strong> 31 July 2029</p>

<details class="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        Adult Skills Fund
      </span>
    </summary>
    <div class="govuk-details__text">
        <ul class="govuk-list">
            <li>
                <strong>Effective from:</strong> 01 August 2024
            </li>
            <li>
                <strong>Effective to:</strong> 31 July 2029
            </li>
            <li>
                <strong>Programme weighting:</strong> X
            </li>
            <li>
                <strong>Weighted rate:</strong> £5,040.00
            </li>
            <li>
                <strong>Unweighted rate:</strong> £3,600.00
            </li>
        </ul>
    </div>
  </details>

  <details class="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        Matrix
      </span>
    </summary>
    <div class="govuk-details__text">
        <ul class="govuk-list">
            <li>
                <strong>Effective from:</strong> 01 August 2019
            </li>
            <li>
                <strong>Effective to:</strong> 31 July 2028
            </li>
            <li>
                <strong>Programme weighting:</strong> B
            </li>
            <li>
                <strong>Weighted rate:</strong> £3,384.00
            </li>
            <li>
                <strong>Unweighted rate:</strong> £3,022.00
            </li>
        </ul>
    </div>
  </details>
  
  <details class="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        Greater Manchester Combined Authority
      </span>
    </summary>
    <div class="govuk-details__text">
        <ul class="govuk-list">
            <li>
                <strong>Effective from:</strong> 01 August 2019
            </li>
            <li>
                <strong>Effective to:</strong> 31 July 2028
            </li>
            <li>
                <strong>Weighted rate:</strong> £3,000.00
            </li>
            <li>
                <strong>Unweighted rate:</strong> £3,384.00
            </li>
            <li>
                <strong>Specialist uplift:</strong> 1.25
            </li>
        </ul>
    </div>
  </details>
  <details class="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        Greater London Authority
      </span>
    </summary>
    <div class="govuk-details__text">
        <ul class="govuk-list">
            <li>
                <strong>Effective from:</strong> 01 August 2024
            </li>
            <li>
                <strong>Effective to:</strong> 31 December 2024
            </li>
            <li>
                <strong>Weighted rate:</strong> £3,000.00
            </li>
            <li>
                <strong>Unweighted rate:</strong> £3,384.00
            </li>
            <li>
                <strong>Specialist uplift:</strong> 1.25
            </li>
        </ul>
    </div>
    <div class="govuk-details__text">
        <ul class="govuk-list">
            <li>
                <strong>Effective from:</strong> 01 January 2025
            </li>
            <li>
                <strong>Effective to:</strong> 31 July 2028
            </li>
            <li>
                <strong>Weighted rate:</strong> £5,000.00
            </li>
            <li>
                <strong>Unweighted rate:</strong> £5,384.00
            </li>
            <li>
                <strong>Specialist uplift:</strong> 1.50
            </li>
        </ul>
    </div>
  </details>
  
  <details class="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        North East Mayoral Combined Authority
      </span>
    </summary>
    <div class="govuk-details__text">
        <ul class="govuk-list">
            <li>
                <strong>Effective from:</strong> 01 August 2019
            </li>
            <li>
                <strong>Effective to:</strong> 31 July 2028
            </li>
            <li>
                <strong>Weighted rate:</strong> £3,000.00
            </li>
            <li>
                <strong>Unweighted rate:</strong> £3,384.00
            </li>
            <li>
                <strong>Specialist uplift:</strong> 1.25
            </li>
        </ul>
    </div>
  </details>

                </div>
            </div>
            <div class="govuk-accordion__section">
                <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                        
                    <button type="button" id="category-summary-6" aria-controls="category-content-6" class="govuk-accordion__section-button" aria-describedby="category-summary-6" aria-expanded="false">
                            OLASS
                        <span class="govuk-accordion__icon" aria-hidden="true"></span></button></h2>

                    <div class="govuk-accordion__section-summary govuk-body">
                        <span>
                            <strong>Last date for new start:</strong> 31 July 2022
                        </span>
                    </div>
                </div>

                <div class="govuk-body govuk-accordion__section-content category-no-top-padding" aria-labelledby="category-summary-6">
                    <h3>Course validity</h3>
                    <p><strong>Valid from:</strong> 01 August 2019</p>
                    <p><strong>Valid to:</strong> 31 July 2025</p>
                        
<ul class="govuk-list">
    <li>
        <strong>Category:</strong> Matrix
    </li>
    <li>
        <strong>Effective from:</strong> 01 August 2019
    </li>
    <li>
        <strong>Effective to:</strong> 31 July 2028
    </li>
    <li>
        <strong>Programme weighting:</strong> B
    </li>
    <li>
        <strong>Weighted rate:</strong> £3,384.00
    </li>
    <li>
        <strong>Unweighted rate:</strong> £3,022.00
    </li>
</ul>

                </div>
            </div>
            <div class="govuk-accordion__section">
                <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                        
                    <button type="button" id="category-summary-7" aria-controls="category-content-7" class="govuk-accordion__section-button" aria-describedby="category-summary-7" aria-expanded="false">
                            Tailored Learning
                        <span class="govuk-accordion__icon" aria-hidden="true"></span></button></h2>

                    <div class="govuk-accordion__section-summary govuk-body">
                        <span>
                            <strong>Last date for new start:</strong> 31 July 2026
                        </span>
                    </div>
                </div>

                <div class="govuk-body govuk-accordion__section-content category-no-top-padding" aria-labelledby="category-summary-7">
                    <h3>Course validity</h3>
                    <p><strong>Valid from:</strong> 01 August 2024</p>
                    <p><strong>Valid to:</strong> 31 July 2029</p>

                </div>
            </div>
    </div>
</div>
        
        

        

        



        

   
    </div>
</div>




                </div>
            </div>
        </main>
    </div>

    

<footer class="govuk-footer " role="contentinfo">
    <div class="govuk-width-container ">
        <div class="govuk-footer__meta">
            <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
                <ul class="govuk-footer__inline-list">
                    <li class="govuk-footer__inline-list-item">
                        <a class="govuk-footer__link govuk-link govuk-link--no-visited-state" href="/find-a-learning-aim/PrivacyPolicy">Privacy policy</a>
                    </li>
                    <li class="govuk-footer__inline-list-item">
                        <a class="govuk-footer__link govuk-link govuk-link--no-visited-state" href="/find-a-learning-aim/TermsAndConditions">Terms and conditions</a>
                    </li>
                    <li class="govuk-footer__inline-list-item">
                        <a class="govuk-footer__link" href="/find-a-learning-aim/SupportLinks/AccessibilityStatement">Accessibility statement</a>
                    </li>
                    <li class="govuk-footer__inline-list-item">
                        <a class="govuk-footer__link" href="/find-a-learning-aim/Help/Cookies">Cookies</a>
                    </li>
                </ul>
                <svg focusable="false" class="govuk-footer__licence-logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 483.2 195.7" height="17" width="41" aria-label="Open Government Licence">
                    <path fill="currentColor" d="M421.5 142.8V.1l-50.7 32.3v161.1h112.4v-50.7zm-122.3-9.6A47.12 47.12 0 0 1 221 97.8c0-26 21.1-47.1 47.1-47.1 16.7 0 31.4 8.7 39.7 21.8l42.7-27.2A97.63 97.63 0 0 0 268.1 0c-36.5 0-68.3 20.1-85.1 49.7A98 98 0 0 0 97.8 0C43.9 0 0 43.9 0 97.8s43.9 97.8 97.8 97.8c36.5 0 68.3-20.1 85.1-49.7a97.76 97.76 0 0 0 149.6 25.4l19.4 22.2h3v-87.8h-80l24.3 27.5zM97.8 145c-26 0-47.1-21.1-47.1-47.1s21.1-47.1 47.1-47.1 47.2 21 47.2 47S123.8 145 97.8 145"></path>
                </svg>
                <span class="govuk-footer__licence-description">
                    All content is available under the
                    <a class="govuk-footer__link" href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence v3.0</a>, except where otherwise stated
                </span>
            </div>
            <div class="govuk-footer__meta-item">
                <a class="govuk-footer__link govuk-footer__copyright-logo" href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/uk-government-licensing-framework/crown-copyright/">© Crown copyright</a>
            </div>
        </div>
    </div>
</footer>
<div id="global-app-error" class="app-error hidden"></div>

    <script src="/find-a-learning-aim/assets/dist/js/pollyfills.js?v=enbtseasxmen5WIAZVDRvEKoj-FTVytSmIIV0ulPo7k"></script>

    
    
        <script src="/find-a-learning-aim/lib/govuk-frontend/all.min.js?v=50KcBXY7upOn4HAbUZVPCnkxRXj0D6mnmhQaIS7sLEM"></script>
    

    <script src="/find-a-learning-aim/assets/dist/js/app/Layout/footer.js?v=EqC1IoExuK5tc2voaK2lZfgklxrJiXOiR8yK54ZeWLQ"></script>

    
    <script type="application/json" id="initialState">
    {"learnAimRef":"4000935X","learningAimTitle":"Access to HE Diploma (Health and Social Care)"}
</script>
    <script src="/find-a-learning-aim/assets/dist/js/aimDetails.js?v=Z2O-BUuRMafu_zoEi3oC-hg8XBdMszrqmSQtN3DWfVQ"></script>


</body>

</body>
 
{% endblock %}
