{% extends "layoutsld.html" %}

{% block pageTitle %}
  Submissions - FE Teacher FTE Snapshot
{% endblock %}

{% block content %}

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Live
    </strong>
    <span class="govuk-phase-banner__text">
      Your <a class="govuk-link" href="#" target="_blank">feedback (opens in new tab)</a> will help us improve the service.
    </span>
  </p>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full govuk-!-text-align-right govuk-!-padding-top-2">
        <span class="govuk-body">Niamh Gallagher UKPRN:10033670</span>
        <a href="#" class="govuk-link govuk-!-margin-left-2">Sign out</a>
    </div>
</div>

<a href="javascript:history.back()" class="govuk-back-link">Back</a>

<main class="govuk-main-wrapper" id="content" role="main">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <span class="govuk-caption-l">FE Teacher FTE Snapshot Collection</span>
        <h1 class="govuk-heading-l">Submissions</h1>

        <form method="get">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                        Filter by year
                    </legend>
                    <div id="filter-hint" class="govuk-hint">
                        The page will refresh after you select each filter.
                    </div>
                    
                    <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="year-2526" name="years" type="checkbox" value="2526" checked>
                            <label class="govuk-label govuk-checkboxes__label" for="year-2526">
                                2025 to 2026
                            </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="year-2425" name="years" type="checkbox" value="2425" checked>
                            <label class="govuk-label govuk-checkboxes__label" for="year-2425">
                                2024 to 2025
                            </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="year-2324" name="years" type="checkbox" value="2324">
                            <label class="govuk-label govuk-checkboxes__label" for="year-2324">
                                2023 to 2024
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>
        </form>

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        <h2 class="govuk-heading-m">Academic Year 2025 to 2026</h2>
        <p class="govuk-body">
            There is no data currently submitted for the 2025 to 2026 academic year.
        </p>
        <p class="govuk-body govuk-!-margin-bottom-7">
            <a href="/start-snapshot-2526" class="govuk-link">Submit FTE Snapshot data</a>
        </p>

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        <h2 class="govuk-heading-m">Academic Year 2024 to 2025</h2>
        
        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Status</dt>
                <dd class="govuk-summary-list__value">
                    <strong class="govuk-tag govuk-tag--green">Submitted</strong>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Submitted by</dt>
                <dd class="govuk-summary-list__value">Niamh Gallagher</dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Date</dt>
                <dd class="govuk-summary-list__value">20 January 2025 at 2:30pm</dd>
            </div>
             <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Total FTE</dt>
                <dd class="govuk-summary-list__value">125.00</dd>
            </div>
        </dl>
        
        <p class="govuk-body">
            <a href="/view-snapshot-2425" class="govuk-link">View or amend submission</a>
        </p>

    </div>
  </div>
</main>

{% endblock %}