{% extends "layoutsld.html" %}

{% block pageTitle %}
  FE Teacher FTE Snapshot Collection - Submit learner data
{% endblock %}

{% block content %}

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Live
    </strong>
    <span class="govuk-phase-banner__text">
      Your <a class="govuk-link" href="#" target="_blank">feedback (opens in new tab)</a> will help us improve the service.
    </span>
  </p>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full govuk-!-text-align-right govuk-!-padding-top-2">
        <span class="govuk-body">Niamh Gallagher UKPRN:10033670</span>
        <a href="#" class="govuk-link govuk-!-margin-left-2">Sign out</a>
    </div>
</div>

<a href="javascript:history.back()" class="govuk-back-link">Back</a>

<main class="govuk-main-wrapper" id="content" role="main">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">
            FE Teacher FTE Snapshot Collection
        </h1>

        <p class="govuk-body">
            Below is a summary of the Full-Time Equivalent (FTE) figures you have submitted or confirmed.
        </p>

        <h2 class="govuk-heading-m">Submitted data</h2>

        <table class="govuk-table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Academic year</th>
                    <th scope="col" class="govuk-table__header">Total FTE</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">2023 to 2024</td>
                    <td class="govuk-table__cell">13.00</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">2024 to 2025</td>
                    <td class="govuk-table__cell">125.00</td>
                </tr>
                 <tr class="govuk-table__row">
                    <td class="govuk-table__cell">2025 to 2026</td>
                    <td class="govuk-table__cell">Pending</td>
                </tr>
            </tbody>
        </table>

        <form action="/dashboard" method="post">
            <button class="govuk-button" data-module="govuk-button">
                Finish
            </button>
        </form>

    </div>
  </div>
</main>

{% endblock %}