{% extends "layoutsld.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}
{% block content %}

<a href="/FEWAddStaffMemberCompleted" class="govuk-back-link">Back</a>


<main class="govuk-main-wrapper" id="content" role="main">
        <div class="govuk-grid-row flex">

<div class="govuk-grid-column-full">
    <form method="post" action="/few/roles/check-job-roles">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
<span class="govuk-caption-m"> {{ data['StaffMember.FirstName'] }} {{ data['StaffMember.LastName'] }}</span>

                <input type="hidden" data-val="true" data-val-required="The StaffId field is required." id="StaffId" name="StaffId" value="1452">
                <input type="hidden" id="StaffName" name="StaffName" value="">


              <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="govuk-fieldset__heading">What are their job roles?</h1>
                  </legend>
                  <div class="govuk-hint">
                    Select one or more job roles for the staff member.
                </div>
                <div class="govuk-hint">
                 Then select up to 5 sub roles (in total) that are most relevant to the staff member's job activities.
                </div>
                  <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="JobRole" name="JobRole" type="checkbox" value="Senior Leader" data-aria-controls="conditional-SeniorLeader">
                      <label class="govuk-label govuk-checkboxes__label" for="SeniorLeader">
                        Senior Leader
                      </label>
                    </div>

                    <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-SeniorLeader">
                      <div class="govuk-checkboxes" data-module="govuk-checkboxes">

                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="SubRole" name="SubRole" type="checkbox" value="Assistant Head">
                          <label class="govuk-label govuk-checkboxes__label" for="AssistantHead">
                            Assistant Head
                          </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="SubRole" name="SubRole" type="checkbox" value="Assistant Principle">
                          <label class="govuk-label govuk-checkboxes__label" for="AssistantPrinciple">
                            Assistant Principle
                          </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="SubRole" name="SubRole" type="checkbox" value="CEO">
                          <label class="govuk-label govuk-checkboxes__label" for="CEO">
                            CEO
                          </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="SubRole" name="SubRole" type="checkbox" value="Director">
                            <label class="govuk-label govuk-checkboxes__label" for="Director">
                              Director
                            </label>
                        </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="SubRole" name="SubRole" type="checkbox" value="Executive Head Teacher">
                            <label class="govuk-label govuk-checkboxes__label" for="ExecutiveHead">
                              Executive Head Teacher
                            </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="SubRole" name="SubRole" type="checkbox" value="Head Teacher">
                            <label class="govuk-label govuk-checkboxes__label" for="HeadTeacher">
                              Head Teacher
                            </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="SubRole" name="SubRole" type="checkbox" value="Managing Director">
                            <label class="govuk-label govuk-checkboxes__label" for="MD">
                              Managing Director
                            </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="SubRole" name="SubRole" type="checkbox" value="Principle">
                            <label class="govuk-label govuk-checkboxes__label" for="Principle">
                              Principle
                            </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="SubRole" name="SubRole" type="checkbox" value="Senior Manager">
                            <label class="govuk-label govuk-checkboxes__label" for="nationality-3">
                              Senior Manager
                            </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="SubRole" name="SubRole" type="checkbox" value="Vice Principle">
                            <label class="govuk-label govuk-checkboxes__label" for="SeniorManager">
                              Vice Principle
                            </label>
                          </div>
                      </div>
                    </div>



                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="JobRole" name="JobRole" type="checkbox" value="Manager" data-aria-controls="conditional-Manager">
                      <label class="govuk-label govuk-checkboxes__label" for="Manager">
                        Manager
                      </label>
                    </div>

                    <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-Manager">
                      <div class="govuk-checkboxes" data-module="govuk-checkboxes">

                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="SubRole" name="SubRole" type="checkbox" value="Curriculum Lead">
                          <label class="govuk-label govuk-checkboxes__label" for="CurriculumLead">
                            Curriculum Lead
                          </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="SubRole" name="SubRole" type="checkbox" value="Faculty Lead">
                          <label class="govuk-label govuk-checkboxes__label" for="FacultyLead">
                            Faculty Lead
                          </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="SubRole" name="SubRole" type="checkbox" value="Functional Manager">
                          <label class="govuk-label govuk-checkboxes__label" for="FunctionalManager">
                            Functional Manager
                          </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="SubRole" name="SubRole" type="checkbox" value="Head of Department">
                          <label class="govuk-label govuk-checkboxes__label" for="HeadOfDepartment">
                            Head of Department 
                          </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="SubRole" name="SubRole" type="checkbox" value="Programme Lead">
                          <label class="govuk-label govuk-checkboxes__label" for="ProgrammeLead">
                            Programme Lead
                          </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="SubRole" name="SubRole" type="checkbox" value="Quality Assurance Manager">
                          <label class="govuk-label govuk-checkboxes__label" for="QualityAssuranceManager">
                            Quality Assurance Manager 
                          </label>
                        </div>

                      </div>
                    </div>

                    
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="JobRole" name="JobRole" type="checkbox" value="Teacher" data-aria-controls="conditional-Teacher">
                      <label class="govuk-label govuk-checkboxes__label" for="Teacher">
                        Teacher
                      </label>
                    </div>

                    <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-Teacher">
                      <div class="govuk-checkboxes" data-module="govuk-checkboxes">


                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="SubRole" name="SubRole" type="checkbox" value="Advanced Practitioner">
                          <label class="govuk-label govuk-checkboxes__label" for="AdvancedPractitioner">
                            Advanced Practitioner
                          </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="SubRole" name="SubRole" type="checkbox" value="Instructor">
                          <label class="govuk-label govuk-checkboxes__label" for="Instructor">
                            Instructor
                          </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="SubRole" name="SubRole" type="checkbox" value="Lecturer">
                          <label class="govuk-label govuk-checkboxes__label" for="Lecturer">
                            Lecturer
                          </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="SubRole" name="SubRole" type="checkbox" value="Practitioner">
                          <label class="govuk-label govuk-checkboxes__label" for="Practitioner">
                            Practitioner
                          </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="SubRole" name="SubRole" type="checkbox" value="Teacher">
                          <label class="govuk-label govuk-checkboxes__label" for="Teacher">
                            Teacher 
                          </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="SubRole" name="SubRole" type="checkbox" value="Trainer">
                          <label class="govuk-label govuk-checkboxes__label" for="Trainer">
                            Trainer 
                          </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="SubRole" name="SubRole" type="checkbox" value="Tutor">
                          <label class="govuk-label govuk-checkboxes__label" for="Tutor">
                            Tutor
                          </label>
                        </div>

                      </div>
                    </div>



                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="JobRole" name="JobRole" type="checkbox" value="Teaching Support" data-aria-controls="conditional-TeachingSupport">
                      <label class="govuk-label govuk-checkboxes__label" for="TeachingSupport">
                        Teaching Support
                      </label>
                    </div>

                    <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-TeachingSupport">
                      <div class="govuk-checkboxes" data-module="govuk-checkboxes">

                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="SubRole" name="SubRole" type="checkbox" value="Assessor">
                          <label class="govuk-label govuk-checkboxes__label" for="Assessor">
                            Assessor
                          </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="SubRole" name="SubRole" type="checkbox" value="Behaviour Specialist">
                          <label class="govuk-label govuk-checkboxes__label" for="BehaviourSpecialist">
                            Behaviour Specialist
                          </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="SubRole" name="SubRole" type="checkbox" value="Bilingual Support Assistant">
                          <label class="govuk-label govuk-checkboxes__label" for="BilingualSupportAssistant">
                            Bilingual Support Assistant
                          </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="SubRole" name="SubRole" type="checkbox" value="Careers Advisor">
                          <label class="govuk-label govuk-checkboxes__label" for="CareersAdvisor">
                            Careers Advisor
                          </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="SubRole" name="SubRole" type="checkbox" value="Counsellor">
                          <label class="govuk-label govuk-checkboxes__label" for="Counsellor">
                            Counsellor
                          </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="SubRole" name="SubRole" type="checkbox" value="Cover Supervisor">
                          <label class="govuk-label govuk-checkboxes__label" for="CoverSupervisor">
                            Cover Supervisor
                          </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="SubRole" name="SubRole" type="checkbox" value="Education Welfare Officer">
                          <label class="govuk-label govuk-checkboxes__label" for="EducationWelfareOfficer">
                            Education Welfare Officer
                          </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="SubRole" name="SubRole" type="checkbox" value="Higher Level Teaching Assistant">
                          <label class="govuk-label govuk-checkboxes__label" for="HigherLevelTeachingAssistant">
                            Higher Level Teaching Assistant
                          </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="SubRole" name="SubRole" type="checkbox" value="Language Support">
                          <label class="govuk-label govuk-checkboxes__label" for="LanguageSupport">
                            Language Support
                          </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="SubRole" name="SubRole" type="checkbox" value="Learning Facilitator">
                          <label class="govuk-label govuk-checkboxes__label" for="LearningFacilitator">
                            Learning Facilitator
                          </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="SubRole" name="SubRole" type="checkbox" value="Learning Mentor">
                          <label class="govuk-label govuk-checkboxes__label" for="LearningMentor">
                            Learning Mentor
                          </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="SubRole" name="SubRole" type="checkbox" value="Learning Support">
                          <label class="govuk-label govuk-checkboxes__label" for="LearningSupport">
                            Learning Support
                          </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="SubRole" name="SubRole" type="checkbox" value="Learning Support Assistant (SEN)">
                          <label class="govuk-label govuk-checkboxes__label" for="LearningSupportAssistant">
                            Learning Support Assistant (SEN)
                          </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="SubRole" name="SubRole" type="checkbox" value="Librarian">
                          <label class="govuk-label govuk-checkboxes__label" for="Librarian">
                            Librarian
                          </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="SubRole" name="SubRole" type="checkbox" value="Pastoral Support">
                          <label class="govuk-label govuk-checkboxes__label" for="PastoralSupport">
                            Pastoral Support
                          </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="SubRole" name="SubRole" type="checkbox" value="SEN Co-ordinator">
                          <label class="govuk-label govuk-checkboxes__label" for="SENCoordinator">
                            SEN Co-ordinator
                          </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="SubRole" name="SubRole" type="checkbox" value="Teaching Assistant">
                          <label class="govuk-label govuk-checkboxes__label" for="TeachingAssistant">
                            Teaching Assistant
                          </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="SubRole" name="SubRole" type="checkbox" value="Technician">
                          <label class="govuk-label govuk-checkboxes__label" for="Technician">
                            Technician
                          </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="SubRole" name="SubRole" type="checkbox" value="Therapist">
                          <label class="govuk-label govuk-checkboxes__label" for="Therapist">
                            Therapist
                          </label>
                        </div>

                      </div>
                    </div>

                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="JobRole" name="JobRole" type="checkbox" value="Administration" data-aria-controls="conditional-Administration">
                      <label class="govuk-label govuk-checkboxes__label" for="Administration">
                        Administration
                      </label>
                    </div>

                    <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-Administration">
                      <div class="govuk-checkboxes" data-module="govuk-checkboxes">

                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="SubRole" name="SubRole" type="checkbox" value="Administrator">
                          <label class="govuk-label govuk-checkboxes__label" for="Administrator">
                            Administrator
                          </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="SubRole" name="SubRole" type="checkbox" value="Admissions">
                          <label class="govuk-label govuk-checkboxes__label" for="Admissions">
                            Admissions
                          </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="SubRole" name="SubRole" type="checkbox" value="Apprenticeships Administrator">
                          <label class="govuk-label govuk-checkboxes__label" for="ApprenticeshipsAdministrator">
                            Apprenticeships Administrator
                          </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="SubRole" name="SubRole" type="checkbox" value="Bursar">
                          <label class="govuk-label govuk-checkboxes__label" for="Bursar">
                            Bursar
                          </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="SubRole" name="SubRole" type="checkbox" value="Business Manager">
                          <label class="govuk-label govuk-checkboxes__label" for="BusinessManager">
                            Business Manager
                          </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="SubRole" name="SubRole" type="checkbox" value="Clerk">
                          <label class="govuk-label govuk-checkboxes__label" for="Clerk">
                            Clerk
                          </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="SubRole" name="SubRole" type="checkbox" value="Communication Support">
                          <label class="govuk-label govuk-checkboxes__label" for="CommunicationSupport">
                            Communication Support
                          </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="SubRole" name="SubRole" type="checkbox" value="Data Analyst">
                          <label class="govuk-label govuk-checkboxes__label" for="DataAnalyst">
                            Data Analyst
                          </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="SubRole" name="SubRole" type="checkbox" value="DSL and Safe Guarding Officer">
                          <label class="govuk-label govuk-checkboxes__label" for="DSL">
                            DSL and Safe Guarding Officer
                          </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="SubRole" name="SubRole" type="checkbox" value="Employer Engagement">
                          <label class="govuk-label govuk-checkboxes__label" for="EmployerEngagement">
                            Employer Engagement
                          </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="SubRole" name="SubRole" type="checkbox" value="Examinations Administrator">
                          <label class="govuk-label govuk-checkboxes__label" for="ExaminationsAdministrator">
                            Examinations Administrator
                          </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="SubRole" name="SubRole" type="checkbox" value="External Grants and Funding">
                          <label class="govuk-label govuk-checkboxes__label" for="ExternalGrants">
                            External Grants and Funding
                          </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="SubRole" name="SubRole" type="checkbox" value="Finance Officer">
                          <label class="govuk-label govuk-checkboxes__label" for="FinanceOfficer">
                            Finance Officer
                          </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="SubRole" name="SubRole" type="checkbox" value="Human Resources (HR)">
                          <label class="govuk-label govuk-checkboxes__label" for="HumanResources">
                            Human Resources (HR)
                          </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="SubRole" name="SubRole" type="checkbox" value="ICT Network Manager">
                          <label class="govuk-label govuk-checkboxes__label" for="ICTNetworkManager">
                            ICT Network Manager
                          </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="SubRole" name="SubRole" type="checkbox" value="Information Services (MIS)">
                          <label class="govuk-label govuk-checkboxes__label" for="InformationServices">
                            Information Services (MIS)
                          </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="SubRole" name="SubRole" type="checkbox" value="Marketing Administrator">
                          <label class="govuk-label govuk-checkboxes__label" for="MarketingAdministrator">
                            Marketing Administrator
                          </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="SubRole" name="SubRole" type="checkbox" value="Office Manager">
                          <label class="govuk-label govuk-checkboxes__label" for="OfficeManager">
                            Office Manager
                          </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="SubRole" name="SubRole" type="checkbox" value="Payroll Administrator">
                          <label class="govuk-label govuk-checkboxes__label" for="PayrollAdministrator">
                            Payroll Administrator
                          </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="SubRole " name="SubRole" type="checkbox" value="Programme recruitment ">
                          <label class="govuk-label govuk-checkboxes__label" for="Programmerecruitment">
                            Programme recruitment 
                          </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="SubRole" name="SubRole" type="checkbox" value="Receptionist">
                          <label class="govuk-label govuk-checkboxes__label" for="Receptionist">
                            Receptionist
                          </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="SubRole" name="SubRole" type="checkbox" value="Secretary">
                          <label class="govuk-label govuk-checkboxes__label" for="Secretary">
                            Secretary
                          </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="SubRole " name="SubRole " type="checkbox" value="Technology Support ">
                          <label class="govuk-label govuk-checkboxes__label" for="TechnologySupport">
                            Technology Support 
                          </label>
                        </div>

                      </div>
                    </div>


                  </div>
                </fieldset>
              </div>

    </div>

            </div>
        </div>
        <br>
        <button class="govuk-button" type="submit" id="submit">Save and continue</button>
        <button class="govuk-button" type="submit" formaction="/FEWTeachingResponsibilities">Prototype - I have selected manager, teaching support or admin only</button>
        <button class="govuk-button" type="submit" formaction="/FEWWhatQualsProgrammes">Prototype - I have selected teacher only</button>
        <button class="govuk-button" type="submit" formaction="/FEWLeaderHead">Prototype - I have selected senior leader only</button>

      </div>


                </div>
            </div>
        </main>
    </div>
</body>



{% endblock %}