{% extends "layoutsld.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<a href="javascript:history.back()" class="govuk-back-link">Back</a>

<main class="govuk-main-wrapper" id="content" role="main">
    <div class="govuk-grid-row flex">
        <div class="govuk-grid-column-full">
            <form method="post" action="">
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full">
                        <span class="govuk-caption-m"> {{ data['StaffMember.FirstName'] }} {{ data['StaffMember.LastName'] }}</span>

                        <div class="govuk-form-group">
                            <fieldset class="govuk-fieldset" aria-describedby="job-roles-hint">
                                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                                    <h1 class="govuk-fieldset__heading">What are their job roles?</h1>
                                </legend>
                                <div id="job-roles-hint" class="govuk-hint">
                                    A staff member can have multiple job roles within the organisation, therefore select all options that are relevant to the staff member's job activities within the organisation.
                                </div>
                                <div class="govuk-checkboxes" data-module="govuk-checkboxes">

                                    <!-- Senior Leader Checkbox -->
                                    <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="jobrole-senior-leader" name="JobRole" type="checkbox" value="Senior Leader" {{ checked("JobRole", "Senior Leader") }}>
                                        <label class="govuk-label govuk-checkboxes__label" for="jobrole-senior-leader">
                                            Senior Leader
                                        </label>
                                        <div class="govuk-hint govuk-checkboxes__hint">
                                            Assistant Head, Assistent Principal, CEO, Director, Executive Head Teacher, Head Teacher, Managing Director, Principal, Senior Manager, Vice-Principal
                                        </div>
                                    </div>

                                    <!-- Manager Checkbox -->
                                    <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="jobrole-manager" name="JobRole" type="checkbox" value="Manager" {{ checked("JobRole", "Manager") }}>
                                        <label class="govuk-label govuk-checkboxes__label" for="jobrole-manager">
                                            Manager
                                        </label>
                                        <div class="govuk-hint govuk-checkboxes__hint">
                                            Curriculum Lead, Faculty Lead, Functional Manager, Head of Department, Programme Lead, Quality Assurance Manager
                                        </div>
                                    </div>

                                    <!-- Teacher Checkbox with Conditional Reveal -->
                                    <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="jobrole-teacher" name="JobRole" type="checkbox" value="Teacher" {{ checked("JobRole", "Teacher") }} data-aria-controls="conditional-ni-number-field">
                                        <label class="govuk-label govuk-checkboxes__label" for="jobrole-teacher">
                                            Teacher
                                        </label>
                                        <div class="govuk-hint govuk-checkboxes__hint">
                                            Advanced Practitioner, Instructor, Lecturer, Practitioner, Teacher, Trainer, Tutor
                                        </div>
                                    </div>

                                    <!-- Conditionally Revealed National Insurance Number Field -->
                                    <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-ni-number-field">
                                        <div class="govuk-form-group">
                                            <label class="govuk-label" for="national-insurance-number">
                                                National Insurance number
                                            </label>
                                            <div id="national-insurance-number-hint" class="govuk-hint">
                                                It’s on your National Insurance card, benefit letter, payslip or P60 – for example, ‘QQ 12 34 56 C’
                                            </div>
                                            <input class="govuk-input govuk-input--width-10 govuk-input--extra-letter-spacing" id="national-insurance-number" name="nationalInsuranceNumber" type="text" spellcheck="false" aria-describedby="national-insurance-number-hint">
                                        </div>
                                    </div>

                                    <!-- Support Checkbox -->
                                    <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="jobrole-support" name="JobRole" type="checkbox" value="Teaching Support" {{ checked("JobRole", "Teaching Support") }}>
                                        <label class="govuk-label govuk-checkboxes__label" for="jobrole-support">
                                            Support
                                        </label>
                                        <div class="govuk-hint govuk-checkboxes__hint">
                                            Assessor, Behaviour Specialist, Bilingual Support Assistant, Careers Advisor, Counsellor, Cover Supervisor, Education Welfare Officer, Higher Level Teaching Assistant, Language Support, Learning Facilitator, Learning Mentor, Learning Support, Learning Support Assistant (SEN), Librarian, Pastoral Support, SEN Co-ordinator, Sports Coach, Teaching Assistant, Technician, Therapist
                                        </div>
                                    </div>

                                    <!-- Administration Checkbox -->
                                    <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="jobrole-administration" name="JobRole" type="checkbox" value="Administration" {{ checked("JobRole", "Administration") }}>
                                        <label class="govuk-label govuk-checkboxes__label" for="jobrole-administration">
                                            Administration
                                        </label>
                                        <div class="govuk-hint govuk-checkboxes__hint">
                                            Administrator, Admissions, Apprenticeships Administrator, Bursar, Business Manager, Clerk, Communication Support, Data Analyst, DSL and Safe Guarding Officer, Employer Engagement, Examinations Administrator, External Grants and Funding, Finance Officer, Human Resources (HR), ICT Network Manager, Information Services (MIS), Legal, Marketing Administrator, Office Manager, Payroll Administrator, Programme recruitment, Receptionist, Secretary, Technology Support
                                        </div>
                                    </div>

                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
                <br>
                <button class="govuk-button" type="submit" formaction="/FEWAddSubRole">Save and continue</button><br>
            </form>
        </div>
    </div>
</main>

{% endblock %}
