{% extends "layoutsld.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}


{% block content %}

<a href="FEWStaffSummaryOpen.html" class="govuk-back-link">Back</a>


<main class="govuk-main-wrapper" id="content" role="main">
    <div class="govuk-grid-row flex">
        <div class="govuk-grid-column-two-thirds">
            

            

<div class="govuk-grid-row">
<div class="govuk-grid-column-full">
<h1 class="govuk-heading">Add a member of staff</h1>

<p class="govuk-body">
    Record FE staff data
</p>

<details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
            Help with recording roles
        </span>
    </summary>
    <div class="govuk-details__text">
        Record the following roles:
        <ul class="govuk-list govuk-list--bullet">
            <li>Senior Leaders</li>
            <li>Manager</li>
            <li>Teacher</li>
            <li>Teaching Support</li>
            <li>Administration</li>
        </ul>
    </div>
</details>

<form method="post" id="radio-group" action="/few/staff/add-staff-member">
    <div class="govuk-form-group">
        <input type="hidden" data-val="true" data-val-required="The StaffId field is required." id="StaffId" name="StaffId" value="0">
        <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                <h2 class="govuk-fieldset__heading">
                    Staff name
                </h2>
            </legend>
            

            <div class="govuk-form-group" id="first-Name">
                <label class="govuk-label" for="firstName">
                    First name
                </label>
                <div class="govuk-hint">
                    <p>The first name or forename of the staff member, which might not be the staff member’s legal name but the name used within the organisation.</p>
                </div>
                
                <input class="govuk-input govuk-!-width-two-thirds" id="firstName" maxlength="100" type="text" aria-describedby="firstNameError" name="StaffMember.FirstName" value="{{ data['StaffMember.FirstName'] }}">
            </div>

            <div class="govuk-form-group" id="last-Name">
                <label class="govuk-label" for="lastName">
                    Last name
                </label>
                <div class="govuk-hint">
                    <p>The surname of the staff member, which might not be the staff member’s legal name but the name used within the organisation.</p>
                </div>
                
                <input class="govuk-input govuk-!-width-two-thirds" id="lastName" maxlength="100" type="text" aria-describedby="lastNameError" name="StaffMember.LastName" value="{{ data['StaffMember.LastName'] }}">
            </div>
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                <h2 class="govuk-fieldset__heading">
                    National Insurance number 
                </h2>
            </legend>
            <div class="govuk-form-group govuk-form-group--error">
                <label class="govuk-label" for="national-insurance-number">
                  National Insurance number
                </label>
                <div id="national-insurance-number-hint" class="govuk-hint">
                    It’s on your National Insurance card, benefit letter, payslip or P60. For example, ‘QQ 12 34 56 C’.
                </div>
                <p id="national-insurance-number-error" class="govuk-error-message">
                  <span class="govuk-visually-hidden">Error:</span> Enter a National Insurance number in the correct format
                </p>
                <input class="govuk-input govuk-input--error" id="national-insurance-number" name="nationalInsuranceNumber" type="text" aria-describedby="national-insurance-number-hint national-insurance-number-error">
            </div>


        </fieldset>
    </div>

    <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                <h2 class="govuk-fieldset__heading">
                    Date of birth
                </h2>
            </legend>
            <div id="dob-hint" class="govuk-hint">
                For example, 31 3 1980.
            </div>
            <div id="dob-hint" class="govuk-hint">
               <p>Staff members must be at least 16 years old and the upper age limit is 100.</p>
            </div>
         
           
            <div class="govuk-date-input" id="dob">
                <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="dobDay">
                            Day
                        </label>
                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" err="" id="dobDay" type="text" pattern="[0-9]*" inputmode="numeric" name="StaffMember.DobDay" value="{{ data['StaffMember.DobDay'] }}">
                    </div>
                </div>
                <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="dobMonth">
                            Month
                        </label>
                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dobMonth" type="text" pattern="[0-9]*" inputmode="numeric" name="StaffMember.DobMonth" value="{{ data['StaffMember.DobMonth'] }}">
                    </div>
                </div>
                <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="dobYear">
                            Year
                        </label>
                        <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="dobYear" type="text" pattern="[0-9]*" inputmode="numeric" name="StaffMember.DobYear" value="{{ data['StaffMember.DobYear'] }}">
                    </div>
                </div>
            </div>
        </fieldset>
    </div>

            <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
        
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h2 class="govuk-fieldset__heading">
            </h2>
        </legend>

                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                    <h3 class="govuk-fieldset__heading">
                        Gender
                    </h3>
                </legend>
                <div id="gender-hint" class="govuk-hint">
                    <p>The declared gender of the staff member.</p>
                 </div>
            <div class="govuk-radios">
                        <div class="govuk-radios__item">
                            <input id="LookupItemId21" name="StaffMember.GenderId" value="Female" class="govuk-radios__input" type="radio">
                            <label for="LookupItemId21" class="govuk-label govuk-radios__label">
                                Female
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input id="LookupItemId20" name="StaffMember.GenderId" value="Male" class="govuk-radios__input" type="radio">
                            <label for="LookupItemId20" class="govuk-label govuk-radios__label">
                                Male
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input id="LookupItemId22" name="StaffMember.GenderId" value="Identifies in another way" class="govuk-radios__input" type="radio">
                            <label for="LookupItemId22" class="govuk-label govuk-radios__label">
                                Identifies in another way
                            </label>
                        </div>
                        <div class="govuk-radios__divider">or</div>
                        <div class="govuk-radios__item">
                            <input id="LookupItemId24" name="StaffMember.GenderId" value="Prefer not to say" class="govuk-radios__input" type="radio">
                            <label for="LookupItemId24" class="govuk-label govuk-radios__label">
                                Prefer not to say
                            </label>
                        </div>
            </div>
            <br>
    </fieldset>
</div>
<div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
        
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h2 class="govuk-fieldset__heading">
Ethnicity                    </h2>
        </legend>
        <div id="ethnicity-hint" class="govuk-hint">
            <p>The ethnic origin of the staff member.</p>
         </div>

        

                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                    <h3 class="govuk-fieldset__heading">
                        White
                    </h3>
                </legend>
            <div class="govuk-radios">
                        <div class="govuk-radios__item">
                            <input id="LookupItemId1" name="StaffMember.EthnicityId" value="English, Welsh, Scottish, Northern Irish or British" class="govuk-radios__input" type="radio">
                            <label for="LookupItemId1" class="govuk-label govuk-radios__label">
                                English, Welsh, Scottish, Northern Irish or British
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input id="LookupItemId2" name="StaffMember.EthnicityId" value="Irish" class="govuk-radios__input" type="radio">
                            <label for="LookupItemId2" class="govuk-label govuk-radios__label">
                                Irish
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input id="LookupItemId3" name="StaffMember.EthnicityId" value="Gypsy or Irish Traveller" class="govuk-radios__input" type="radio">
                            <label for="LookupItemId3" class="govuk-label govuk-radios__label">
                                Gypsy or Irish Traveller
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input id="LookupItemId29" name="StaffMember.EthnicityId" value="Roma" class="govuk-radios__input" type="radio">
                            <label for="LookupItemId29" class="govuk-label govuk-radios__label">
                                Roma
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input id="LookupItemId4" name="StaffMember.EthnicityId" value="Any Other White background" class="govuk-radios__input" type="radio">
                            <label for="LookupItemId4" class="govuk-label govuk-radios__label">
                                Any Other White background
                            </label>
                        </div>
            </div>
            <br>
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                    <h3 class="govuk-fieldset__heading">
                        Mixed / Multiple ethnic groups
                    </h3>
                </legend>
            <div class="govuk-radios">
                        <div class="govuk-radios__item">
                            <input id="LookupItemId5" name="StaffMember.EthnicityId" value="White and Black Caribbean" class="govuk-radios__input" type="radio">
                            <label for="LookupItemId5" class="govuk-label govuk-radios__label">
                                White and Black Caribbean
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input id="LookupItemId6" name="StaffMember.EthnicityId" value="White and Black African" class="govuk-radios__input" type="radio">
                            <label for="LookupItemId6" class="govuk-label govuk-radios__label">
                                White and Black African
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input id="LookupItemId7" name="StaffMember.EthnicityId" value="White and Asian" class="govuk-radios__input" type="radio">
                            <label for="LookupItemId7" class="govuk-label govuk-radios__label">
                                White and Asian
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input id="LookupItemId8" name="StaffMember.EthnicityId" value="Any Other Mixed or Multiple background" class="govuk-radios__input" type="radio">
                            <label for="LookupItemId8" class="govuk-label govuk-radios__label">
                                Any Other Mixed or Multiple background
                            </label>
                        </div>
            </div>
            <br>
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                    <h3 class="govuk-fieldset__heading">
                        Asian / Asian British
                    </h3>
                </legend>
            <div class="govuk-radios">
                        <div class="govuk-radios__item">
                            <input id="LookupItemId9" name="StaffMember.EthnicityId" value="Indian" class="govuk-radios__input" type="radio">
                            <label for="LookupItemId9" class="govuk-label govuk-radios__label">
                                Indian
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input id="LookupItemId10" name="StaffMember.EthnicityId" value="Pakistani" class="govuk-radios__input" type="radio">
                            <label for="LookupItemId10" class="govuk-label govuk-radios__label">
                                Pakistani
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input id="LookupItemId11" name="StaffMember.EthnicityId" value="Bangladeshi" class="govuk-radios__input" type="radio">
                            <label for="LookupItemId11" class="govuk-label govuk-radios__label">
                                Bangladeshi
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input id="LookupItemId12" name="StaffMember.EthnicityId" value="Chinese" class="govuk-radios__input" type="radio">
                            <label for="LookupItemId12" class="govuk-label govuk-radios__label">
                                Chinese
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input id="LookupItemId13" name="StaffMember.EthnicityId" value="Any other Asian background" class="govuk-radios__input" type="radio">
                            <label for="LookupItemId13" class="govuk-label govuk-radios__label">
                                Any other Asian background
                            </label>
                        </div>
            </div>
            <br>
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                    <h3 class="govuk-fieldset__heading">
                        Black / African / Caribbean / Black British
                    </h3>
                </legend>
            <div class="govuk-radios">
                        <div class="govuk-radios__item">
                            <input id="LookupItemId14" name="StaffMember.EthnicityId" value="African background" class="govuk-radios__input" type="radio">
                            <label for="LookupItemId14" class="govuk-label govuk-radios__label">
                                African background
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input id="LookupItemId15" name="StaffMember.EthnicityId" value="Caribbean" class="govuk-radios__input" type="radio">
                            <label for="LookupItemId15" class="govuk-label govuk-radios__label">
                                Caribbean
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input id="LookupItemId16" name="StaffMember.EthnicityId" value="Any other Black, Black British or Caribbean background" class="govuk-radios__input" type="radio">
                            <label for="LookupItemId16" class="govuk-label govuk-radios__label">
                                Any other Black, Black British or Caribbean background
                            </label>
                        </div>
            </div>
            <br>
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                    <h3 class="govuk-fieldset__heading">
                        Other ethnic group
                    </h3>
                </legend>
            <div class="govuk-radios">
                        <div class="govuk-radios__item">
                            <input id="LookupItemId17" name="StaffMember.EthnicityId" value="Arab" class="govuk-radios__input" type="radio">
                            <label for="LookupItemId17" class="govuk-label govuk-radios__label">
                                Arab
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input id="LookupItemId18" name="StaffMember.EthnicityId" value="Any other ethnic group" class="govuk-radios__input" type="radio">
                            <label for="LookupItemId18" class="govuk-label govuk-radios__label">
                                Any other ethnic group
                            </label>
                        </div>
            </div>
            <br>
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                    <h3 class="govuk-fieldset__heading">
                        Does not wish to declare ethnicity
                    </h3>
                </legend>
            <div class="govuk-radios">
                        <div class="govuk-radios__item">
                            <input id="LookupItemId19" name="StaffMember.EthnicityId" value="Prefer not to say" class="govuk-radios__input" type="radio">
                            <label for="LookupItemId19" class="govuk-label govuk-radios__label">
                                Prefer not to 
                            </label>
                        </div>
            </div>
            <br>
    </fieldset>
</div>
<div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
        
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h2 class="govuk-fieldset__heading">
            </h2>
        </legend>

                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                    <h3 class="govuk-fieldset__heading">
                        Does the member of staff consider themselves to have a disability?
                    </h3>
                </legend>

            <div class="govuk-radios">
                        <div class="govuk-radios__item">
                            <input id="LookupItemId25" name="StaffMember.DisabilityId" value="Yes" class="govuk-radios__input" type="radio">
                            <label for="LookupItemId25" class="govuk-label govuk-radios__label">
                                Yes
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input id="LookupItemId26" name="StaffMember.DisabilityId" value="No" class="govuk-radios__input" type="radio">
                            <label for="LookupItemId26" class="govuk-label govuk-radios__label">
                                No
                            </label>
                        </div>
                        <div class="govuk-radios__divider">or</div>
                        <div class="govuk-radios__item">
                            <input id="LookupItemId28" name="StaffMember.DisabilityId" value="Prefer not to say" class="govuk-radios__input" type="radio">
                            <label for="LookupItemId28" class="govuk-label govuk-radios__label">
                                Prefer not to say
                            </label>
                        </div>
            </div>
            <br>
    </fieldset>
</div>


    <br>
    <button class="govuk-button" type="submit" formaction="/FEWAddStaffMemberCompleted">
        Save and continue
    </button>
</div>
</div>



        </div>
    </div>
</main>
</div>

</body>




{% endblock %}