{% extends "layoutsld.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}
{% block content %}

<a href="javascript:history.back()" class="govuk-back-link">Back</a>


<main class="govuk-main-wrapper" id="content" role="main">
        <div class="govuk-grid-row flex">

          <div class="govuk-grid-column-full">
    <form method="post" action="FEWCompleteStaffCollection">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">

              <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="govuk-fieldset__heading">Complete the staff data</h1>
                  </legend>
                  <div class="govuk-hint">
                    Complete the staff part of the collection.
                </div>

                <details class="govuk-details" data-module="govuk-details">
                  <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                      What if I need to update the data after I have completed it?
                    </span>
                  </summary>
                  <div class="govuk-details__text">
                    That's ok, you can update the data, but you will need to complete it again once you have finished any further changes.
                  </div>
                </details>



                  <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="CompleteCollection" name="CompleteStaffCollection" type="checkbox" value="Complete" data-aria-controls="conditional-SeniorLeader">
                      <label class="govuk-label govuk-checkboxes__label" for="SeniorLeader">
                        I confirm the staff data is complete.
                      </label>

                    </div>
                                   </div>
                </fieldset>
              </div>

    </div>

            </div>
        </div>
        <br>
        <div class="govuk-button-group">
          <button class="govuk-button"  type="submit">Continue</button>
          <button class="govuk-button govuk-button--secondary" type="submit" formaction="/FEWStaffSummaryOpen">
            Cancel
          </button>
        </div>



      </div>


                </div>
            </div>
        </main>
    </div>
</body>



{% endblock %}