{% extends "layoutsld.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}
{% block content %}

<a href="javascript:history.back()" class="govuk-back-link">Back</a>


<main class="govuk-main-wrapper" id="content" role="main">
        <div class="govuk-grid-row flex">

          <div class="govuk-grid-column-full">
    <form method="post" action="">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">

              <div class="govuk-error-summary" data-module="govuk-error-summary">
                <div role="alert">
                  <h2 class="govuk-error-summary__title">
                    There is a problem
                  </h2>
                  <div class="govuk-error-summary__body">
                    <ul class="govuk-list govuk-error-summary__list">
                      <li>
                        <a href="#">The confirmation box has not been checked</a>
                      </li>
                      <li>
                        <a href="#">Either confirm the collection is complete or cancel</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>



              <div class="govuk-form-group govuk-form-group--error">
                <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint passport-issued-error">
                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="govuk-fieldset__heading">
                      Mark the staff data collection as complete
                    </h1>
                  </legend>
                  <div id="passport-issued-hint" class="govuk-hint">
                    When you have finished adding all of your staff to the staff part of the collection it should be marked as complete.
                  </div>

                  <details class="govuk-details" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                      <span class="govuk-details__summary-text">
                        What if I need to update the data after I have marked it as complete?
                      </span>
                    </summary>
                    <div class="govuk-details__text">
                      That's ok, you can update the data, but you will need to mark it as complete again once you have finished any further changes.                    </div>
                  </details>


                  <p id="passport-issued-error" class="govuk-error-message">
                    <span class="govuk-visually-hidden">Error:</span>Confirm the staff data is complete</p>
                  <div class="govuk-date-input" id="passport-issued">
                
                    <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="JobRole" name="JobRole" type="checkbox" value="Senior Leader" {{ checked("JobRole", "Senior Leader") }} data-aria-controls="conditional-SeniorLeader">
                        <label class="govuk-label govuk-checkboxes__label" for="SeniorLeader">
                          I confirm the staff data is complete.
                        </label>
                        </div>
                    </div>                   

                  </div>
                </fieldset>
              </div>
    </div>
   </div>
</div>
        </div>

        <div class="govuk-button-group">
          <button class="govuk-button"  type="submit" formaction="/FEWCompleteStaffCollectionConfirmation">
            Continue
          </button>
          <button class="govuk-button govuk-button--secondary" type="submit" formaction="/FEWStaffSummaryOpen">
            Cancel
          </button>
        </div>



      </div>


                </div>
            </div>
        </main>
    </div>
</body>



{% endblock %}