{% extends "layoutsld.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}
{% block content %}

<a href="javascript:history.back()" class="govuk-back-link">Back</a>



<main class="govuk-main-wrapper" id="content" role="main">
<div class="govuk-grid-row flex">
<body>
    <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-visually-hidden">Warning</span>
          The current FTE up salary for this staff member is £200,000. Is this correct? <br> if this value is corrrect press continue. <br> If these details are incorrect please update the fields below. <br>
          For more information on how we calculate full time salary please visit www.SalaryScaleUp.gov.uk
        </strong>
      </div>
    
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <span class="govuk-caption-m"> {{ data['StaffMember.FirstName'] }} {{ data['StaffMember.LastName'] }}</span>
        <h1 class="govuk-heading">Employment Details</h1>
    

        <p class="govuk-body">
            Record the number of weeks per year the staff member is contracted to work, including any paid holiday. 
        </p>

        <form method="post" id="weekly-hours-form" action="/WeeksYearError">
            <div class="govuk-form-group">
                <input type="hidden" data-val="true" data-val-required="The StaffId field is required." id="StaffId" name="StaffId" value="1450">
                <fieldset class="govuk-fieldset">
 
                    <div class="govuk-form-group" id="weekly-Group">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                            <h2 class="govuk-fieldset__heading">
                                What are their weeks per year?
                            </h2>
                        </legend>
                        <div id="weekly-hours-hint" class="govuk-hint">
                            Where a staff member is contracted to work for less than 52 weeks in a year but payments are spread equally over the year, it is the number of weeks contracted to work that should be entered.  For example, if someone is on a term-time only contract for 37 weeks per year but receives their pay in twelve monthly instalments, it is 37 weeks that should be entered, not 52.
                        </div>

                        
                        <div class="govuk-input__wrapper">
                            <input class="govuk-input govuk-input--width-5" id="weeksayear" type="text" inputmode="numeric" maxlength="5" name="weeksayear" value="">
                            <div class="govuk-input__suffix" aria-hidden="true">weeks per year</div>
                        </div>
                    </div>
                </fieldset>
            </div>

            <br>
            <button class="govuk-button" type="submit" id="submit">Save and continue</button>

    </div>
</div>


    <h1 class="govuk-heading">Salary or hourly rate details</h1>

        <p class="govuk-body">
            The annual salary or hourly rate should be recorded for the main contract with the most hours.
        </p>

        <form method="post" id="salaryhourly-form" action="/few/contracts/check-annual-salary-hourly-rate">
            <div class="govuk-form-group">
                <input type="hidden" data-val="true" data-val-required="The StaffId field is required." id="StaffId" name="StaffId" value="1450">
                <fieldset class="govuk-fieldset" aria-describedby="isannual-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                        <h2 class="govuk-fieldset__heading">
                            How is the staff member paid?
                        </h2>
                    </legend>
                    <div id="isannual-hint" class="govuk-hint">
                        Select an option to add details
                    </div>
                    <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                        
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="is-annual-salary" type="radio" value="true" checked="checked" name="IsAnnualSalary" aria-controls="conditional-annual">
                            <label class="govuk-label govuk-radios__label" for="is-annual-salary">
                                Annual Salary
                            </label>
                        </div>
                        <div class="govuk-radios__conditional govuk-radios__conditional" id="conditional-annual">
                            <div class="govuk-form-group">
                                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">

                                    <h3 class="govuk-fieldset__heading">
                                        What is their annual salary?
                                    </h3>
                                </legend>
                                <div id="annual-salary-hint" class="govuk-hint">
                                    For example, enter 27420 for a salary of twenty seven thousand four hundred and twenty pounds
                                </div>
                                

                                <div class="govuk-input__wrapper">
                                    <div class="govuk-input__prefix" aria-hidden="true">£</div>
                                    <input class="govuk-input govuk-input--width-10" id="annual-salary" type="text" spellcheck="false" maxlength="7" aria-describedby="annual-salary-hint" name="Salary" value="">
                                    <div class="govuk-input__suffix" aria-hidden="true">per annum</div>

                                </div>
                            </div>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="is-annual-salary2" type="radio" value="false" name="IsAnnualSalary" aria-controls="conditional-hourly">
                            <label class="govuk-label govuk-radios__label" for="is-annual-salary2">
                                Hourly rate
                            </label>
                        </div>
                        <div class="govuk-radios__conditional govuk-radios__conditional" id="conditional-hourly">
                            <div class="govuk-form-group">
                                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">

                                    <h3 class="govuk-fieldset__heading">
                                        What is their hourly rate?
                                    </h3>
                                </legend>
                                <div id="hourly-rate-hint" class="govuk-hint">
                                    For example, enter 11.36 for an hourly rate of eleven pounds thirty six pence
                                </div>
                                

                                <div class="govuk-input__wrapper">
                                    <div class="govuk-input__prefix" aria-hidden="true">£</div>
                                    <input class="govuk-input govuk-input--width-10" id="hourly-rate" type="text" maxlength="6" aria-describedby="hourly-salary-hint" name="Rate" value="">
                                    <div class="govuk-input__suffix" aria-hidden="true">per hour</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>

            <br>
            
    </div>



    <h1 class="govuk-heading">Calculated full time equivalent (FTE)</h1>

   
    </p>
    <p class="govuk-body">
        Record the proportion of an FTE year for the staff member for the reporting period, calculated for all contracts.
    </p>

    <form method="post" id="fte-form" action="/few/contracts/check-calculated-full-time-equivalent-fte">
        <div class="govuk-form-group">
            <input type="hidden" data-val="true" data-val-required="The StaffId field is required." id="StaffId" name="StaffId" value="1450">
            <fieldset class="govuk-fieldset">
                <div class="govuk-form-group" id="fte-Group">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                        <h2 class="govuk-fieldset__heading">
                            What is their annual calculated full time equivalent (FTE)?
                        </h2>
                    </legend>
                    <div id="weekly-hours-hint" class="govuk-hint">
                        For example, if a member of staff works full time for the full year, their FTE is 1.0. 
                        If a member of staff works 60% of a full time working week for the full year, their FTE is 0.6
                    </div>

                    
                    <div class="govuk-input__wrapper">
                        <input class="govuk-input govuk-input--width-5" id="fte" type="text" inputmode="numeric" maxlength="4" name="FTE" value="">
                        <div class="govuk-input__suffix" aria-hidden="true">FTE</div>
                    </div>
                </div>
            </fieldset>
        </div>

        <br>
        
        <button class="govuk-button" type="submit" formaction="/FEWSalary">Save and continue</button>
</div>
</div>
</body>



{% endblock %}