{% extends "layoutsld.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}


{% block content %}

<a href="javascript:history.back()" class="govuk-back-link">Back</a>


        <main class="govuk-main-wrapper" id="content" role="main">
            <div class="govuk-grid-row flex">
                <div class="govuk-grid-column-two-thirds">
                    

                    

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">Governor data collection</h1>

        <p>Use this service to record governor data as at 31 July 2023.</p>

        <p>You should complete a return if your organisation is a further education <span aria-hidden="true">(FE)</span> or sixth-form college and receives funding through one or more of the following funding models:</p>

        <ul class="govuk-list govuk-list--bullet">
            <li>
                16-19 (excluding Apprenticeships)
            </li>
            <li>
                Adult skills
            </li>
            <li>
                Apprenticeships (from 1 May 2017) including Levy funding
            </li>
            <li>
                Community Learning
            </li>
            <li>
                European Social Funding <span aria-hidden="true">(ESF)</span>
            </li>
            <li>
                Other Adult
            </li>
            <li>
                Other 16-19
            </li>
        </ul>

        <p>The collection will provide governor board formation and composition data of the sector to the Department for Education <span aria-hidden="true">(DfE)</span>.</p>

        <a class="govuk-button govuk-button--start" href="/FEWGTotalBoard">
            Start now
        </a>


        <h3 class="govuk-heading-m">Before you start</h3>

        <p>This collection uses an online form. You can save progress and return to complete or edit your data collection within the reporting period.</p>
        <p>You will need:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>
                the allowed board size stipulated in the organisation's articles of association
            </li>
            <li>
                governor types and numbers
            </li>
            <li>
                board composition by gender, age, ethnicity, time served
            </li>
            <li>
                board vacancy details
            </li>
        </ul>
    </div>
</div>
</div>
<div class="govuk-grid-column-one-third">
    <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
            Help &amp; Support
        </h2>
        <p><a href="https://esfahelp.education.gov.uk/hc/en-gb" class="govuk-link" target="_blank">ESFA training provider self-help and communities</a></p>
        <p><a href="https://esfahelp.education.gov.uk/hc/en-gb/community/topics/360000847259-Training-Providers" class="govuk-link" target="_blank">Discussions forums</a></p>
        <h3 class="govuk-heading-s">ESFA support desk</h3>
        <p class="govuk-!-font-size-16">Log a query using our 
            <a class="govuk-link" href=" https://form.education.gov.uk/en/AchieveForms/?form_uri=sandbox-publish://AF-Process-f9f4f5a1-936f-448b-bbeb-9dcdd595f468/AF-Stage-8aa41278-3cdd-45a3-ad87-80cbffb8b992/definition.json&amp;redirectlink=%2fen&amp;cancelRedirectLink=%2fen" target="_blank">
                        ESFA Service Desk enquiry form
            </a>
        </p>
        <p class="govuk-!-font-size-16">Get help with 
            <a class="govuk-link" href="  https://esfahelp.education.gov.uk/hc/en-gb/" target="_blank">
                       Education and Skills Funding Agency Services
            </a>
        </p>
        <p class="govuk-!-font-size-16">
            Telephone: 0370 267 0001<br>
            Monday to Thursday, 9:00am to 5:00pm<br>
            Friday, 9:00am to 4:00pm<br>
            <!-- <p>Email:  <a href="sde.servicedesk@education.gov.uk">sde.servicedesk@education.gov.uk</a></p> -->
        </p>
        
        


<h2 class="govuk-heading-m" id="subsection-title">
Related content
</h2>
<nav role="navigation" aria-labelledby="subsection-title">
<ul class="govuk-list govuk-!-font-size-16">
<li>
<a href="https://www.gov.uk/government/publications/further-education-workforce-data-collection" target="_blank">
Governor data specification
</a>
</li>
</ul>
</nav>



                </div>
            </div>
        </main>
    </div>
</body>




{% endblock %}