{% extends "layoutsld.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}


{% block content %}

    <a class="govuk-back-link" href="/FEWHomeOpen">Back</a>


        <main class="govuk-main-wrapper" id="content" role="main">
            <div class="govuk-grid-row flex">
                <div class="govuk-grid-column-two-thirds">
                    

                    

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">Governor data collection</h1>

        <p>Use this service to record governor data as at 31 July 2021.</p>

        <p>You should complete a return if your organisation is a further education <span aria-hidden="true">(FE)</span> or sixth-form college and receives funding through one or more of the following funding models:</p>

        <ul class="govuk-list govuk-list--bullet">
            <li>
                16-19 (excluding Apprenticeships)
            </li>
            <li>
                Adult skills
            </li>
            <li>
                Apprenticeships (from 1 May 2017) including Levy funding
            </li>
            <li>
                Community Learning
            </li>
            <li>
                European Social Funding <span aria-hidden="true">(ESF)</span>
            </li>
            <li>
                Other Adult
            </li>
            <li>
                Other 16-19
            </li>
        </ul>

        <p>The collection will provide governor board formation and composition data of the sector to the Department for Education <span aria-hidden="true">(DfE)</span>.</p>

        <a class="govuk-button govuk-button--start" href="/FEWGTotalBoard">
            Start now
        </a>


        <h3 class="govuk-heading-m">Before you start</h3>

        <p>This collection uses an online form. You can save progress and return to complete or edit your data collection within the reporting period.</p>
        <p>You will need:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>
                the allowed board size stipulated in the organisation's articles of association
            </li>
            <li>
                governor types and numbers
            </li>
            <li>
                board composition by gender, age, ethnicity, time served
            </li>
            <li>
                board vacancy details
            </li>
        </ul>
    </div>
</div>



                </div>
            </div>
        </main>
    </div>
</body>




{% endblock %}