{% extends "layoutsld.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}


{% block content %}


<a href="javascript:history.back()" class="govuk-back-link">Back</a>


        <main class="govuk-main-wrapper" id="content" role="main">
            <div class="govuk-grid-row flex">
                    
                   

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-xl">Governor data as at 31 July 2021</span>
        <h1 class="govuk-heading-l">Check your answers</h1>

        
    <h2 class="govuk-heading-m">
        Board details
        <a class="govuk-link govuk-heading-s float-right" href="/FEW-GOV/2021/check-board-size">
            Change<span class="govuk-visually-hidden"> Board details</span>
        </a>
    </h2>
    <div class="govuk-heading-s govuk-!-display-inline-block">Status</div>

    <strong class="govuk-tag float-right">COMPLETED</strong>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key govuk-!-width-one-half">
                        Total number of board members allowed by your corporation's instrument and articles of association
                    </dt>
                    <dd class="govuk-summary-list__value govuk-table__header--numeric govuk-!-width-one-half">
                        {{ data['MaximumBoardSize'] }}
                    </dd>
                </div>
        </dl>
    <h2 class="govuk-heading-m">
        How the board is represented
        <a class="govuk-link govuk-heading-s float-right" href="/FEW-GOV/2021/check-board-representation">
            Change<span class="govuk-visually-hidden"> How the board is represented</span>
        </a>
    </h2>
    <div class="govuk-heading-s govuk-!-display-inline-block">Status</div>

    <strong class="govuk-tag float-right">COMPLETED</strong>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key govuk-!-width-one-half">
                        Staff governors
                    </dt>
                    <dd class="govuk-summary-list__value govuk-table__header--numeric govuk-!-width-one-half">
                        {{ data['Governor.StaffCount'] }}
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key govuk-!-width-one-half">
                        Student governors
                    </dt>
                    <dd class="govuk-summary-list__value govuk-table__header--numeric govuk-!-width-one-half">
                        {{ data['Governor.StudentCount'] }}
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key govuk-!-width-one-half">
                        Independent governors
                    </dt>
                    <dd class="govuk-summary-list__value govuk-table__header--numeric govuk-!-width-one-half">
                        {{ data['Governor.IndependentCount'] }}
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key govuk-!-width-one-half">
                        Parent governors
                    </dt>
                    <dd class="govuk-summary-list__value govuk-table__header--numeric govuk-!-width-one-half">
                        {{ data['Governor.ParentCount'] }}
                    </dd>
                </div>
        </dl>
    <h2 class="govuk-heading-m">
        Gender
        <a class="govuk-link govuk-heading-s float-right" href="/FEW-GOV/2021/check-board-gender">
            Change<span class="govuk-visually-hidden"> Gender</span>
        </a>
    </h2>
    <div class="govuk-heading-s govuk-!-display-inline-block">Status</div>

    <strong class="govuk-tag float-right">COMPLETED</strong>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key govuk-!-width-one-half">
                        Male
                    </dt>
                    <dd class="govuk-summary-list__value govuk-table__header--numeric govuk-!-width-one-half">
                        {{ data['Governor.MaleCount'] }}
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key govuk-!-width-one-half">
                        Female
                    </dt>
                    <dd class="govuk-summary-list__value govuk-table__header--numeric govuk-!-width-one-half">
                        {{ data['Governor.FemaleCount'] }}
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key govuk-!-width-one-half">
                        How many identify in another way?
                    </dt>
                    <dd class="govuk-summary-list__value govuk-table__header--numeric govuk-!-width-one-half">
                        {{ data['Governor.AnotherWayCount'] }}
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key govuk-!-width-one-half">
                        How many prefer not to say?
                    </dt>
                    <dd class="govuk-summary-list__value govuk-table__header--numeric govuk-!-width-one-half">
                        {{ data['Governor.GenderPreferNotToSayCount'] }}
                    </dd>
                </div>
        </dl>
    <h2 class="govuk-heading-m">
        Age ranges
        <a class="govuk-link govuk-heading-s float-right" href="/FEW-GOV/2021/check-board-age-range">
            Change<span class="govuk-visually-hidden"> Age ranges</span>
        </a>
    </h2>
    <div class="govuk-heading-s govuk-!-display-inline-block">Status</div>

    <strong class="govuk-tag float-right">COMPLETED</strong>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key govuk-!-width-one-half">
                        16 to 18
                    </dt>
                    <dd class="govuk-summary-list__value govuk-table__header--numeric govuk-!-width-one-half">
                        {{ data['Governor.Age1618Count'] }}
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key govuk-!-width-one-half">
                        19 to 24
                    </dt>
                    <dd class="govuk-summary-list__value govuk-table__header--numeric govuk-!-width-one-half">
                        {{ data['Governor.Age1924Count'] }}
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key govuk-!-width-one-half">
                        25 to 34
                    </dt>
                    <dd class="govuk-summary-list__value govuk-table__header--numeric govuk-!-width-one-half">
                        {{ data['Governor.Age2534Count'] }}
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key govuk-!-width-one-half">
                        35 to 44
                    </dt>
                    <dd class="govuk-summary-list__value govuk-table__header--numeric govuk-!-width-one-half">
                        {{ data['Governor.Age3544Count'] }}
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key govuk-!-width-one-half">
                        45 to 54
                    </dt>
                    <dd class="govuk-summary-list__value govuk-table__header--numeric govuk-!-width-one-half">
                        {{ data['Governor.Age4554Count'] }}
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key govuk-!-width-one-half">
                        55 to 64
                    </dt>
                    <dd class="govuk-summary-list__value govuk-table__header--numeric govuk-!-width-one-half">
                        {{ data['Governor.Age5564Count'] }}
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key govuk-!-width-one-half">
                        65 to 74
                    </dt>
                    <dd class="govuk-summary-list__value govuk-table__header--numeric govuk-!-width-one-half">
                        {{ data['Governor.Age6574Count'] }}
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key govuk-!-width-one-half">
                        75 or over
                    </dt>
                    <dd class="govuk-summary-list__value govuk-table__header--numeric govuk-!-width-one-half">
                        {{ data['Governor.Age75OverCount'] }}
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key govuk-!-width-one-half">
                        Prefer not to say
                    </dt>
                    <dd class="govuk-summary-list__value govuk-table__header--numeric govuk-!-width-one-half">
                        {{ data['Governor.AgePreferNotToSayCount'] }}
                    </dd>
                </div>
        </dl>
    <h2 class="govuk-heading-m">
        Disability
        <a class="govuk-link govuk-heading-s float-right" href="/FEW-GOV/2021/check-board-disability">
            Change<span class="govuk-visually-hidden"> Disability</span>
        </a>
    </h2>
    <div class="govuk-heading-s govuk-!-display-inline-block">Status</div>

    <strong class="govuk-tag float-right">COMPLETED</strong>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key govuk-!-width-one-half">
                        How many board members consider themselves to have a disability?
                    </dt>
                    <dd class="govuk-summary-list__value govuk-table__header--numeric govuk-!-width-one-half">
                        {{ data['Governor.DisabilityCount'] }} 
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key govuk-!-width-one-half">
                        How many board members do not identify themselves as having a disability?
                    </dt>
                    <dd class="govuk-summary-list__value govuk-table__header--numeric govuk-!-width-one-half">
                        {{ data['Governor.NoDisabilityCount'] }}
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key govuk-!-width-one-half">
                        How many prefer not to say?
                    </dt>
                    <dd class="govuk-summary-list__value govuk-table__header--numeric govuk-!-width-one-half">
                        {{ data['Governor.DisabilityPreferNotToSayCount'] }}
                    </dd>
                </div>
        </dl>
    <h2 class="govuk-heading-m">
        Ethnicity
        <a class="govuk-link govuk-heading-s float-right" href="/FEW-GOV/2021/check-board-ethnicity">
            Change<span class="govuk-visually-hidden"> Ethnicity</span>
        </a>
    </h2>
    <div class="govuk-heading-s govuk-!-display-inline-block">Status</div>

    <strong class="govuk-tag float-right">COMPLETED</strong>
            <h3 class="govuk-heading-s">
                White
            </h3>
            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key govuk-!-width-one-half">
                            English, Welsh, Scottish, Northern Irish or British
                        </dt>
                        <dd class="govuk-summary-list__value govuk-table__header--numeric govuk-!-width-one-half">
                            {{ data['GovernorEthnicities.english'] }}
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key govuk-!-width-one-half">
                            Irish
                        </dt>
                        <dd class="govuk-summary-list__value govuk-table__header--numeric govuk-!-width-one-half">
                            {{ data['GovernorEthnicities.irish'] }}
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key govuk-!-width-one-half">
                            Gypsy or Irish Traveller
                        </dt>
                        <dd class="govuk-summary-list__value govuk-table__header--numeric govuk-!-width-one-half">
                            {{ data['GovernorEthnicities.gypsy'] }}
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key govuk-!-width-one-half">
                            Roma
                        </dt>
                        <dd class="govuk-summary-list__value govuk-table__header--numeric govuk-!-width-one-half">
                            {{ data['GovernorEthnicities.roma'] }}
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key govuk-!-width-one-half">
                            Any Other White background
                        </dt>
                        <dd class="govuk-summary-list__value govuk-table__header--numeric govuk-!-width-one-half">
                            {{ data['GovernorEthnicities.anyotherwhite'] }}
                        </dd>
                    </div>
            </dl>
            <h3 class="govuk-heading-s">
                Mixed / Multiple ethnic groups
            </h3>
            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key govuk-!-width-one-half">
                            White and Black Caribbean
                        </dt>
                        <dd class="govuk-summary-list__value govuk-table__header--numeric govuk-!-width-one-half">
                            {{ data['GovernorEthnicities.caribbean'] }}
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key govuk-!-width-one-half">
                            White and Black African
                        </dt>
                        <dd class="govuk-summary-list__value govuk-table__header--numeric govuk-!-width-one-half">
                            {{ data['GovernorEthnicities.african'] }}
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key govuk-!-width-one-half">
                            White and Asian
                        </dt>
                        <dd class="govuk-summary-list__value govuk-table__header--numeric govuk-!-width-one-half">
                            {{ data['GovernorEthnicities.asian'] }}
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key govuk-!-width-one-half">
                            Any Other Mixed or Multiple background
                        </dt>
                        <dd class="govuk-summary-list__value govuk-table__header--numeric govuk-!-width-one-half">
                            {{ data['GovernorEthnicities.multiple'] }}
                        </dd>
                    </div>
            </dl>
            <h3 class="govuk-heading-s">
                Asian / Asian British
            </h3>
            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key govuk-!-width-one-half">
                            Indian
                        </dt>
                        <dd class="govuk-summary-list__value govuk-table__header--numeric govuk-!-width-one-half">
                            {{ data['GovernorEthnicities.indian'] }}
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key govuk-!-width-one-half">
                            Pakistani
                        </dt>
                        <dd class="govuk-summary-list__value govuk-table__header--numeric govuk-!-width-one-half">
                            {{ data['GovernorEthnicities.pakistani'] }}  
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key govuk-!-width-one-half">
                            Bangladeshi
                        </dt>
                        <dd class="govuk-summary-list__value govuk-table__header--numeric govuk-!-width-one-half">
                            {{ data['GovernorEthnicities.bangladeshi'] }}
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key govuk-!-width-one-half">
                            Chinese
                        </dt>
                        <dd class="govuk-summary-list__value govuk-table__header--numeric govuk-!-width-one-half">
                            {{ data['GovernorEthnicities.chinese'] }}
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key govuk-!-width-one-half">
                            Any other Asian background
                        </dt>
                        <dd class="govuk-summary-list__value govuk-table__header--numeric govuk-!-width-one-half">
                            {{ data['GovernorEthnicities.otherasian'] }}
                        </dd>
                    </div>
            </dl>
            <h3 class="govuk-heading-s">
                Black / African / Caribbean / Black British
            </h3>
            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key govuk-!-width-one-half">
                            African background
                        </dt>
                        <dd class="govuk-summary-list__value govuk-table__header--numeric govuk-!-width-one-half">
                            {{ data['GovernorEthnicities.africanbackground'] }} 
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key govuk-!-width-one-half">
                            Caribbean
                        </dt>
                        <dd class="govuk-summary-list__value govuk-table__header--numeric govuk-!-width-one-half">
                            {{ data['GovernorEthnicities.caribbean1'] }}
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key govuk-!-width-one-half">
                            Any other Black, Black British or Caribbean background
                        </dt>
                        <dd class="govuk-summary-list__value govuk-table__header--numeric govuk-!-width-one-half">
                            {{ data['GovernorEthnicities.otherblack'] }}
                        </dd>
                    </div>
            </dl>
            <h3 class="govuk-heading-s">
                Other ethnic group
            </h3>
            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key govuk-!-width-one-half">
                            Arab
                        </dt>
                        <dd class="govuk-summary-list__value govuk-table__header--numeric govuk-!-width-one-half">
                            {{ data['GovernorEthnicities.arab'] }}
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key govuk-!-width-one-half">
                            Any other ethnic group
                        </dt>
                        <dd class="govuk-summary-list__value govuk-table__header--numeric govuk-!-width-one-half">
                            {{ data['GovernorEthnicities.anyother'] }}
                        </dd>
                    </div>
            </dl>
            <h3 class="govuk-heading-s">
                Does not wish to declare ethnicity
            </h3>
            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key govuk-!-width-one-half">
                            Prefer not to say
                        </dt>
                        <dd class="govuk-summary-list__value govuk-table__header--numeric govuk-!-width-one-half">
                            {{ data['GovernorEthnicities.prefernottosay'] }}
                        </dd>
                    </div>
            </dl>
    <h2 class="govuk-heading-m">
        Time served
        <a class="govuk-link govuk-heading-s float-right" href="/FEW-GOV/2021/check-board-time-served">
            Change<span class="govuk-visually-hidden"> Time served</span>
        </a>
    </h2>
    <div class="govuk-heading-s govuk-!-display-inline-block">Status</div>

    <strong class="govuk-tag float-right">COMPLETED</strong>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key govuk-!-width-one-half">
                        Less than 1 year served
                    </dt>
                    <dd class="govuk-summary-list__value govuk-table__header--numeric govuk-!-width-one-half">
                        
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key govuk-!-width-one-half">
                        1 to 4 years served
                    </dt>
                    <dd class="govuk-summary-list__value govuk-table__header--numeric govuk-!-width-one-half">
                        
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key govuk-!-width-one-half">
                        5 to 8 years served
                    </dt>
                    <dd class="govuk-summary-list__value govuk-table__header--numeric govuk-!-width-one-half">
                        
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key govuk-!-width-one-half">
                        9 to 12 years served
                    </dt>
                    <dd class="govuk-summary-list__value govuk-table__header--numeric govuk-!-width-one-half">
                        
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key govuk-!-width-one-half">
                        Over 12 years served
                    </dt>
                    <dd class="govuk-summary-list__value govuk-table__header--numeric govuk-!-width-one-half">
                        
                    </dd>
                </div>
        </dl>
    <h2 class="govuk-heading-m">
        Vacancies
        <a class="govuk-link govuk-heading-s float-right" href="/FEW-GOV/2021/check-board-vacancies">
            Change<span class="govuk-visually-hidden"> Vacancies</span>
        </a>
    </h2>
    <div class="govuk-heading-s govuk-!-display-inline-block">Status</div>

    <strong class="govuk-tag float-right">COMPLETED</strong>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key govuk-!-width-one-half">
                        Were there any board member vacancies during the last academic year?
                    </dt>
                    <dd class="govuk-summary-list__value govuk-table__header--numeric govuk-!-width-one-half">
                        Yes
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key govuk-!-width-one-half">
                        How many board member vacancies were there over the last academic year?
                    </dt>
                    <dd class="govuk-summary-list__value govuk-table__header--numeric govuk-!-width-one-half">
                        
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key govuk-!-width-one-half">
                        How many were filled?
                    </dt>
                    <dd class="govuk-summary-list__value govuk-table__header--numeric govuk-!-width-one-half">
                        
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key govuk-!-width-one-half">
                        How many took 6 months or longer to fill?
                    </dt>
                    <dd class="govuk-summary-list__value govuk-table__header--numeric govuk-!-width-one-half">
                        
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key govuk-!-width-one-half">
                        How many vacancies have been open for 6 months or longer and are still unfilled?
                    </dt>
                    <dd class="govuk-summary-list__value govuk-table__header--numeric govuk-!-width-one-half">
                        
                    </dd>
                </div>
        </dl>

<a class="govuk-button show-continue" href="/submission-options">
    Finish
</a>






    </div>
</div>


                </div>
            </div>
        </main>
    </div>



</body>



{% endblock %}