{% extends "layouts/main.html" %}

<a href="/FEWGovernorHelpdesk" class="govuk-back-link">Back</a>

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Submissions
      </h1>

      {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

      {{ govukCheckboxes({
        name: "filter-by-year",
        fieldset: {
          legend: {
            text: "Filter by year",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--l"
          }
        },
        hint: {
          text: "The page will refresh after you select each filter."
        },
        items: [
          {
            value: "2024-2025",
            text: "2024 to 2025"
          }
        ]
      }) }}

      <div class="govuk-section-break--xl govuk-section-break--visible govuk-!-margin-top-9"></div>

      <span class="govuk-caption-m govuk-!-margin-top-6">Governor data collection</span>
      <h2 class="govuk-heading-l">
        Academic Year 2024 to 2025
      </h2>

      <p class="govuk-body">
        <a href="#" class="govuk-link">View your governor data</a>
      </p>

    </div>
  </div>
{% endblock %}