{% extends "layoutsld.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}


{% block content %}

<a href="javascript:history.back()" class="govuk-back-link">Back</a>

<body class="govuk-template__body  js-enabled">
    <div class="govuk-width-container">

        <main class="govuk-main-wrapper" id="content" role="main">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <div class="govuk-grid-row flex">
                        <div id="left-nav-wrapper" class="govuk-grid-column-one-quarter flex-grow-1">
                            <div class="sticky-top">
                                
                </div>
                        </div>
                        <div class="govuk-grid-column-three-quarters flex-grow-1">
                            <div class="govuk-form-group">
                                


<h1 class="govuk-heading-l" id="submission">
    Submissions
</h1>

<p>FE Workforce Governor data collections</p>

<h2 class="govuk-heading-l">Academic Year 2020 to 2021</h2>

<h3 class="govuk-heading-m">Online forms</h3>
        
<p>View your 2020 to 2021 governor data via the <a class="govuk-link" href="/FEWGCheckYourAnswersReadOnly">online form.</a></p>
   

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>

{% endblock %}