{% extends "layoutsld.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}


{% block content %}

<body class="govuk-template__body  js-enabled">

   
    
   


        <main class="govuk-main-wrapper" id="content" role="main">
            <div class="govuk-grid-row flex">
                <!--<div class="govuk-grid-column-fullgovuk-grid-column-two-thirds"> -->
                <div class="govuk-grid-column-three-quarters">


<h1 id="makeSubmission" class="govuk-heading-l">
    Make a submission
</h1>

<a class="govuk-link" href="/FEWCollectionOverview"> <img src="/public/images/FEWOpen.PNG" width="180" height="120"></a> <a class="govuk-link" href="/FEWGStart"> <img src="/public/images/FEWG.PNG" width="180" height="120"></a> <a class="govuk-link" href="/LDCSUpload"> <img src="/public/images/LDCS.png" width="180" height="115"></a> 



    <h1 class="govuk-heading-l">Reports and data</h1>

    <a class="govuk-link" href="/ReportsMenu"> <img src="/public/images/reports.png" width="180" height="120"></a><a class="govuk-link" href="/FEWSubmissionHistory"> <img src="/public/images/FEWClosed.PNG" width="180" height="120"></a> <a class="govuk-link" href="/FEWGovernorSubmissions"> <img src="/public/images/FEWGClosed.PNG" width="180" height="120"></a>


    
    </div>

                    <div class="govuk-grid-column-one-quarter">
                        <aside class="app-related-items" role="complementary">
                            <h2 class="govuk-heading-m" id="subsection-title-help">
                                Help and support
                            </h2>
                                <ul class="govuk-list govuk-!-font-size-16">
                                    <li>
                                        <a class="govuk-link" href="https://esfahelp.education.gov.uk/hc/en-gb" target="_blank">
                                            ESFA training provider self-help and communities
                                        </a>
                                    </li>
                                    <li>
                                        <a class="govuk-link" href="https://esfahelp.education.gov.uk/hc/en-gb/community/topics/360000847259-Training-Providers" target="_blank">Discussion forums</a>
                                    </li>
                                </ul>

                            <h3 class="govuk-heading-s">ESFA support desk</h3>
                            <p class="govuk-!-font-size-16">Log a query using our 
                                <a class="govuk-link" href=" https://form.education.gov.uk/en/AchieveForms/?form_uri=sandbox-publish://AF-Process-f9f4f5a1-936f-448b-bbeb-9dcdd595f468/AF-Stage-8aa41278-3cdd-45a3-ad87-80cbffb8b992/definition.json&amp;redirectlink=%2fen&amp;cancelRedirectLink=%2fen" target="_blank">
                                            ESFA Service Desk enquiry form
                                </a>
                            </p>
                            <p class="govuk-!-font-size-16">Get help with 
                                <a class="govuk-link" href="  https://esfahelp.education.gov.uk/hc/en-gb/" target="_blank">
                                           Education and Skills Funding Agency Services
                                </a>
                            </p>
                            
                            <p class="govuk-!-font-size-16">
                                Telephone: 0370 267 0001<br>
                                Monday to Thursday, 9:00am to 5:00pm<br>
                                Friday, 9:00am to 4:00pm<br>
                            </p>

                            

<h2 class="govuk-heading-m" id="subsection-title-tools-and-services">
    Tools and services
</h2>
<nav role="navigation" aria-labelledby="subsection-title-tools-and-services">
    <ul class="govuk-list govuk-!-font-size-16">
        <li>
            <a href="/publicdownloads/Desktop">FIS (Funding Information Service)</a>

        </li>
        <li>
            
<a href="https://tst.submit-learner-data.service.gov.uk/find-a-learning-aim/" target="_blank">
    Find a Learning Aim
</a>

        </li>
        <li>
            <a href="/publicdownloads/LearnerEntry">ILR Learner entry tool</a>
        </li>
        <li>
            <a href="/publicdownloads/FileMerge">ILR FileMerge</a>
        </li>
        

        <li few-download-link-switch="">
            <a href="/publicdownloads/FEWorkforceStaffentrytool">FE staff data desktop application</a>
        </li>

        
    </ul>
</nav>

                        </aside>
                    </div>
            </div>
        </main>
    </div>


</body>



{% endblock %}