{% extends "layoutsld.html" %}

{% block pageTitle %}
Staff list - GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<main class="govuk-main-wrapper" id="content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <a class="govuk-link" href="/FEWHomeOpen">Return to dashboard</a>

            <h1 class="govuk-heading-xl govuk-!-margin-top-6">Staff list</h1>

            <h2 class="govuk-heading-m">Staff data completion details</h2>

            <table class="govuk-table">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">Completed by</th>
                        <th scope="col" class="govuk-table__header">Time and date</th>
                        <th scope="col" class="govuk-table__header"><span class="govuk-visually-hidden">Action</span></th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    {% if data["CompleteStaffCollection"] == "Complete" %}
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">Robert Smith</td>
                            <td class="govuk-table__cell">11:21am on Friday 19 October 2023</td>
                            <td class="govuk-table__cell"></td>
                        </tr>
                    {% else %}
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">Not complete</td>
                            <td class="govuk-table__cell">Not complete</td>
                            <td class="govuk-table__cell">
                                <a class="govuk-link" href="/FEWCompleteStaffCollection">Complete collection</a>
                            </td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>

            <h2 class="govuk-heading-m">Staff members</h2>

            <div class="govuk-tabs" data-module="govuk-tabs">
                <h2 class="govuk-tabs__title">Contents</h2>
                <ul class="govuk-tabs__list" role="tablist">
                    <li class="govuk-tabs__list-item" role="presentation">
                        <a class="govuk-tabs__tab" href="#completed" id="tab_completed" role="tab" aria-controls="completed">
                            Completed staff members
                        </a>
                    </li>
                    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected" role="presentation">
                        <a class="govuk-tabs__tab" href="#incomplete" id="tab_incomplete" role="tab" aria-controls="incomplete" aria-selected="true">
                            Incomplete staff members
                        </a>
                    </li>
                </ul>

                <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="completed" role="tabpanel" aria-labelledby="tab_completed">
                    <p class="govuk-body">There are 14 completed staff members recorded</p>
                    <table class="govuk-table">
                        <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                                <th scope="col" class="govuk-table__header">Name</th>
                                <th scope="col" class="govuk-table__header">Date of birth</th>
                                <th scope="col" class="govuk-table__header"><span class="govuk-visually-hidden">Actions</span></th>
                            </tr>
                        </thead>
                        <tbody class="govuk-table__body">
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell">OctPPRegFour FourTestDataLastName</td>
                                <td class="govuk-table__cell">13 August 1981</td>
                                <td class="govuk-table__cell">
                                    <a class="govuk-link" href="/few/staff/task-list-staff-member-data/1437">Change<span class="govuk-visually-hidden"> for OctPPRegFour FourTestDataLastName</span></a>
                                    <a class="govuk-link govuk-!-margin-left-2" href="/few/staff/delete-staff-member/1437">Delete<span class="govuk-visually-hidden"> OctPPRegFour FourTestDataLastName</span></a>
                                </td>
                            </tr>
                            </tbody>
                    </table>
                </div>

                <div class="govuk-tabs__panel" id="incomplete" role="tabpanel" aria-labelledby="tab_incomplete">
                    <p class="govuk-body">There is 1 incomplete staff member recorded</p>
                    <table class="govuk-table">
                        <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                                <th scope="col" class="govuk-table__header">Name</th>
                                <th scope="col" class="govuk-table__header">Date of birth</th>
                                <th scope="col" class="govuk-table__header"><span class="govuk-visually-hidden">Actions</span></th>
                            </tr>
                        </thead>
                        <tbody class="govuk-table__body">
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell">Peter Test</td>
                                <td class="govuk-table__cell">09 October 1990</td>
                                <td class="govuk-table__cell">
                                    <a class="govuk-link" href="/few/staff/task-list-staff-member-data/1448">Change<span class="govuk-visually-hidden"> for Peter Test</span></a>
                                    <a class="govuk-link govuk-!-margin-left-2" href="/few/staff/delete-staff-member/1448">Delete<span class="govuk-visually-hidden"> Peter Test</span></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="govuk-button-group">
                <a class="govuk-button" data-module="govuk-button" href="/FEWAddStaffMember">
                    Add another staff member
                </a>
            </div>

        </div>
    </div>
</main>
{% endblock %}