{% extends "layout.html" %}

{% block pageTitle %}
  Start page example
{% endblock %}


{% block content %}
{% include "./includes/nav.html" %}
<br>
<a class="govuk-link" href="/dashboardtopics">< Back</a>
<br>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-1">
          <span class="govuk-caption-m">Data Collections</span>FE Workforce
          <span class="govuk-caption-m">🕑<span class="govuk-body-s" id="lastTime">12:11:05</span></span>
      </h1>
      <h2 id="displayTitle">Return period  - 2022 to 2023</h2>
  </div>
</div>

<div class="govuk-grid-row blue-background">
  <div class="govuk-grid-column-one-third">
      <span class="govuk-caption-l">
          Open date
      </span>
      <h3 class="govuk-heading-l govuk-!-font-size-27" id="openDate">26th September 2023 at 08:00</h3></div>
  <div class="govuk-grid-column-one-third">
      <span class="govuk-caption-l">
          Close date
      </span>
      <h3 class="govuk-heading-l govuk-!-font-size-27" id="closeDate">9th February 2024 at 18:00</h3></div>
</div>

<div class="govuk-tabs" data-module="govuk-tabs">
  <h2 class="govuk-tabs__title">
    Contents
  </h2>
  <ul class="govuk-tabs__list">
    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
      <a class="govuk-tabs__tab" href="#past-day">
        Staff collection
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#past-week">
        Org collection
      </a>
    </li>
  </ul>
  <div class="govuk-tabs__panel" id="past-day">
    <table class="govuk-table">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header"><h2 class="govuk-heading-l">Staff collection</h2></th>
      <th scope="col" class="govuk-table__header"></th>
      <th scope="col" class="govuk-table__header"><a href="" button class="govuk-button" data-module="govuk-button">Export submission progress report</a></th>
    </tr>
    </table>
    <img src="/public/images/FEW_Staff_Dashboard.png" width="1300" height="1400"> 
  </div>
  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-week">
    <h2 class="govuk-heading-l">Org collection</h2>
  </div>
</div>

{% endblock %}
