{% extends "layoutsld.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}
{% block content %}


    <a href="/FEWWhatQualsProgrammes" class="govuk-back-link">Back</a>


        <main class="govuk-main-wrapper" id="content" role="main">
            <div class="govuk-grid-row flex">
                    

                    

<div class="govuk-grid-column-full">
    <form method="post" action="/few/subjects">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <span class="govuk-caption-m"> {{ data['StaffMember.FirstName'] }} {{ data['StaffMember.LastName'] }}</span>

                <input type="hidden" data-val="true" data-val-required="The StaffId field is required." id="StaffId" name="StaffId" value="1452">
                <input type="hidden" value="17" id="PreviousScreenNumber" name="PreviousScreenNumber">

                    <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
            

                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l" 0="">
                    <h1 class="govuk-fieldset__heading">
What is the main subject area they teach?                    </h1>
                </legend>
            <div class="govuk-hint">
                Select a main learning programme
            </div>

            <div class="govuk-radios">
                        <div class="govuk-radios__item">
                            <input id="LookupItemId100" name="MainSubject" value="Functional Skills English" class="govuk-radios__input" type="radio">
                            <label for="LookupItemId100" class="govuk-label govuk-radios__label">
                                Functional Skills English
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input id="LookupItemId101" name="MainSubject" value="Functional Skills Maths" class="govuk-radios__input" type="radio">
                            <label for="LookupItemId101" class="govuk-label govuk-radios__label">
                                Functional Skills Maths
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input id="LookupItemId102" name="MainSubject" value="Functional Skills IT" class="govuk-radios__input" type="radio">
                            <label for="LookupItemId102" class="govuk-label govuk-radios__label">
                                Functional Skills IT
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input id="LookupItemId103" name="MainSubject" value="Life Skills" class="govuk-radios__input" type="radio">
                            <label for="LookupItemId103" class="govuk-label govuk-radios__label">
                                Life Skills
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input id="LookupItemId104" name="MainSubject" value="Preparation for Work" class="govuk-radios__input" type="radio">
                            <label for="LookupItemId104" class="govuk-label govuk-radios__label">
                                Preparation for Work
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input id="LookupItemId105" name="MainSubject" value="Supported Learning or Special Educational Needs learning provision" class="govuk-radios__input" type="radio">
                            <label for="LookupItemId105" class="govuk-label govuk-radios__label">
                                Supported Learning or Special Educational Needs learning provision
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input id="LookupItemId106" name="MainSubject" value="ESOL" class="govuk-radios__input" type="radio">
                            <label for="LookupItemId106" class="govuk-label govuk-radios__label">
                                ESOL
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input id="LookupItemId107" name="MainSubject" value="Community Learning" class="govuk-radios__input" type="radio">
                            <label for="LookupItemId107" class="govuk-label govuk-radios__label">
                                Community Learning
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input id="LookupItemId108" name="MainSubject" value="Family Learning" class="govuk-radios__input" type="radio">
                            <label for="LookupItemId108" class="govuk-label govuk-radios__label">
                                Family Learning
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input id="LookupItemId109" name="MainSubject" value="Other" class="govuk-radios__input" type="radio">
                            <label for="LookupItemId109" class="govuk-label govuk-radios__label">
                                Other
                            </label>
                        </div>
                <input type="hidden" data-val="true" data-val-required="The StartDate field is required." id="Collection_StartDate" name="Collection.StartDate" value="">
                <input type="hidden" data-val="true" data-val-required="The EndDate field is required." id="Collection_EndDate" name="Collection.EndDate" value="">
            </div>
            <br>
        </fieldset>
    </div>

            </div>
        </div>
        <br>
        <button class="govuk-button" type="submit" formaction="/FEWHighestQual">Save and continue</button>

    <input name="__RequestVerificationToken" type="hidden" value="CfDJ8L3yK0oY72BAjGq27RPv8KU2bZgUR_ssMpRDlEWAPsskFPaVDPLETRnWlbf5M8iSwZxAV08VhZJ-GRUJlD4-4Nju4w_1qo7jzwXuu-adyT9hx7uORDKHjy56b_FvxtceoeT6yN2Bc5b0BJIL--BlqMJWM3GWm8HLaaJZ0IQNitZzTZwSnI7aG6qUydf9W6tL2g"></form>
</div>


                </div>
            </div>
        </main>
    </div>
</body>


{% endblock %}