{% extends "layout.html" %}

{% block pageTitle %}
  Start page example
{% endblock %}


{% block content %}
{% include "./includes/nav.html" %}
<br>
<a class="govuk-link" href="/dashboardtopics">< Back</a>
<br>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-1">
          <span class="govuk-caption-m">Data Collections</span>FE Workforce
          <span class="govuk-caption-m">🕑<span class="govuk-body-s" id="lastTime">12:11:05</span></span>
      </h1>
      <h2 id="displayTitle">Return period  - 2022 to 2023</h2>
  </div>
</div>

<div class="govuk-grid-row blue-background">
  <div class="govuk-grid-column-one-third">
      <span class="govuk-caption-l">
          Open date
      </span>
      <h3 class="govuk-heading-l govuk-!-font-size-27" id="openDate">26th September 2023 at 08:00</h3></div>
  <div class="govuk-grid-column-one-third">
      <span class="govuk-caption-l">
          Close date
      </span>
      <h3 class="govuk-heading-l govuk-!-font-size-27" id="closeDate">9th February 2024 at 18:00</h3></div>
</div>


{% endblock %}
