{% extends "layoutsld.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}


{% block content %}

<a href="javascript:history.back()" class="govuk-back-link">Back</a>

<body class="govuk-template__body  js-enabled">
        <main class="govuk-main-wrapper" id="content" role="main">
                    <div class="govuk-grid-row flex">
                        <div class="govuk-grid-column-two-thirds">
                              


<h1 class="govuk-heading-l" id="submission">
    Submissions
</h1>

<p>FE staff and vacancy collections</p>

<h2 class="govuk-heading-l">Academic Year 2022 to 2023</h2>

<h3 class="govuk-heading-m">Vacancy data collection</h3>

<a class="govuk-link" href="/FEWCheckYourAnswers">View your vacancy and recruitment data</a></p>


<h3 class="govuk-heading-m">Staff data collection</h3>

{% if ("Complete" == data["CompleteStaffCollection"]) %}
<table class="govuk-table">
    <thead class="govuk-table__head">
    <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Completed by</th>
        <th scope="col" class="govuk-table__header">Time and date</th>
        <th scope="col" class="govuk-table__header"></th>
    </tr>
    </thead>

<tbody class="govuk-table__body">
<tr class="govuk-table__row">
<td class="govuk-table__cell">Robert Smith</td>
<td class="govuk-table__cell">11:21am on 19 October 2023</td>
<td class="govuk-table__cell">
</td>
</tr>
 </tbody>
</table>
{% endif%}

{% if ("Complete" != data["CompleteStaffCollection"]) %}

<table class="govuk-table">
    <thead class="govuk-table__head">
    <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Completed by</th>
        <th scope="col" class="govuk-table__header">Time and date</th>
        <th scope="col" class="govuk-table__header"></th>
    </tr>
    </thead>

<tbody class="govuk-table__body">
<tr class="govuk-table__row">
<td class="govuk-table__cell">Not complete</td>
<td class="govuk-table__cell">Not complete</td>
<td class="govuk-table__cell">
     <a class="govuk-link" aria-labelledby="changestaffmember" href="/FEWCompleteStaffCollection">Complete collection</a>
</td>
</tr>
 </tbody>

</table>

{% endif%}
        
<a class="govuk-link" href="/FEWStaffSummaryOpen">View your staff data</a></p>

<p>Download your XML file</p>


<table class="govuk-table">
    <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Date</th>
            <th class="govuk-table__header" scope="col">File</th>
            <th class="govuk-table__header" scope="col">Submitted by</th>
            <th class="govuk-table__header" scope="col">Reference</th>
            <th class="govuk-table__header" scope="col">Reports</th>

        </tr>
    </thead>
    <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
                <td class="govuk-table__header" scope="row">9 October 2023 at 3:06pm</td>
                <td class="govuk-table__cell">
                    <a class="govuk-link" href="/few/reports/DownloadFile/10041007/1946269">FEW-10041007-2021-20220609-080000-02.XML</a>
                </td>
                <td class="govuk-table__cell" scope="row">Shared FE Workforce User</td>
                <td class="govuk-table__cell" scope="row">1946270</td>

                <td class="govuk-table__cell">
                    <a class="govuk-link" href="/few/reports/DownloadFile/10041007/1946269">Download reports</a>

                 </td>
            </tr>
    </tbody>
</table>


<h2 class="govuk-heading-l">Academic Year 2021 to 2022</h2>

<h3 class="govuk-heading-m">Vacancy data collection</h3>

<a class="govuk-link" href="/FEWVacancyPrevious">View your vacancy and recruitment data</a></p>


<h3 class="govuk-heading-m">Staff data collection</h3>
        
<a class="govuk-link" href="/FEWStaffListPrevious">View your staff data</a></p>


<p>Download your XML file</p>


<table class="govuk-table">
    <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Date</th>
            <th class="govuk-table__header" scope="col">File</th>
            <th class="govuk-table__header" scope="col">Submitted by</th>
            <th class="govuk-table__header" scope="col">Reference</th>
            <th class="govuk-table__header" scope="col">Reports</th>

        </tr>
    </thead>
    <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
                <td class="govuk-table__header" scope="row">9 June 2022 at 3:06pm</td>
                <td class="govuk-table__cell">
                    <a class="govuk-link" href="/few/reports/DownloadFile/10041007/1946269">FEW-10041007-2021-20220609-080000-02.XML</a>
                </td>
                <td class="govuk-table__cell" scope="row">Shared FE Workforce User</td>
                <td class="govuk-table__cell" scope="row">1946270</td>

                <td class="govuk-table__cell">
                    <a class="govuk-link" href="/few/reports/DownloadFile/10041007/1946269">Download reports</a>

                 </td>
            </tr>
    </tbody>
</table>



        <h2 class="govuk-heading-l">Academic Year 2020 to 2021</h2>

        <h3 class="govuk-heading-m">Vacancy data collection</h3>
        <p>No data submitted for this academic year</p>

        
        <h3 class="govuk-heading-m">Staff data collection</h3>
        <p>No data submitted for this academic year</p>
                



                        </div>
                        </div>

        </main>

</body>

{% endblock %}