{% extends "layoutsld.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}


{% block content %}

<a href="javascript:history.back()" class="govuk-back-link">Back</a>


        <main class="govuk-main-wrapper" id="content" role="main">
            <div class="govuk-grid-row flex">
                    

<div class="govuk-grid-column-full">
    <span class="govuk-caption-m"> {{ data['StaffMember.FirstName'] }} {{ data['StaffMember.LastName'] }}</span>
    <input type="hidden" data-val="true" data-val-required="The StaffId field is required." id="StaffId" name="StaffId" value="1437">

    <h1 class="govuk-heading-l">Summary: employment details</h1>
    <form method="post" action="/few/contracts/check-how-many-contracts/1437">
        <table class="govuk-table">
            <caption class="govuk-table__caption govuk-table__caption--m">Details recorded</caption>
            <tbody class="govuk-table__body">

                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">How many contracts do they have with the organisation?</th>
                    <td class="govuk-table__cell">{{ data["HowMany"]}}</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">What is their main type of contract?</th>
                    <td class="govuk-table__cell">{{ data["MainContract"]}}</td>
                </tr>
                
                
                {% if(data["WeeklyHours.Hours"].length >1 )%} 
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Weekly contracted hours</th>
                    <td class="govuk-table__cell">{{ data["WeeklyHours.Hours"]}}</td>
                </tr>
                {% endif%}
               <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Weeks a year contracted to work</th>
                    <td class="govuk-table__cell">{{ data["weeksayear"]}}</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Calculated full time equivalent (FTE)</th>
                    <td class="govuk-table__cell">{{ data["FTE"]}}</td>
                </tr>
                {% if(data["Salary"].length >1 )%} 
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Salary or hourly rate details</th>
                    <td class="govuk-table__cell">{{ data["Salary"]}} per annum</td>
                </tr>
                {% endif%}
                {% if(data["Rate"].length >1 )%} 
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Salary or hourly rate details</th>
                    <td class="govuk-table__cell">{{ data["Rate"]}} per hour</td>
                </tr>
                {% endif%}
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Have they received a pay rise during the academic year due to either promotion or advancing up the organisation pay bandings?</th>
                    <td class="govuk-table__cell">{{ data["PayRise"]}}</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">When did they start working for the organisation?</th>
                    <td class="govuk-table__cell">{{ data["StartDateDay"]}} {{ data["StartDateMonth"]}} {{ data["StartDateYear"]}}</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">How long have they worked in their current role in the organisation?</th>
                    <td class="govuk-table__cell">{{ data["TimeCurrentRole"]}}</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">How long have they worked in Further Education?</th>
                    <td class="govuk-table__cell">{{ data["TimeFE"]}}</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Do they still work for the organisation?</th>
                    <td class="govuk-table__cell">{{ data["SameOrg"]}}</td>
                </tr>
                {% if(data["EmploymentEndDate.Day"].length >1 )%} 
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">When did they stop working for the organisation?</th>
                    <td class="govuk-table__cell">{{ data["EmploymentEndDate.Day"]}} {{ data["EmploymentEndDate.Month"]}} {{ data["EmploymentEndDate.Year"]}}</td>
                </tr>
                {% endif%}
                {% if(data["StopWorking"].length >1 )%} 
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Why did they stop working for the organisation?</th>
                    <td class="govuk-table__cell">{{ data["StopWorking"]}}</td>
                </tr>
                {% endif%}
            </tbody>
        </table>

         <br>
        <button class="govuk-button" type="submit" formaction="/FEWEmploymentContracts">Change details</button>

        <a class="govuk-link" href="/few/staff/staff-listing">Staff list</a>
    <input name="__RequestVerificationToken" type="hidden" value="CfDJ8L3yK0oY72BAjGq27RPv8KWhdGagMkAVLIwPFA2GYjUm8GTAmGpquBWx-SMXG7uJyp_MYblmGSuPs9Dt5nMca72G9wnEJlg7Y206UEWyvIOn1D1PbhfmvaW0LNkCC6jaswJVxuk0IWEBnouTXTsClV24NSwRtnF1BuoZ2_fux8Uj8zFhtRwewPW1QwvoXhDz6Q"></form>
</div>


                </div>
            </div>
        </main>
    </div>







</body>



{% endblock %}