{% extends "layoutsld.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}


{% block content %}


<a class="govuk-link" href="/FEWStaffListPrevious.html">< Back</a>

<main class="govuk-main-wrapper" id="content" role="main">
    <div class="govuk-grid-row flex">

<span class="govuk-caption-l">Academic year: 1 August YYYY to 31 July YYYY</span>
<br>
            
<span class="govuk-caption-m">OctPPRegFour FourTestDataLastName</span>
<h1 class="govuk-heading-l">Summary of personal details</h1>

<dl class="govuk-summary-list dl-override">
<div class="govuk-summary-list__row">
<dt class="govuk-summary-list__key dt-override">
    Name
</dt>
<dd class="govuk-summary-list__value dd-override">
    OctPPRegFour FourTestDataLastName
</dd>

</div>
<div class="govuk-summary-list__row">
<dt class="govuk-summary-list__key dt-override">
    Date of Birth
</dt>
<dd class="govuk-summary-list__value dd-override">
    13 August 1981
</dd>
</div>

<div class="govuk-summary-list__row">
<dt class="govuk-summary-list__key dt-override">
    National Insurance number
</dt>
<dd class="govuk-summary-list__value dd-override">
    AB123456C
</dd>
</div>

<div class="govuk-summary-list__row">
<dt class="govuk-summary-list__key dt-override">
    Gender
</dt>
<dd class="govuk-summary-list__value dd-override">
    Female
</dd>

</div>
<div class="govuk-summary-list__row">
<dt class="govuk-summary-list__key dt-override">
    Ethnicity
</dt>
<dd class="govuk-summary-list__value dd-override">
    Chinese
</dd>

</div>
<div class="govuk-summary-list__row">
<dt class="govuk-summary-list__key dt-override">
    Disability
</dt>
<dd class="govuk-summary-list__value dd-override">
    No
</dd>

</div>
</dl>

<h1 class="govuk-heading-l">Summary of job role details</h1>
<form method="post" action="/few/roles/check-job-roles/1437">
<table class="govuk-table">
    <tbody class="govuk-table__body">
        <tr class="govuk-table__row govuk-table__row">
            <th scope="row" class="govuk-table__header">What are their job roles?</th>
            <td class="govuk-table__cell">Senior Leader, Manager, Teacher, Teaching Support</td>
        </tr>
        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">What is their main role?</th>
            <td class="govuk-table__cell">Teaching Support</td>
        </tr>

                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header"> Are they the Head of FE provision?</th>
                    <td class="govuk-table__cell">No</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">What qualifications or programmes do they teach?</th>
                    <td class="govuk-table__cell">Academic qualifications</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">What is the main subject area they teach?</th>
                    <td class="govuk-table__cell">Archaeology</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">What is the highest qualification they teach?</th>
                    <td class="govuk-table__cell">Level 2 GCSEs/functional skills</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">What is their highest Maths qualification?</th>
                    <td class="govuk-table__cell">Level 4 Certificate of higher education</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">What is their highest English qualification?</th>
                    <td class="govuk-table__cell">Level 3 A Level or equivalent</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">What is their highest teaching qualification?</th>
                    <td class="govuk-table__cell">Working towards a teacher training qualification</td>
                </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">What teaching qualification are they working towards?</th>
                        <td class="govuk-table__cell">Level 4 in Education and Training, Level 4 Certificate in Teaching in the Lifelong Learning Sector</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Is their teaching qualification being funded by the organisation?</th>
                        <td class="govuk-table__cell">Yes, we’re paying for all of it </td>
                    </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">What is their professional teaching status?</th>
                    <td class="govuk-table__cell">Advanced teacher status (Society for Education and Training)</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Prior to their FE role, how long did they work in a job relevant to the subject they teach?</th>
                    <td class="govuk-table__cell">4 to 10 years</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Do they still work in industry as well as your organisation?</th>
                    <td class="govuk-table__cell">Yes</td>
                </tr>
    </tbody>
</table>


<h1 class="govuk-heading-l">Summary of employment details</h1>
<form method="post" action="/few/contracts/check-how-many-contracts/1437">
<table class="govuk-table">
    <tbody class="govuk-table__body">
        <tr class="govuk-table__row govuk-table__row">
            <th scope="row" class="govuk-table__header">How many contracts do they have with the organisation?</th>
            <td class="govuk-table__cell">1</td>
        </tr>
        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">What is their main type of contract?</th>
            <td class="govuk-table__cell">Permanent</td>
        </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Weekly contracted hours</th>
                    <td class="govuk-table__cell">48.00 hours per week</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Calculated full time equivalent (FTE)</th>
                    <td class="govuk-table__cell">1.00</td>
                </tr>
        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Salary or hourly rate details</th>
            <td class="govuk-table__cell">£100,000 per annum</td>
        </tr>
        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">When did they start working for the organisation?</th>
            <td class="govuk-table__cell">29 January 2019</td>
        </tr>
        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">How long have they worked in their current role in the organisation?</th>
            <td class="govuk-table__cell">1 to 3 years</td>
        </tr>
        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">How long have they worked in Further Education?</th>
            <td class="govuk-table__cell">Less than one year</td>
        </tr>
        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Do they still work for the organisation?</th>
            <td class="govuk-table__cell">Yes</td>
        </tr>
    </tbody>
</table>


        </div>
    </div>
</main>
</div>





</main>
</div>


{% endblock %}