{% extends "layoutsld.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}
{% block content %}

    <a href="javascript:history.back()" class="govuk-back-link">Back</a>


        <main class="govuk-main-wrapper" id="content" role="main">
            <div class="govuk-grid-row flex">
                  
                    

<div class="govuk-grid-column-full">
    <span class="govuk-caption-m"> {{ data['StaffMember.FirstName'] }} {{ data['StaffMember.LastName'] }}</span>
    <input type="hidden" data-val="true" data-val-required="The StaffId field is required." id="StaffId" name="StaffId" value="1437">

    <h1 class="govuk-heading-l">Summary: job role details</h1>
    <form method="post" action="/few/roles/check-job-roles/1437">
        <table class="govuk-table">
            <caption class="govuk-table__caption govuk-table__caption--m">Details recorded</caption>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row govuk-table__row">
                    <th scope="row" class="govuk-table__header">What are their job roles?</th>
                    <td class="govuk-table__cell">{{ data["JobRole"]}}</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">What are their sub roles?</th>
                    <td class="govuk-table__cell">{{ data["SubRole"]}}</td>
                </tr>

                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">What is their main role?</th>
                    <td class="govuk-table__cell">{{ data["MainRole"]}}</td>
                </tr>
                
           {% if("Senior Leader" in data["JobRole"])%}
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Are they the Head of FE provision?</th>
                    <td class="govuk-table__cell">{{ data["HeadFE"]}}</td>
                </tr>
            {% endif%}

          {% if("Teacher" in data["JobRole"] or data["TeachingResponsibilities"]=="Yes")%}
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">What qualifications or programmes do they teach?</th>
                            <td class="govuk-table__cell">{{ data["WhatQualsProgs"]}}</td>
                        </tr>


                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">What is the main subject area they teach?</th>
                            <td class="govuk-table__cell">{{ data["MainSubject"]}}</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">What is the highest qualification they teach?</th>
                            <td class="govuk-table__cell">{{ data["HighestQualificationTaught"]}}</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">What is their highest Maths qualification?</th>
                            <td class="govuk-table__cell">{{ data["HighestMaths"]}}</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">What is their highest English qualification?</th>
                            <td class="govuk-table__cell">{{ data["HighestEnglish"]}}</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">What is their highest teaching qualification?</th>
                            <td class="govuk-table__cell">{{ data["HighestTeachingQual"]}}</td>
                        </tr>
                            <tr class="govuk-table__row">
                                <th scope="row" class="govuk-table__header">What teaching qualification are they working towards?</th>
                                <td class="govuk-table__cell">{{ data["TeachingQualStudying"]}}</td>
                            </tr>
                            <tr class="govuk-table__row">
                                <th scope="row" class="govuk-table__header">Is their teaching qualification being funded by the organisation?</th>
                                <td class="govuk-table__cell">{{ data["Funding"]}}</td>
                            </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">What is their professional teaching status?</th>
                            <td class="govuk-table__cell">{{ data["TeachingStatus"]}}</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">Have they participated in or benefitted from any of the listed DfE programmes?</th>
                            <td class="govuk-table__cell">{{ data["DFE"]}}</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">Prior to their FE role, how long did they work in a job relevant to the subject they teach?</th>
                            <td class="govuk-table__cell">{{ data["Prior"]}}</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">Do they still work in industry as well as your organisation?</th>
                            <td class="govuk-table__cell">{{ data["TeachingJob"]}}</td>
                        </tr>
                        {% endif%}
            </tbody>
        </table>

        <br>
        <button class="govuk-button" type="submit" formaction="/FEWAddJobRole">Change details</button>

        <a class="govuk-link" href="/FEWStaffSummaryOpen">Staff list</a>
    <input name="__RequestVerificationToken" type="hidden" value="CfDJ8L3yK0oY72BAjGq27RPv8KWOm4FHBPLK3ruWqyevrSg30tydT9qQqxjKWGah8-sFaSLn-y2eIrgOFr7uxcA5kBnshx55G82D-lJWCLpe45uSpOI6lS4p0A0rXCIKv0lPZaxTtiVO2b2xoMw89kbJsS6d3J0Z_OMaUgi0yoxTEvOaNOBBU__IqEzgd78x1gu6gg"></form>
</div>


                </div>
            </div>
        </main>
    </div>

</body>


{% endblock %}