{% extends "layoutsld.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}
{% block content %}

<a href="javascript:history.back()" class="govuk-back-link">Back</a>



        <main class="govuk-main-wrapper" id="content" role="main">
            <div class="govuk-grid-row flex">

<div class="govuk-grid-column-full">
    <form method="post" action="/few/contracts/check-current-role-duration">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <span class="govuk-caption-m"> {{ data['StaffMember.FirstName'] }} {{ data['StaffMember.LastName'] }}</span>
                <input type="hidden" data-val="true" data-val-required="The StaffId field is required." id="StaffId" name="StaffId" value="1450">

                    <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
            

                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l" 0="">
                    <h1 class="govuk-fieldset__heading">How long have they worked in their current role in the organisation?</h1>
                </legend>
            <div class="govuk-hint">
                Select an option
            </div>

            <div class="govuk-radios">
                        <div class="govuk-radios__item">
                            <input id="LookupItemId183" name="TimeCurrentRole" value="Less than one year" class="govuk-radios__input" type="radio">
                            <label for="LookupItemId183" class="govuk-label govuk-radios__label">
                                Less than one year
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input id="LookupItemId184" name="TimeCurrentRole" value="1 to 3 years" class="govuk-radios__input" type="radio">
                            <label for="LookupItemId184" class="govuk-label govuk-radios__label">
                                1 to 3 years
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input id="LookupItemId185" name="TimeCurrentRole" value="4 to 10 years" class="govuk-radios__input" type="radio">
                            <label for="LookupItemId185" class="govuk-label govuk-radios__label">
                                4 to 10 years
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input id="LookupItemId186" name="TimeCurrentRole" value="11 to 20 years" class="govuk-radios__input" type="radio">
                            <label for="LookupItemId186" class="govuk-label govuk-radios__label">
                                11 to 20 years
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input id="LookupItemId187" name="TimeCurrentRole" value="Over 20 years" class="govuk-radios__input" type="radio">
                            <label for="LookupItemId187" class="govuk-label govuk-radios__label">
                                Over 20 years
                            </label>
                        </div>

            </div>
            <br>
        </fieldset>
    </div>

            </div>
        </div>
        <br>
        
        <button class="govuk-button" type="submit" formaction="/FEWTimeFE">Save and continue</button>

    <input name="__RequestVerificationToken" type="hidden" value="CfDJ8L3yK0oY72BAjGq27RPv8KWh8qmN5h3IhaqUvQ0uQE7ZfRiZsqyZOos8gseoCsc8dx1Tc-tNDnxYgkkBdy36NJA2HbLAlVguA318O3_uVqY-TUJjBxzNVLu2JeO6QcmT2uETW1Hr0w_g9Br5nlAo73dR6AaFn_fjv05xUMRC-pnGDbJqU2kdHkbGCA0e-Q8utg"></form>
</div>


                </div>
            </div>
        </main>
    </div>

</body>


{% endblock %}