{% extends "layoutsld.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}
{% block content %}

<a href="javascript:history.back()" class="govuk-back-link">Back</a>



        <main class="govuk-main-wrapper" id="content" role="main">
            <div class="govuk-grid-row flex">
                   

<div class="govuk-grid-column-full">
    <form method="post" action="">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <span class="govuk-caption-m"> {{ data['StaffMember.FirstName'] }} {{ data['StaffMember.LastName'] }}</span>


                <input type="hidden" data-val="true" data-val-required="The StaffId field is required." id="StaffId" name="StaffId" value="1459">

                    <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
            

                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l" 0="">
                    <h1 class="govuk-fieldset__heading">
Is their teaching qualification being funded by your organisation?                    </h1>
                </legend>


            <div class="govuk-radios">
                        <div class="govuk-radios__item">
                            <input id="Funding" name="Funding" value="Yes, we’re paying for all of it" class="govuk-radios__input" type="radio">
                            <label for="LookupItemId156" class="govuk-label govuk-radios__label">
                                Yes, we’re paying for all of it 
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input id="Funding" name="Funding" value="Yes, we’re paying for some of it" class="govuk-radios__input" type="radio">
                            <label for="LookupItemId157" class="govuk-label govuk-radios__label">
                                Yes, we’re paying for some of it
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input id="Funding" name="Funding" value="No" class="govuk-radios__input" type="radio">
                            <label for="LookupItemId158" class="govuk-label govuk-radios__label">
                                No
                            </label>
                        </div>
                <input type="hidden" data-val="true" data-val-required="The StartDate field is required." id="Collection_StartDate" name="Collection.StartDate" value="">
                <input type="hidden" data-val="true" data-val-required="The EndDate field is required." id="Collection_EndDate" name="Collection.EndDate" value="">
            </div>
            <br>
        </fieldset>
    </div>

            </div>
        </div>
        <br>
        <button class="govuk-button" type="submit" formaction="/FEWTeachingStatus"">Save and continue</button>

</div>


                </div>
            </div>
        </main>
    </div>

</body>



{% endblock %}