{% extends "layoutsld.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}


{% block content %}
<a class="govuk-link" href="/FEWSubmissionClosed">< Back</a>
<br>
<br>

<span class="govuk-caption-l">Academic year: 1 August YYYY to 31 July YYYY</span>
<br>
<h1 class="govuk-heading-l">
    Summary of details recorded for vacancy and recruitment data
</h1>

<p>Summary of details recorded for vacancy and recruitment data</p>

<dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Senior leader and management role vacancies
      </dt>
      <dd class="govuk-summary-list__value">
        <ul class="govuk-list govuk-list--bullet">
            <li>8 vacancies</li>
            <li>4 filled</li>
         </ul>
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Were there any teaching vacancies during the academic year?
      </dt>
      <dd class="govuk-summary-list__value">
        Yes
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Teaching vacancy and recruitment details
      </dt>
      <dd class="govuk-summary-list__value">
        <h3 class="govuk-heading-s">
            Academic subjects
         </h3>
         <ul class="govuk-list govuk-list--bullet">
            <li>100 Ancient Languages vacancies</li>
                <li>All filled</li>
        
        </ul>
        <h3 class="govuk-heading-s">
            Vocational programmes
         </h3>
         <ul class="govuk-list govuk-list--bullet">
            <li>10 Accounting and Finance vacancies</li>
                <li>All filled</li>
        
        </ul>
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Did you have difficulty recruiting for any teaching vacancies during the academic year?
      </dt>
      <dd class="govuk-summary-list__value">
        Yes
      </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Which teaching vacancies were difficult to recruit for?
        </dt>
        <dd class="govuk-summary-list__value">
            <h3 class="govuk-heading-s">Accounting and Finance vacancies</h3>
            <ul class="govuk-list govuk-list--bullet">
                    <li>Did not have the right qualifications</li>
            </ul>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            How many apprentices worked for the organisation?
        </dt>
        <dd class="govuk-summary-list__value">
            1 apprentice
          </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Does the organisation provide counselling services?
        </dt>
        <dd class="govuk-summary-list__value">Yes</dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            When is staff counselling available?
        </dt>
        <dd class="govuk-summary-list__value">During working hours</dd>
      </div>
  </dl>
                </div>
            </div>
        </main>
    </div>


</body>

{% endblock %}