{% extends "layoutsld.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}
{% block content %}

<a href="javascript:history.back()" class="govuk-back-link">Back</a>


        <main class="govuk-main-wrapper" id="content" role="main">
            <div class="govuk-grid-row flex">

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <span class="govuk-caption-m"> {{ data['StaffMember.FirstName'] }} {{ data['StaffMember.LastName'] }}</span>

        <h1 class="govuk-heading">Weeks a year contracted to work</h1>

        <p class="govuk-body">
            Where payment for contracted hours is spread over the whole year, it is the contracted hours in weeks that need to be entered. 
        </p>

        <form method="post" id="weekly-hours-form" action="/few/contracts/check-weekly-contracted-hours">
            <div class="govuk-form-group">
                <input type="hidden" data-val="true" data-val-required="The StaffId field is required." id="StaffId" name="StaffId" value="1450">
                <fieldset class="govuk-fieldset">
                    <div class="govuk-form-group" id="weekly-Group">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                            <h2 class="govuk-fieldset__heading">
                                What are their weeks per year?
                            </h2>
                        </legend>
                        <div id="weekly-hours-hint" class="govuk-hint">
                            For example, if someone is on a term-time only contract for 37 weeks per year but receives their pay in twelve monthly instalments, it is 37 weeks not 52 that should be entered.
                            Only a whole number of weeks should be entered. 
                        </div>

                        
                        <div class="govuk-input__wrapper">
                            <input class="govuk-input govuk-input--width-5" id="weeksayear" type="text" inputmode="numeric" maxlength="5" name="weeksayear" value="">
                            <div class="govuk-input__suffix" aria-hidden="true">weeks per year</div>
                        </div>
                    </div>
                </fieldset>
            </div>

            <br>
            <button class="govuk-button" type="submit" formaction="/FEWFTE">Save and continue</button>

        <input name="__RequestVerificationToken" type="hidden" value="CfDJ8L3yK0oY72BAjGq27RPv8KWiH8TsmjJxmDRf2SjFdpKH1Hmn_4GNNII9GNYOXCsCnCjopZRC9HXYy9Dx2xBbt08JOJk47H6Ueao40Eqpj-DXm3yCFROrFqJ3xJTg52EFn0ileDs-boahbp8k47-XRkxoyuFLEn16g2VBpoA5xTAs2iDxPheANpXI6Sm2vTLnaA"></form>
    </div>
</div>



                </div>
            </div>
        </main>
    </div>

</body>


{% endblock %}