{% extends "layoutsld.html" %}

{% block pageTitle %}
Submit learner data
{% endblock %}

{% block content %}

<div class="govuk-width-container">
    
    <div class="govuk-phase-banner">
        <p class="govuk-phase-banner__content">
            <strong class="govuk-tag govuk-phase-banner__content__tag">
                Beta
            </strong>
            <span class="govuk-phase-banner__text">
                This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
            </span>
        </p>
    </div>

    <a class="govuk-back-link" href="/fundingclaimsubmissions2425">Back</a>

    <main class="govuk-main-wrapper" id="content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                <h1 class="govuk-heading-l">Exceptional Adjustments</h1>

                <p class="govuk-body">
                    If you do include any exceptional adjustments in your final funding claim, you must send supporting evidence within 5 working days of your claim being submitted. Your evidence must be submitted via the customer help portal, and clearly marked as relating to your 2025 to 2026 final funding claim.
                </p>

                <p class="govuk-body">
                    If you're submitting evidence for more than one adjustment, make sure it’s clear which evidence supports each adjustment. If this isn’t clear, it could delay the review of your case.
                </p>

                <p class="govuk-body">
                    Your case will be reviewed to confirm whether the exceptional adjustment reflects a data error affecting 5% or more of the appropriate contract value e.g.
                </p>

                <ul class="govuk-list govuk-list--bullet">
                    <li>Your adult skills fund contract value is £100,000. We would only consider your exceptional adjustment if the amount you enter is more than £5,000.</li>
                    <li>Your advanced learner loans bursary contract value is £50,000. We would only consider your exceptional adjustment if the amount you enter is more than £2,500.</li>
                </ul>

                <p class="govuk-body">
                    Adjustments below the threshold will normally be rejected. However, negative adjustments where you are due to return funding will still be accepted. All exceptional adjustments are subject to affordability, and the outcome of your case will be reflected in your final reconciliation statement.
                </p>

                <h2 class="govuk-heading-m">What to include in your evidence</h2>
                <p class="govuk-body">Please provide:</p>

                <h3 class="govuk-heading-s">1. Why the adjustment was needed</h3>
                <ul class="govuk-list govuk-list--bullet">
                    <li>Explain the issue and why you made the adjustment.</li>
                </ul>

                <h3 class="govuk-heading-s">2. Proof of the error and its impact</h3>
                <ul class="govuk-list govuk-list--bullet">
                    <li>Include learner-level details like Unique Learner Number (ULN) or student reference numbers</li>
                    <li>Cost and/or spending details to support your claim</li>
                    <li>Do not include personal data (e.g. names, dates of birth, addresses) to comply with GDPR.</li>
                </ul>

                <h3 class="govuk-heading-s">3. Any extra information</h3>
                <ul class="govuk-list govuk-list--bullet">
                    <li>Add anything else that supports your case.</li>
                </ul>

                <div class="govuk-warning-text">
                    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                    <strong class="govuk-warning-text__text">
                        <span class="govuk-visually-hidden">Important</span>
                        If you don’t send your evidence within 5 working days, your adjustment will be removed and won’t appear in your final reconciliation statement.
                    </strong>
                </div>
                        <button class="govuk-button" data-module="govuk-button">
                            Confirm 
                        </button>
                    </div>

                </form>

            </div>
        </div>
    </main>
</div>

{% endblock %}