{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}


{% block content %}
{% include "./includes/nav.html" %}

<a href="javascript:history.back()" class="govuk-back-link">Back</a>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
                 <table class="govuk-table">
                    <caption class="govuk-table__caption govuk-table__caption--l">Update deliverable</caption>
                    <thead class="govuk-table__head">
                      <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">Field</th>
                        <th scope="col" class="govuk-table__header">Value</th>
                      </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">FSP code</th>
                        <td class="govuk-table__cell">
                          <select class="govuk-select" id="sort" name="sort">
                            <option value="AEBC-ASCL2122">AEBC-ASCL2122</option>
                            <option value="AEBC-19TRN2122">AEBC-19TRN2122</option>
                          </select> 
                        </td>
                      </tr>
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Deliverable code</th>
                        <td class="govuk-table__cell">
                          <input class="govuk-input govuk-input--width-8" id="event-name" name="event-name" type="text" value="2">
                        </td>
                      </tr>
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Display name</th>
                        <td class="govuk-table__cell">
                          <input class="govuk-input govuk-input--width-8" id="event-name" name="event-name" type="text" value="ESFA AEB 19 to 24 Traineeships – learning support">
                        </td>
                      </tr>
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Display order</th>
                        <td class="govuk-table__cell">
                          <input class="govuk-input govuk-input--width-8" id="event-name" name="event-name" type="text" value="2">
                        </td>
                      </tr>
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Delivery to date</th>
                        <td class="govuk-table__cell">
                          <select class="govuk-select" id="sort" name="sort">
                            <option value="Read">Read only</option>
                            <option value="Update">Update</option>
                          </select> 
                        </td>
                      </tr>
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Exceptional adjustments</th>
                        <td class="govuk-table__cell">
                          <select class="govuk-select" id="sort" name="sort">
                            <option value="Yes">Yes</option>
                            <option value="No">No</option>
                          </select> 
                        </td>
                      </tr>
                    </tbody>
                  </table>

                  <a class="govuk-button" href="/fundingclaimconfig">Save</a>





               





        </div>

</div>


{% endblock %}
