{% extends "layoutsld.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}


{% block content %}
<body class="govuk-template__body  js-enabled">

    




    <div class="govuk-width-container">

        <main class="govuk-main-wrapper" id="content" role="main">

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">


                    <h1 class="govuk-heading-xl">Funding claim submissions</h1>

                    <br>



                    <h2 class="govuk-heading-m">Mid-Year (R06) Funding Claim 2024 to 2025</h2>

                    <table class="govuk-table">
                        <tbody><tr class="govuk-table__row">
                            <td class="govuk-table__cell"> Open for submission</td>
                            <td class="govuk-table__cell">
                                    <a class="govuk-button " href="/fundingclaimadultmidyear2425">Review and Edit</a>
                            </td>
                        </tr>

                   </tbody></table>

                   
                   <h2 class="govuk-heading-m">Final (R14) Funding Claim 2023 to 2024</h2>

                   <table class="govuk-table">
                           <tbody><tr class="govuk-table__row">
                               <td class="govuk-table__cell">Last submitted: 20 October 2023 at 12:30pm</td>
                               <td class="govuk-table__cell">
                                   <a class="govuk-link" href="/fundingclaimadultfinal2223">
                                       View submission
                                       <span class="govuk-visually-hidden">
                                           20 January 2023 at 12:06pm
                                       </span>
                                   </a>
                               </td>
                           </tr>
                          </tbody>
                   </table>
                   


                   <h2 class="govuk-heading-m">Year-End (R10) Funding Claim 2023 to 2024</h2>


                    <table class="govuk-table">
                        <tbody><tr class="govuk-table__row">
                            <td class="govuk-table__cell">Last submitted: 20 Jun 2024 at 12:30pm</td>
                            <td class="govuk-table__cell">
                                <a class="govuk-link" href="/fundingclaimadultyearend2324">
                                    View submission
                                </a>
                            </td>
                        </tr>

                   </tbody></table>


                   <h2 class="govuk-heading-m">Mid-Year (R06) Funding Claim 2023 to 2024</h2>

                   <table class="govuk-table">
                           <tbody><tr class="govuk-table__row">
                               <td class="govuk-table__cell">Last submitted: 20 Feb 2024 at 12:30pm</td>
                               <td class="govuk-table__cell">
                                   <a class="govuk-link" href="/fundingclaimadultmidyear2324">
                                       View submission
                                   </a>
                               </td>
                           </tr>
                          </tbody>
                   </table>


                   <h2 class="govuk-heading-m">Final (R14) Funding Claim 2022 to 2023</h2>

                   <table class="govuk-table">
                           <tbody><tr class="govuk-table__row">
                               <td class="govuk-table__cell">Last submitted: 20 October 2023 at 12:30pm</td>
                               <td class="govuk-table__cell">
                                   <a class="govuk-link" href="/fundingclaimadultfinal2223">
                                       View submission
                                       <span class="govuk-visually-hidden">
                                           20 January 2023 at 12:06pm
                                       </span>
                                   </a>
                               </td>
                           </tr>
                          </tbody>
                   </table>
                   




<h2 class="govuk-heading-m">Year-End (R14) Funding Claim 2022 to 2023</h2>

<table class="govuk-table">
        <tbody><tr class="govuk-table__row">
            <td class="govuk-table__cell">Last submitted: 20 January 2023 at 12:06pm</td>
            <td class="govuk-table__cell">
                <a class="govuk-link" href="/fc/ViewSubmission/2223-MidYear/24169585-B6E0-4025-869F-E1CFEF19918C">
                    View submission
                    <span class="govuk-visually-hidden">
                        20 January 2023 at 12:06pm
                    </span>
                </a>
            </td>
        </tr>
       </tbody>
</table>


<h2 class="govuk-heading-m">Mid-Year (R06) Funding Claim 2022 to 2023</h2>

<table class="govuk-table">
        <tbody><tr class="govuk-table__row">
            <td class="govuk-table__cell">Last submitted: 20 January 2023 at 12:06pm</td>
            <td class="govuk-table__cell">
                <a class="govuk-link" href="/fc/ViewSubmission/2223-MidYear/24169585-B6E0-4025-869F-E1CFEF19918C">
                    View submission
                    <span class="govuk-visually-hidden">
                        20 January 2023 at 12:06pm
                    </span>
                </a>
            </td>
        </tr>
</tbody></table>


                </div>

                <div class="govuk-grid-column-one-third">

                    
<div>
    <aside class="interruption-card">
        <div class="data">
            <span class="data-item bold-xlarge">19 days</span>

                <p class="govuk-body-white">until Year-End (R10) Funding Claim 2024 to 2025 closes on Saturday 16 September at 6:00pm</p>
        </div>
    </aside>
</div>


                    <aside class="app-related-items" role="complementary">
                        <h2 class="govuk-heading-m" id="subsection-title-more-actions">
                            More actions
                        </h2>
                        <nav role="navigation" aria-labelledby="subsection-title-more-actions">
                            <ul class="govuk-list govuk-!-font-size-16">
                                
                                <li>
                                    <a class="govuk-link" href="/submission-options">Submit another file type</a>
                                </li>
                                <li>
                                    <a class="govuk-link" href="/reports">View ILR data</a>
                                </li>
                            </ul>
                        </nav>
                    </aside>

                    <p></p>
                    <p></p>
                </div>
            </div>

        </main>
    </div>

</body>
{% endblock %}