{% extends "layoutsld.html" %}
{% block pageTitle %}
Submit learner data
{% endblock %}
{% block content %}
<body class="govuk-template__body js-enabled">
    <main class="govuk-main-wrapper" id="content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <div class="govuk-!-text-align-right">
                    <span>SharedTestUser FundingClaim UKPRN:10000055</span> |
                    <a href="#" class="govuk-link">Sign out</a>
                </div>
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds govuk-!-margin-auto">
                <h1 class="govuk-heading-l">We’ve saved your updates</h1>
                <p class="govuk-body">Remember to complete your claim by <strong>13 February 2025</strong></p>
                <ul class="govuk-list govuk-list--bullet">
                    <li><a href="fundingclaimadultmidyear2425" class="govuk-link">Continue submission</a></li>
                    <li><a href="fundingclaimsubmissions2425" class="govuk-link">View previous submissions</a></li>
                </ul>
            </div>
        </div>
    </main>
</body>
{% endblock %}
