{% extends "layoutsld.html" %}
{% block pageTitle %}
Submit learner data - GOV.UK
{% endblock %}
{% block content %}
<body class="govuk-template__body js-enabled">
  <main class="govuk-main-wrapper" id="content" role="main">
    <div class="govuk-width-container">
      <!-- Header -->
      <header class="govuk-header" role="banner" data-module="govuk-header">
        <div class="govuk-header__container govuk-width-container">
          <div class="govuk-header__content">
            <a href="#" class="govuk-header__link govuk-header__link--service-name">
              Submit learner data
            </a>
          </div>
        </div>
      </header>
      <!-- LIVE feedback link -->
      <div class="govuk-notification-banner govuk-notification-banner--info" role="region">
        <p class="govuk-body govuk-!-margin-bottom-0">
          <span class="govuk-tag govuk-tag--blue">LIVE</span>
          <a href="#" class="govuk-link" target="_blank">Your feedback (opens in new tab)</a> will help us improve the service.
        </p>
      </div>
      <!-- Sign-out and UKPRN -->
      <div class="govuk-grid-row govuk-!-padding-top-2">
        <div class="govuk-grid-column-one-half govuk-body">
          A N Other UKPRN: 12345678
        </div>
        <div class="govuk-grid-column-one-half govuk-body govuk-!-text-align-right">
          <a href="#" class="govuk-link">Sign out</a>
        </div>
      </div>
      <!-- Confirmation Panel -->
      <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-top-6">
        <h1 class="govuk-panel__title">You've submitted your data successfully</h1>
      </div>
      <!-- Link to funding claim submissions -->
      <p class="govuk-body">
        <a href="#" class="govuk-link">View your funding claim submissions</a>
      </p>
      <!-- What happens next section -->
      <h2 class="govuk-heading-m">What happens next</h2>
      <p class="govuk-body">
        You can edit your data and submit again until <strong>25 October 2024</strong>.
      </p>
    </div>
  </main>
</body>
{% endblock %}















