{% extends "layoutsld.html" %}
{% block pageTitle %}
Select and upload HECoS file
{% endblock %}
{% block content %}
<body class="govuk-template__body js-enabled">
    <main class="govuk-main-wrapper" id="content" role="main">
        <!-- User Information and Sign Out -->
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full govuk-!-text-align-right">
                <span>Beau DummarTEST UKPRN:10040002</span> |
                <a href="#" class="govuk-link">Sign out</a>
            </div>
        </div>
        <!-- Navigation Links -->
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <a class="govuk-back-link" href="#">Back</a>
                <a href="#" class="govuk-link govuk-!-margin-left-3">Export</a>
                <a href="#" class="govuk-link govuk-!-margin-left-3">Import</a>
            </div>
        </div>
        <!-- Main Content -->
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-l">Select and upload HECoS file</h1>
                <p class="govuk-body govuk-!-font-size-16">Return for 2023/24</p>
                <p class="govuk-body">
                    Before importing your file, you should make sure that:
                </p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>It is in CSV format.</li>
                    <li>The data it contains is as complete as possible.</li>
                    <li>The data it contains is as accurate as possible.</li>
                </ul>
                <!-- File Upload Section -->
                <div class="govuk-form-group">
                    <label class="govuk-label govuk-!-font-weight-bold" for="file-upload">
                        Select a file to upload
                    </label>
                    <input class="govuk-file-upload" id="file-upload" name="file-upload" type="file">
                </div>
                <a href="HecosConfirmation.html" class="govuk-button">Upload</a>
                <p class="govuk-body">
                    Return period: &lt;YYYY&gt; to &lt;YYYY&gt;
                </p>
                <p class="govuk-body">
                    No data has been submitted. Submitted data and reports will be available here when files are submitted.
                </p>
            </div>
            <!-- Help & Support Section -->
            <div class="govuk-grid-column-one-third">
                <h2 class="govuk-heading-m">Help & Support</h2>
                <p class="govuk-body">
                    Find further information at the
                    <a href="#" class="govuk-link">Customer Help Centre</a>, where you can read
                    <a href="#" class="govuk-link">helpful articles</a>, talk to our
                    <a href="#" class="govuk-link">Community</a>, chat to our
                    <a href="#" class="govuk-link">virtual assistant</a>, or submit an enquiry.
                </p>
                <h3 class="govuk-heading-s">Related content</h3>
                <ul class="govuk-list">
                    <li><a href="#" class="govuk-link">Learning aim reference service (LARS)</a></li>
                </ul>
                <h3 class="govuk-heading-s">Tools and Services</h3>
                <ul class="govuk-list">
                    <li><a href="#" class="govuk-link">Find a Learning Aim</a></li>
                </ul>
            </div>
        </div>
    </main>
    <!-- Footer -->
</body>
{% endblock %}



