{% extends "layoutsld.html" %}

{% block pageTitle %}
HECOS Submissions
{% endblock %}


{% block content %}

<div class="govuk-width-container">
    <a href="javascript:history.back()" class="govuk-back-link">Back</a>

    <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">

                <h1 class="govuk-heading-xl">Submissions</h1>
                <h1 class="govuk-heading-x1">Higher Education Classification of Subjects</h1>
                </div>

                
                <!-- === HORIZONTAL RULE REMOVED FROM HERE === -->
                <!-- Removed: <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible"> -->

                <!-- === SECTION FOR 2025-26 (Empty Return) === -->
                <!-- Added margin-top to separate visually from checkboxes -->
                <h2 class="govuk-heading-l govuk-!-margin-top-6">Academic Year 2025 to 2026</h2>
                
                 <p class="govuk-body">there is no data curently submitted for the 2025 to 2026 academic year.<br><a class="govuk-link" href="#">Submit HECOS data</a></p>


                <!-- === SECTION FOR 2024-25 (Completed Return) === -->
                <h2 class="govuk-heading-l govuk-!-margin-top-9">Academic Year 2024 to 2025</h2>
          
               
             

                <table class="govuk-table">
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header">Date</th>
                            <th scope="col" class="govuk-table__header">File</th>
                            <th scope="col" class="govuk-table__header">Submitted by</th>
                            <th scope="col" class="govuk-table__header">Reference</th>
                            <th scope="col" class="govuk-table__header">Reports</th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">05 October 2024 at 14:32</td>
                            <td class="govuk-table__cell"><a href="#" class="govuk-link">HECOS-10040002-20241005-01.csv</a></td>
                            <td class="govuk-table__cell">Beau DurmanTEST</td>
                            <td class="govuk-table__cell">2091234</td>
                            <td class="govuk-table__cell"><a class="govuk-link" href="#">Download reports</a></td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">01 September 2024 at 11:02</td>
                            <td class="govuk-table__cell"><a href="#" class="govuk-link">HECOS-10040002-20240901-01.csv</a></td>
                            <td class="govuk-table__cell">DominicTEST StoneTEST</td>
                            <td class="govuk-table__cell">2081001</td>
                            <td class="govuk-table__cell"><a class="govuk-link" href="#">Download reports</a></td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </main>
</div>

{% endblock %}



