{% extends "layoutsld.html" %}
{% block pageTitle %}
HECoS file submitted
{% endblock %}
{% block content %}
<body class="govuk-template__body js-enabled">
    <main class="govuk-main-wrapper" id="content" role="main">
        <!-- User Information and Sign Out -->
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full govuk-!-text-align-right">
                <span>Beau DummarTEST UKPRN:10040002</span> |
                <a href="#" class="govuk-link">Sign out</a>
            </div>
        </div>
        <!-- Live feedback notification -->
        <div class="govuk-notification-banner govuk-notification-banner--success" role="alert">
            <div class="govuk-notification-banner__content">
                <p class="govuk-body">
                    <a class="govuk-link" href="#">Your feedback (opens in new tab)</a> will help us improve the service.
                </p>
            </div>
        </div>
        <!-- Main Content -->
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <div class="govuk-panel govuk-panel--confirmation">
                    <h1 class="govuk-panel__title">HECoS file submitted</h1>
                    <div class="govuk-panel__body">
                        Reference: <strong class="govuk-!-font-size-36">2074080</strong>
                    </div>
                </div>
                <p class="govuk-body"><strong>File:</strong> 10040002-LDCS-2324-20230123-140641.CSV</p>
                <p class="govuk-body"><strong>Submitted by:</strong> Beau DummarTEST</p>
                <p class="govuk-body"><strong>At:</strong> 10:35am on Monday 11 November 2024</p>
                <h2 class="govuk-heading-m">What happens next?</h2>
                <p class="govuk-body">
                    We’ve sent an email to beau.dummar@education.gov.uk to confirm we’ve received your file.
                </p>
                <p class="govuk-body">
                    <a href="#" class="govuk-link">Wrong email address or email not arrived</a>
                </p>
                <a href="#" class="govuk-button govuk-button--secondary">View submissions</a>
                <p class="govuk-body">
                    <a href="#" class="govuk-link">Submit another data return</a>
                </p>
            </div>
            <!-- Help & Support Section -->
            <div class="govuk-grid-column-one-third">
                <h2 class="govuk-heading-m">Help & Support</h2>
                <p class="govuk-body">
                    Find further information at the
                    <a href="#" class="govuk-link">Customer Help Centre</a>, where you can read
                    <a href="#" class="govuk-link">helpful articles</a>, talk to our
                    <a href="#" class="govuk-link">Community</a>, chat to our
                    <a href="#" class="govuk-link">virtual assistant</a>, or submit an enquiry.
                </p>
                <h3 class="govuk-heading-s">Related content</h3>
                <ul class="govuk-list">
                    <li><a href="#" class="govuk-link">Learning aim reference service (LARS)</a></li>
                </ul>
                <h3 class="govuk-heading-s">Tools and Services</h3>
                <ul class="govuk-list">
                    <li><a href="#" class="govuk-link">Find a Learning Aim</a></li>
                </ul>
            </div>
        </div>
    </main>
    <!-- Footer -->
    <footer class="govuk-footer" role="contentinfo">
        <div class="govuk-width-container">
            <div class="govuk-footer__meta">
                <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
                    <ul class="govuk-footer__inline-list">
                        <li class="govuk-footer__inline-list-item"><a class="govuk-footer__link" href="#">Privacy policy</a></li>
                        <li class="govuk-footer__inline-list-item"><a class="govuk-footer__link" href="#">Terms and conditions</a></li>
                        <li class="govuk-footer__inline-list-item"><a class="govuk-footer__link" href="#">Accessibility statement</a></li>
                        <li class="govuk-footer__inline-list-item"><a class="govuk-footer__link" href="#">Cookies</a></li>
                    </ul>
                    <p class="govuk-footer__meta-item govuk-footer__meta-item--grow">
                        All content is available under the
                        <a class="govuk-footer__link" href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/">Open Government Licence v3.0</a>,
                        except where otherwise stated.
                    </p>
                </div>
                <div class="govuk-footer__meta-item">
                    <a class="govuk-footer__link govuk-footer__link--no-visited-state" href="#">
                        <svg class="govuk-footer__licence-logo" xmlns="http://www.w3.org/2000/svg" height="17" viewBox="0 0 41 17" fill="currentColor">
                            <path d="M0 0h11l1 2h15l1-2h11v5H0z" />
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </footer>
</body>
{% endblock %}


