{% extends "layoutsld.html" %}
{% block pageTitle %}
Export HECoS template
{% endblock %}
{% block content %}
<body class="govuk-template__body js-enabled">
    <main class="govuk-main-wrapper" id="content" role="main">
        <!-- Header with user information -->
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full govuk-!-text-align-right">
                <span>Beau DummarTEST UKPRN:10040002</span> |
                <a href="#" class="govuk-link">Sign out</a>
            </div>
        </div>
        <!-- Back and navigation links -->
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <a class="govuk-back-link" href="#">Back</a>
                <a href="#" class="govuk-link govuk-!-margin-left-3">Import</a>
            </div>
        </div>
        <!-- Main content -->
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-l">Export HECoS template</h1>
                <p class="govuk-body govuk-!-font-size-16">This return is for submitting Higher Education Classification of Subjects (HECoS) codes.</p>
                <p class="govuk-body">
                    The template will be populated with the learning aims from your HE dataset and the
                    corresponding valid HECoS codes. Please download the CSV template below and input the
                    percentage split that equates to each HECoS code.
                </p>
                <p class="govuk-body">
                    To complete the HECoS file submission:
                </p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>Export the CSV template below.</li>
                    <li>Input HECoS percentages.</li>
                    <li>Upload the CSV within the Import tab.</li>
                </ul>
                <p class="govuk-body">
                    Export the template using the button below:
                </p>
                <a href="HecosUpload.html" class="govuk-button">Export Template</a>
            </div>
            <!-- Help & Support Section -->
            <div class="govuk-grid-column-one-third">
                <h2 class="govuk-heading-m">Help & Support</h2>
                <p class="govuk-body">
                    Find further information at the
                    <a href="#" class="govuk-link">Customer Help Centre</a>, where you can read
                    <a href="#" class="govuk-link">helpful articles</a>, talk to our
                    <a href="#" class="govuk-link">Community</a>, chat to our
                    <a href="#" class="govuk-link">virtual assistant</a>, or submit an enquiry.
                </p>
                <h3 class="govuk-heading-s">Related content</h3>
                <ul class="govuk-list">
                    <li><a href="#" class="govuk-link">Learning aim reference service (LARS)</a></li>
                </ul>
                <h3 class="govuk-heading-s">Tools and Services</h3>
                <ul class="govuk-list">
                    <li><a href="#" class="govuk-link">Find a Learning Aim</a></li>
                </ul>
            </div>
        </div>
    </main>
{% endblock %}