{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}


{% block content %}
{% include "./includes/nav.html" %}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>

<h1 class="govuk-heading-l">Topic subscriptions and tasks</h1>

<h2 class="govuk-heading-m">Tasks for datamatchtopic Reports</h2>


  <table class="govuk-table">
    <caption class="govuk-table__caption govuk-table__caption--m">Enable or disable tasks</caption>
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Topic</th>
        <th scope="col" class="govuk-table__header">Subscription</th>
        <th scope="col" class="govuk-table__header">Stage</th>
        <th scope="col" class="govuk-table__header">Task name</th>
        <th scope="col" class="govuk-table__header">Last updated</th>
        <th scope="col" class="govuk-table__header">Enabled</th>
        
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">datamatchtopic</th>
        <td class="govuk-table__cell">Reports</td>
        <td class="govuk-table__cell">2</td>
        <td class="govuk-table__cell">TaskGenerateDataMatchReport</td>
        <td class="govuk-table__cell">28 April 2021</td>
        <td class="govuk-table__cell">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses" checked>
            <label class="govuk-label govuk-checkboxes__label" for="waste">
            </label>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <a href="/ILRtopicstaskscheck" button class="govuk-button" data-module="govuk-button">
    Save
  </a>


{% endblock %}
