{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}


{% block content %}
{% include "./includes/nav.html" %}

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="tasksyear">Select year </a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="collectiontype">Collection type</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="collectiontopictask">Collection</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      Topic subscriptions
    </li>
  </ol>
</div>
<br>

<h1 class="govuk-heading-l">Enable topic subscriptions for ILR2122<h1>

<div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">

  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
          datamatchtopic
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
     
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header govuk-!-width-three-quarters">Subscription</th>
            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Setting</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body" id="fileContainer">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="datamatchtopicreportstasks.html">Reports</a> 
              <br>
              <br>
               <div class="govuk-body govuk-body govuk-!-font-weight-bold">
                This subscription has tasks that are currently disabled  
                </div>
            </td>
            <td class="govuk-table__cell">
              <div class="govuk-radios govuk-radios--small govuk-radios--inline">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="datamatchreports" name="datamatchreports" type="radio" value="on" checked>
                  <label class="govuk-label govuk-radios__label" for="datamatchreports">
                    On
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="datamatchreports" name="datamatchreports" type="radio" value="off">
                  <label class="govuk-label govuk-radios__label" for="datamatchreports">
                    Off
                  </label>
                </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
          esfsubmissiontopic
        </span>
      </h2>
      <div class="govuk-accordion__section-summary govuk-body govuk-!-font-weight-bold" id="accordion-with-summary-sections-summary-1">
        This topic has subscriptions that are currently disabled
      </div>
    </div>
    <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
     
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header govuk-!-width-three-quarters">Subscription</th>
            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Setting</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body" id="fileContainer">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="esfv2tasks.html">ESFV2</a> 
              <br>
              <br>
               <div class="govuk-body govuk-body govuk-!-font-weight-bold">
                This subscription has tasks that are currently disabled
              </div>
            </td>
            <td class="govuk-table__cell">
              <div class="govuk-radios govuk-radios--small govuk-radios--inline">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="ESFV2" name="ESFV2" type="radio" value="on" checked>
                  <label class="govuk-label govuk-radios__label" for="ESFV2">
                    On
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="ESFV2" name="ESFV2" type="radio" value="off">
                  <label class="govuk-label govuk-radios__label" for="ESFV2">
                    Off
                  </label>
                </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  

  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
          frmsubmissiontopic
        </span>
      </h2>
      <div class="govuk-accordion__section-summary govuk-body govuk-!-font-weight-bold" id="accordion-with-summary-sections-summary-1">
        This topic has subscriptions and tasks that are currently disabled
      </div>
    </div>
    <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
     
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header govuk-!-width-three-quarters">Subscription</th>
            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Setting</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body" id="fileContainer">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="frmtasks.html">FRM</a> 
              <br>
              <br>
               <div class="govuk-body govuk-body govuk-!-font-weight-bold">
                This subscription has tasks that are currently disabled
              </div>
            </td>
            <td class="govuk-table__cell">
              <div class="govuk-radios govuk-radios--small govuk-radios--inline">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="FRM" name="FRM" type="radio" value="on" checked>
                  <label class="govuk-label govuk-radios__label" for="FRM">
                    On
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="FRM" name="FRM" type="radio" value="off">
                  <label class="govuk-label govuk-radios__label" for="FRM">
                    Off
                  </label>
                </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>



  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
          ilr2122submissiontopic
        </span>
      </h2>
      <div class="govuk-accordion__section-summary govuk-body govuk-!-font-weight-bold" id="accordion-with-summary-sections-summary-1">
        This topic has tasks that are currently disabled
      </div>
    </div>
    <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
     
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header govuk-!-width-three-quarters">Subscription</th>
            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Setting</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body" id="fileContainer">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="ilrreportstasks.html">Reports</a> 
              <br>
              <br>
               <div class="govuk-body govuk-body govuk-!-font-weight-bold">
                This subscription has tasks that are currently disabled
              </div>
            </td>
            <td class="govuk-table__cell">
              <div class="govuk-radios govuk-radios--small govuk-radios--inline">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="Reports" name="Reports" type="radio" value="on" checked>
                  <label class="govuk-label govuk-radios__label" for="Reports">
                    On
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="Reports" name="Reports" type="radio" value="off">
                  <label class="govuk-label govuk-radios__label" for="Reports">
                    Off
                  </label>
                </div>
            </td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell">FileValidation</td>
            <td class="govuk-table__cell">
              <div class="govuk-radios govuk-radios--small govuk-radios--inline">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="FileValidation" name="FileValidation" type="radio" value="on" checked>
                  <label class="govuk-label govuk-radios__label" for="FileValidation">
                    On
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="FileValidation" name="FileValidation" type="radio" value="off" checked>
                  <label class="govuk-label govuk-radios__label" for="FileValidation">
                    Off
                  </label>
                </div>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Validation</td>
            <td class="govuk-table__cell">
              <div class="govuk-radios govuk-radios--small govuk-radios--inline">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="Validation" name="Validation" type="radio" value="on" checked>
                  <label class="govuk-label govuk-radios__label" for="Validation">
                    On
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="Validation" name="Validation" type="radio" value="off" checked>
                  <label class="govuk-label govuk-radios__label" for="Validation">
                    Off
                  </label>
                </div>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">ReferenceDataRetrieval</td>
            <td class="govuk-table__cell">
              <div class="govuk-radios govuk-radios--small govuk-radios--inline">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="ReferenceDataRetrieval" name="ReferenceDataRetrieval" type="radio" value="on" checked>
                  <label class="govuk-label govuk-radios__label" for="ReferenceDataRetrieval">
                    On
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="ReferenceDataRetrieval" name="ReferenceDataRetrieval" type="radio" value="off" checked>
                  <label class="govuk-label govuk-radios__label" for="ReferenceDataRetrieval">
                    Off
                  </label>
                </div>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Deds</td>
            <td class="govuk-table__cell">
              <div class="govuk-radios govuk-radios--small govuk-radios--inline">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="Deds" name="Deds" type="radio" value="on" checked>
                  <label class="govuk-label govuk-radios__label" for="Deds">
                    On
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="Deds" name="Deds" type="radio" value="off" checked>
                  <label class="govuk-label govuk-radios__label" for="Deds">
                    Off
                  </label>
                </div>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">GenerateFM36Payments</td>
            <td class="govuk-table__cell">
              <div class="govuk-radios govuk-radios--small govuk-radios--inline">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="GenerateFM36Payments" name="GenerateFM36Payments" type="radio" value="on" checked>
                  <label class="govuk-label govuk-radios__label" for="GenerateFM36Payments">
                    On
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="GenerateFM36Payments" name="GenerateFM36Payments" type="radio" value="off" checked>
                  <label class="govuk-label govuk-radios__label" for="GenerateFM36Payments">
                    Off
                  </label>
                </div>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Funding</td>
            <td class="govuk-table__cell">
              <div class="govuk-radios govuk-radios--small govuk-radios--inline">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="Funding" name="Funding" type="radio" value="on" checked>
                  <label class="govuk-label govuk-radios__label" for="Funding">
                    On
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="Funding" name="Funding" type="radio" value="off" checked>
                  <label class="govuk-label govuk-radios__label" for="Funding">
                    Off
                  </label>
                </div>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">FileValidation</td>
            <td class="govuk-table__cell">
              <div class="govuk-radios govuk-radios--small govuk-radios--inline">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="FileValidation1" name="FileValidation1" type="radio" value="on" checked>
                  <label class="govuk-label govuk-radios__label" for="FileValidation1">
                    On
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="FileValidation1" name="FileValidation1" type="radio" value="off" checked>
                  <label class="govuk-label govuk-radios__label" for="FileValidation1">
                    Off
                  </label>
                </div>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">GenerateFM36Payments</td>
            <td class="govuk-table__cell">
              <div class="govuk-radios govuk-radios--small govuk-radios--inline">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="GenerateFM36Payments1" name="GenerateFM36Payments1" type="radio" value="on" checked>
                  <label class="govuk-label govuk-radios__label" for="GenerateFM36Payments1">
                    On
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="GenerateFM36Payments1" name="GenerateFM36Payments1" type="radio" value="off" checked>
                  <label class="govuk-label govuk-radios__label" for="GenerateFM36Payments1">
                    Off
                  </label>
                </div>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">ReferenceDataRetrieval</td>
            <td class="govuk-table__cell">
              <div class="govuk-radios govuk-radios--small govuk-radios--inline">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="ReferenceDataRetrieval1" name="ReferenceDataRetrieval1" type="radio" value="on" checked>
                  <label class="govuk-label govuk-radios__label" for="Validation">
                    On
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="ReferenceDataRetrieval1" name="ReferenceDataRetrieval1" type="radio" value="off" checked>
                  <label class="govuk-label govuk-radios__label" for="ReferenceDataRetrieval1">
                    Off
                  </label>
                </div>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Reports</td>
            <td class="govuk-table__cell">
              <div class="govuk-radios govuk-radios--small govuk-radios--inline">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="Reports1" name="Reports1" type="radio" value="on" checked>
                  <label class="govuk-label govuk-radios__label" for="Reports1">
                    On
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="Reports1" name="Reports1" type="radio" value="off" checked>
                  <label class="govuk-label govuk-radios__label" for="Reports1">
                    Off
                  </label>
                </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  </div>


<a href="/ILRtopicstasks" button class="govuk-button" data-module="govuk-button">
  Save
</a>
<a href="/ILRtopicstasksradio" button class="govuk-button" data-module="govuk-button">
  cleaner screen with radios
</a>
<a href="/ILRtopicstaskscheck" button class="govuk-button" data-module="govuk-button">
  cleaner screen with checkboxes
</a>



{% endblock %}
