{# app/views/layout.html #}
{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{# ------------------------ HEADER ------------------------ #}
{% block header %}
  {{ govukHeader({
    homepageUrl: "/",
    classes: "govuk-header--full-width-border"
  }) }}

  {# Ensure activeNav is always defined #}
  {% set activeNav = activeNav or "" %}

  {# Precompute classes/attributes for each nav item to avoid ternary inside object literals #}

  {# Qualifications #}
  {% set qClasses = "" %}
  {% set qAttrs = {} %}
  {% if activeNav == "qualifications" %}
    {% set qClasses = "app-service-nav__item--active" %}
    {% set qAttrs = {"aria-current": "page"} %}
  {% endif %}

  {# Frameworks #}
  {% set fClasses = "" %}
  {% set fAttrs = {} %}
  {% if activeNav == "frameworks" %}
    {% set fClasses = "app-service-nav__item--active" %}
    {% set fAttrs = {"aria-current": "page"} %}
  {% endif %}

  {# Units #}
  {% set uClasses = "" %}
  {% set uAttrs = {} %}
  {% if activeNav == "units" %}
    {% set uClasses = "app-service-nav__item--active" %}
    {% set uAttrs = {"aria-current": "page"} %}
  {% endif %}

  {# Standards #}
  {% set sClasses = "" %}
  {% set sAttrs = {} %}
  {% if activeNav == "standards" %}
    {% set sClasses = "app-service-nav__item--active" %}
    {% set sAttrs = {"aria-current": "page"} %}
  {% endif %}

  {# T Levels #}
  {% set tClasses = "" %}
  {% set tAttrs = {} %}
  {% if activeNav == "t-levels" %}
    {% set tClasses = "app-service-nav__item--active" %}
    {% set tAttrs = {"aria-current": "page"} %}
  {% endif %}

  {% block serviceNavigation %}
    {{ govukServiceNavigation({
      serviceName: "Find a Learning Aim",
      serviceUrl: "/falaqualhome.html",
      navigation: [
        {
          href: "/falaqualhome.html",
          text: "Qualifications",
          classes: qClasses,
          attributes: qAttrs
        },
        {
          href: "/falaframeworkhome.html",
          text: "Frameworks",
          classes: fClasses,
          attributes: fAttrs
        },
        {
          href: "/falaunitshome.html",
          text: "Units",
          classes: uClasses,
          attributes: uAttrs
        },
        {
          href: "#",
          text: "Standards",
          classes: sClasses,
          attributes: sAttrs
        },
        {
          href: "#",
          text: "T Levels",
          classes: tClasses,
          attributes: tAttrs
        }
      ]
    }) }}
  {% endblock %}
{% endblock %}

{# ------------------------ PAGE TITLE ------------------------ #}
{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{# ------------------------ MAIN CONTENT ------------------------ #}
{% block content %}{% endblock %}

{# ------------------------ GLOBAL CSS ------------------------ #}
{% block stylesheets %}
  {{ super() }}
{% endblock %}

{# ------------------------ GLOBAL JS ------------------------ #}
{% block scripts %}
  {{ super() }}
{% endblock %}