{% extends "layout.html" %}

{% block pageTitle %}
  Staff list
{% endblock %}

{% block content %}
{% include "./includes/nav.html" %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <a href="/dashboard" class="govuk-back-link">Return to dashboard</a>

    <h1 class="govuk-heading-l">Staff list</h1>

    <h2 class="govuk-heading-m">Staff data completion details</h2>

        <div class="govuk-grid-row" style="display: flex; align-items: center; border-bottom: 1px solid #b1b4b6; padding-bottom: 10px; margin-bottom: 20px;">
        <div class="govuk-grid-column-one-half">
            <span class="govuk-body" style="font-weight: 700;">
                Complete the staff collection
            </span>
        </div>
        <div class="govuk-grid-column-one-half" style="text-align: right;">
                        <form action="/complete-collection-url" method="post" novalidate style="margin-bottom: 0; display: inline;">
                <button class="govuk-button govuk-button--warning" data-module="govuk-button" style="margin-bottom: 0;">
                    Complete
                </button>
            </form>
        </div>
    </div>
            <p class="govuk-body"><a href="#">Completed staff members</a></p>
    <p class="govuk-body"><a href="#">Incomplete staff members</a></p>

    <p class="govuk-body">All staff data is complete</p>
    <p class="govuk-body">There are 3 completed staff members recorded</p>

        <table class="govuk-table">
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Name</th>
                <th scope="col" class="govuk-table__header">Date of birth</th>
                <th scope="col" class="govuk-table__header">Action</th>
            </tr>
        </thead>
        <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
                <td class="govuk-table__cell">test Test</td>
                <td class="govuk-table__cell">03 March 1980</td>
                <td class="govuk-table__cell"><a href="#">Change</a> <a href="#">Delete</a></td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell">Test Test</td>
                <td class="govuk-table__cell">29 October 1996</td>
                <td class="govuk-table__cell"><a href="#">Change</a> <a href="#">Delete</a></td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell">Test testt</td>
                <td class="govuk-table__cell">03 March 1980</td>
                <td class="govuk-table__cell"><a href="#">Change</a> <a href="#">Delete</a></td>
            </tr>
        </tbody>
    </table>

    <a href="#" class="govuk-button govuk-button--secondary">Add another staff member</a>

  </div>
</div>
{% endblock %}