{% extends "layout.html" %}
{% block pageTitle %}
  Data Collections Operations
{% endblock %}
{% block content %}
{% include "./includes/nav.html" %}
<a href="/OPSRefDataSBCSelection" class="govuk-back-link">Back</a>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div style="background-color: #005ea5; padding: 10px; border-radius: 4px;">
      <h2 class="govuk-heading-m" style="color: white;">Search for a provider</h2>
      <form method="get" action="/search-provider" class="govuk-form-group">
        <input
          class="govuk-input govuk-!-width-two-thirds"
          id="search"
          name="search"
          type="text"
          placeholder="Enter provider name or ID"
        >
      </form>
    </div>
    <div class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Organisation name:</dt>
        <dd class="govuk-summary-list__value">COVENTRY AND WARWICKSHIRE CHAMBERS OF COMMERCE TRAINING LIMITED</dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">UPIN:</dt>
        <dd class="govuk-summary-list__value">10000379</dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">UKPRN:</dt>
        <dd class="govuk-summary-list__value">106437</dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Is MCA:</dt>
        <dd class="govuk-summary-list__value">
          <div class="govuk-checkboxes govuk-checkboxes--small">
            <div class="govuk-checkboxes__item">
              <input
                type="checkbox"
                id="is-mca"
                name="is-mca"
                class="govuk-checkboxes__input"
              >
              <label for="is-mca" class="govuk-label govuk-checkboxes__label"></label>
            </div>
          </div>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Is Non-MCA Devolved Authority:</dt>
        <dd class="govuk-summary-list__value">
          <div class="govuk-checkboxes govuk-checkboxes--small">
            <div class="govuk-checkboxes__item">
              <input
                type="checkbox"
                id="is-non-mca"
                name="is-non-mca"
                class="govuk-checkboxes__input"
              >
              <label for="is-non-mca" class="govuk-label govuk-checkboxes__label"></label>
            </div>
          </div>
        </dd>
      </div>
    </div>
    <h2 class="govuk-heading-l">Assignments</h2>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Collection</th>
          <th scope="col" class="govuk-table__header">Start date</th>
          <th scope="col" class="govuk-table__header">End date</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">FEW2324</td>
          <td class="govuk-table__cell">14-04-2024</td>
          <td class="govuk-table__cell">14-04-2024</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">EAS2324</td>
          <td class="govuk-table__cell">15-08-2024</td>
          <td class="govuk-table__cell">15-08-2024</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">LU2323</td>
          <td class="govuk-table__cell">15-09-2023</td>
          <td class="govuk-table__cell">15-09-2023</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">FEW2223</td>
          <td class="govuk-table__cell">14-04-2023</td>
          <td class="govuk-table__cell">14-04-2023</td>
        </tr>
        <tr class="govuk-table__row">
            <td class="govuk-table__cell">ILR2324</td>
            <td class="govuk-table__cell">14-04-2023</td>
            <td class="govuk-table__cell">14-04-2023</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">FEW2122</td>
            <td class="govuk-table__cell">14-04-2023</td>
            <td class="govuk-table__cell">14-04-2023</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">EAS2223</td>
            <td class="govuk-table__cell">14-04-2023</td>
            <td class="govuk-table__cell">14-04-2023</td>
          </tr>
          <tr class="govuk-table__row"></tr>
            <td class="govuk-table__cell">ILR2223</td>
            <td class="govuk-table__cell">14-04-2023</td>
            <td class="govuk-table__cell">14-04-2023</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">2122-YearEnd</td>
            <td class="govuk-table__cell">14-04-2023</td>
            <td class="govuk-table__cell">14-04-2023</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">EDRS-Ref-Data</td>
            <td class="govuk-table__cell">14-04-2023</td>
            <td class="govuk-table__cell">14-04-2023</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">ILR2122</td>
            <td class="govuk-table__cell">14-04-2023</td>
            <td class="govuk-table__cell">14-04-2023</td>
          </tr>
          <tr class="govuk-table__row"></tr>
            <td class="govuk-table__cell">EAS2122</td>
            <td class="govuk-table__cell">14-04-2023</td>
            <td class="govuk-table__cell">14-04-2023</td>
          </tr>
          <tr class="govuk-table__row"></tr>
            <td class="govuk-table__cell">FEW2021</td>
            <td class="govuk-table__cell">14-04-2023</td>
            <td class="govuk-table__cell">14-04-2023</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">EAS2122</td>
            <td class="govuk-table__cell">14-04-2023</td>
            <td class="govuk-table__cell">14-04-2023</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">FEW2021</td>
            <td class="govuk-table__cell">14-04-2023</td>
            <td class="govuk-table__cell">14-04-2023</td>
          </tr>
          <tr class="govuk-table__row"></tr>
            <td class="govuk-table__cell">EAS2021</td>
            <td class="govuk-table__cell">14-04-2023</td>
            <td class="govuk-table__cell">14-04-2023</td>
          </tr>
      </tbody>
    </table>
  </div>
</div>
{% endblock %}











