{% extends "layout.html" %}

{% block pageTitle %}
    Manage award type
{% endblock %}

{% block content %}
{% include "./includes/nav.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <a href="javascript:history.back()" class="govuk-back-link">Back</a>

    <h1 class="govuk-heading-l">Manage award type</h1>

    <form method="post" action="/update-award-type">
        
        <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="display-hint">
                <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="display-sld" name="displaySld" type="checkbox" value="yes" checked>
                        <label class="govuk-label govuk-checkboxes__label" for="display-sld">
                            Display in SLD
                        </label>
                    </div>
                </div>
            </fieldset>
        </div>

        <div class="govuk-button-group">
            <button class="govuk-button" data-module="govuk-button">
                Save
            </button>
            <a class="govuk-link" href="javascript:history.back()">Cancel</a>
        </div>

    </form>

  </div>
</div>

{% endblock %}