{% extends "layout.html" %}
{% block pageTitle %}
  Submit Learner Data - Operations
{% endblock %}
{% block content %}
{% include "./includes/nav.html" %}
</header>
<div class="govuk-width-container">
    <main class="govuk-main-wrapper" id="main-content" role="main">
        <h1 class="govuk-heading-xl">Manage Provider</h1>
       
       
     
        <div class="govuk-form-group">
            <label for="provider-search" class="govuk-label">Search for a provider</label>
            <input class="govuk-input" id="provider-search" name="provider-search" type="text">
        </div>
        
        <section class="govuk-section-break">
            <h2 class="govuk-heading-l">Provider Information</h2>
            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Name</dt>
                    <dd class="govuk-summary-list__value">COVENTRY AND WARWICKSHIRE CHAMBERS OF COMMERCE TRAINING LIMITED</dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Status</dt>
                    <dd class="govuk-summary-list__value">Active</dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">UKPRN</dt>
                    <dd class="govuk-summary-list__value">10003309</dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">URN</dt>
                    <dd class="govuk-summary-list__value">104437</dd>
                </div>
            </dl>
        </section>
      
        <section>
            <h2 class="govuk-heading-l">Assignments</h2>
            <table class="govuk-table">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header">Collection</th>
                        <th class="govuk-table__header">Start Date</th>
                        <th class="govuk-table__header">End Date</th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">FEW2324</td>
                        <td class="govuk-table__cell">14-08-2024</td>
                        <td class="govuk-table__cell">-</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">EAS2425</td>
                        <td class="govuk-table__cell">15-08-2024</td>
                        <td class="govuk-table__cell">-</td>
                    </tr>
                  
                </tbody>
            </table>
        </section>
    </main>
</div>
<footer class="govuk-footer " role="contentinfo">
    <div class="govuk-width-container">
        <div class="govuk-footer__meta">
            <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
                <h2 class="govuk-visually-hidden">Support links</h2>
                <ul class="govuk-footer__inline-list">
                    <li class="govuk-footer__inline-list-item">
                        <a class="govuk-footer__link" href="#">Help</a>
                    </li>
                    <li class="govuk-footer__inline-list-item">
                        <a class="govuk-footer__link" href="#">Contact</a>
                    </li>
                </ul>
            </div>
            <div class="govuk-footer__meta-item">
                <a class="govuk-footer__link" href="https://www.gov.uk">
                    © Crown copyright
                </a>
            </div>
        </div>
    </div>
</footer>