{% extends "layout.html" %}
{% block pageTitle %}
  Data Collections Operations
{% endblock %}
{% block content %}
{% include "./includes/nav.html" %}
<a href="/OPSRefDataSBCSelection" class="govuk-back-link">Back</a>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">Manage provider</h1>
    <form method="get" action="/search-provider" class="govuk-form-group">
      <label for="search" class="govuk-label">Search for a provider</label>
      <input
        class="govuk-input govuk-!-width-two-thirds"
        id="search"
        name="search"
        type="text"
        placeholder="Enter provider name or ID"
      >
      <button class="govuk-button" type="submit">Search</button>
    </form>
    <div class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Organisation name:</dt>
        <dd class="govuk-summary-list__value">COVENTRY AND WARWICKSHIRE CHAMBERS OF COMMERCE TRAINING LIMITED</dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">UPIN:</dt>
        <dd class="govuk-summary-list__value">10000379</dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">UKPRN:</dt>
        <dd class="govuk-summary-list__value">106437</dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Is MCA:</dt>
        <dd class="govuk-summary-list__value">No</dd>
      </div>
    <div class="govuk-summary-list__row"></div>
        <dt class="govuk-summary-list__key">Is NonMCA Devolved Authority:</dt>
        <dd class="govuk-summary-list__value">No</dd>
      </div>
    </div>
    <h2 class="govuk-heading-l">Assignments</h2>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Collection</th>
          <th scope="col" class="govuk-table__header">Start date</th>
          <th scope="col" class="govuk-table__header">End date</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">FEW2324</td>
          <td class="govuk-table__cell">14-04-2024</td>
          <td class="govuk-table__cell">14-04-2024</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">EAS2324</td>
          <td class="govuk-table__cell">15-08-2024</td>
          <td class="govuk-table__cell">15-08-2024</td>
        </tr>>
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
