{% extends "layout.html" %}

{% block pageTitle %}
    Allocation type
{% endblock %}

{% block content %}
{% include "./includes/nav.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <a href="/AddContractLine" class="govuk-back-link">Back</a>

    <h1 class="govuk-heading-l">Contract line</h1>

    <a href="#" class="govuk-button">Allocation Type</a>

    <div class="govuk-!-margin-top-6">
        <h2 class="govuk-heading-m">Contract Services</h2>
        <p class="govuk-body" style="float: right; margin-top: -30px;"><a href="#">Manage</a></p> 

        {{ govukSummaryList({
            rows: [
                {
                    key: { text: "Created by" },
                    value: { text: "Janet William" }
                },
                {
                    key: { text: "Date created" },
                    value: { text: "20-03-2025" }
                },
                {
                    key: { text: "Modified by" },
                    value: { text: "Mary Block" }
                },
                {
                    key: { text: "Last modified" },
                    value: { text: "20-03-2025" }
                }
            ]
        }) }}
    </div>

    <div class="govuk-!-margin-top-6">
        <h2 class="govuk-heading-m">Adult Skills Fund</h2>
        <p class="govuk-body" style="float: right; margin-top: -30px;"><a href="#">Manage</a></p>

        {{ govukSummaryList({
            rows: [
                {
                    key: { text: "Created by" },
                    value: { text: "Lucy Steven" }
                },
                {
                    key: { text: "Date created" },
                    value: { text: "15-07-2024" }
                },
                {
                    key: { text: "Modified by" },
                    value: { text: "Alan Stick" }
                },
                {
                    key: { text: "Last modified" },
                    value: { text: "15-07-2024" }
                }
            ]
        }) }}
    </div>

  </div>
</div>

<table class="govuk-table">
  <caption class="govuk-table__caption govuk-table__caption--m">Dates and amounts</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Date</th>
      <th scope="col" class="govuk-table__header">Amount</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">First 6 weeks</th>
      <td class="govuk-table__cell">£109.80 per week</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Next 33 weeks</th>
      <td class="govuk-table__cell">£109.80 per week</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Total estimated pay</th>
      <td class="govuk-table__cell">£4,282.20</td>
    </tr>
  </tbody>
</table>

<endblock>