{% extends "layout.html" %}

{% block pageTitle %}
  Start page example
{% endblock %}


{% block content %}
{% include "./includes/nav.html" %}

<a href="/OPSRefDataSBCSelection" class="govuk-back-link">Back</a>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
      
<br>
<div class="govuk-grid-column-full">
<h1 class="govuk-heading-xl">Skills Bootcamp Calculation Methods</h1>

<a class="govuk-button" href="/OPSSBCAddMethod">Add a new Calculation Method</a>


<div class="govuk-body">
    <section>
        <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
            <div class="govuk-accordion__section">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                    <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                        <table class="govuk-table">
                        <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell govuk-!-font-weight-bold govuk-!-width-two-thirds">
                                <strong class="govuk-!-font-size-24">SBC01</strong>
                            </td>
                            <td class="govuk-summary-list__actions">
                                <a class="govuk-link">
                                    </a><a href="/OPSSBCManageMethod">Manage</a>
                            </td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-summary-list__value">
                                Wave 3 Bootcamps
                            </td>
                        </tr>
                    </span>
                </h2>
              </div>
            </div>
              <div id="accordion-default-content-1" class="govuk-accordion__section-content">
                <div class="govuk-body">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__value">
                            <strong> Start date</strong>
                        </dt>
                        <dd class="govuk-summary-list__value">
                            23-02-2024
                        </dd>
                        <dt class="govuk-summary-list__value">
                            <strong> Finish date</strong>
                        </dt>
                        <dd class="govuk-summary-list__value">
                            11-07-2025
                        </dd>
                      </div>
                      <dl class="govuk-summary-list govuk-!-margin-bottom-1">
                          <div class="govuk-summary-list__row no-border-bottom">
                              <dt class="govuk-summary-list__value">
                                  <strong> Is Qualifying Period data necessary?</strong>
                              </dt>
                              <dd class="govuk-summary-list__value">
                                 Yes
                              </dd>
                              <dt class="govuk-summary-list__value">
                                <strong> Description</strong>
                            </dt>
                            <dd class="govuk-summary-list__value">
                               The qualifying period is necessary because of..
                            </dd>
                          </div>
                          <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__value">
                                <strong> Is Start Payment Data Necessary?</strong>
                            </dt>
                            <dd class="govuk-summary-list__value">
                                Yes
                            </dd>
                            <dt class="govuk-summary-list__value">
                              <strong> Description</strong>
                          </dt>
                          <dd class="govuk-summary-list__value">
                            In this example, we use our tool to prepare for a math exam. We randomize the order of study notes for self-testing
                          </dd>
                           </div>
                          <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__value">
                                <strong> Is Mid Course Payment Data Necessary?</strong>
                            </dt>
                            <dd class="govuk-summary-list__value">
                                Yes
                            </dd>
                            <dt class="govuk-summary-list__value">
                              <strong> Description</strong>
                          </dt>
                          <dd class="govuk-summary-list__value">
                              N/a
                          </dd>
                           </div>
                          <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__value">
                                <strong> Is Completion Payment Data Necessary?</strong>
                            </dt>
                            <dd class="govuk-summary-list__value">
                                Yes
                            </dd>
                            <dt class="govuk-summary-list__value">
                              <strong> Description</strong>
                          </dt>
                          <dd class="govuk-summary-list__value">
                            In this example, we use our tool to prepare for a math exam. We randomize the order of study notes for self-testing
                          </dd>
                           </div>
                          <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__value">
                                <strong> Is Outcome Payment Data Necessary?</strong>
                            </dt>
                            <dd class="govuk-summary-list__value">
                                Yes
                            </dd>
                            <dt class="govuk-summary-list__value">
                              <strong> Description</strong>
                          </dt>
                          <dd class="govuk-summary-list__value">
                              hdbdbbdhbjbdjbdj
                          </dd>
                           </div>
                           <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__value">
                                <strong> Is Last Date for Outcome Payment Data Necessary?</strong>
                            </dt>
                            <dd class="govuk-summary-list__value">
                                Yes
                            </dd>
                            <dt class="govuk-summary-list__value">
                              <strong> Description</strong>
                          </dt>
                          <dd class="govuk-summary-list__value">
                            In this example, we use our tool to prepare for a math exam. We randomize the order of study notes for self-testing
                          </dd>
                           </div>
                      </dl>
    
              
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__value">
                          <strong> Last Modified by</strong>
                      </dt>
                      <dd class="govuk-summary-list__value">
                          Jo Bloggs
                      </dd>
                      <dt class="govuk-summary-list__value">
                          <strong> Date Modified</strong>
                      </dt>
                      <dd class="govuk-summary-list__value">
                          11-07-2025
                      </dd>
                    </div>
              
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__value">
                          <strong> Created by</strong>
                      </dt>
                      <dd class="govuk-summary-list__value">
                          Jo Bloggs
                      </dd>
                      <dt class="govuk-summary-list__value">
                          <strong> Date Created</strong>
                      </dt>
                      <dd class="govuk-summary-list__value">
                          11-07-2025
                      </dd>
                    </div>
                </section>                
                  </div> 
              </div>
              </div>
            </div>
        </div>


  
    </div> 

{% endblock %}

