{% extends "layout.html" %}

{% block pageTitle %}
  Start page example
{% endblock %}


{% block content %}
{% include "./includes/nav.html" %}

<a href="/OPSRefDataSDRDSelection" class="govuk-back-link">Back</a>

<h1>Contract Funding Waves </h1>

    <a href="/OPSSBRDWaveAdd.html" button class="govuk-button" data-module="govuk-button">
      Add
    </a>

    <table class="govuk-table">
      <table style="width: 100%">
        <colgroup>
        <col span="1" style="width: 15%;">
        <col span="1" style="width: 60%;">
        <col span="1" style="width: 25%;">
        </colgroup>
     
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header govuk-!-width-one-sixth">Wave</th>
          <th scope="col" class="govuk-table__header govuk-!-width-one-sixth">Description</th>
        </tr>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
         
          <td class="govuk-table__cell">Wave 3</td>
          <td class="govuk-table__cell">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis ultricies lacus sed turpis tincidunt id aliquet.</td>
          </tr>

        <tr class="govuk-table__row">
         
          <td class="govuk-table__cell">DPS Round 1</td>
          <td class="govuk-table__cell">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis ultricies lacus sed turpis tincidunt id aliquet.</td>
        </tr>

        <tr class="govuk-table__row">
         
          <td class="govuk-table__cell">DPS Round 2</td>
          <td class="govuk-table__cell">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis ultricies lacus sed turpis tincidunt id aliquet.</td>
        </tr>
      </tbody>
    </table>
  </div>
 
</div>

{% endblock %}