{% extends "layoutsld.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}
{% block content %}

    <a href="/OPSSBCCalcMethods.html" class="govuk-back-link">Back</a>

    <span class="govuk-caption-m">
       SBC-03
    </span>

    <h1 class="govuk-heading-l">Are you sure that you want to delete this calculation method?</h1>
    

    <section>
        <strong class="govuk-!-font-size-24">
        SBC01
        </strong>
        <div class="govuk-body">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__value">
                    <strong> Description</strong>
                </dt>
                <dd class="govuk-summary-list__value">
                    Wave 3 Bootcamps
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__value">
                    <strong> Start date</strong>
                </dt>
                <dd class="govuk-summary-list__value">
                    23-02-2024
                </dd>
                <dt class="govuk-summary-list__value">
                    <strong> Finish date</strong>
                </dt>
                <dd class="govuk-summary-list__value">
                    11-07-2025
                </dd>
                </div>
            </div>
        </div> 
    </section>                
    
    <a class="govuk-button govuk-button--warning" data-module="govuk-button">Confirm</a>
    <a class="govuk-button govuk-button--secondary" data-module="govuk-button">Cancel</a>

{% endblock %}  