{% extends "layout.html" %}

{% block pageTitle %}
  Start page example
{% endblock %}


{% block content %}
{% include "./includes/nav.html" %}

<a href="/OPSRefDataSBCSelection" class="govuk-back-link">Back</a>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
      
<br>
<div class="govuk-grid-column-full">
<h1 class="govuk-heading-xl">Skills Bootcamp calculation methods</h1>

<a class="govuk-button" href="/OPSSBCAddMethod">Add a new calculation method</a>


<div class="govuk-body">
        <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
            <div class="govuk-accordion__section">
              <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                            <table class="govuk-table">
                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__cell govuk-!-font-weight-bold govuk-!-width-two-thirds">
                                            <strong class="govuk-!-font-size-24">SBC01</strong>
                                        </td>
                                        <td class="govuk-summary-list__actions">
                                            <a class="govuk-link">
                                                </a><a href="/OPSSBCManageMethod">Manage</a>
                                        </td>
                                    </tr>
                                    <tr class="govuk-table__row">
                                        <td class="govuk-summary-list__value">
                                            Wave 3 Bootcamps
                                        </td>
                                    </tr>
                            </table>
                        </span>
                    </h2>
                </div>
        </div>
        </tbody>
        </table>

{% endblock %}

