{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

{% include "./includes/nav.html" %}

<a href="javascript:history.back()" class="govuk-back-link">Back</a>


<h1 class="govuk-heading-xl">Skills Bootcamp calculation methods</h1>

 
    <a href="/linksadd" button class="govuk-button" data-module="govuk-button">
      Add
    </a>


    
    <table class="govuk-table">
     
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header govuk-!-width-one-sixth">Code</th>
          <th scope="col" class="govuk-table__header govuk-!-width-one-sixth">Description</th>
          <th scope="col" class="govuk-table__header govuk-!-width-one-sixth">Start description</th>
          <th scope="col" class="govuk-table__header govuk-!-width-one-sixth">Start expected</th>
          <th scope="col" class="govuk-table__header govuk-!-width-one-sixth">Qualifying period expected</th>
          <th scope="col" class="govuk-table__header govuk-!-width-one-sixth">Mid-course description</th>
          <th scope="col" class="govuk-table__header govuk-!-width-one-sixth">Mid-course expected</th>
          <th scope="col" class="govuk-table__header govuk-!-width-one-sixth">Completion description</th>
          <th scope="col" class="govuk-table__header govuk-!-width-one-sixth">Completion expected</th>
          <th scope="col" class="govuk-table__header govuk-!-width-one-sixth">Outcome description</th>
          <th scope="col" class="govuk-table__header govuk-!-width-one-sixth">Outcome expected</th>

        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
         
          <td class="govuk-table__cell">SBC01</td>
          <td class="govuk-table__cell">Wave 3 Bootcamps</td>
          <td class="govuk-table__cell">The start payment is based on a 5 day qualifying period (and other conditions before they are recorded in the ILR)</td>
          <td class="govuk-table__cell">Yes</td>
          <td class="govuk-table__cell">Yes</td>
          <td class="govuk-table__cell">None</td>
          <td class="govuk-table__cell">No</td>
          <td class="govuk-table__cell">The completion payment is based on the completion of learning and an offer of an interview (or alternatives for employed/ self-employed learners)</td>
          <td class="govuk-table__cell">Yes</td>
          <td class="govuk-table__cell">The outcome payment is based on the commencement of a job or a role which utilises skills gained from the bootcamp (or alternatives for self-employed learners)</td>
          <td class="govuk-table__cell">Yes</td>
        </tr>

      </tbody>
    </table>
  </div>
 
</div>

{% endblock %}
