{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

{% include "./includes/nav.html" %}

<div class="govuk-width-container">
  <a href="/OPSSBCWaves.html" class="govuk-back-link">Back</a>
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">

<h1>Add a contract funding wave</h1>

<fieldset class="govuk-fieldset">
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
    <h2 class="govuk-label-wrapper"><label class="govuk-label--m" for="assessment-price">
        What is the contract wave name?</label>
    </h2>
    </legend>
    <div class="govuk-form-group">
      <label class="govuk-label" for="address-line-1">
        For example, Wave 3, DPS Round 1
      </label>
      <input class="govuk-input govuk-!-width-one-half govuk-input" id="address-line-1" name="addressLine1" type="text" autocomplete="address-line1">
    </div>
</fieldset>

<fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <h2 class="govuk-label-wrapper"><label class="govuk-label--m" for="assessment-price">
        Description</label>
        </h2>
    </legend>
    <div class="govuk-form-group">
      <label class="govuk-label" for="address-line-1">
        Give details about this contract funding wave 
      </label>
      <div class="govuk-table__cell govuk-!-font-weight-bold govuk-!-width-full">
        <textarea class="govuk-textarea" id="more-detail" rows="3" aria-describedby="more-detail-hint" name="Message"></textarea>
      </div>
    </div>
</fieldset>

<fieldset class="govuk-fieldset">
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
    <h2 class="govuk-label-wrapper"><label class="govuk-label--m" for="assessment-price">Contract Wave Start Date 
    </label>
    </h2>
  </legend>
  <div class="govuk-date-input" id="passport-issued">
    <div class="govuk-date-input__item">
      <div class="govuk-form-group">
        <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
          Day
        </label>
        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" inputmode="numeric">
      </div>
    </div>
    <div class="govuk-date-input__item">
      <div class="govuk-form-group">
        <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
          Month
        </label>
        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" inputmode="numeric">
      </div>
    </div>
    <div class="govuk-date-input__item">
      <div class="govuk-form-group">
        <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
          Year
        </label>
        <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" inputmode="numeric">
      </div>
    </div>
  </div>
  
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
    <h2 class="govuk-label-wrapper"><label class="govuk-label--m" for="assessment-price">Contract Wave End Date
    </label>
    </h2>
  </legend>
  <div class="govuk-date-input" id="passport-issued">
    <div class="govuk-date-input__item">
      <div class="govuk-form-group">
        <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
          Day
        </label>
        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" inputmode="numeric">
      </div>
    </div>
    <div class="govuk-date-input__item">
      <div class="govuk-form-group">
        <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
          Month
        </label>
        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" inputmode="numeric">
      </div>
    </div>
    <div class="govuk-date-input__item">
      <div class="govuk-form-group">
        <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
          Year
        </label>
        <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" inputmode="numeric">
      </div>
    </div>
  </div>
</fieldset>

<br>

  <div class="govuk-button-group">
    <a href="/OPSSBCWaves.html" button class="govuk-button" data-module="govuk-button">
      Save 
    </a>
    <a href="/OPSSBCWaves.html" button class="govuk-button govuk-button--secondary" data-module="govuk-button">
      Cancel
    </a>
  </div>
</div>
</main>
</div>

{% endblock %}