{% extends "layout.html" %}

{% block pageTitle %}
  Start page example
{% endblock %}


{% block content %}
{% include "./includes/nav.html" %}

<a href="/OPSRefDataSDRDSelection" class="govuk-back-link">Back</a>


<h1 class="govuk-heading-xl">Skills Bootcamp Contract Waves</h1>
    <h2>Descriptions</h2>

    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Wave 3 
        </span>
      </summary>
      <div class="govuk-details__text">
        <mark>None</mark>
      </div>
    </details>

    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          DPS Round 1
        </span>
      </summary>
      <div class="govuk-details__text">
       <mark>None</mark>
      </div>
    </details>

    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          DPS Round 2
        </span>
      </summary>
      <div class="govuk-details__text">
        <mark>None</mark>
      </div>
    </details>
 
    <a href="/OPSSBRDAddMethod.html" button class="govuk-button" data-module="govuk-button">
      Add
    </a>

    <a href="/OPSSBRDRemove.html" class="govuk-button govuk-button--warning" data-module="govuk-button">
      Remove Wave
    </a>

    <table class="govuk-table">
     
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header govuk-!-width-one-sixth">Code</th>
          <th scope="col" class="govuk-table__header govuk-!-width-one-sixth">Description</th>
          <th scope="col" class="govuk-table__header govuk-!-width-one-sixth">Start expected</th>
          <th scope="col" class="govuk-table__header govuk-!-width-one-sixth">Qualifying period expected</th>
          <th scope="col" class="govuk-table__header govuk-!-width-one-sixth">Mid-course expected</th>
          <th scope="col" class="govuk-table__header govuk-!-width-one-sixth">Completion expected</th>
          <th scope="col" class="govuk-table__header govuk-!-width-one-sixth">Outcome expected</th>

        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
         
          <td class="govuk-table__cell">SBC01</td>
          <td class="govuk-table__cell">Wave 3 Bootcamps</td>
          <td class="govuk-table__cell">Yes</td>
          <td class="govuk-table__cell">Yes</td>
          <td class="govuk-table__cell">No</td>
          <td class="govuk-table__cell">Yes</td>
          <td class="govuk-table__cell">Yes</td>
        </tr>

        <tr class="govuk-table__row">
         
          <td class="govuk-table__cell">SBC03</td>
          <td class="govuk-table__cell">Wave 3 Bootcamps</td>
          <td class="govuk-table__cell">Yes</td>
          <td class="govuk-table__cell">Yes</td>
          <td class="govuk-table__cell">No</td>
          <td class="govuk-table__cell">Yes</td>
          <td class="govuk-table__cell">Yes</td>
        </tr>

        <tr class="govuk-table__row">
         
          <td class="govuk-table__cell">HGV01</td>
          <td class="govuk-table__cell">Wave 3 Bootcamps</td>
          <td class="govuk-table__cell">Yes</td>
          <td class="govuk-table__cell">Yes</td>
          <td class="govuk-table__cell">Yes</td>
          <td class="govuk-table__cell">Yes</td>
          <td class="govuk-table__cell">Yes</td>
        </tr>

        <tr class="govuk-table__row">
         
          <td class="govuk-table__cell">HGV02</td>
          <td class="govuk-table__cell">Wave 3 Bootcamps</td>
          <td class="govuk-table__cell">No</td>
          <td class="govuk-table__cell">No</td>
          <td class="govuk-table__cell">Yes</td>
          <td class="govuk-table__cell">Yes</td>
          <td class="govuk-table__cell">Yes</td>
        </tr>

        <tr class="govuk-table__row">
         
          <td class="govuk-table__cell">HGV03</td>
          <td class="govuk-table__cell">Wave 3 Bootcamps</td>
          <td class="govuk-table__cell">No</td>
          <td class="govuk-table__cell">No</td>
          <td class="govuk-table__cell">Yes</td>
          <td class="govuk-table__cell">Yes</td>
          <td class="govuk-table__cell">Yes</td>
        </tr>

        <tr class="govuk-table__row">
         
          <td class="govuk-table__cell">HGV04</td>
          <td class="govuk-table__cell">Wave 3 Bootcamps</td>
          <td class="govuk-table__cell">No</td>
          <td class="govuk-table__cell">No</td>
          <td class="govuk-table__cell">Yes</td>
          <td class="govuk-table__cell">Yes</td>
          <td class="govuk-table__cell">Yes</td>
        </tr>

        <tr class="govuk-table__row">
         
          <td class="govuk-table__cell">HGV05</td>
          <td class="govuk-table__cell">Wave 3 Bootcamps</td>
          <td class="govuk-table__cell">No</td>
          <td class="govuk-table__cell">No</td>
          <td class="govuk-table__cell">Yes</td>
          <td class="govuk-table__cell">Yes</td>
          <td class="govuk-table__cell">Yes</td>
        </tr>

      </tbody>
    </table>
  </div>
 
</div>

{% endblock %}