{% extends "layoutsld.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}
{% block content %}

    <a href="/OPSSBCCalcMethods.html" class="govuk-back-link">Back</a>

    <span class="govuk-caption-m">
       SBC-90001267-2781232
    </span>

    <h1 class="govuk-heading-l">Are you sure that you want edit this Skills Bootcamp Contract?
    </h1>
    
    <p class="govuk-body">
        By editing this contract the page flow and therefore the rates of the calculation method could be altered
    </p>
        
    <div class="govuk-body">
            <input name="selected-course" value="" style="display:none"><table class="govuk-table" data-module="moj-sortable-table">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">Contract number</th>
                        <th scope="col" class="govuk-table__header">Skills Bootcamp Name </th>
                        <th scope="col" class="govuk-table__header">Provider UKPRN</th>
                        <th scope="col" class="govuk-table__header">Created by</th>
                        <th scope="col" class="govuk-table__header">Date created</th>
                        <th scope="col" class="govuk-table__header">Modified by</th>
                        <th scope="col" class="govuk-table__header">Last modified</th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
    
                            <a href="SBRD_contractsummary.html">
                                900000198-12345</a>
    
    
                        </td>
                        <td class="govuk-table__cell">Bootcamp 1</td>
                        <td class="govuk-table__cell">12345678</td>
                        <td class="govuk-table__cell">Jo Bloggs</td>
                        <td class="govuk-table__cell">12/03/2024</td>
                        <td class="govuk-table__cell">Henry Steven</td>
                        <td class="govuk-table__cell">14/04/2024</td>
                    </tr>
                </tbody>
            </table>
        
            <a class="govuk-button govuk-button--warning" data-module="govuk-button">Confirm</a>
            <a class="govuk-button govuk-button--secondary" data-module="govuk-button">Cancel</a>
        
        </div> 
{% endblock %}  