{% extends "layout.html" %}

{% block pageTitle %}
  Start page example
{% endblock %}


{% block content %}
{% include "./includes/nav.html" %}

<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">  
<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
<h1 class="govuk-heading-x1">Manage Calculation Method</h1>
</div>
</div>
<br>
<div class="govuk-grid-column-full">
<form method="post" action="/sldadmin/notifications">

<input type="hidden" data-val="true" data-val-required="The Id field is required." id="Id" name="Id" value="573">
<table class="govuk-table">
<tbody class="govuk-table__body">
    <tr class="govuk-table__row">
        <td class="govuk-table__cell govuk-!-font-weight-bold">
            Calculation method code 
        </td>
        <td class="govuk-table__cell govuk-!-font-weight-bold govuk-!-width-two-thirds">
            <p><strong>SBC01</strong></p>
        </td>
    </tr>
    <tr class="govuk-table__row">
        <td class="govuk-table__cell govuk-!-font-weight-bold">
            Calculation method description
        </td>
        <td class="govuk-table__cell govuk-!-font-weight-bold govuk-!-width-two-thirds">
            <textarea class="govuk-textarea" id="more-detail" rows="3" aria-describedby="more-detail-hint" name="Message"></textarea>
        </td>
    </tr>
    <tr class="govuk-table__row">
        <td class="govuk-table__cell govuk-!-font-weight-bold">
            Calculation method start date
        </td>
        <td>
        <div class="govuk-date-input" id="passport-issued">
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                Day
              </label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" inputmode="numeric">
            </div>
          </div>
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                Month
              </label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" inputmode="numeric">
            </div>
          </div>
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                Year
              </label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" inputmode="numeric">
            </div>
          </div>
        </div>
        </td>
    </tr>
    <tr class="govuk-table__row">
        <td class="govuk-table__cell govuk-!-font-weight-bold">
            Calculation method end date
        </td>
        <td>
        <div class="govuk-date-input" id="passport-issued">
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                Day
              </label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" inputmode="numeric">
            </div>
          </div>
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                Month
              </label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" inputmode="numeric">
            </div>
          </div>
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                Year
              </label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" inputmode="numeric">
            </div>
          </div>
        </div>
        </td>
    </tr>
    <tr class="govuk-table__row">
        <td class="govuk-table__cell govuk-!-font-weight-bold">
            Is qualifying period information required?
        </td>
        <td class="govuk-table__cell govuk-!-font-weight-bold">
            <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="contact" name="contact" type="radio" value="email" data-aria-controls="qualifyingperiod">
                  <label class="govuk-label govuk-radios__label" for="contact">
                    Yes
                  </label>
                </div>
                <div class="govuk-radios__conditional" id="qualifyingperiod">
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="contact-by-email">
                      Description
                    </label>
                    <textarea class="govuk-textarea" id="more-detail" rows="3" aria-describedby="more-detail-hint" name="Message"></textarea>
                  </div>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="contact-2" name="contact" type="radio" value="phone" data-aria-controls="conditional-contact-2">
                  <label class="govuk-label govuk-radios__label" for="contact-2">
                    No
                  </label>
                </div>
              </div>
         </td>
    </tr>
    <tr class="govuk-table__row">
        <td class="govuk-table__cell govuk-!-font-weight-bold">
            Is start payment information required?
        </td>
        <td class="govuk-table__cell govuk-!-font-weight-bold">
            <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="contact" name="contact" type="radio" value="email" data-aria-controls="startpayment">
                  <label class="govuk-label govuk-radios__label" for="contact">
                    Yes
                  </label>
                </div>
                <div class="govuk-radios__conditional" id="startpayment">
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="contact-by-email">
                      Description
                    </label>
                    <textarea class="govuk-textarea" id="more-detail" rows="3" aria-describedby="more-detail-hint" name="Message"></textarea>
                  </div>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="contact-2" name="contact" type="radio" value="phone" data-aria-controls="conditional-contact-2">
                  <label class="govuk-label govuk-radios__label" for="contact-2">
                    No
                  </label>
                </div>
              </div>
         </td>
    </tr>
    <tr class="govuk-table__row">
        <td class="govuk-table__cell govuk-!-font-weight-bold">
            Is mid-course payment information required?
        </td>
        <td class="govuk-table__cell govuk-!-font-weight-bold">
            <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="contact" name="contact" type="radio" value="email" data-aria-controls="midcoursepayment">
                  <label class="govuk-label govuk-radios__label" for="contact">
                    Yes
                  </label>
                </div>
                <div class="govuk-radios__conditional" id="midcoursepayment">
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="contact-by-email">
                      Description
                    </label>
                    <textarea class="govuk-textarea" id="more-detail" rows="3" aria-describedby="more-detail-hint" name="Message"></textarea>
                  </div>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="contact-2" name="contact" type="radio" value="phone" data-aria-controls="conditional-contact-2">
                  <label class="govuk-label govuk-radios__label" for="contact-2">
                    No
                  </label>
                </div>
              </div>
         </td>
    </tr>
    <tr class="govuk-table__row">
        <td class="govuk-table__cell govuk-!-font-weight-bold">
            Is completion payment information required?
        </td>
        <td class="govuk-table__cell govuk-!-font-weight-bold">
            <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="contact" name="contact" type="radio" value="email" data-aria-controls="completionpayment">
                  <label class="govuk-label govuk-radios__label" for="contact">
                    Yes
                  </label>
                </div>
                <div class="govuk-radios__conditional" id="completionpayment">
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="contact-by-email">
                      Description
                    </label>
                    <textarea class="govuk-textarea" id="more-detail" rows="3" aria-describedby="more-detail-hint" name="Message"></textarea>
                  </div>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="contact-2" name="contact" type="radio" value="phone" data-aria-controls="conditional-contact-2">
                  <label class="govuk-label govuk-radios__label" for="contact-2">
                    No
                  </label>
                </div>
              </div>
         </td>
    </tr>
    <tr class="govuk-table__row">
        <td class="govuk-table__cell govuk-!-font-weight-bold">
            Is outcome payment information required?
        </td>
        <td class="govuk-table__cell govuk-!-font-weight-bold">
            <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="contact" name="contact" type="radio" value="email" data-aria-controls="outcomepayment">
                  <label class="govuk-label govuk-radios__label" for="contact">
                    Yes
                  </label>
                </div>
                <div class="govuk-radios__conditional" id="outcomepayment">
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="contact-by-email">
                      Description
                    </label>
                    <textarea class="govuk-textarea" id="more-detail" rows="3" aria-describedby="more-detail-hint" name="Message"></textarea>
                  </div>
                  <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
                      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h3 class="govuk-heading-s">
                          Is last date for outcome payment information required?
                        </h3>
                      </legend>
                      <div id="contact-hint" class="govuk-hint">
                        Select one option.
                      </div>
                      <div class="govuk-radios" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="" name="contact" type="radio" value="email" >
                          <label class="govuk-label govuk-radios__label" for="contact">
                            Yes
                          </label>
                        </div>
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="" name="contact" type="radio" value="phone" >
                          <label class="govuk-label govuk-radios__label" for="contact-2">
                            No
                          </label>
                        </div>
                      </div>
                    </fieldset>
                  </div>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="contact-2" name="contact" type="radio" value="phone" data-aria-controls="conditional-contact-2">
                  <label class="govuk-label govuk-radios__label" for="contact-2">
                    No
                  </label>
                </div>
            </div>
        </td>
    </tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell govuk-!-font-weight-bold">
        Display on SLD
    </td>
    <td class="govuk-table__cell govuk-!-font-weight-bold">
        <div class="govuk-checkboxes__item margin-bottom-5">
            <input id="Home" class="govuk-checkboxes__input" name="SelectedPages" type="checkbox" value="Home">
            <label class="govuk-label govuk-checkboxes__label" for="Home">
            </label>
        </div>
     </td>
</tr>
</tbody>
</table>

<div id="buttons" class="block">
<button type="submit" id="submitButton" name="save" class="govuk-button" value="save">Save</button>
  
<a class="govuk-link" href="/OPSSBCCalcMethods">Cancel</a>
</div>
</div>

{% endblock %}