{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

{% include "./includes/nav.html" %}

<a href="/OPSRefDataSDRDSelection" class="govuk-back-link">Back</a>
 
    <a href="/OPSSBRDAddMethod.html" button class="govuk-button" data-module="govuk-button">
      Add 
    </a>

    <table class="govuk-table">
     
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header govuk-!-width-one-sixth">Code</th>
          <th scope="col" class="govuk-table__header govuk-!-width-one-sixth">Contract Wave</th>
          <th scope="col" class="govuk-table__header govuk-!-width-one-sixth">Start Payment expected</th>
          <th scope="col" class="govuk-table__header govuk-!-width-one-sixth">Description</th>
          <th scope="col" class="govuk-table__header govuk-!-width-one-sixth">Qualifying Period expected</th>
          <th scope="col" class="govuk-table__header govuk-!-width-one-sixth">Description</th>
          <th scope="col" class="govuk-table__header govuk-!-width-one-sixth">Mid-course Payment expected</th>
          <th scope="col" class="govuk-table__header govuk-!-width-one-sixth">Description</th>
          <th scope="col" class="govuk-table__header govuk-!-width-one-sixth">Completion Payment expected</th>
          <th scope="col" class="govuk-table__header govuk-!-width-one-sixth">Description</th>
          <th scope="col" class="govuk-table__header govuk-!-width-one-sixth">Outcome Payment expected</th>
          <th scope="col" class="govuk-table__header govuk-!-width-one-sixth">Description</th>
          <th scope="col" class="govuk-table__header govuk-!-width-one-sixth"></th>
        </tr>
      </thead>

      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
         
          <td class="govuk-table__cell">SBC01</td>
          <td class="govuk-table__cell">Wave 3 Bootcamps</td>
          <td class="govuk-table__cell">Yes</td>
          <td class="govuk-table__cell">N/a</td>
          <td class="govuk-table__cell">Yes</td>
          <td class="govuk-table__cell">N/a</td>
          <td class="govuk-table__cell">No</td>
          <td class="govuk-table__cell">N/a</td>
          <td class="govuk-table__cell">Yes</td>
          <td class="govuk-table__cell">N/a</td>
          <td class="govuk-table__cell">Yes</td>
          <td class="govuk-table__cell">N/a</td>
        </tr>
        <tr class="govuk-table__row">
         
          <td class="govuk-table__cell">SBC03</td>
          <td class="govuk-table__cell">Wave 3 Bootcamps</td>
          <td class="govuk-table__cell">Yes</td>
          <td class="govuk-table__cell">N/a</td>
          <td class="govuk-table__cell">Yes</td>
          <td class="govuk-table__cell">N/a</td>
          <td class="govuk-table__cell">No</td>
          <td class="govuk-table__cell">N/a</td>
          <td class="govuk-table__cell">Yes</td>
          <td class="govuk-table__cell">N/a</td>
          <td class="govuk-table__cell">Yes</td>
          <td class="govuk-table__cell">N/a</td>
        </tr>

        <tr class="govuk-table__row">
         
          <td class="govuk-table__cell">HGV01</td>
          <td class="govuk-table__cell">Wave 3 Bootcamps</td>
          <td class="govuk-table__cell">Yes</td>
          <td class="govuk-table__cell">N/a</td>
          <td class="govuk-table__cell">Yes</td>
          <td class="govuk-table__cell">N/a</td>
          <td class="govuk-table__cell">No</td>
          <td class="govuk-table__cell">N/a</td>
          <td class="govuk-table__cell">Yes</td>
          <td class="govuk-table__cell">N/a</td>
          <td class="govuk-table__cell">Yes</td>
          <td class="govuk-table__cell">N/a</td>
        </tr>

        <tr class="govuk-table__row">
         
          <td class="govuk-table__cell">HGV02</td>
          <td class="govuk-table__cell">Wave 3 Bootcamps</td>
          <td class="govuk-table__cell">Yes</td>
          <td class="govuk-table__cell">N/a</td>
          <td class="govuk-table__cell">Yes</td>
          <td class="govuk-table__cell">N/a</td>
          <td class="govuk-table__cell">No</td>
          <td class="govuk-table__cell">N/a</td>
          <td class="govuk-table__cell">Yes</td>
          <td class="govuk-table__cell">N/a</td>
          <td class="govuk-table__cell">Yes</td>
          <td class="govuk-table__cell">N/a</td>
        </tr>

        <tr class="govuk-table__row">
         
          <td class="govuk-table__cell">HGV03</td>
          <td class="govuk-table__cell">Wave 3 Bootcamps</td>
          <td class="govuk-table__cell">Yes</td>
          <td class="govuk-table__cell">N/a</td>
          <td class="govuk-table__cell">Yes</td>
          <td class="govuk-table__cell">N/a</td>
          <td class="govuk-table__cell">No</td>
          <td class="govuk-table__cell">N/a</td>
          <td class="govuk-table__cell">Yes</td>
          <td class="govuk-table__cell">N/a</td>
          <td class="govuk-table__cell">Yes</td>
          <td class="govuk-table__cell">N/a</td>
        </tr>

        <tr class="govuk-table__row">
         
          <td class="govuk-table__cell">HGV04</td>
          <td class="govuk-table__cell">Wave 3 Bootcamps</td>
          <td class="govuk-table__cell">Yes</td>
          <td class="govuk-table__cell">N/a</td>
          <td class="govuk-table__cell">Yes</td>
          <td class="govuk-table__cell">N/a</td>
          <td class="govuk-table__cell">No</td>
          <td class="govuk-table__cell">N/a</td>
          <td class="govuk-table__cell">Yes</td>
          <td class="govuk-table__cell">N/a</td>
          <td class="govuk-table__cell">Yes</td>
          <td class="govuk-table__cell">N/a</td>
        </tr>

        <tr class="govuk-table__row">
         
          <td class="govuk-table__cell">HGV05</td>
          <td class="govuk-table__cell">Wave 3 Bootcamps</td>
          <td class="govuk-table__cell">Yes</td>
          <td class="govuk-table__cell">N/a</td>
          <td class="govuk-table__cell">Yes</td>
          <td class="govuk-table__cell">N/a</td>
          <td class="govuk-table__cell">No</td>
          <td class="govuk-table__cell">N/a</td>
          <td class="govuk-table__cell">Yes</td>
          <td class="govuk-table__cell">N/a</td>
          <td class="govuk-table__cell">Yes</td>
          <td class="govuk-table__cell">N/a</td>
        </tr>

      </tbody>
    </table>
  </div>
 
</div>

{% endblock %}
