{% extends "layout.html" %}

{% block pageTitle %}
  Start page example
{% endblock %}


{% block content %}
{% include "./includes/nav.html" %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        



        
<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
<h1 class="govuk-heading-x1">Manage Calculation Method</h1>
</div>
</div>
<br>
<div class="govuk-grid-column-full">
<form method="post" action="/sldadmin/notifications">

<input type="hidden" data-val="true" data-val-required="The Id field is required." id="Id" name="Id" value="573">
<table class="govuk-table">
<tbody class="govuk-table__body">
    <tr class="govuk-table__row">
        <td class="govuk-table__cell govuk-!-font-weight-bold">
            Calculation Method Code 
        </td>
        <td class="govuk-table__cell govuk-!-font-weight-bold govuk-!-width-two-thirds">
            <p><strong>SBC01</strong></p>
        </td>
    </tr>
    <tr class="govuk-table__row">
        <td class="govuk-table__cell govuk-!-font-weight-bold">
            Calculation Method Start Date
        </td>
        <td class="govuk-table__cell govuk-!-font-weight-bold">
            <input max="9999-12-31" class="govuk-input govuk-!-width-one-half" type="date" id="StartDate" name="StartDate" value="2023-10-19">
        </td>
    </tr>
    <tr class="govuk-table__row">
        <td class="govuk-table__cell govuk-!-font-weight-bold">
            Calculation Method End Date
        </td>
        <td class="govuk-table__cell govuk-!-font-weight-bold">
            <input max="9999-12-31" class="govuk-input govuk-!-width-one-half" type="date" id="EndDate" name="EndDate" value="2023-12-23">
        </td>
    </tr>
    <tr class="govuk-table__row">
        <td class="govuk-table__cell govuk-!-font-weight-bold">
            Is Qualifying Period Data Necessary?
        </td>
        <td class="govuk-table__cell govuk-!-font-weight-bold">
            <div class="govuk-radios__item margin-bottom-5">
                <input id="Home" class="govuk-radios__input" name="SelectedPages" type="checkbox" value="Home">
                <label class="govuk-label govuk-radios__label" for="Home">Yes 
                </label>
            </div>

                <div class="govuk-radios__item margin-bottom-5">
                <input id="Home" class="govuk-radios__input" name="SelectedPages" type="checkbox" value="Home">
                <label class="govuk-label govuk-radios__label" for="Home">No
                </label>
            </div>
         </td>
    </tr>
    <tr class="govuk-table__row">
        <td class="govuk-table__cell govuk-!-font-weight-bold">
            Description
        </td>
        <td class="govuk-table__cell govuk-!-font-weight-bold govuk-!-width-two-thirds">
            <textarea class="govuk-textarea" id="more-detail" rows="3" aria-describedby="more-detail-hint" name="Message">N/a</textarea>
        </td>
    </tr>
    <tr class="govuk-table__row">
        <td class="govuk-table__cell govuk-!-font-weight-bold">
            Is Start Payment Data Necessary?
        </td>
        <td class="govuk-table__cell govuk-!-font-weight-bold">
            <div class="govuk-radios__item margin-bottom-5">
                <input id="Home" class="govuk-radios__input" name="SelectedPages" type="checkbox" value="Home">
                <label class="govuk-label govuk-radios__label" for="Home">Yes 
                </label>
            </div>

                <div class="govuk-radios__item margin-bottom-5">
                <input id="Home" class="govuk-radios__input" name="SelectedPages" type="checkbox" value="Home">
                <label class="govuk-label govuk-radios__label" for="Home">No
                </label>
            </div>
         </td>
    </tr>
    <tr class="govuk-table__row">
        <td class="govuk-table__cell govuk-!-font-weight-bold">
            Description
        </td>
        <td class="govuk-table__cell govuk-!-font-weight-bold govuk-!-width-two-thirds">
            <textarea class="govuk-textarea" id="more-detail" rows="3" aria-describedby="more-detail-hint" name="Message">N/a</textarea>
        </td>
    </tr>
    <tr class="govuk-table__row">
        <td class="govuk-table__cell govuk-!-font-weight-bold">
            Is Mid-Course Payment Data Necessary?
        </td>
        <td class="govuk-table__cell govuk-!-font-weight-bold">
            <div class="govuk-radios__item margin-bottom-5">
                <input id="Home" class="govuk-radios__input" name="SelectedPages" type="checkbox" value="Home">
                <label class="govuk-label govuk-radios__label" for="Home">Yes 
                </label>
            </div>

                <div class="govuk-radios__item margin-bottom-5">
                <input id="Home" class="govuk-radios__input" name="SelectedPages" type="checkbox" value="Home">
                <label class="govuk-label govuk-radios__label" for="Home">No
                </label>
            </div>
         </td>
    </tr>
    <tr class="govuk-table__row">
        <td class="govuk-table__cell govuk-!-font-weight-bold">
            Description
        </td>
        <td class="govuk-table__cell govuk-!-font-weight-bold govuk-!-width-two-thirds">
            <textarea class="govuk-textarea" id="more-detail" rows="3" aria-describedby="more-detail-hint" name="Message">N/a</textarea>
        </td>
    </tr>
    <tr class="govuk-table__row">
        <td class="govuk-table__cell govuk-!-font-weight-bold">
            Is Completion Payment Data Necessary?
        </td>
        <td class="govuk-table__cell govuk-!-font-weight-bold">
            <div class="govuk-radios__item margin-bottom-5">
                <input id="Home" class="govuk-radios__input" name="SelectedPages" type="checkbox" value="Home">
                <label class="govuk-label govuk-radios__label" for="Home">Yes 
                </label>
            </div>

                <div class="govuk-radios__item margin-bottom-5">
                <input id="Home" class="govuk-radios__input" name="SelectedPages" type="checkbox" value="Home">
                <label class="govuk-label govuk-radios__label" for="Home">No
                </label>
            </div>
         </td>
    </tr>
    <tr class="govuk-table__row">
        <td class="govuk-table__cell govuk-!-font-weight-bold">
            Description
        </td>
        <td class="govuk-table__cell govuk-!-font-weight-bold govuk-!-width-two-thirds">
            <textarea class="govuk-textarea" id="more-detail" rows="3" aria-describedby="more-detail-hint" name="Message">N/a</textarea>
        </td>
    </tr>
    <tr class="govuk-table__row">
        <td class="govuk-table__cell govuk-!-font-weight-bold">
            Is Outcome Payment Data Necessary?
        </td>
        <td class="govuk-table__cell govuk-!-font-weight-bold">
            <div class="govuk-radios__item margin-bottom-5">
                <input id="Home" class="govuk-radios__input" name="SelectedPages" type="checkbox" value="Home">
                <label class="govuk-label govuk-radios__label" for="Home">Yes 
                </label>
            </div>

                <div class="govuk-radios__item margin-bottom-5">
                <input id="Home" class="govuk-radios__input" name="SelectedPages" type="checkbox" value="Home">
                <label class="govuk-label govuk-radios__label" for="Home">No
                </label>
            </div>
         </td>
    </tr>
    <tr class="govuk-table__row">
        <td class="govuk-table__cell govuk-!-font-weight-bold">
            Description
        </td>
        <td class="govuk-table__cell govuk-!-font-weight-bold govuk-!-width-two-thirds">
            <textarea class="govuk-textarea" id="more-detail" rows="3" aria-describedby="more-detail-hint" name="Message">N/a</textarea>
        </td>
    </tr>
<!--<tr class="govuk-table__row">
    <td class="govuk-table__cell govuk-!-font-weight-bold">
        Display On SLD
    </td>
    <td class="govuk-table__cell govuk-!-font-weight-bold">
        <div class="govuk-checkboxes__item margin-bottom-5">
            <input id="Home" class="govuk-checkboxes__input" name="SelectedPages" type="checkbox" value="Home">
            <label class="govuk-label govuk-checkboxes__label" for="Home">
            </label>
        </div>
     </td>
</tr> -->
</tbody>
</table>

<div id="buttons" class="block">
<button type="submit" id="submitButton" name="save" class="govuk-button" value="save">Save</button>

    <a id="deleteLink" class="govuk-button govuk-button--warning inline">Delete</a>
&nbsp;&nbsp;&nbsp;    
<a class="govuk-button govuk-button--secondary" href="/OPSSBCWaves">Cancel</a>
</div>
<input name="__RequestVerificationToken" type="hidden" value="CfDJ8G7gS31nNThAl6QmW19BnUEPc9YVU5v4vWNDd9GW8TniHGmAUn13M7Vg3LzEKRBceUQiyoaozbAjT6giudod8lWnp-p00WUvYdCTPkTI_rDrvIVAU95vRUHb84ywKWQ3y6Umg2OhSzYs_PpKQPqETaJY3oPdErwhxfhvppBMJJ0VO5hdAQGwQF4aJe6yYoDndw"></form>





</div>

{% endblock %}