{% extends "layoutsld.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}
{% block content %}

<a href="javascript:history.back()" class="govuk-back-link">Back</a>

<main class="govuk-main-wrapper">

    <h2 class="gem-c-heading govuk-heading-xl govuk-!-margin-bottom-6">Dashboards</h2>

    <div class="govuk-grid-row govuk-!-margin-top-6">

        <div class="govuk-grid-column-one-third">
            <ul class="govuk-list">
                <li>
                    <h3 class="home-services__heading"><a class="govuk-link" href="/powerbidashboard">Funding dashboard</a></h3>
                    <p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-bottom-1">Displays funding based on most recent data</p>
                </li>
            </ul>
        </div>


        <div class="govuk-grid-column-one-third">
            <ul class="govuk-list">
                <li>
                    <h3 class="home-services__heading"><a class="govuk-link" href="/APIStatus">Dashboard 2</a></h3>
                    <p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-bottom-1">Displays something really interesting</p>
                </li>
            </ul>
        </div>

        <div class="govuk-grid-column-one-third">
            <ul class="govuk-list">
                <li>
                    <h3 class="home-services__heading"><a class="govuk-link" href="/emailtopics">Dashboard 3</a></h3>
                    <p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-bottom-1">Displays something less interesting</p>
            </ul>
        </div>

    </div>

  
    </div>


    </div>
</main>
</div>
</div>
</div>



{% endblock %}