{% extends "layout.html" %}

{% block pageTitle %}
  Start page example
{% endblock %}


{% block content %}
{% include "./includes/nav.html" %}

<br>
<br>

    <details class="govuk-details" data-module="govuk-details" role="group" >
        <summary class="govuk-details__summary" role="button" aria-controls="details-content-4deb7b25-e487-432b-9726-710eaceecd46" aria-expanded="true">
            <span class="govuk-details__summary-text">
                Upload reference data
            </span>
        </summary>
        <div class="govuk-details__text" id="details-content-4deb7b25-e487-432b-9726-710eaceecd46" aria-hidden="false">

            <main class="govuk-main-wrapper">
                <div class="govuk-grid-row govuk-!-margin-top-6">

                    <div class="govuk-grid-column-one-third">
                        <ul class="govuk-list">
                            <li>
                                <h3 class="home-services__heading"><a class="govuk-link" href="/referencedata/referenceData/CampusIdentifier">Campus Identifiers</a></h3>
                                <p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-bottom-1">Last update</p>
                                <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">16 August 2021 at 9:01 am</p>
                                <p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-bottom-7">by Mrs Sameenataz Chittoor</p>
                            </li>
                        </ul>
                    </div>

                    <div class="govuk-grid-column-one-third">
                        <ul class="govuk-list">
                            <li>
                                <h3 class="home-services__heading"><a class="govuk-link" href="/referencedata/referenceData/CoFRemoval">Conditions of Funding Removal</a></h3>
                                <p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-bottom-1">Last update</p>
                                <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">16 August 2021 at 9:06 am</p>
                                <p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-bottom-7">by Mrs Sameenataz Chittoor</p>
                            </li>
                        </ul>
                    </div>

                    <div class="govuk-grid-column-one-third">
                        <ul class="govuk-list">
                            <li>
                                <h3 class="home-services__heading"><a class="govuk-link" href="/referencedata/devolvedContracts?collectionName=DevolvedContracts">Devolved Contracts</a></h3>
                                <p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-bottom-1">Last update</p>
                                <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">11 August 2021 at 11:43 am</p>
                                <p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-bottom-7">by ESFA</p>
                                <br>
                            </li>
                        </ul>
                    </div>

                    <div class="govuk-grid-column-one-third">
                        <ul class="govuk-list">
                            <li>
                                <h3 class="home-services__heading"><a class="govuk-link" href="/referencedata/devolvedPostcodes">Devolved postcodes</a></h3>
                                <p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-bottom-1">Last update</p>
                                <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">16 August 2021 at 9:10 am</p>
                                <p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-bottom-7">by Mrs Sameenataz Chittoor</p>
                            </li>
                        </ul>
                    </div>

                    <div class="govuk-grid-column-one-third">
                        <ul class="govuk-list">
                            <li>
                                <h3 class="home-services__heading"><a class="govuk-link" href="/referencedata/FundingClaimsDates">Funding Claims dates</a></h3>
                                <p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-bottom-1">Last update</p>
                                <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">10 June 2021 at 12:56 pm</p>
                                <p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-bottom-7">by Mrs Sameenataz Chittoor</p>
                            </li>
                        </ul>
                    </div>
                    <div class="govuk-grid-column-one-third">
                        <ul class="govuk-list">
                            <li>
                                <h3 class="home-services__heading"><a class="govuk-link" href="/referencedata/referenceData/NcsOutcomeRates">NCS Outcome Rates</a></h3>
                                <p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-bottom-1">Last update</p>
                                <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">Data unavailable</p>
                                <p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-bottom-7">by Data unavailable</p>
                                <br>
                            </li>
                        </ul>
                    </div>
                    
                    <div class="govuk-grid-column-one-third">
                        <ul class="govuk-list">
                            <li>
                                <h3 class="home-services__heading"><a class="govuk-link" href="/ofsproviders.html">OfS Providers</a></h3>
                                <p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-bottom-1">Last update</p>
                                <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">14 October 2021 at 13:56 pm</p>
                                <p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-bottom-7">by Mrs Bernie O'Donnell</p>
                            </li>
                        </ul>
                    </div>                    

                    <div class="govuk-grid-column-one-third">
                        <ul class="govuk-list">
                            <li>
                                <h3 class="home-services__heading"><a class="govuk-link" href="/referencedata/referenceData/ProviderPostcodeSpecialistResources">Provider Postcode Specialist Resources</a></h3>
                                <p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-bottom-1">Last update</p>
                                <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">16 August 2021 at 9:14 am</p>
                                <p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-bottom-7">by Mrs Sameenataz Chittoor</p>
                            </li>
                        </ul>
                    </div>

                    <div class="govuk-grid-column-one-third">
                        <ul class="govuk-list">
                            <li>
                                <h3 class="home-services__heading"><a class="govuk-link" href="/referencedata/referenceData/ShortTermFundingInitiatives">Short Term Funding Initiatives</a></h3>
                                <p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-bottom-1">Last update</p>
                                <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">Data unavailable</p>
                                <p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-bottom-7">by Data unavailable</p>
                            </li>
                        </ul>
                    </div>

                        <div class="govuk-grid-column-one-third">
                            <ul class="govuk-list">
                                <li>
                                    <h3 class="home-services__heading"><a class="govuk-link" href="/referencedata/referenceData/ILRValidationMessages2021">Validation Messages 20-21</a></h3>
                                    <p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-bottom-1">Last update</p>
                                    <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">11 August 2021 at 12:34 pm</p>
                                    <p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-bottom-7">by Mrs Sameenataz Chittoor</p>
                                    <br>
                                </li>
                            </ul>
                        </div>

                        <div class="govuk-grid-column-one-third">
                            <ul class="govuk-list">
                                <li>
                                    <h3 class="home-services__heading"><a class="govuk-link" href="/referencedata/referenceData/ILRValidationMessages2122">Validation Messages 21-22</a></h3>
                                    <p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-bottom-1">Last update</p>
                                    <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">16 August 2021 at 9:13 am</p>
                                    <p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-bottom-7">by Mrs Sameenataz Chittoor</p>
                                    <br>
                                </li>
                            </ul>
                        </div>

                        <div class="govuk-grid-column-one-third">
                            <ul class="govuk-list">
                                <li>
                                    <h3 class="home-services__heading"><a class="govuk-link" href="/ILRValidationMessages2223">Validation Messages 22-23</a></h3>
                                    <p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-bottom-1">Last update</p>
                                    <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">16 August 2022 at 9:13 am</p>
                                    <p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-bottom-7">by Mr Ops User</p>
                                    <br>
                                </li>
                            </ul>
                        </div>

                </div>
            </main>
        </div>
    </details>
    <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
                Publish data
            </span>
        </summary>
        <div class="govuk-details__text">

            <main class="govuk-main-wrapper">
                <div class="govuk-grid-row govuk-!-margin-top-6">
                    <div class="govuk-grid-column-one-third">
                        <ul class="govuk-list">
                            <li>
                                <h3 class="home-services__heading"><a class="govuk-link" href="/referencedata/referenceDataProcess/DevolvedPostcodes-Publication">Devolved postcodes publication</a></h3>
                                <p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-bottom-1">Last update</p>
                                <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">26 February 2021 at 2:06 pm</p>
                                <p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-bottom-7">by Mr Thomas Hudson</p>
                            </li>
                        </ul>
                    </div>

                    <div class="govuk-grid-column-one-third">
                        <ul class="govuk-list">
                            <li>
                                <h3 class="home-services__heading"><a class="govuk-link" href="/referencedata/referenceDataProcess/EsfEligibility">ESF eligibility reference data</a></h3>
                                <p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-bottom-1">Last update</p>
                                <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">11 August 2021 at 3:15 pm</p>
                                <p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-bottom-7">by Mrs Sameenataz Chittoor</p>
                            </li>
                        </ul>
                    </div>

                    <div class="govuk-grid-column-one-third">
                        <ul class="govuk-list">
                            <li>
                                <h3 class="home-services__heading"><a class="govuk-link" href="/referencedata/referenceDataProcess/FISReferenceData2021">FIS reference data 2021</a></h3>
                                <p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-bottom-1">Last update</p>
                                <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">11 August 2021 at 3:19 pm</p>
                                <p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-bottom-7">by Mrs Sameenataz Chittoor</p>
                                <br>
                            </li>
                        </ul>
                    </div>

                    <div class="govuk-grid-column-one-third">
                        <ul class="govuk-list">
                            <li>
                                <h3 class="home-services__heading"><a class="govuk-link" href="/referencedata/referenceDataProcess/FISReferenceData2122">FIS reference data 2122</a></h3>
                                <p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-bottom-1">Last update</p>
                                <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">Data unavailable</p>
                                <p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-bottom-7">by Data unavailable</p>
                            </li>
                        </ul>
                    </div>

                    <div class="govuk-grid-column-one-third">
                        <ul class="govuk-list">
                            <li>
                                <h3 class="home-services__heading"><a class="govuk-link" href="/FISReferenceData2223">FIS reference data 2223</a></h3>
                                <p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-bottom-1">Last update</p>
                                <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">11 August 2022 at 3:19 pm</p>
                                <p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-bottom-7">by Ops User</p>
                            </li>
                        </ul>
                    </div>

                    <div class="govuk-grid-column-one-third">
                        <ul class="govuk-list">
                            <li>
                                <h3 class="home-services__heading"><a class="govuk-link" href="/reminders">ILR lookups</a></h3>
                                <p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-bottom-1">Last update</p>
                                <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">10 August 2022 at 6:45 am</p>
                                <p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-bottom-7">by Schedule</p>
                            </li>
                        </ul>
                    </div>


                    <div class="govuk-grid-column-one-third">
                        <ul class="govuk-list">
                            <li>
                                <h3 class="home-services__heading"><a class="govuk-link" href="/referencedata/larsPublish">Learning aims reference data</a></h3>
                                <p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-bottom-1">Last update</p>
                                <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">13 August 2021 at 4:14 pm</p>
                                <p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-bottom-7">by Mr Seymour Pattisson</p>
                            </li>
                        </ul>
                    </div>

                    <div class="govuk-grid-column-one-third">
                        <ul class="govuk-list">
                            <li>
                                <h3 class="home-services__heading"><a class="govuk-link" href="/referencedata/referenceDataProcess/OnsPostcodes">ONS postcodes</a></h3>
                                <p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-bottom-1">Last update</p>
                                <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">11 August 2021 at 3:07 pm</p>
                                <p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-bottom-7">by Mrs Sameenataz Chittoor</p>
                                <br>
                            </li>
                        </ul>
                    </div>

                    <div class="govuk-grid-column-one-third">
                        <ul class="govuk-list">
                            <li>
                                <h3 class="home-services__heading"><a class="govuk-link" href="/referencedata/referenceDataProcess/Organisations">Organisations</a></h3>
                                <p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-bottom-1">Last update</p>
                                <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">13 August 2021 at 4:19 pm</p>
                                <p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-bottom-7">by Mr Seymour Pattisson</p>
                            </li>
                        </ul>
                    </div>

                    <div class="govuk-grid-column-two-thirds">
                        <ul class="govuk-list">
                            <li>
                                <h3 class="home-services__heading"><a class="govuk-link" href="/referencedata/referenceDataProcess/PostcodeFactors">Postcode factors</a></h3>
                                <p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-bottom-1">Last update</p>
                                <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">11 August 2021 at 1:09 pm</p>
                                <p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-bottom-7">by Mrs Sameenataz Chittoor</p>
                                <br>
                            </li>
                        </ul>
                    </div>

                    
                </div>
            </main>
        </div>
    </details>
</div>

                </div>
            </div>



{% endblock %}
