{% extends "layout.html" %}

{% block pageTitle %}
  Start page example
{% endblock %}


{% block content %}
{% include "./includes/nav.html" %}

<br>
<h1 class="gem-c-heading govuk-heading-l">Reference data</h1>

    <details class="govuk-details" data-module="govuk-details" role="group" >
        <summary class="govuk-details__summary" role="button" aria-controls="details-content-4deb7b25-e487-432b-9726-710eaceecd46" aria-expanded="true">
            <span class="govuk-details__summary-text">Upload reference data</span>
        </summary>
        <div class="govuk-details__text" id="details-content-4deb7b25-e487-432b-9726-710eaceecd46" aria-hidden="false">

            <main class="govuk-main-wrapper">
                <div class="govuk-grid-row govuk-!-margin-top-6">

                    <div class="govuk-grid-column-one-third">
                        <ul class="govuk-list">
                            <li>
                                <h3 class="home-services__heading"><a class="govuk-link" href="/campusidentifiers">Campus Identifiers</a></h3>
                                <div class="govuk-hint">Campus identifiers for validation and reporting purposes.</div>
                                <p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-bottom-1">Last update</p>
                                <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">16 August 2021 at 9:01 am</p>
                            </li>
                        </ul>
                    </div>

                    <div class="govuk-grid-column-one-third">
                        <ul class="govuk-list">
                            <li>
                                <h3 class="home-services__heading"><a class="govuk-link" href="/conditionoffunding">Conditions of Funding Removal</a></h3>
                                <div class="govuk-hint">Funding removal to be used by the funding claim.</div>
                                <p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-bottom-1">Last update</p>
                                <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">16 August 2021 at 9:06 am</p>
                            </li>
                        </ul>
                    </div>

                    <div class="govuk-grid-column-one-third">
                        <ul class="govuk-list">
                            <li>
                                <h3 class="home-services__heading"><a class="govuk-link" href="/devolvedcontracts">Devolved Contracts</a></h3>
                                <div class="govuk-hint">Devolved contract UKPRNs for validation and reporting purposes. <br>This can also be uploaded by providers via SLD.</div>
                                <p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-bottom-1">Last update</p>
                                <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">11 August 2021 at 11:43 am</p>
                            </li>
                        </ul>
                    </div>
                </div>

                    <div class="govuk-grid-row govuk-!-margin-top-6">

                    <div class="govuk-grid-column-one-third">
                        <ul class="govuk-list">
                            <li>
                                <h3 class="home-services__heading"><a class="govuk-link" href="/referencedata/devolvedPostcodes">Devolved postcodes lookups</a></h3>
                                <div class="govuk-hint">Lookups and mapping for MCA/GLA names, sources of funding and local authorities.</div>
                                <p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-bottom-1">Last update</p>
                                <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">16 August 2021 at 9:10 am</p>
                            </li>
                        </ul>
                    </div>

                    <div class="govuk-grid-column-one-third">
                        <ul class="govuk-list">
                            <li>
                                <h3 class="home-services__heading"><a class="govuk-link" href="/fundingclaimdates">Funding Claims dates</a></h3>
                                <div class="govuk-hint">Update the funding claim open and close dates.</div>
                                <p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-bottom-1">Last update</p>
                                <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">10 June 2021 at 12:56 pm</p>
                            </li>
                        </ul>
                    </div>


                    <div class="govuk-grid-column-one-third">
                        <ul class="govuk-list">
                            <li>
                                <h3 class="home-services__heading"><a class="govuk-link" href="/NCSOutcomeRates">NCS Outcome Rates</a></h3>
                                <div class="govuk-hint">Rates used by the NCS funding calculation.</div>
                                <p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-bottom-1">Last update</p>
                                <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">Data unavailable</p>
                             </li>
                        </ul>
                    </div>
                </div>

                <div class="govuk-grid-row govuk-!-margin-top-6">
                    <div class="govuk-grid-column-one-third">
                        <ul class="govuk-list">
                            <li>
                                <h3 class="home-services__heading"><a class="govuk-link" href="/ofsproviders.html">OfS Providers</a></h3>
                                <div class="govuk-hint">OfS providers for validation purposes.</div>
                                <p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-bottom-1">Last update</p>
                                <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">14 October 2021 at 13:56 pm</p>
                            </li>
                        </ul>
                    </div>                    

                    <div class="govuk-grid-column-one-third">
                        <ul class="govuk-list">
                            <li>
                                <h3 class="home-services__heading"><a class="govuk-link" href="/providerspecialist">Provider Postcode Specialist Resources</a></h3>
                                <div class="govuk-hint">Postcodes where specialist training occurs, for funding calculation purposes.</div>
                                <p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-bottom-1">Last update</p>
                                <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">16 August 2021 at 9:14 am</p>
                            </li>
                        </ul>
                    </div>

                    <div class="govuk-grid-column-one-third">
                        <ul class="govuk-list">
                            <li>
                                <h3 class="home-services__heading"><a class="govuk-link" href="/referencedata/referenceData/ShortTermFundingInitiatives">Short Term Funding Initiatives</a></h3>
                                <div class="govuk-hint">LDM codes allowed for providers with short term funding initiatives.</div>
                                <p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-bottom-1">Last update</p>
                                <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">Data unavailable</p>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="govuk-grid-row govuk-!-margin-top-6">
                    <div class="govuk-grid-column-one-third">
                        <ul class="govuk-list">
                            <li>
                                <h3 class="home-services__heading"><a class="govuk-link" href="/validationmessages2122">Validation Messages 21-22</a></h3>
                                <div class="govuk-hint">Validation messages for 21/22 for validation purposes.</div>
                                <p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-bottom-1">Last update</p>
                                <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">16 August 2021 at 9:13 am</p>
                             </li>
                         </ul>
                    </div>

                        <div class="govuk-grid-column-one-third">
                            <ul class="govuk-list">
                                <li>
                                    <h3 class="home-services__heading"><a class="govuk-link" href="/validationmessages2223">Validation Messages 22-23</a></h3>
                                    <div class="govuk-hint">Validation messages for 22/23 for validation purposes.</div>
                                    <p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-bottom-1">Last update</p>
                                    <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">16 August 2022 at 9:13 am</p>
                                </li>
                            </ul>
                        </div>
                </div>
       </main>
   </details>

    <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
                Publish data
            </span>
        </summary>
        <div class="govuk-details__text">
            <main class="govuk-main-wrapper">
                <div class="govuk-grid-row govuk-!-margin-top-6">
                    <div class="govuk-grid-column-one-third">
                        <ul class="govuk-list">
                            <li>
                                <h3 class="home-services__heading"><a class="govuk-link" href="/referencedata/referenceDataProcess/DevolvedPostcodes-Publication">Devolved AEB postcodes</a></h3>
                                <div class="govuk-hint">Devolved postcodes for adult education budget.</div>
                                <p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-bottom-1">Last update</p>
                                <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">26 February 2021 at 2:06 pm</p>
                            </li>
                        </ul>
                    </div>

                    <div class="govuk-grid-column-one-third">
                        <ul class="govuk-list">
                            <li>
                                <h3 class="home-services__heading"><a class="govuk-link" href="/esfeligibility">ESF eligibility reference data</a></h3>
                                <div class="govuk-hint">Data used for validation of ESF ILR records.</div>
                                <p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-bottom-1">Last update</p>
                                <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">11 August 2021 at 3:15 pm</p>
                            </li>
                        </ul>
                    </div>

 
                    <div class="govuk-grid-column-one-third">
                        <ul class="govuk-list">
                            <li>
                                <h3 class="home-services__heading"><a class="govuk-link" href="/referencedata/referenceDataProcess/FISReferenceData2122">FIS reference data 2122</a></h3>
                                <div class="govuk-hint">Reference data used by FIS.</div>
                                <p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-bottom-1">Last update</p>
                                <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">Data unavailable</p>
                                <div class="govuk-warning-text">
                                    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                                    <strong class="govuk-warning-text__text">
                                      <span class="govuk-warning-text__assistive">Warning</span>
                                      FIS reference data has not been published.
                                    </strong>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                    <div class="govuk-grid-row govuk-!-margin-top-6">

                    <div class="govuk-grid-column-one-third">
                        <ul class="govuk-list">
                            <li>
                                <h3 class="home-services__heading"><a class="govuk-link" href="/FISReferenceData2223">FIS reference data 2223</a></h3>
                                <div class="govuk-hint">Reference data used by FIS.</div>
                                <p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-bottom-1">Last update</p>
                                <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">11 August 2022 at 3:19 pm</p>
                                <div class="govuk-warning-text">
                                    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                                    <strong class="govuk-warning-text__text">
                                      <span class="govuk-warning-text__assistive">Warning</span>
                                      FIS reference data has not been published.
                                    </strong>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="govuk-grid-column-one-third">
                        <ul class="govuk-list">
                            <li>
                                <h3 class="home-services__heading"><a class="govuk-link" href="/ilrlookups">ILR lookups</a></h3>
                                <div class="govuk-hint">Reports changes to the ILR lookups.</div>
                                <p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-bottom-1">Last update</p>
                                <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">10 August 2022 at 6:30 am</p>
                            </li>
                        </ul>
                    </div>
                

                    <div class="govuk-grid-column-one-third">
                        <ul class="govuk-list">
                            <li>
                                <h3 class="home-services__heading"><a class="govuk-link" href="/referencedata/larsPublish">Learning aims reference data</a></h3>
                                <div class="govuk-hint">An import of the latest learning aims data.</div>
                                <p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-bottom-1">Last update</p>
                                <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">13 August 2021 at 4:14 pm</p>
                                <div class="govuk-warning-text">
                                    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                                    <strong class="govuk-warning-text__text">
                                      <span class="govuk-warning-text__assistive">Warning</span>
                                      Learning aims data is not up to date.
                                    </strong>
                                </div>
                                <div class="govuk-warning-text">
                                    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                                    <strong class="govuk-warning-text__text">
                                      <span class="govuk-warning-text__assistive">Warning</span>
                                      Index rebuild requires running.
                                    </strong>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                    <div class="govuk-grid-row govuk-!-margin-top-6">

                    <div class="govuk-grid-column-one-third">
                        <ul class="govuk-list">
                            <li>
                                <h3 class="home-services__heading"><a class="govuk-link" href="/referencedata/referenceDataProcess/OnsPostcodes">ONS postcodes</a></h3>
                                <div class="govuk-hint">LEP, local authority and validity postcodes.</div>
                                <p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-bottom-1">Last update</p>
                                <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">11 August 2021 at 3:07 pm</p>
                                <div class="govuk-warning-text">
                                    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                                    <strong class="govuk-warning-text__text">
                                      <span class="govuk-warning-text__assistive">Warning</span>
                                      ONS postcodes data is not up to date.
                                    </strong>
                                  </div>
                            </li>
                        </ul>
                    </div>

                    <div class="govuk-grid-column-one-third">
                        <ul class="govuk-list">
                            <li>
                                <h3 class="home-services__heading"><a class="govuk-link" href="/referencedata/referenceDataProcess/Organisations">Organisations</a></h3>
                                <div class="govuk-hint">An import of the latest organisation data.</div>
                                <p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-bottom-1">Last update</p>
                                <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">13 August 2021 at 4:19 pm</p>
                                <div class="govuk-warning-text">
                                    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                                    <strong class="govuk-warning-text__text">
                                      <span class="govuk-warning-text__assistive">Warning</span>
                                      Organisations data is not up to date.
                                    </strong>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="govuk-grid-column-one-third">
                        <ul class="govuk-list">
                            <li>
                                <h3 class="home-services__heading"><a class="govuk-link" href="/referencedata/referenceDataProcess/PostcodeFactors">Postcode factors</a></h3>
                                <div class="govuk-hint">Disadvantage and area cost postcode factors.</div>
                                <p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-bottom-1">Last update</p>
                                <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">11 August 2021 at 1:09 pm</p>
                                <div class="govuk-warning-text">
                                    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                                    <strong class="govuk-warning-text__text">
                                      <span class="govuk-warning-text__assistive">Warning</span>
                                      Postcode factors data is not up to date.
                                    </strong>
                                </div>
                            </li>
                        </ul>
                    </div>
                    </div>
                </div>
            </main>
        </div>
    </details>
</div>
</div>



{% endblock %}
