{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}



<div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      Important
    </h2>
  </div>
  <div class="govuk-notification-banner__content">
    <p class="govuk-notification-banner__heading">
      R01 has a deadline date of 22-05-2022.
    </p>
  </div>
</div>

{% include "./includes/nav.html" %}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>


<br>

<div class="govuk-tabs" data-module="govuk-tabs">
  <h2 class="govuk-tabs__title">
    Contents
  </h2>
  <ul class="govuk-tabs__list">
    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
      <a class="govuk-tabs__tab" href="#certificates">
        Certificates
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#past-week">
        Reminders
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#closedcerts">
        Closed certificates
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#closedreminds">
        Closed reminders
      </a>
    </li>
  </ul>
  <div class="govuk-tabs__panel" id="certificates">
    <h2 class="govuk-heading-l">Certificates</h2>
    <table class="govuk-table" data-module="moj-sortable-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header" aria-sort="ascending">Certificate name</th>
          <th scope="col" class="govuk-table__header">Current thumbprint</th>
          <th scope="col" class="govuk-table__header">Deadline date</th>
          <th scope="col" class="govuk-table__header">Reminder date</th>
          <th scope="col" class="govuk-table__header">Action</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">api-fundingclaims-2021-22</td>
          <td class="govuk-table__cell">43-BD-48-EC-FB-DF-14-57-31-3C-01-7A-CA-85-07-14-BE-FE-4B-08</td>
          <td class="govuk-table__cell">2022-05-22</td>
          <td class="govuk-table__cell">2022-04-15</td>
          <td class="govuk-table__cell">
          <a class="govuk-link" href="/editcertificate">Edit</a>
          <a class="govuk-link" href="/closecertificate">Close</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">ServiceFabricDasCertificate</td>
          <td class="govuk-table__cell">FF-D2-E4-E9-E2-05-04-E5-FF-41-26-EA-C4-53-47-99-D5-D5-1E-64</td>
          <td class="govuk-table__cell">2023-01-21</td>
          <td class="govuk-table__cell">2022-12-07</td>
          <td class="govuk-table__cell">
            <a class="govuk-link" href="/editcertificate">Edit</a>
            <a class="govuk-link" href="/closecertificate">Close</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">ServiceFabricCertificate</td>
          <td class="govuk-table__cell">AB-DD-04-D8-FD-B7-E9-94-9C-C2-55-E0-CA-32-90-3F-6C-74-1F-A9</td>
          <td class="govuk-table__cell">2022-07-17</td>
          <td class="govuk-table__cell">2022-06-03</td>
          <td class="govuk-table__cell">
            <a class="govuk-link" href="/editcertificate">Edit</a>
            <a class="govuk-link" href="/closecertificate">Close</a>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-week">
    <h2 class="govuk-heading-l">Reminders</h2>
    <a class="govuk-button" href="/addreminder">Add reminder</a>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Description</th>
          <th scope="col" class="govuk-table__header">Deadline date</th>
          <th scope="col" class="govuk-table__header">Reminder date</th>
          <th scope="col" class="govuk-table__header">Action</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">R01 closes</td>
          <td class="govuk-table__cell">2022-09-06</td>
          <td class="govuk-table__cell">2022-09-01</td>
          <td class="govuk-table__cell">
            <a class="govuk-link" href="/editreminder">Edit</a>
            <a class="govuk-link" href="/closereminder">Close</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="closedcerts">
    <h2 class="govuk-heading-l">Closed certificates</h2>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Certificate name</th>
          <th scope="col" class="govuk-table__header">Thumbprint</th>
          <th scope="col" class="govuk-table__header">Closed date</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">api-fundingclaims-2021-22</td>
          <td class="govuk-table__cell">43-BD-48-EC-FB-DF-14-57-31-3C-01-7A-CA-85-07-14-BE-FE-4B-08</td>
          <td class="govuk-table__cell">2022-05-22</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">api-fundingclaims-2022-23</td>
          <td class="govuk-table__cell">19-CS-48-EC-FB-DF-14-57-31-3C-01-7A-CA-85-07-14-BE-FE-4B-08</td>
          <td class="govuk-table__cell">2022-05-21</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="closedreminds">
    <h2 class="govuk-heading-l">Closed reminders</h2>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Description</th>
          <th scope="col" class="govuk-table__header">Closed date</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">R12 closing</td>
          <td class="govuk-table__cell">2022-08-08</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>





<table class="govuk-table" data-module="moj-sortable-table">

  <thead class="govuk-table__head">
    <tr class="govuk-table__row">

      <th scope="col" class="govuk-table__header" aria-sort="ascending">Name</th>

      <th scope="col" class="govuk-table__header" aria-sort="none">Elevation</th>

      <th scope="col" class="govuk-table__header" aria-sort="none">Continent</th>

      <th scope="col" class="govuk-table__header govuk-table__header--numeric" aria-sort="none">First summit</th>

    </tr>
  </thead>

  <tbody class="govuk-table__body">

    <tr class="govuk-table__row">

      <td class="govuk-table__cell">Aconcagua</td>

      <td class="govuk-table__cell" data-sort-value="6961">6,961 meters</td>

      <td class="govuk-table__cell">South America</td>

      <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1897">1897</td>

    </tr>

    <tr class="govuk-table__row">

      <td class="govuk-table__cell">Denali</td>

      <td class="govuk-table__cell" data-sort-value="6194">6,194 meters</td>

      <td class="govuk-table__cell">North America</td>

      <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1913">1913</td>

    </tr>

    <tr class="govuk-table__row">

      <td class="govuk-table__cell">Elbrus</td>

      <td class="govuk-table__cell" data-sort-value="5642">5,642 meters</td>

      <td class="govuk-table__cell">Europe</td>

      <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1874">1874</td>

    </tr>

    <tr class="govuk-table__row">

      <td class="govuk-table__cell">Everest</td>

      <td class="govuk-table__cell" data-sort-value="8850">8,850 meters</td>

      <td class="govuk-table__cell">Asia</td>

      <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1953">1953</td>

    </tr>

    <tr class="govuk-table__row">

      <td class="govuk-table__cell">Kilimanjaro</td>

      <td class="govuk-table__cell" data-sort-value="5895">5,895 meters</td>

      <td class="govuk-table__cell">Africa</td>

      <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1889">1889</td>

    </tr>

    <tr class="govuk-table__row">

      <td class="govuk-table__cell">Puncak Jaya</td>

      <td class="govuk-table__cell" data-sort-value="4884">4,884 meters</td>

      <td class="govuk-table__cell">Australia</td>

      <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1962">1962</td>

    </tr>

    <tr class="govuk-table__row">

      <td class="govuk-table__cell">Vinson</td>

      <td class="govuk-table__cell" data-sort-value="4897">4,897 meters</td>

      <td class="govuk-table__cell">Antarctica</td>

      <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1966">1966</td>

    </tr>

  </tbody>
</table>




{% endblock %}
