
{% extends "layoutsld.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}


{% block content %}

<a href="javascript:history.back()" class="govuk-back-link">Back</a>

<h1 class="govuk-heading-l">My report preferences</h1>



<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
        Which reports do you want to receive?
      </h1>
    </legend>
    <div id="waste-hint" class="govuk-hint">
      Select the submission reports that you want to receive.  The rule violation reports are mandatory and cannot be de-selected.
    </div>


  <table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Required</th>
        <th scope="col" class="govuk-table__header">Report</th>
        <th scope="col" class="govuk-table__header">Description</th>
        
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">
          <div class="govuk-checkboxes__item">
           <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses" checked>
           <label class="govuk-label govuk-checkboxes__label" for="waste">
           </label>
          </div>
        </td>
        <td class="govuk-table__cell">16-19 Funding Calculation Full Output Report</td>
        <td class="govuk-table__cell">For funding model 25 (16-19), this report details outputs from the funding calculation.</td>
      </tr>
        <tr class="govuk-table__row">
        <td class="govuk-table__cell">
          <div class="govuk-checkboxes__item">
           <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses" checked>
           <label class="govuk-label govuk-checkboxes__label" for="waste">
           </label>
          </div>
        </td>
        <td class="govuk-table__cell">16-19 Funding Claim Report</td>
        <td class="govuk-table__cell">For funding model 25 (16-19), this report outputs learner counts and funding in the format of the funding claim form.</td>
      </tr>
          <tr class="govuk-table__row">
        <td class="govuk-table__cell">
          <div class="govuk-checkboxes__item">
           <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses" checked>
           <label class="govuk-label govuk-checkboxes__label" for="waste">
           </label>
          </div>
        </td>
        <td class="govuk-table__cell">Adult Funding Claim Report</td>
        <td class="govuk-table__cell">For funding models 35 (Adult skills), 38 (Adult Skills Fund) and 99 (Non-funded), this report displays funding in the format of the funding claim form.</td>
      </tr>
            <tr class="govuk-table__row">
        <td class="govuk-table__cell">
          <div class="govuk-checkboxes__item">
           <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses" checked>
           <label class="govuk-label govuk-checkboxes__label" for="waste">
           </label>
          </div>
        </td>
        <td class="govuk-table__cell">Adult Learner Loans Bursary Occupancy Report</td>
        <td class="govuk-table__cell">For funding model 99 (Non-funded), this report details funding that is financed by an Advanced Learner Loan.</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">
          <div class="govuk-checkboxes__item">
           <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses" checked>
           <label class="govuk-label govuk-checkboxes__label" for="waste">
           </label>
          </div>
        </td>
        <td class="govuk-table__cell">Apprenticeship Data Match Report</td>
        <td class="govuk-table__cell">For funding model 36 (Apprenticeships), this report details rule violations produced by the data lock process.</td>
      </tr>
        <tr class="govuk-table__row">
        <td class="govuk-table__cell">
          <div class="govuk-checkboxes__item">
           <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses" checked>
           <label class="govuk-label govuk-checkboxes__label" for="waste">
           </label>
          </div>
        </td>
        <td class="govuk-table__cell">Apprenticeship Indicative Earnings Report</td>
        <td class="govuk-table__cell">For funding model 36 (Apprenticeships), this report details learners, learning delivery and funding.</td>
      </tr>
        <tr class="govuk-table__row">
        <td class="govuk-table__cell">
          <div class="govuk-checkboxes__item">
           <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses" checked>
           <label class="govuk-label govuk-checkboxes__label" for="waste">
           </label>
          </div>
        </td>
        <td class="govuk-table__cell">Community Learning Summary of Learners by Non-Single Budget Category Report</td>
        <td class="govuk-table__cell">For funding model 10 (Community Learning), this report details counts learners.</td>
      </tr>
        <tr class="govuk-table__row">
        <td class="govuk-table__cell">
          <div class="govuk-checkboxes__item">
           <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses" checked>
           <label class="govuk-label govuk-checkboxes__label" for="waste">
           </label>
          </div>
        </td>
        <td class="govuk-table__cell">Devolved Adult Education Funding Summary Report</td>
        <td class="govuk-table__cell">For funding models 35 (Adult skills) and 38 (Adult skills fund), this report details funding where the source of funding is a devolved organisation.</td>
      </tr>
        <tr class="govuk-table__row">
        <td class="govuk-table__cell">
          <div class="govuk-checkboxes__item">
           <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses" checked>
           <label class="govuk-label govuk-checkboxes__label" for="waste">
           </label>
          </div>
        </td>
        <td class="govuk-table__cell">Devolved Adult Education Occupancy Report</td>
        <td class="govuk-table__cell">For funding models 35 (Adult skills) and 38 (Adult skills fund), this report details learners, learning delivery and funding where the source of funding is a devolved organisation.</td>
      </tr>
 </table>






    <div class="govuk-checkboxes__item">
      <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
      <label class="govuk-label govuk-checkboxes__label" for="waste-2">
          Devolved Skills Bootcamp Funding Summary Report
      </label>
    </div>
    <div class="govuk-checkboxes__item">
      <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
      <label class="govuk-label govuk-checkboxes__label" for="waste-2">
          Devolved Skills Bootcamp Occupancy Report
      </label>
    </div>
        <div class="govuk-checkboxes__item">
      <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
      <label class="govuk-label govuk-checkboxes__label" for="waste-2">
          Funding Summary Report
      </label>
    </div>
        <div class="govuk-checkboxes__item">
      <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
      <label class="govuk-label govuk-checkboxes__label" for="waste-2">
          HNS Report
      </label>
    </div>
        <div class="govuk-checkboxes__item">
      <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
      <label class="govuk-label govuk-checkboxes__label" for="waste-2">
          HNS Summary Report
      </label>
    </div>
        <div class="govuk-checkboxes__item">
      <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
      <label class="govuk-label govuk-checkboxes__label" for="waste-2">
          Main Occupancy Report
      </label>
    </div>
        <div class="govuk-checkboxes__item">
      <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
      <label class="govuk-label govuk-checkboxes__label" for="waste-2">
          Maths & English Report
      </label>
    </div>
        <div class="govuk-checkboxes__item">
      <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
      <label class="govuk-label govuk-checkboxes__label" for="waste-2">
          Non Contracted Apps Activity Report
      </label>
    </div>
        <div class="govuk-checkboxes__item">
      <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
      <label class="govuk-label govuk-checkboxes__label" for="waste-2">
          Non Contract Devolved Adult Education Occupancy Report
      </label>
    </div>
    <div class="govuk-checkboxes" data-module="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
        <label class="govuk-label govuk-checkboxes__label" for="waste">
          OfS HE Quality Control Report
        </label>
      </div>
    <div class="govuk-checkboxes" data-module="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
        <label class="govuk-label govuk-checkboxes__label" for="waste">
          Project S Skills Bootcamp Occupancy Report
        </label>
      </div>
    <div class="govuk-checkboxes" data-module="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
        <label class="govuk-label govuk-checkboxes__label" for="waste">
          Skills Bootcamp Funding Summary Report
        </label>
      </div>
    <div class="govuk-checkboxes" data-module="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
        <label class="govuk-label govuk-checkboxes__label" for="waste">
          Skills Bootcamp Occupancy Report
        </label>
      </div>
    <div class="govuk-checkboxes" data-module="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
        <label class="govuk-label govuk-checkboxes__label" for="waste">
          Summary Of Fm35 Funding Report
        </label>
      </div>
    <div class="govuk-checkboxes" data-module="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
        <label class="govuk-label govuk-checkboxes__label" for="waste">
          Summary Of Funding By Student Report
        </label>
      </div>
    <div class="govuk-checkboxes" data-module="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
        <label class="govuk-label govuk-checkboxes__label" for="waste">
          Trailblazer Apps Occupancy Report
        </label>
      </div>
    <div class="govuk-checkboxes" data-module="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
        <label class="govuk-label govuk-checkboxes__label" for="waste">
          Trailblazer Employer Incentives Report
        </label>
      </div>
      


    </div>
  </fieldset>
</div>


  <a href="/ILRtopicstaskscheck" button class="govuk-button" data-module="govuk-button">
    Save
  </a>


{% endblock %}
