
{% extends "layoutsld.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}


{% block content %}

<a href="javascript:history.back()" class="govuk-back-link">Back</a>

<h1 class="govuk-heading-l">My report preferences</h1>



<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
        Which reports do you want to receive?
      </h1>
    </legend>
    <div id="waste-hint" class="govuk-hint">
      Select the submission reports that you want to receive.  The rule violation reports are mandatory and cannot be de-selected.
    </div>

<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Help with selecting your reports
    </span>
  </summary>
  <div class="govuk-details__text">
    We need to know your nationality so we can work out which elections you’re entitled to vote in. If you cannot provide your nationality, you’ll have to send copies of identity documents through the post.
  </div>
  <table class="govuk-table">
  <caption class="govuk-table__caption govuk-table__caption--m">Dates and amounts</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Date</th>
      <th scope="col" class="govuk-table__header">Amount</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">First 6 weeks</th>
      <td class="govuk-table__cell">£109.80 per week</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Next 33 weeks</th>
      <td class="govuk-table__cell">£109.80 per week</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Total estimated pay</th>
      <td class="govuk-table__cell">£4,282.20</td>
    </tr>
  </tbody>
</table>
</details>





    <div class="govuk-checkboxes__item">
      <input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
      <label class="govuk-label govuk-checkboxes__label" for="waste-3">
          1619 Learner Output Report
      </label>
    </div>     
     <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
        <label class="govuk-label govuk-checkboxes__label" for="waste-3">
          Adult Funding Claim Report
        </label>
      </div>
     <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
        <label class="govuk-label govuk-checkboxes__label" for="waste-3">
          Community Learning Report
        </label>
      </div>
    <div class="govuk-checkboxes__item">
      <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
      <label class="govuk-label govuk-checkboxes__label" for="waste-2">
          Devolved Adult Education Funding Summary Report
      </label>
    </div>
    <div class="govuk-checkboxes__item">
      <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
      <label class="govuk-label govuk-checkboxes__label" for="waste-2">
          Devolved Skills Bootcamp Occupancy Report
      </label>
    </div>
        <div class="govuk-checkboxes__item">
      <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
      <label class="govuk-label govuk-checkboxes__label" for="waste-2">
          Non Contracted Apps Activity Report
      </label>
    </div>
        <div class="govuk-checkboxes__item">
      <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
      <label class="govuk-label govuk-checkboxes__label" for="waste-2">
          Non Contract Devolved Adult Education Occupancy Report
      </label>
    </div>
    <div class="govuk-checkboxes" data-module="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
        <label class="govuk-label govuk-checkboxes__label" for="waste">
          OfS HE Quality Control Report
        </label>
      </div>
    <div class="govuk-checkboxes" data-module="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
        <label class="govuk-label govuk-checkboxes__label" for="waste">
          Skills Bootcamp Funding Summary Report
        </label>
      </div>
    <div class="govuk-checkboxes" data-module="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
        <label class="govuk-label govuk-checkboxes__label" for="waste">
          Summary Of Funding By Student Report
        </label>
      </div>
      


    </div>
  </fieldset>
</div>


TaskGenerate
TaskGenerateFundingSummaryReport
TaskGenerateProjectSSkillsBootcampOccupancyReport
TaskGenerateAdultSkillsFundSTFInitiativesFundingSummaryReport
TaskGenerateTrailblazerAppsOccupancyReport
TaskGenerateDevolvedSkillsBootcampFundingSummaryReport
TaskGenerateSummaryOfFm35FundingReport
TaskGenerateAllbOccupancyReport
TaskGenerateTrailblazerEmployerIncentivesReport
TaskGenerateDevolvedAdultEducationOccupancyV2Report
TaskGenerateValidationReport
TaskGenerateSkillsBootcampOccupancyReport
TaskGenerateMainOccupancyReport
TaskGenerateFundingClaim1619Report
TaskGenerateMathsAndEnglishReport
TaskGenerateAdultSkillsFundSTFInitiativesOccupancyReport
TaskGenerateAppsIndicativeEarningsReport
TaskGenerateHNSSummaryReport
TaskGenerateDevolvedAdultEducationOccupancyReport
TaskGenerateHNSReport










 


  <a href="/ILRtopicstaskscheck" button class="govuk-button" data-module="govuk-button">
    Save
  </a>


{% endblock %}
