{% extends "layout.html" %}

{% block pageTitle %}
  Start page example
{% endblock %}


{% block content %}
{% include "./includes/nav.html" %}
            <main class="govuk-main-wrapper">

                <h1 class="gem-c-heading govuk-heading-l">Report topics</h1>

                <div class="govuk-grid-row govuk-!-margin-top-6">

                    <div class="govuk-grid-column-one-third">
                        <ul class="govuk-list">
                            <li>
                                <h3 class="home-services__heading"><a class="govuk-link" href="/Reports">ILR Reports</a></h3>
                                <p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-bottom-1">View ILR reports including....</p>
                            </li>
                        </ul>
                    </div>


                    <div class="govuk-grid-column-one-third">
                        <ul class="govuk-list">
                            <li>
                                <h3 class="home-services__heading"><a class="govuk-link" href="https://app.powerbi.com/groups/me/apps/0b35ef8c-c543-4335-83ef-435ebf1382cb/reports/ee9fe8f8-9e6a-4bce-9c5a-7081b6c74a4f/ReportSectionb879deccb7930800665d?ctid=fad277c9-c60a-4da1-b5f3-b3b8b34a82f9&experience=power-bi" target="_blank">FEW 2022/23</a></h3>
                                <p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-bottom-1">View FE Workforce reports for staff, organisation and vacancy.</p>
                            </li>
                        </ul>
                    </div>
               </div>
            </main>


{% endblock %}
