{% extends "layoutsld.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}
{% block content %}

<div class="govuk-width-container">
    <a href="#" class="govuk-back-link">Back</a>
    <main class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <h1 class="govuk-heading-xl">Skills Bootcamp Contract waves and Calculation methods</h1>
          <p class="govuk-body">This page gives details on the contract funding waves and calculation methods that are applicable to Skills Bootcamp contracts</p>

         
        <div class="govuk-tabs" data-module="govuk-tabs">
            <h2 class="govuk-tabs__title">
              Skills Bootcamp: contract waves and calculation methods
            </h2>
            <ul class="govuk-tabs__list">
              <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                <a class="govuk-tabs__tab" href="#contract-waves">
                 Contract waves
                </a>
              </li>
              <li class="govuk-tabs__list-item">
                <a class="govuk-tabs__tab" href="#calc-methods">
                 Calculation methods
                </a>
              </li>
            </ul>
            <div class="govuk-tabs__panel" id="contract-waves">
              <h2 class="govuk-heading-l">Contract waves</h2>
              <table class="govuk-table">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                      <th scope="col" class="govuk-table__header">Contract funding wave name</th>
                      <th scope="col" class="govuk-table__header">Description</th>
                      <th scope="col" class="govuk-table__header">Contract wave start date</th>
                      <th scope="col" class="govuk-table__header">Contract wave end date</th>
                    </tr>
                  </thead>
                  <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">Wave 3</td>
                      <td class="govuk-table__cell">HGV contracts</td>
                      <td class="govuk-table__cell">03/06/2022</td>
                      <td class="govuk-table__cell">03/12/2024</td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">DPS Round 1</td>
                      <td class="govuk-table__cell">IT skills</td>
                      <td class="govuk-table__cell">03/06/2022</td>
                      <td class="govuk-table__cell">03/12/2024</td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">DPS Round 2</td>
                      <td class="govuk-table__cell"></td>
                      <td class="govuk-table__cell">03/06/2022</td>
                      <td class="govuk-table__cell">03/12/2024</td>
                    </tr>
                  </tbody>
              </table>
            </div>
            <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="calc-methods">
              <h2 class="govuk-heading-l">Calculation Method</h2>
              <table class="govuk-table">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                      <th scope="col" class="govuk-table__header">Calculation method code</th>
                      <th scope="col" class="govuk-table__header">Description</th>
                      <th scope="col" class="govuk-table__header">Start date</th>
                      <th scope="col" class="govuk-table__header">End date</th>
                      <th scope="col" class="govuk-table__header">Is qualifying period information required?</th>
                      <th scope="col" class="govuk-table__header">Description</th>
                      <th scope="col" class="govuk-table__header">Is start payment information required?</th>
                      <th scope="col" class="govuk-table__header">Description</th>
                      <th scope="col" class="govuk-table__header">Is mid-course payment information required?</th>
                      <th scope="col" class="govuk-table__header">Description</th>
                      <th scope="col" class="govuk-table__header">Is completion payment information required?</th>
                      <th scope="col" class="govuk-table__header">Description</th>
                      <th scope="col" class="govuk-table__header">Is outcome payment information required?</th>
                      <th scope="col" class="govuk-table__header">Description</th>
                    </tr>
                  </thead>
                  <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">SBC03</td>
                      <td class="govuk-table__cell">HGV contracts</td>
                      <td class="govuk-table__cell">03/06/2022</td>
                      <td class="govuk-table__cell">03/12/2024</td>
                      <td class="govuk-table__cell">Yes</td>
                      <td class="govuk-table__cell">The qualifying period is necessary because...</td>
                      <td class="govuk-table__cell">Yes</td>
                      <td class="govuk-table__cell">In this example, we use our tool to prepare for a math exam.</td>
                      <td class="govuk-table__cell">Yes</td>
                      <td class="govuk-table__cell">N/a</td>
                      <td class="govuk-table__cell">No</td>
                      <td class="govuk-table__cell">N/a</td>
                      <td class="govuk-table__cell">Yes</td>
                      <td class="govuk-table__cell">hdbdbbdhbjbdjbdj</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">HGV03</td>
                        <td class="govuk-table__cell">HGV contracts</td>
                        <td class="govuk-table__cell">03/06/2022</td>
                        <td class="govuk-table__cell">03/12/2024</td>
                        <td class="govuk-table__cell">Yes</td>
                        <td class="govuk-table__cell">The qualifying period is necessary because...</td>
                        <td class="govuk-table__cell">Yes</td>
                        <td class="govuk-table__cell">In this example, we use our tool to prepare for a math exam.</td>
                        <td class="govuk-table__cell">Yes</td>
                        <td class="govuk-table__cell">N/a</td>
                        <td class="govuk-table__cell">No</td>
                        <td class="govuk-table__cell">N/a</td>
                        <td class="govuk-table__cell">Yes</td>
                        <td class="govuk-table__cell">hdbdbbdhbjbdjbdj</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">HGV04</td>
                        <td class="govuk-table__cell">HGV</td>
                        <td class="govuk-table__cell">03/06/2023</td>
                        <td class="govuk-table__cell">03/12/2024</td>
                        <td class="govuk-table__cell">No</td>
                        <td class="govuk-table__cell"></td>
                        <td class="govuk-table__cell">Yes</td>
                        <td class="govuk-table__cell">In this example, we use our tool to prepare for a math exam.</td>
                        <td class="govuk-table__cell">Yes</td>
                        <td class="govuk-table__cell">N/a</td>
                        <td class="govuk-table__cell">No</td>
                        <td class="govuk-table__cell">N/a</td>
                        <td class="govuk-table__cell">Yes</td>
                        <td class="govuk-table__cell">hdbdbbdhbjbdjbdj</td>
                    </tr>
                  </tbody>
              </table>
            </div>
        </div>
         
         
         
         
         
         
         
         
         
         
         
         
         
         
         
         
         
         
         
         
         
         
         
         
         
         
          <h2 class="govuk-heading-l">Contract funding waves</h2>

          <input name="selected-course" value="" style="display:none">
            <table class="govuk-table" data-module="moj-sortable-table">
                <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Contract funding wave name</th>
                    <th scope="col" class="govuk-table__header">Description</th>
                    <th scope="col" class="govuk-table__header">Contract wave start date</th>
                    <th scope="col" class="govuk-table__header">Contract wave end date</th>
                  </tr>
                </thead>
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Wave 3</td>
                    <td class="govuk-table__cell">HGV contracts</td>
                    <td class="govuk-table__cell">03/06/2022</td>
                    <td class="govuk-table__cell">03/12/2024</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">DPS Round 1</td>
                    <td class="govuk-table__cell">IT skills</td>
                    <td class="govuk-table__cell">03/06/2022</td>
                    <td class="govuk-table__cell">03/12/2024</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">DPS Round 2</td>
                    <td class="govuk-table__cell"></td>
                    <td class="govuk-table__cell">03/06/2022</td>
                    <td class="govuk-table__cell">03/12/2024</td>
                  </tr>
                </tbody>
            </table>

            <h2 class="govuk-heading-l">Calculation methods</h2>

            <div class="govuk-body">
                <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
                    <div class="govuk-accordion__section">
                      <div class="govuk-accordion__section-header">
                            <h2 class="govuk-accordion__section-heading">
                                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                                    <table class="govuk-table">
                                            <tr class="govuk-table__row">
                                                <td class="govuk-table__cell govuk-!-font-weight-bold govuk-!-width-two-thirds">
                                                    <strong class="govuk-!-font-size-24">SBC01</strong>
                                                </td>
                                            </tr>
                                            <tr class="govuk-table__row">
                                                <td class="govuk-summary-list__value">
                                                    Wave 3 Bootcamps
                                                </td>
                                            </tr>
                                    </table>
                                </span>
                            </h2>
                        </div>
                
                    <div id="accordion-default-content-1" class="govuk-accordion__section-content">
                        <div class="govuk-summary-list">
                            <div class="govuk-summary-list__body">
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__value">
                                        <strong> Start date</strong>
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                        23-02-2024
                                    </dd>
                                    <dt class="govuk-summary-list__value">
                                        <strong> End date</strong>
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                        11-07-2025
                                    </dd>
                                </div>
                                <dl class="govuk-summary-list govuk-!-margin-bottom-1">
                                    <div class="govuk-summary-list__row no-border-bottom">
                                        <dt class="govuk-summary-list__value">
                                            <strong> Is qualifying period information required?</strong>
                                        </dt>
                                        <dd class="govuk-summary-list__value">
                                            Yes
                                        </dd>
                                        <dt class="govuk-summary-list__value">
                                            <strong> Description</strong>
                                        </dt>
                                        <dd class="govuk-summary-list__value">
                                            The qualifying period is necessary because of..
                                        </dd>
                                    </div>
                                    <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__value">
                                            <strong> Is start payment information required?</strong>
                                        </dt>
                                        <dd class="govuk-summary-list__value">
                                            Yes
                                        </dd>
                                        <dt class="govuk-summary-list__value">
                                            <strong> Description</strong>
                                        </dt>
                                        <dd class="govuk-summary-list__value">
                                            In this example, we use our tool to prepare for a math exam. We randomize the order of study notes for self-testing
                                        </dd>
                                        </div>
                                    <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__value">
                                            <strong> Is mid course payment information required?</strong>
                                        </dt>
                                        <dd class="govuk-summary-list__value">
                                            Yes
                                        </dd>
                                        <dt class="govuk-summary-list__value">
                                            <strong> Description</strong>
                                        </dt>
                                        <dd class="govuk-summary-list__value">
                                            N/a
                                        </dd>
                                        </div>
                                    <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__value">
                                            <strong> Is completion payment information required?</strong>
                                        </dt>
                                        <dd class="govuk-summary-list__value">
                                            Yes
                                        </dd>
                                        <dt class="govuk-summary-list__value">
                                            <strong> Description</strong>
                                        </dt>
                                        <dd class="govuk-summary-list__value">
                                            In this example, we use our tool to prepare for a math exam. We randomize the order of study notes for self-testing
                                        </dd>
                                    </div>
                                    <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__value">
                                            <strong> Is outcome payment information required?</strong>
                                        </dt>
                                        <dd class="govuk-summary-list__value">
                                            Yes
                                        </dd>
                                        <dt class="govuk-summary-list__value">
                                            <strong> Description</strong>
                                        </dt>
                                        <dd class="govuk-summary-list__value">
                                            hdbdbbdhbjbdjbdj
                                        </dd>
                                    </div>
                                </dl>
                            </div> 
                        </div>
                    </div>
                </div>
        
        
                <div class="govuk-accordion__section">
                  <div class="govuk-accordion__section-header">
                        <h2 class="govuk-accordion__section-heading">
                            <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                                <table class="govuk-table">
                                        <tr class="govuk-table__row">
                                            <td class="govuk-table__cell govuk-!-font-weight-bold govuk-!-width-two-thirds">
                                                <strong class="govuk-!-font-size-24">HGV01</strong>
                                            </td>
                                        </tr>
                                        <tr class="govuk-table__row">
                                            <td class="govuk-summary-list__value">
                                                DPS Round 1 Bootcamps
                                            </td>
                                        </tr>
                                </table>
                            </span>
                        </h2>
                    </div>
            
                <div id="accordion-default-content-1" class="govuk-accordion__section-content">
                    <div class="govuk-summary-list">
                        <div class="govuk-summary-list__body">
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__value">
                                    <strong> Start date</strong>
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    23-02-2024
                                </dd>
                                <dt class="govuk-summary-list__value">
                                    <strong> End date</strong>
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    11-07-2025
                                </dd>
                            </div>
                            <dl class="govuk-summary-list govuk-!-margin-bottom-1">
                                <div class="govuk-summary-list__row no-border-bottom">
                                    <dt class="govuk-summary-list__value">
                                        <strong> Is qualifying period information required?</strong>
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                        Yes
                                    </dd>
                                    <dt class="govuk-summary-list__value">
                                        <strong> Description</strong>
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                        The qualifying period is necessary because of..
                                    </dd>
                                </div>
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__value">
                                        <strong> Is start payment information required?</strong>
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                        Yes
                                    </dd>
                                    <dt class="govuk-summary-list__value">
                                        <strong> Description</strong>
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                        In this example, we use our tool to prepare for a math exam. We randomize the order of study notes for self-testing
                                    </dd>
                                    </div>
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__value">
                                        <strong> Is mid course payment information required?</strong>
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                        Yes
                                    </dd>
                                    <dt class="govuk-summary-list__value">
                                        <strong> Description</strong>
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                        N/a
                                    </dd>
                                    </div>
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__value">
                                        <strong> Is completion payment information required?</strong>
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                        Yes
                                    </dd>
                                    <dt class="govuk-summary-list__value">
                                        <strong> Description</strong>
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                        In this example, we use our tool to prepare for a math exam. We randomize the order of study notes for self-testing
                                    </dd>
                                </div>
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__value">
                                        <strong> Is outcome payment information required?</strong>
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                        Yes
                                    </dd>
                                    <dt class="govuk-summary-list__value">
                                        <strong> Description</strong>
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                        hdbdbbdhbjbdjbdj
                                    </dd>
                                </div>
                            </dl>
                        </div> 
                    </div>
                </div>
            </div>
        
        </div> 
        </div>
        </div>
      </div>
    </main>
  </div>

{% endblock %}