{% extends "layoutsld.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}
{% block content %}
<nav class="app-navigation govuk-clearfix">
  <ul class="app-navigation__list app-width-container">

    <li class="app-navigation__list-item app-navigation__list-item--current">
      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline app-navigation__link" href="SBRD_ContractList.html" data-topnav="Contracts">Contracts</a>
    </li>

    <li class="app-navigation__list-item">
      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline app-navigation__link" href="SBRD_Upload.html" data-topnav="Import">Import</a>
    </li>

    <li class="app-navigation__list-item">
      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline app-navigation__link" href="SBRD_Export.html" data-topnav="Export">Export</a>
    </li>

  </ul>
</nav>

    <a href="javascript:history.back()" class="govuk-back-link">Back</a>
    
    <h1 class="govuk-heading-xl">Contract overview</h1>
  
    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-visually-hidden">Warning</span>
        The sum of the payment percentages must equal 100%
      </strong>
    </div>  

      <div class="govuk-summary-card govuk-!-margin-bottom-9">
        <div class="govuk-summary-card__title-wrapper">
          <div class="govuk-summary-card__status-wrapper">
            <h2 class="govuk-summary-card__title">Calculation variables</h2>
          </div>
        </div>
      
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Calculation method</dt>
              <dd class="govuk-summary-list__value">Choice 1</dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Skills Bootcamps wave</dt>
              <dd class="govuk-summary-list__value">Wave 3</dd>
            </div>
          </dl>
        </div>
      </div>

    <div class="govuk-summary-card">    
      <div class="govuk-summary-card__title-wrapper">
        <div class="govuk-summary-card__status-wrapper">
          <h3 class="govuk-summary-card__title">Contract details</h3>
        </div>
      </div>
    
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Contract number
            </dt>
            <dd class="govuk-summary-list__value">
              90000010/1234
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Skills Bootcamp
            </dt>
            <dd class="govuk-summary-list__value">
              Bootcamp 1
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">UKPRN</dt>
            <dd class="govuk-summary-list__value">
              12345678 
            </dd>
          </div>


          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Contract start date</dt>
            <dd class="govuk-summary-list__value">
              1 August 2023
            </dd>
          </div>
          
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Contract end date
            </dt>
            <dd class="govuk-summary-list__value">
              31 July 2024
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Unit cost
            </dt>
            <dd class="govuk-summary-list__value">
              £2500.00
            </dd>
          </div>
        </dl>
      </div>
    </div>

    <div class="govuk-summary-card govuk-!-margin-bottom-9">
      <div class="govuk-summary-card__title-wrapper">
        <div class="govuk-summary-card__status-wrapper">
          <h2 class="govuk-summary-card__title">Qualifying Period</h2>
        </div>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Qualifying period in days</dt>
            <dd class="govuk-summary-list__value">5</dd>
          </div>
        </dl>
      </div>
    </div>

    <div class="govuk-summary-card govuk-!-margin-bottom-9">
      <div class="govuk-summary-card__title-wrapper">
        <div class="govuk-summary-card__status-wrapper">
          <h2 class="govuk-summary-card__title">Start payment</h2>
        </div>
      </div>
    
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Start percentage</dt>
            <dd class="govuk-summary-list__value">
              100%
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Last date for new starts</dt>
            <dd class="govuk-summary-list__value">
              01 December 2023 
            </dd>
          </div>
        </dl>
      </div>
    </div>

    <div class="govuk-summary-card govuk-!-margin-bottom-9">
      <div class="govuk-summary-card__title-wrapper">
        <div class="govuk-summary-card__status-wrapper">
          <h2 class="govuk-summary-card__title">Mid-course payment</h2>
        </div>
      </div>
    
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Mid-course percentage</dt>
            <dd class="govuk-summary-list__value">
              100%
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Last date for mid-course payments</dt>
            <dd class="govuk-summary-list__value">
              01 December 2023 
            </dd>
          </div>
        </dl>
      </div>
    </div>

    <div class="govuk-summary-card govuk-!-margin-bottom-9">
      <div class="govuk-summary-card__title-wrapper">
        <div class="govuk-summary-card__status-wrapper">
          <h2 class="govuk-summary-card__title">Completion payment</h2>
          
         
        </div>
      </div>
    
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Completion percentage</dt>
            <dd class="govuk-summary-list__value">
              100%
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Last date for completion payments</dt>
            <dd class="govuk-summary-list__value">
              01 December 2023 
            </dd>
          </div>
        </dl>
      </div>
    </div>

    <div class="govuk-summary-card govuk-!-margin-bottom-9">
      <div class="govuk-summary-card__title-wrapper">
        <div class="govuk-summary-card__status-wrapper">
          <h2 class="govuk-summary-card__title">Outcome payment</h2>
        </div>
      </div>
    
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Outcome percentage</dt>
            <dd class="govuk-summary-list__value">
              100%
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Last date for new outcome payments</dt>
            <dd class="govuk-summary-list__value">
              01 December 2023 
            </dd>
          </div>
        </dl>
      </div>
    </div>


    <div id="buttons" class="block">
      <a href="/SBRD_CheckEdit.html" id="EditLink" class="govuk-button govuk-button--secondary inline">Edit Contract</a>  
      <button type="submit" id="submitButton" name="save" class="govuk-button" value="save">Save Contract</button>   
    </div>




{% endblock %}