{% extends "layoutsld.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}
{% block content %}

<div class="govuk-width-container">
    <a href="#" class="govuk-back-link">Back</a>
    <main class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-xl">Submissions</h1>
          <p class="govuk-body">Skills Bootcamp Contracts collection</p>
          <h2 class="govuk-heading-l">Contract data</h2>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
    
                <span id="filter-hint" class="govuk-hint">
                    Filter by year
                </span>
                <div id="yearFilter" class="govuk-checkboxes govuk-checkboxes--small wrap">
                        <div class="govuk-checkboxes__item">
                            <input id="2324" class="govuk-checkboxes__input" name="reportsFilter" type="checkbox" value="2324">
                            <label class="govuk-label govuk-checkboxes__label" for="2324">
                                2023 to 2024
                            </label>
                        </div>
                        <div class="govuk-checkboxes__item">
    
                            <input id="2223" class="govuk-checkboxes__input" name="reportsFilter" type="checkbox" value="2223">
                            <label class="govuk-label govuk-checkboxes__label" for="2223">
                                2022 to 2023
                            </label>
                        </div>
                        <div class="govuk-checkboxes__item">
    
                            <input id="2122" class="govuk-checkboxes__input" name="reportsFilter" type="checkbox" value="2122">
                            <label class="govuk-label govuk-checkboxes__label" for="2122">
                                2021 to 2022
                            </label>
                        </div>
                        <div class="govuk-checkboxes__item">
    
                            <input id="2021" class="govuk-checkboxes__input" name="reportsFilter" type="checkbox" value="2021">
                            <label class="govuk-label govuk-checkboxes__label" for="2021">
                                2020 to 2021
                            </label>
                        </div>
                        <div class="govuk-checkboxes__item">
    
                            <input id="1920" class="govuk-checkboxes__input" name="reportsFilter" type="checkbox" value="1920">
                            <label class="govuk-label govuk-checkboxes__label" for="1920">
                                2019 to 2020
                            </label>
                        </div>
                        <div class="govuk-checkboxes__item">
    
                            <input id="1819" class="govuk-checkboxes__input" name="reportsFilter" type="checkbox" value="1819">
                            <label class="govuk-label govuk-checkboxes__label" for="1819">
                                2018 to 2019
                            </label>
                        </div>
                </div>
            </fieldset>
            <br>
        </div>

          <h5 class="govuk-heading-m">Academic Year: 2025/2026</h5>


          <input name="selected-course" value="" style="display:none"><table class="govuk-table" data-module="moj-sortable-table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Upload date</th>
                    <th scope="col" class="govuk-table__header">Filename </th>
                    <th scope="col" class="govuk-table__header">Submitted by</th>
                    <th scope="col" class="govuk-table__header">Reports</th>
                </tr>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><strong>22 January 2024 at 4:13 pm</strong></td>
                    <td class="govuk-table__cell">10040002-SkillsBootcampContracts-20240122-170122.csv</td>
                    <td class="govuk-table__cell">Jo Bloggs</td>
                    <td class="govuk-table__cell"><a class="govuk-link" href="#">Download Reports</a></td>
                </tr>

                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><strong>22 January 2024 at 4:13 pm</strong></td>
                    <td class="govuk-table__cell">10040002-SkillsBootcampContracts-20240122-170122.csv</td>
                    <td class="govuk-table__cell">Jo Bloggs</td>
                    <td class="govuk-table__cell"><a class="govuk-link" href="#">Download Reports</a></td>
                </tr>

                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><strong>22 January 2024 at 4:13 pm</strong></td>
                    <td class="govuk-table__cell">10040002-SkillsBootcampContracts-20240122-170122.csv</td>
                    <td class="govuk-table__cell">Jo Bloggs</td>
                    <td class="govuk-table__cell"><a class="govuk-link" href="#">Download Reports</a></td>
                </tr>
            </tbody>
        </table>

        <br>

        <h5 class="govuk-heading-m">Academic Year: 2024/2025</h5>
        

          <input name="selected-course" value="" style="display:none"><table class="govuk-table" data-module="moj-sortable-table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Upload date</th>
                    <th scope="col" class="govuk-table__header">Filename </th>
                    <th scope="col" class="govuk-table__header">Submitted by</th>
                    <th scope="col" class="govuk-table__header">Reports</th>
                </tr>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><strong>22 January 2024 at 4:13 pm</strong></td>
                    <td class="govuk-table__cell">10040002-SkillsBootcampContracts-20240122-170122.csv</td>
                    <td class="govuk-table__cell">Jo Bloggs</td>
                    <td class="govuk-table__cell"><a class="govuk-link" href="#">Download Reports</a></td>
                </tr>

                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><strong>22 January 2024 at 4:13 pm</strong></td>
                    <td class="govuk-table__cell">10040002-SkillsBootcampContracts-20240122-170122.csv</td>
                    <td class="govuk-table__cell">Jo Bloggs</td>
                    <td class="govuk-table__cell"><a class="govuk-link" href="#">Download Reports</a></td>
                </tr>

                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><strong>22 January 2024 at 4:13 pm</strong></td>
                    <td class="govuk-table__cell">10040002-SkillsBootcampContracts-20240122-170122.csv</td>
                    <td class="govuk-table__cell">Jo Bloggs</td>
                    <td class="govuk-table__cell"><a class="govuk-link" href="#">Download Reports</a></td>
                </tr>
            </tbody>
        </table>
 
    </div>
          
        </div>
      </div>
    </main>
  </div>

{% endblock %}