{% extends "layoutsld.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}
{% block content %}
<nav class="app-navigation govuk-clearfix">
  <ul class="app-navigation__list app-width-container">

    <li class="app-navigation__list-item app-navigation__list-item--current">
      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline app-navigation__link" href="SBRD_ContractList.html" data-topnav="Contracts">Contracts</a>
    </li>

    <li class="app-navigation__list-item">
      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline app-navigation__link" href="SBRD_Upload.html" data-topnav="Import">Import</a>
    </li>

    <li class="app-navigation__list-item">
      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline app-navigation__link" href="SBRD_Export.html" data-topnav="Export">Export</a>
    </li>

  </ul>
</nav>


    <a href="javascript:history.back()" class="govuk-back-link">Back</a>

        <h1 class="govuk-heading-xl">
          Contract details
        </h1>

        <div class="govuk-form-group">
          <h2 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--m" for="event-name">
              What is the contract reference number?
            </label>
          </h2>
          <div id="event-name-hint" class="govuk-hint">
            This is the contract reference number that the provider will record in their ILR file. 
          </div>
          <details class="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Help with the contract reference number
              </span>
            </summary>
            <div class="govuk-details__text">
              Each contract reference number must be unique and in the format XSB-UKPRN-_ _ _ _ _ _ _.
            </div>
          </details>
          <label class="govuk-label govuk-date-input__label" for="assessment-price">
            Contract reference number
          </label>
          <input class="govuk-input govuk-input--width-20" id="width-20" name="width20" type="text">
        </div>

        <div class="govuk-form-group">
          <h2 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--m" for="event-name">
              What is the name of the Skills Bootcamp?
            </label>
          </h2>
          <label class="govuk-label govuk-date-input__label" for="assessment-price">
            Skills Bootcamp name
          </label>
          <input class="govuk-input govuk-input--width-20" id="width-20" name="width20" type="text">
        </div>

        <div class="govuk-form-group">
          <h2 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--m" for="event-name">
              What is the UKPRN of the provider that will be delivering the Skills Bootcamp?
            </label>
          </h2>
          <label class="govuk-label govuk-date-input__label" for="assessment-price">
            Skills Bootcamp provider UKPRN
          </label>
          <input class="govuk-input govuk-input--width-10" id="width-10" name="width10" type="text">
        </div>

        <a class="govuk-button" href="SBRD_calculationmethod.html">Continue</a>

 

{% endblock %}