{% extends "layoutsld.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}
{% block content %}

    <a href="/SBRD_ContractDatesCost.html" class="govuk-back-link">Back</a>

    <span class="govuk-caption-m">
        XSB-90001232-20240210
    </span>

    <h1 class="govuk-heading-l">Unit Cost Warning</h1>
    

    <div class="govuk-button-group">
        <a href="/SBRD_paymentdetails.html" id="EditLink" class="govuk-button">Confirm</a>
        <a href="/SBRD_ContractDatesCost.html" id="DeleteLink" class="govuk-button govuk-button--secondary" data-module="govuk-button">Cancel</a>
      </div>

{% endblock %}  