{% extends "layoutsld.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}
{% block content %}
<div class="govuk-width-container">
    <a href="javascript:history.back()" class="govuk-back-link">Back</a>
    <main class="govuk-main-wrapper">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                <h1 class="govuk-heading-xl"> Importing a file will overwrite your current data, are you sure you want to import this file?</h1>
                
                <div class="govuk-warning-text">
                    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                    <strong class="govuk-warning-text__text">
                      <span class="govuk-visually-hidden">Warning</span>
                    The selected file doesn't contain 16 contracts that have been previously saved in the database. Confirming the import of this file will result in the permanent loss of the contracts displayed below:
                    </strong>
                </div>

                <table class="govuk-table">
                    <thead class="govuk-table__header">
                        <th scope="row" class="govuk-table__header">Skills Bootcamp name </th>
                        <th class="govuk-table__header">Contract reference number</th>
                    </thead>
                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                            <td scope="row" class="govuk-table__cell">IT Skills</td>
                            <td class="govuk-table__cell">XSB-10024559-1234587</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td scope="row" class="govuk-table__cell">Trucks</td>
                            <td class="govuk-table__cell">XSB-10002459-1234568</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td scope="row" class="govuk-table__cell">Trucks</td>
                            <td class="govuk-table__cell">XSB-10002419-1234578</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td scope="row" class="govuk-table__cell">Trucks</td>
                            <td class="govuk-table__cell">XSB-10022419-1234578</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td scope="row" class="govuk-table__cell"><strong>and 12 more....</strong></td>
                        </tr>
                    </tbody>
                </table>
                    
                <div class="govuk-button-group">
                    <a href="/SBRD_ContractDatesCost.html" id="EditLink" class="govuk-button">Confirm import</a>
                    <a href="SBRD_calculationmethod.html" id="cancellink" class="govuk-link">Cancel import</a> 
                </div>
            </div>
        </div>
    </main>
</div>
   
{% endblock %}  