{% extends "layoutsld.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}
{% block content %}
<div class="govuk-width-container">
    <a href="#" class="govuk-back-link">Back</a>
    <main class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
<div class="govuk-grid-column-full">
    <br>  

    <span class="govuk-caption-m">XSB-90012345-A000001</span>
    <h1 class="govuk-heading-l">Contract details</h1>
            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        ILR contract reference number
                    </dt>
                    <dd class="govuk-summary-list__value">
                        XSB-90012345-A000001
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Skills Bootcamp name
                    </dt>
                    <dd class="govuk-summary-list__value">
                        HGV training
                    </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Provider UKPRN
                    </dt>
                    <dd class="govuk-summary-list__value">
                        10002456
                    </dd>
                </div>

            </dl>


    <h1 class="govuk-heading-l">Contract wave and Calculation method</h1>
            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Contract wave
                    </dt>
                    <dd class="govuk-summary-list__value">
                        DPS Round 1
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Calculation method
                    </dt>
                    <dd class="govuk-summary-list__value">
                        SBC01
                    </dd>
                </div>
            </dl>


    <h1 class="govuk-heading-l">Contract dates and unit cost</h1>
            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Contract start date 
                        </dt>
                        <dd class="govuk-summary-list__value">
                            1 August 2023
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Contract end date
                        </dt>
                        <dd class="govuk-summary-list__value">
                            31 July 2024
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Unit cost
                        </dt>
                        <dd class="govuk-summary-list__value">
                            £2500.00
                        </dd>
                    </div>
            </dl>
<h1 class="govuk-heading-l">Payment details</h1>
            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Qualifying period
                        </dt>
                        <dd class="govuk-summary-list__value">
                            5 days
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Start payment percentage
                        </dt>
                        <dd class="govuk-summary-list__value">
                            20%
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Last date for start payment
                        </dt>
                        <dd class="govuk-summary-list__value">
                            01 December 2024
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Mid-course payment percentage
                        </dt>
                        <dd class="govuk-summary-list__value">
                            30%
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Last date for mid-course payment
                        </dt>
                        <dd class="govuk-summary-list__value">
                            03 January 2025
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Completion payment percentage
                        </dt>
                        <dd class="govuk-summary-list__value">
                            10%
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Last date for completion payment
                        </dt>
                        <dd class="govuk-summary-list__value">
                            03 February 2025
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Outcome payment percentage
                        </dt>
                        <dd class="govuk-summary-list__value">
                            40%
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Last date for outcome payment
                        </dt>
                        <dd class="govuk-summary-list__value">
                            01 March 2025
                        </dd>
                    </div>
            </dl>
</div>
</div>
</div>
</main>
</div>
{% endblock %}