{% extends "layoutsld.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>


      <main class="govuk-main-wrapper" id="content" role="main">
          <div class="govuk-grid-row flex">
              <div class="govuk-grid-column-two-thirds">
                

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">Skills Bootcamp reference data collection</h1>

      <p class="govuk-body">
          add collection description....... i.e. allows create, read, update, delete
      </p>

    <p class="govuk-body">
          Data can be updated using either of the following methods:
    </p>

      <ul class="govuk-list govuk-list--bullet">
          <li>Online form service</li>
          <li>CSV file upload service</li>
      </ul>

      <a class="govuk-button" href="SBRD_ContractList.html">
          Continue
      </a>

  </div>
</div>
</div>
      </main>
  </div>
</body>


{% endblock %}