{% extends "layoutsld.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}


{% block content %}

<nav class="app-navigation govuk-clearfix">
    <ul class="app-navigation__list app-width-container">
  
      <li class="app-navigation__list-item app-navigation__list-item--current">
        <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline app-navigation__link" href="SBRD_ContractList.html" data-topnav="Contracts">Contracts</a>
      </li>

      <li class="app-navigation__list-item">
        <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline app-navigation__link" href="SBRD_Upload.html" data-topnav="Import">Import</a>
      </li>
  
      <li class="app-navigation__list-item">
        <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline app-navigation__link" href="SBRD_Export.html" data-topnav="Export">Export</a>
      </li>
  
    </ul>
  </nav>

<a href="javascript:history.back()" class="govuk-back-link">Back</a>

    <div class="govuk-grid-row">
    
        <div class="govuk-grid-column">
            <h1 class="govuk-heading-xl">Manage Skills Bootcamp contract reference data</h1>
    
            <a href="SBRD_OnlineFormInstructions.html" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
                Add a contract
                <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 19 19" aria-hidden="true" focusable="false">
                    <path fill="currentColor" d="M11 0H8V8H0V11H8V19H11V11H19V8H11V0Z"></path>
                </svg></a>
    
        </div>
    </div>
    
    
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
            <h2 class="govuk-heading-l">
                Manage contracts
            </h2>
            <p class="govuk-body">Select a contract to view</p>
            <div class="govuk-input-group">
                <div class="govuk-form-group titan-filter">
                    <label class="govuk-label" for="event-name">
                        Search contracts
                    </label>
                    <input class="govuk-input govuk-input--width-20" id="event-name" name="event-name" type="text">
    
                </div>
                <div class="govuk-form-group titan-filter">
                    <label class="govuk-label" for="sort">
                        Show contracts
                    </label>
                    <select class="govuk-select" id="sort" name="sort">
                        <option value="updated" selected="">10 contracts per page</option>
                        <option value="published">20 contracts per page</option>
                        <option value="views">30 contracts per page</option>
                    </select>
                </div>
            </div>
    
            <input name="selected-course" value="" style="display:none"><table class="govuk-table" data-module="moj-sortable-table">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">Contract number</th>
                        <th scope="col" class="govuk-table__header">Skills Bootcamp Name </th>
                        <th scope="col" class="govuk-table__header">Provider UKPRN</th>
                        <th scope="col" class="govuk-table__header">Created by</th>
                        <th scope="col" class="govuk-table__header">Date created</th>
                        <th scope="col" class="govuk-table__header">Modified by</th>
                        <th scope="col" class="govuk-table__header">Last modified</th>
                        <th scope="col" class="govuk-table__header"></th>
                        <th scope="col" class="govuk-table__header"></th>
                    </tr>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
    
                            <a href="SBRD_contractsummary.html">
                                900000198-12345</a>
    
    
                        </td>
                        <td class="govuk-table__cell">Bootcamp 1</td>
                        <td class="govuk-table__cell">12345678</td>
                        <td class="govuk-table__cell">Jo Bloggs</td>
                        <td class="govuk-table__cell">12/03/2024</td>
                        <td class="govuk-table__cell">Henry Steven</td>
                        <td class="govuk-table__cell">14/04/2024</td>
                        <td><a class="govuk-button govuk-button--secondary" data-module="govuk-button" href="SBRD_CheckEdit.html">Edit</a>
                        </td>   
                        <td><a class="govuk-button govuk-button--warning" data-module="govuk-button" href="SBRD_CheckDelete.html">Remove</a>
                        </td>   
                    </tr>

                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
    
                            <a href="SBRD_contractsummary.html">
                                900000198-134567</a>
    
    
                        </td>
                        <td class="govuk-table__cell">Bootcamp 2</td>
                        <td class="govuk-table__cell">87654321</td>
                        <td class="govuk-table__cell">Jo Bloggs</td>
                        <td class="govuk-table__cell">12/03/2024</td>
                        <td class="govuk-table__cell">Bob Ryan</td>
                        <td class="govuk-table__cell">14/04/2024</td>
                        <td class="govuk-table__cell"><button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                          Edit
                        </button></td>
                        <td class="govuk-table__cell"><button type="submit" class="govuk-button govuk-button--warning" data-module="govuk-button">
                          Remove
                        </button></td>
                        
                    </tr>

                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
    
                            <a href="SBRD_contractsummary.html">
                                900000198-76542</a>
    
    
                        </td>
                        <td class="govuk-table__cell">Bootcamp 99</td>
                        <td class="govuk-table__cell">19999999</td>
                        <td class="govuk-table__cell">Jo Bloggs</td>
                        <td class="govuk-table__cell">12/03/2024</td>
                        <td class="govuk-table__cell">Harry Gregg</td>
                        <td class="govuk-table__cell">13/03/2024</td>
                        <td class="govuk-table__cell"><button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                          Edit
                        </button></td>
                        <td class="govuk-table__cell"><button type="submit" class="govuk-button govuk-button--warning" data-module="govuk-button">
                          Remove
                        </button></td>
                        
                    </tr>
                </tbody>
            </table>
     
        </div>
    </div>
    
    
    <nav class="govuk-pagination" role="navigation" aria-label="results">
        <div class="govuk-pagination__prev">
          <a class="govuk-link govuk-pagination__link" href="#" rel="prev">
            <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
              <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
            </svg>
            <span class="govuk-pagination__link-title">Previous</span></a>
        </div>
        <ul class="govuk-pagination__list">
          <li class="govuk-pagination__item">
            <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 1">
              1
            </a>
          </li>
          <li class="govuk-pagination__item govuk-pagination__item--current">
            <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 2" aria-current="page">
              2
            </a>
          </li>
          <li class="govuk-pagination__item">
            <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 3">
              3
            </a>
          </li>
        </ul>
        <div class="govuk-pagination__next">
          <a class="govuk-link govuk-pagination__link" href="#" rel="next"> <span class="govuk-pagination__link-title">Next</span> <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
              <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
            </svg></a>
        </div>
      </nav>

    
            </main>



{% endblock %}