{% extends "layoutsld.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
              
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">Skills Bootcamp reference data collection</h1>

      <p class="govuk-body">
          This collection allows you to submit the Skills Bootcamp contract reference data required to support the funding calculation.
      </p>

    <p class="govuk-body">
          Data can be entered using the online form service or imported using the CSV file upload service:
    </p>

    
    <ul class="govuk-list govuk-list--bullet">
        <li>the online form service allows you to add contract reference data individually</li>
        <li>the CSV file upload service allows you to bulk upload contract reference data</li>

    </ul>


          <details class="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Placeholder for additional information about submitting data
              </span>
            </summary>
            <div class="govuk-details__text">
              We need to know your nationality so we can work out which elections you’re entitled to vote in. If you cannot provide your nationality, you’ll have to send copies of identity documents through the post.
            </div>
          </details>



      <a class="govuk-button" href="SBRD_ContractList.html">
          Continue
      </a>

  </div>
</div>
</div>
      </main>
  </div>
</body>


{% endblock %}