{% extends "layoutsld.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}
{% block content %}
<nav class="app-navigation govuk-clearfix">
  <ul class="app-navigation__list app-width-container">

    <li class="app-navigation__list-item app-navigation__list-item--current">
      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline app-navigation__link" href="SBRD_ContractList.html" data-topnav="Contracts">Contracts</a>
    </li>

    <li class="app-navigation__list-item">
      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline app-navigation__link" href="SBRD_Upload.html" data-topnav="Import">Import</a>
    </li>

    <li class="app-navigation__list-item">
      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline app-navigation__link" href="SBRD_Export.html" data-topnav="Export">Export</a>
    </li>

  </ul>
</nav>

    <a href="javascript:history.back()" class="govuk-back-link">Back</a>

    <span class="govuk-caption-m">
      XSB-90001235-0102934
    </span>

    <h1 class="govuk-heading-l">Calculation method</h1>

    
  <form method="post" id="radio-group" action="/SBRDCalcMethod">

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
          <h2 class="govuk-heading-m">What is the calculation method?</h2>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="whereDoYouLive-2" name="calcmethod" type="radio" value="SBC03">
              <label class="govuk-label govuk-radios__label" for="whereDoYouLive-2">
                SBC01
              </label>
              <div id="signIn-item-hint" class="govuk-hint govuk-radios__hint">
                Wave 3 Bootcamps
              </div>
              <details class="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    Details
                  </span>
                </summary>
                <table class="govuk-table">
                  <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell govuk-!-font-weight-bold">
                            Qualifying period
                        </td>
                        <td class="govuk-table__cell govuk-!-font-weight-bold govuk-!-width-two-thirds">
                            <p>The start payment is based on a 5 day qualifying period (and other conditions before they are recorded in the ILR)</p>
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell govuk-!-font-weight-bold">
                          Start payment
                      </td>
                      <td class="govuk-table__cell govuk-!-font-weight-bold govuk-!-width-two-thirds">
                          <p>The start payment is ............</p>
                      </td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell govuk-!-font-weight-bold">
                          Mid-course payment
                      </td>
                      <td class="govuk-table__cell govuk-!-font-weight-bold govuk-!-width-two-thirds">
                          <p>The mid-course payment is ............</p>
                      </td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell govuk-!-font-weight-bold">
                          Completion payment
                      </td>
                      <td class="govuk-table__cell govuk-!-font-weight-bold govuk-!-width-two-thirds">
                          <p>The completion payment is ............</p>
                      </td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell govuk-!-font-weight-bold">
                          Outcome payment
                      </td>
                      <td class="govuk-table__cell govuk-!-font-weight-bold govuk-!-width-two-thirds">
                          <p>The outcome payment is ............</p>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </details>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="whereDoYouLive-2" name="calcmethod" type="radio" value="SBC03">
              <label class="govuk-label govuk-radios__label" for="whereDoYouLive-2">
                SBC03
              </label>
              <div id="signIn-item-hint" class="govuk-hint govuk-radios__hint">
                DPS/ Wave 4 Bootcamps, not HGV driving.
              </div>
              <details class="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    Details
                  </span>
                </summary>
                <table class="govuk-table">
                  <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell govuk-!-font-weight-bold">
                            Qualifying period
                        </td>
                        <td class="govuk-table__cell govuk-!-font-weight-bold govuk-!-width-two-thirds">
                            <p>The start payment is based on a 5 day qualifying period (and other conditions before they are recorded in the ILR)</p>
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell govuk-!-font-weight-bold">
                          Start payment
                      </td>
                      <td class="govuk-table__cell govuk-!-font-weight-bold govuk-!-width-two-thirds">
                          <p>The start payment is ............</p>
                      </td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell govuk-!-font-weight-bold">
                          Mid-course payment
                      </td>
                      <td class="govuk-table__cell govuk-!-font-weight-bold govuk-!-width-two-thirds">
                          <p>The mid-course payment is ............</p>
                      </td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell govuk-!-font-weight-bold">
                          Completion payment
                      </td>
                      <td class="govuk-table__cell govuk-!-font-weight-bold govuk-!-width-two-thirds">
                          <p>The completion payment is ............</p>
                      </td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell govuk-!-font-weight-bold">
                          Outcome payment
                      </td>
                      <td class="govuk-table__cell govuk-!-font-weight-bold govuk-!-width-two-thirds">
                          <p>The outcome payment is ............</p>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </details>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="whereDoYouLive-2" name="calcmethod" type="radio" value="SBC03">
              <label class="govuk-label govuk-radios__label" for="whereDoYouLive-2">
                HGV01
              </label>
              <div id="signIn-item-hint" class="govuk-hint govuk-radios__hint">
                HGV Pathways A-C. Novice drivers.
              </div>
              <details class="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    Details
                  </span>
                </summary>
                <table class="govuk-table">
                  <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell govuk-!-font-weight-bold">
                            Qualifying period
                        </td>
                        <td class="govuk-table__cell govuk-!-font-weight-bold govuk-!-width-two-thirds">
                            <p>The start payment is based on a 5 day qualifying period (and other conditions before they are recorded in the ILR)</p>
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell govuk-!-font-weight-bold">
                          Start payment
                      </td>
                      <td class="govuk-table__cell govuk-!-font-weight-bold govuk-!-width-two-thirds">
                          <p>The start payment is ............</p>
                      </td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell govuk-!-font-weight-bold">
                          Mid-course payment
                      </td>
                      <td class="govuk-table__cell govuk-!-font-weight-bold govuk-!-width-two-thirds">
                          <p>The mid-course payment is ............</p>
                      </td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell govuk-!-font-weight-bold">
                          Completion payment
                      </td>
                      <td class="govuk-table__cell govuk-!-font-weight-bold govuk-!-width-two-thirds">
                          <p>The completion payment is ............</p>
                      </td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell govuk-!-font-weight-bold">
                          Outcome payment
                      </td>
                      <td class="govuk-table__cell govuk-!-font-weight-bold govuk-!-width-two-thirds">
                          <p>The outcome payment is ............</p>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </details>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="whereDoYouLive-2" name="calcmethod" type="radio" value="SBC03">
              <label class="govuk-label govuk-radios__label" for="whereDoYouLive-2">
              HGV02
              </label>
              <div id="signIn-item-hint" class="govuk-hint govuk-radios__hint">
                HGV Pathways D and H. Upgrades to C+E.
              </div>
              <details class="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    Details
                  </span>
                </summary>
                <table class="govuk-table">
                  <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell govuk-!-font-weight-bold">
                            Qualifying period
                        </td>
                        <td class="govuk-table__cell govuk-!-font-weight-bold govuk-!-width-two-thirds">
                            <p>The start payment is based on a 5 day qualifying period (and other conditions before they are recorded in the ILR)</p>
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell govuk-!-font-weight-bold">
                          Start payment
                      </td>
                      <td class="govuk-table__cell govuk-!-font-weight-bold govuk-!-width-two-thirds">
                          <p>The start payment is ............</p>
                      </td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell govuk-!-font-weight-bold">
                          Mid-course payment
                      </td>
                      <td class="govuk-table__cell govuk-!-font-weight-bold govuk-!-width-two-thirds">
                          <p>The mid-course payment is ............</p>
                      </td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell govuk-!-font-weight-bold">
                          Completion payment
                      </td>
                      <td class="govuk-table__cell govuk-!-font-weight-bold govuk-!-width-two-thirds">
                          <p>The completion payment is ............</p>
                      </td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell govuk-!-font-weight-bold">
                          Outcome payment
                      </td>
                      <td class="govuk-table__cell govuk-!-font-weight-bold govuk-!-width-two-thirds">
                          <p>The outcome payment is ............</p>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </details>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="whereDoYouLive-2" name="calcmethod" type="radio" value="SBC03">
              <label class="govuk-label govuk-radios__label" for="whereDoYouLive-2">
                HGV03
              </label>
              <div id="signIn-item-hint" class="govuk-hint govuk-radios__hint">
                HGV Pathway E: Upgrade to ADR (including Tankers).
              </div>
              <details class="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    Details
                  </span>
                </summary>
                <table class="govuk-table">
                  <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell govuk-!-font-weight-bold">
                            Qualifying period
                        </td>
                        <td class="govuk-table__cell govuk-!-font-weight-bold govuk-!-width-two-thirds">
                            <p>The start payment is based on a 5 day qualifying period (and other conditions before they are recorded in the ILR)</p>
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell govuk-!-font-weight-bold">
                          Start payment
                      </td>
                      <td class="govuk-table__cell govuk-!-font-weight-bold govuk-!-width-two-thirds">
                          <p>The start payment is ............</p>
                      </td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell govuk-!-font-weight-bold">
                          Mid-course payment
                      </td>
                      <td class="govuk-table__cell govuk-!-font-weight-bold govuk-!-width-two-thirds">
                          <p>The mid-course payment is ............</p>
                      </td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell govuk-!-font-weight-bold">
                          Completion payment
                      </td>
                      <td class="govuk-table__cell govuk-!-font-weight-bold govuk-!-width-two-thirds">
                          <p>The completion payment is ............</p>
                      </td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell govuk-!-font-weight-bold">
                          Outcome payment
                      </td>
                      <td class="govuk-table__cell govuk-!-font-weight-bold govuk-!-width-two-thirds">
                          <p>The outcome payment is ............</p>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </details>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="whereDoYouLive-2" name="calcmethod" type="radio" value="SBC03">
              <label class="govuk-label govuk-radios__label" for="whereDoYouLive-2">
              HGV04
              </label>
              <div id="signIn-item-hint" class="govuk-hint govuk-radios__hint">
                HGV Pathway F: Upgrade to ADR Tankers plus PDP.
              </div>
              <details class="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    Details
                  </span>
                </summary>
                <table class="govuk-table">
                  <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell govuk-!-font-weight-bold">
                            Qualifying period
                        </td>
                        <td class="govuk-table__cell govuk-!-font-weight-bold govuk-!-width-two-thirds">
                            <p>The start payment is based on a 5 day qualifying period (and other conditions before they are recorded in the ILR)</p>
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell govuk-!-font-weight-bold">
                          Start payment
                      </td>
                      <td class="govuk-table__cell govuk-!-font-weight-bold govuk-!-width-two-thirds">
                          <p>The start payment is ............</p>
                      </td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell govuk-!-font-weight-bold">
                          Mid-course payment
                      </td>
                      <td class="govuk-table__cell govuk-!-font-weight-bold govuk-!-width-two-thirds">
                          <p>The mid-course payment is ............</p>
                      </td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell govuk-!-font-weight-bold">
                          Completion payment
                      </td>
                      <td class="govuk-table__cell govuk-!-font-weight-bold govuk-!-width-two-thirds">
                          <p>The completion payment is ............</p>
                      </td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell govuk-!-font-weight-bold">
                          Outcome payment
                      </td>
                      <td class="govuk-table__cell govuk-!-font-weight-bold govuk-!-width-two-thirds">
                          <p>The outcome payment is ............</p>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </details>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="whereDoYouLive-2" name="calcmethod" type="radio" value="SBC03">
              <label class="govuk-label govuk-radios__label" for="whereDoYouLive-2">
              HGV05
              </label>
              <div id="signIn-item-hint" class="govuk-hint govuk-radios__hint">
                HGV Pathway G: Refresher into previous existing category.
              </div>
              <details class="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    Details
                  </span>
                </summary>
                <table class="govuk-table">
                  <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell govuk-!-font-weight-bold">
                            Qualifying period
                        </td>
                        <td class="govuk-table__cell govuk-!-font-weight-bold govuk-!-width-two-thirds">
                            <p>The start payment is based on a 5 day qualifying period (and other conditions before they are recorded in the ILR)</p>
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell govuk-!-font-weight-bold">
                          Start payment
                      </td>
                      <td class="govuk-table__cell govuk-!-font-weight-bold govuk-!-width-two-thirds">
                          <p>The start payment is ............</p>
                      </td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell govuk-!-font-weight-bold">
                          Mid-course payment
                      </td>
                      <td class="govuk-table__cell govuk-!-font-weight-bold govuk-!-width-two-thirds">
                          <p>The mid-course payment is ............</p>
                      </td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell govuk-!-font-weight-bold">
                          Completion payment
                      </td>
                      <td class="govuk-table__cell govuk-!-font-weight-bold govuk-!-width-two-thirds">
                          <p>The completion payment is ............</p>
                      </td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell govuk-!-font-weight-bold">
                          Outcome payment
                      </td>
                      <td class="govuk-table__cell govuk-!-font-weight-bold govuk-!-width-two-thirds">
                          <p>The outcome payment is ............</p>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </details>
            </div>
      </fieldset>
    </div>
  
    <button class="govuk-button" type="submit" id="submit">Continue</button>


{% endblock %}~