{% extends "layoutsld.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<nav class="app-navigation govuk-clearfix">
    <ul class="app-navigation__list app-width-container">
  
      <li class="app-navigation__list-item">
        <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline app-navigation__link" href="SBRD_ContractList.html" data-topnav="Contracts">Contracts</a>
      </li>

      <li class="app-navigation__list-item app-navigation__list-item--current">
        <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline app-navigation__link" href="SBRD_Upload.html" data-topnav="Import">Import</a>
      </li>
  
      <li class="app-navigation__list-item">
        <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline app-navigation__link" href="SBRD_Export.html" data-topnav="Export">Export</a>
      </li>
  
    </ul>
  </nav>

  <div class="govuk-width-container">

<a href="javascript:history.back()" class="govuk-back-link">Back</a>

<main class="govuk-main-wrapper">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

<form method="post" enctype="multipart/form-data" id="ilrform" action="/MCA-GLA-FA/submission/MCA-GLA-FundedAims">
   
        <h1 class="govuk-heading-xl">
            Select and import a Skills Bootcamp contract data file
        </h1>
        <ul class="govuk-list govuk-list--bullet">
        <li>Download the <a href="#" target="_blank" rel="noopener noreferrer">contract data template</a>.</li>
       </ul>

        <p>Before importing your file you should make sure that:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>it’s in CSV format</li>
            <li>the data it contains is as complete as possible</li>
            <li>the data it contains is as accurate as possible</li>
        </ul>
        <div class="govuk-form-group" id="controls">
            <label class="govuk-label govuk-!-font-weight-bold" for="file">
                Select a file to upload
            </label>
            
            <input class="govuk-file-upload" name="file" id="file" type="file" accept=".csv">

        </div>

        <div class="govuk-warning-text">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text">
              <span class="govuk-warning-text__assistive">Warning</span>
              Imported contracts that match the those currently saved will be rejected
            </strong>
          </div>

        <p>
            <a class="govuk-button" href="/SBRD_Submitted">Import contracts</a>
        </p>
      </div>
    </div>
  </main>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

<h2 class="govuk-heading-m" id="howto">Guidance on how to complete the contract data CSV file</h2>
<p class="govuk-body">There are 10 data fields to fill out for each course. </p> 


<div class="govuk-summary-card">
<div class="govuk-summary-card__title-wrapper">
  <h2 class="govuk-heading-m govuk-!-margin-bottom-0">
    Skills Bootcamp name<br>
    <p class="govuk-caption-m govuk-!-margin-bottom-0">Column A</p>
  </h2>
</div>
<div class="govuk-summary-card__content">
  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Data entry
      </dt>
      <dd class="govuk-summary-list__value">
        Enter the name of the Skills Bootcamp. 
        <br>
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Additional guidance
      </dt>
      <dd class="govuk-summary-list__value">
       100 character max length 
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Example
      </dt>
      <dd class="govuk-summary-list__value">
        <style>
          table, th, td {
            border: 1px solid gainsboro;
            border-collapse: collapse;
            padding: 6px;
          }
          </style>
        <table>
          <tr>
            <th bgcolor="gainsboro">Name of Skills Bootcamp</th>
          </tr>
          <tr>
            <td></td>
          </tr>
          <tr>
            <td></td>
          </tr>
        </table>
        <!--
        <br>  
        <img src="/public/images/first-name.png" alt="First name">-->
      </dd>
    </div>
  </dl>
</div>
</div>

<div class="govuk-summary-card">
<div class="govuk-summary-card__title-wrapper">
  <h2 class="govuk-heading-m govuk-!-margin-bottom-0">
    Provider UKPRN<br>
    <p class="govuk-caption-m govuk-!-margin-bottom-0">Column B</p>
  </h2>
</div>
<div class="govuk-summary-card__content">
  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Data entry
      </dt>
      <dd class="govuk-summary-list__value">
        Enter the UKPRN of the bootcamp provider. 
        <br>
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Additional guidance
      </dt>
      <dd class="govuk-summary-list__value">
        8 character integer 
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Example
      </dt>
      <dd class="govuk-summary-list__value">
        <style>
          table, th, td {
            border: 1px solid gainsboro;
            border-collapse: collapse;
            padding: 6px;
          }
          </style>
        <table>
          <tr>
            <th bgcolor="gainsboro">Provider UKPRN</th>
          </tr>
          <tr>
            <td>10003467</td>
          </tr>
          <tr>
            <td>10005478</td>
          </tr>
        </table>
        <!--<br>
        <img src="/public/images/last-name.png" alt="Last name">-->
      </dd>
    </div>
  </dl>
</div>
</div>

<div class="govuk-summary-card">
<div class="govuk-summary-card__title-wrapper">
  <h2 class="govuk-heading-m govuk-!-margin-bottom-0">
    Your contract reference number<br>
    <p class="govuk-caption-m govuk-!-margin-bottom-0">Column C</p>
  </h2>
</div>
<div class="govuk-summary-card__content">
  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Data entry
      </dt>
      <dd class="govuk-summary-list__value">
        Enter the your contract reference number (optional).
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Additional guidance
      </dt>
      <dd class="govuk-summary-list__value">
        This can be up to 50 characters. It is an optional field
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Example
      </dt>
      <dd class="govuk-summary-list__value">
        <style>
          table, th, td {
            border: 1px solid gainsboro;
            border-collapse: collapse;
            padding: 6px;
          }
          </style>
        <table>
          <tr>
            <td bgcolor="gainsboro"><strong>Learner Reference Number</strong><br>(Up to 12 characters)</td>
          </tr>
          <tr>
            <td>SBHGV12091</td>
          </tr>
          <tr>
            <td>SBHGV1A132</td>
          </tr>
        </table>
        <!--
        <br>
        <img src="/public/images/learner-reference-number.png" alt="Learner Reference Number">
      </dd>-->
    </div>
  </dl>
</div>
</div>


<div class="govuk-summary-card">
<div class="govuk-summary-card__title-wrapper">
  <h2 class="govuk-heading-m govuk-!-margin-bottom-0">
    Unique Learner Number<br>
    <p class="govuk-caption-m govuk-!-margin-bottom-0">Column D</p>
  </h2>
</div>
<div class="govuk-summary-card__content">
  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Data entry
      </dt>
      <dd class="govuk-summary-list__value">
        Enter the Unique Learner Number that has been assigned to the learner.
        <br>
        This is 10 digits.
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Additional guidance
      </dt>
      <dd class="govuk-summary-list__value">
        This is held on the Learner Register, obtained from the Learner Record Service.
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Example
      </dt>
      <dd class="govuk-summary-list__value">
          <style>
            table, th, td {
              border: 1px solid gainsboro;
              border-collapse: collapse;
              padding: 6px;
            }
            </style>
          <table>
            <tr>
              <td bgcolor="gainsboro"><strong>Unique Learner Number</strong><br>(10 digits)</td>
            </tr>
            <tr>
              <td>9358348236</td>
            </tr>
            <tr>
              <td>4125349648</td>
            </tr>
          </table>
          <!--<br>
        <img src="/public/images/unique-learner-number.png" alt="Unique Learner Number">-->
      </dd>
    </div>
  </dl>
</div>
</div>

<div class="govuk-summary-card">
<div class="govuk-summary-card__title-wrapper">
  <h2 class="govuk-heading-m govuk-!-margin-bottom-0">
    Contract Reference Number associated with learner<br>
    <p class="govuk-caption-m govuk-!-margin-bottom-0">Column E</p>
  </h2>
</div>
<div class="govuk-summary-card__content">
  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Data entry
      </dt>
      <dd class="govuk-summary-list__value">
        Enter the Contract Reference Number for the Skills Bootcamp course that the learner will be attending.
        <br>
        This can be up to 20 characters starting with one of the following: SB / SBD / SBA / XSB.
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Additional guidance
      </dt>
      <dd class="govuk-summary-list__value">
        Every learner should be linked to a Skills Bootcamp course.
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Example
      </dt>
      <dd class="govuk-summary-list__value">
        <style>
          table, th, td {
            border: 1px solid gainsboro;
            border-collapse: collapse;
            padding: 6px;
          }
          </style>
        <table>
          <tr>
            <td bgcolor="gainsboro"><strong>Contract Reference Number associated with learner</strong><br>(Up to 20 characters starting with SB / SBA / SBD / XSB)</td>
          </tr>
          <tr>
            <td>SBD-1116-317</td>
          </tr>
          <tr>
            <td>XSB-90001234-A000001</td>
          </tr>
        </table>
        <!--<br>
        <img src="/public/images/contract-reference-number.png" alt="Contract Reference Number">-->
      </dd>
    </div>
  </dl>
</div>
</div>

<div class="govuk-summary-card">
<div class="govuk-summary-card__title-wrapper">
  <h2 class="govuk-heading-m govuk-!-margin-bottom-0">
    Has learner consented to be contacted for research purposes?<br>
    <p class="govuk-caption-m govuk-!-margin-bottom-0">Column F</p>
  </h2>
</div>
<div class="govuk-summary-card__content">
  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Data entry
      </dt>
      <dd class="govuk-summary-list__value">
        <p>Enter only one of the following options:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>Yes</li>
          <li>No</li>
          </ul>
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Additional guidance
      </dt>
      <dd class="govuk-summary-list__value">
        This would involve the learner being contacted by third party research contractors to participate in interviews or surveys to gain their feedback.
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Example
      </dt>
      <dd class="govuk-summary-list__value">
        <style>
          table, th, td {
            border: 1px solid gainsboro;
            border-collapse: collapse;
            padding: 6px;
          }
          </style>
        <table>
          <tr>
            <td bgcolor="gainsboro"><strong>Has learner consented to be contacted for research purposes?</strong><br>(Yes/No)</td>
          </tr>
          <tr>
            <td>No</td>
          </tr>
          <tr>
            <td>Yes</td>
          </tr>
        </table>
        <!--<br>
        <img src="/public/images/research-consent.png" alt="Has learner consented to be contacted for research purposes?">-->
      </dd>
    </div>
  </dl>
</div>
</div>


<div class="govuk-summary-card">
<div class="govuk-summary-card__title-wrapper">
  <h2 class="govuk-heading-m govuk-!-margin-bottom-0">
    Learner's main work industry before applying to Skills Bootcamp<br>
    <p class="govuk-caption-m govuk-!-margin-bottom-0">Column G</p>
  </h2>
</div>
<div class="govuk-summary-card__content">
  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Data entry
      </dt>
      <dd class="govuk-summary-list__value">
        <p>You need to select the closest match using only one of the following options from the drop-down menu in the Excel template: </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>Agriculture/environmental and animal care</li>
          <li>Business and administration</li>
          <li>Care services</li>
          <li>Catering and hospitality</li>
          <li>Construction and the built environment</li>
          <li>Creative and design</li>
          <li>Digital</li>
          <li>Education and early years</li>
          <li>Engineering and manufacturing </li>
          <li>Hair and beauty</li>
          <li>Health and science</li>
          <li>Legal/finance and accounting</li>
          <li>Protective services</li>
          <li>Sales/marketing and procurement</li>
          <li>Transport and logistics</li>
          <li>Extended period of unemployment</li>
          </ul>
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Additional guidance
      </dt>
      <dd class="govuk-summary-list__value">
        If you are unsure, you can <a href="https://occupational-maps.instituteforapprenticeships.org/">use this website to understand the different options in more detail</a>.
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Example
      </dt>
      <dd class="govuk-summary-list__value">
        <style>
          table, th, td {
            border: 1px solid gainsboro;
            border-collapse: collapse;
            padding: 6px;
          }
          </style>
        <table>
          <tr>
            <td bgcolor="gainsboro"><strong>Learner's main work industry before applying to Skills Bootcamp</strong><br>(Select from drop-down list)</td>
          </tr>
          <tr>
            <td>Extended period of unemployment</td>
          </tr>
          <tr>
            <td>Engineering and manufacturing</td>
          </tr>
        </table>
        <!--<br>
        <img src="/public/images/work-industry.png" alt="Learner's main work industry before applying to Skills Bootcamp">-->
      </dd>
    </div>
  </dl>
</div>
</div>


<div class="govuk-summary-card">
<div class="govuk-summary-card__title-wrapper">
  <h2 class="govuk-heading-m govuk-!-margin-bottom-0">
    If employed: Name of learner's current employer<br>
    <p class="govuk-caption-m govuk-!-margin-bottom-0">Column G</p>
  </h2>
</div>
<div class="govuk-summary-card__content">
  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Data entry
      </dt>
      <dd class="govuk-summary-list__value">
        <p>If the learner is employed, enter the employer name as accurately as possible.</p>
        <p>If the learner is unemployed or self-employed, enter:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>Unemployed</li>
          <li>Self-employed</li>
        </ul>
      </dd>
    </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Additional guidance
        </dt>
        <dd class="govuk-summary-list__value">
          If their employer is not engaging with Skills Bootcamp, the learner can choose whether they wish to share this information.
        </dd>
      </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Example
      </dt>
      <dd class="govuk-summary-list__value">
        <style>
          table, th, td {
            border: 1px solid gainsboro;
            border-collapse: collapse;
            padding: 6px;
          }
          </style>
        <table>
          <tr>
            <td bgcolor="gainsboro"><strong>If employed: Name of learner's current employer</strong></td>
          </tr>
          <tr>
            <td>Unemployed</td>
          </tr>
          <tr>
            <td>John Lewis</td>
          </tr>
          <tr>
            <td>Self-employed</td>
          </tr>
        </table>
        <!--<br>
        <img src="/public/images/current-employer.png" alt="If employed: name the current employer">-->
      </dd>
    </div>
  </dl>
</div>
</div>


<div class="govuk-summary-card">
<div class="govuk-summary-card__title-wrapper">
  <h2 class="govuk-heading-m govuk-!-margin-bottom-0">
    If co-funded: Name of learner's co-funder<br>
    <p class="govuk-caption-m govuk-!-margin-bottom-0">Column I</p>
  </h2>
</div>
<div class="govuk-summary-card__content">
  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Data entry
      </dt>
      <dd class="govuk-summary-list__value">
        <p>If the learner is co-funded, enter the name of the employer who is providing the co-funding as accurately as possible.</p>
        <p>If the learner is not co-funded, enter:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>Not applicable</li>
        </ul>
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Additional guidance
      </dt>
      <dd class="govuk-summary-list__value">
        N/A
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Example
      </dt>
      <dd class="govuk-summary-list__value">
        <style>
          table, th, td {
            border: 1px solid gainsboro;
            border-collapse: collapse;
            padding: 6px;
          }
          </style>
        <table>
          <tr>
            <td bgcolor="gainsboro"><strong>If co-funded: Name of learner's co-funder</strong></td>
          </tr>
          <tr>
            <td>Royal Mail</td>
          </tr>
          <tr>
            <td>Not applicable</td>
          </tr>
          <tr>
            <td>Nationwide</td>
          </tr>
        </table>
        <!--<br>
        <img src="/public/images/co-funder.png" alt="If co-funded: Name of learner's co-funder">-->
      </dd>
    </div>
  </dl>
</div>
</div>


<div class="govuk-summary-card">
<div class="govuk-summary-card__title-wrapper">
  <h2 class="govuk-heading-m govuk-!-margin-bottom-0">
    Name of employer offering a guaranteed interview to learner<br>
    <p class="govuk-caption-m govuk-!-margin-bottom-0">Column J</p>
  </h2>
</div>
<div class="govuk-summary-card__content">
  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Data entry
      </dt>
      <dd class="govuk-summary-list__value">
        <p>Enter the name of the employer as accurately as possible.</p>
        <p>If the learner is co-funded or self-employed, enter:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>Not applicable</li>
        </ul>
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Additional guidance
      </dt>
      <dd class="govuk-summary-list__value">
        This information may not be known at the start of the Skills Bootcamp. Complete this data field as soon as it is known.
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Example
      </dt>
      <dd class="govuk-summary-list__value">
        <style>
          table, th, td {
            border: 1px solid gainsboro;
            border-collapse: collapse;
            padding: 6px;
          }
          </style>
        <table>
          <tr>
            <td bgcolor="gainsboro"><strong>Name of employer offering a guaranteed interview to learner</strong></td>
          </tr>
          <tr>
            <td>Tesco</td>
          </tr>
          <tr>
            <td>Deloitte</td>
          </tr>
          <tr>
            <td>Not applicable</td>
          </tr>
        </table>
        <!--<br>
        <img src="/public/images/guaranteed-interview.png" alt="If applicable: name of Employer offering guaranteed interview to learner">-->
      </dd>
    </div>
  </dl>
</div>
</div>


<div class="govuk-summary-card">
<div class="govuk-summary-card__title-wrapper">
  <h2 class="govuk-heading-m govuk-!-margin-bottom-0">
    Skills Bootcamp completion: Learner's employment status<br>
    <p class="govuk-caption-m govuk-!-margin-bottom-0">Column K</p>
  </h2>
</div>
<div class="govuk-summary-card__content">
  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Data entry
      </dt>
      <dd class="govuk-summary-list__value">
        <p>You need to select only one of the following options from the drop-down menu in the Excel template: </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>No outcome/no change</li>
          <li>Continuing in current employment with new responsibilities</li>
          <li>New role with current employer</li>
          <li>New full or part-time employment</li>
          <li>New employment on an apprenticeship</li>
          <li>Becoming or continuing to be self-employed with new opportunities </li>
          <li>New full or part-time employment</li>
          <li>Not applicable</li>
          </ul>
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Additional guidance
      </dt>
      <dd class="govuk-summary-list__value">
        This information is only required after the learner completes the Skills Bootcamp course. Complete this data field once you have received a completion update from the learner.
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Example
      </dt>
      <dd class="govuk-summary-list__value">
        <style>
          table, th, td {
            border: 1px solid gainsboro;
            border-collapse: collapse;
            padding: 6px;
          }
          </style>
        <table>
          <tr>
            <td bgcolor="gainsboro"><strong>Skills Bootcamp completion: Learner's employment status</strong></td>
          </tr>
          <tr>
            <td>New full or part time employment</td>
          </tr>
          <tr>
            <td>Not applicable</td>
          </tr>
          <tr>
            <td>Continuing in current employment with new responsibilities</td>
          </tr>
          <tr>
            <td>No outcome/no change</td>
          </tr>
        </table>
        <!--<br>
        <img src="/public/images/employment-outcome.png" alt="Skills Bootcamp completion: learner's employment status">-->
      </dd>
    </div>
  </dl>
</div>
</div>

</div>


</body>


{% endblock %}