{% extends "layoutsld.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<nav class="app-navigation govuk-clearfix">
    <ul class="app-navigation__list app-width-container">
  
      <li class="app-navigation__list-item">
        <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline app-navigation__link" href="SBRD_ContractList.html" data-topnav="Contracts">Contracts</a>
      </li>

      <li class="app-navigation__list-item app-navigation__list-item--current">
        <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline app-navigation__link" href="SBRD_Upload.html" data-topnav="Import">Import</a>
      </li>
  
      <li class="app-navigation__list-item">
        <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline app-navigation__link" href="SBRD_Export.html" data-topnav="Export">Export</a>
      </li>
  
    </ul>
  </nav>
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
    <div class="govuk-width-container">


        <main class="govuk-main-wrapper" id="content" role="main">
            <div class="govuk-grid-row flex">
                <!--<div class="govuk-grid-column-fullgovuk-grid-column-two-thirds"> -->
                <div class="govuk-grid-column-three-quarters">


<div class="govuk-panel govuk-panel--confirmation"> 
    <h2 class="govuk-panel__title">
        Skills Bootcamp Contract complete
    </h2>
    <div class="govuk-panel__body">
       This is your ILR contract reference number.<br><strong>XSB-90001221-A000001</strong>
    </div>
<div class="govuk-body">
    This contract reference number will need to be shared with the Skills Bootcamp provider. To access the correct funding, the bootcamp provider is required to return this contract reference number within their ILR file.
</div>

<div id="buttons" class="block">
    <a href="/SBRD_ContractList.html" id="EditLink" class="govuk-button">View and manage your contracts</a>  
</div>

</div>





    
 


</body>


{% endblock %}