{% extends "layoutsld.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}
{% block content %}
<nav class="app-navigation govuk-clearfix">
  <ul class="app-navigation__list app-width-container">

    <li class="app-navigation__list-item app-navigation__list-item--current">
      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline app-navigation__link" href="SBRD_ContractList.html" data-topnav="Contracts">Contracts</a>
    </li>

    <li class="app-navigation__list-item">
      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline app-navigation__link" href="SBRD_Upload.html" data-topnav="Import">Import</a>
    </li>

    <li class="app-navigation__list-item">
      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline app-navigation__link" href="SBRD_Export.html" data-topnav="Export">Export</a>
    </li>

  </ul>
</nav>


  <a href="javascript:history.back()" class="govuk-back-link">Back</a>
    
        <h1 class="govuk-heading-xl">Contract overview</h1>

        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
              Contract details
            </h2>
            <ul class="govuk-summary-card__actions">
              <li class="govuk-summary-card__action">
                <a class="govuk-link" href="/SBRD_contractdetails">Edit</a>
              </li>
            </ul>
          </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Contract reference number 
                </dt>
                <dd class="govuk-summary-list__value">
                  XSB-90001232-20240210
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                 Skills bootcamp name
                </dt>
                <dd class="govuk-summary-list__value">
                 Bootcamp 1
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                 Skills Bootcamp provider UKPRN
                </dt>
                <dd class="govuk-summary-list__value">
                  10023542
                </dd>
              </div>
            </dl>
          </div>
        </div>

        <div class="govuk-summary-card govuk-!-margin-bottom-9">
          <div class="govuk-summary-card__title-wrapper">
            <div class="govuk-summary-card__status-wrapper">
              <h2 class="govuk-summary-card__title">Contract details
              </h2>
                <ul class="govuk-summary-card__actions">
                    <li class="govuk-summary-list__actions">
                        <a class="govuk-link" href="/SBRD_contractdetails">Edit</a>
                    </li>
                </ul>
            </div>
          </div>
        
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Contract number
                </dt>
                <dd class="govuk-summary-list__value">
                  90000010/1234
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Skills Bootcamp
                </dt>
                <dd class="govuk-summary-list__value">
                  Bootcamp 1
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">UKPRN</dt>
                <dd class="govuk-summary-list__value">
                  12345678 
                </dd>
              </div>
            </dl>
          </div>
        </div>
        

        <div class="govuk-summary-card govuk-!-margin-bottom-9">
          <div class="govuk-summary-card__title-wrapper">
            <div class="govuk-summary-card__status-wrapper">
              <h2 class="govuk-summary-card__title">Contract wave</h2>
              <ul class="govuk-summary-card__actions">
                <li class="govuk-summary-card__action">
                  <a class="govuk-link" href="/SBRD_contractwaves.html">Edit</a>
                </li>
              </ul>
            </div>
          </div>
        
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Contract funding wave</dt>
                <dd class="govuk-summary-list__value">DPS Round 1</dd>
              </div>
            </dl>
          </div>
        </div>

        <div class="govuk-summary-card govuk-!-margin-bottom-9">
          <div class="govuk-summary-card__title-wrapper">
            <div class="govuk-summary-card__status-wrapper">
              <h2 class="govuk-summary-card__title">Calculation method</h2>
              <ul class="govuk-summary-card__actions">
                <li class="govuk-summary-card__action">
                  <a class="govuk-link" href="/SBRD_calculation.html">Edit</a>
                </li>
              </ul>
            </div>
          </div>
        
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Calculation method</dt>
                <dd class="govuk-summary-list__value">SBC01</dd>
              </div>
            </dl>
          </div>
        </div>

        <div class="govuk-summary-card govuk-!-margin-bottom-9">  
          <div class="govuk-summary-card__title-wrapper">
            <div class="govuk-summary-card__status-wrapper">
              <h2 class="govuk-summary-card__title">Contract dates and unit cost</h2>
              <ul class="govuk-summary-card__actions">
                <li class="govuk-summary-card__action">
                  <a class="govuk-link" href="SBRD_ContractDatesCost.html">Edit</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Contract start date</dt>
                <dd class="govuk-summary-list__value">1 August 2023</dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Contract end date</dt>
                <dd class="govuk-summary-list__value">31 July 2024</dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Unit cost</dt>
                <dd class="govuk-summary-list__value">£2500.00</dd>
              </div>
            </dl>
          </div>
        </div>

        <div class="govuk-summary-card govuk-!-margin-bottom-9">
          <div class="govuk-summary-card__title-wrapper">
            <div class="govuk-summary-card__status-wrapper">
              <h2 class="govuk-summary-card__title">Payment details</h2>
              <ul class="govuk-summary-card__actions" >
                <li class="govuk-summary-card__action">
                  <a class="govuk-link" href="/SBRD_paymentdetails">Edit</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Qualifying period</dt>
                <dd class="govuk-summary-list__value">5 days</dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Start payment percentage</dt>
                <dd class="govuk-summary-list__value">20 %</dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Last date for new starts</dt>
                <dd class="govuk-summary-list__value">01 December 2024</dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Mid-course payment percentage</dt>
                <dd class="govuk-summary-list__value">30 %</dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Last date for mid-course payment</dt>
                <dd class="govuk-summary-list__value">03 January 2025</dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Completion payment percentage</dt>
                <dd class="govuk-summary-list__value">10 %</dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Last date for completion payment</dt>
                <dd class="govuk-summary-list__value">01 December 2024</dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Outcome payment percentage</dt>
                <dd class="govuk-summary-list__value">40 %</dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Last date for outcome payment</dt>
                <dd class="govuk-summary-list__value">03 January 2025</dd>
              </div>
            </dl>
          </div>
        </div>


        <div id="buttons" class="block">
          <a href="/SBRD_ContractList.html" id="EditLink" class="govuk-button">Save Contract</a>  
        </div>
              




{% endblock %}