{% extends "layoutsld.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}
{% block content %}

    <span class="govuk-caption-m">
       XSB-90001232-20240210
    </span>

    <h1 class="govuk-heading-xl">Are you sure that you want edit this Skills Bootcamp Contract?</h1>
    
    <p class="govuk-body">
        By editing the calculation method, the rates of the contract could be altered. If a different calculation method is selected, then some data may have to be re-entered in order to ensure the correct parameters have been returned.  
    </p>
        
            <a class="govuk-button" data-module="govuk-button" href="SBRD_calculationmethod.html">Confirm</a>
            <a class="govuk-button govuk-button--secondary" data-module="govuk-button" href="SBRD_contractsummary.html">Cancel</a>
    </div> 
{% endblock %}  