{% extends "layoutsld.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}
{% block content %}

<div class="govuk-width-container">
    <a href="#" class="govuk-back-link">Back</a>
    <main class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-xl">Submissions</h1>
          <p class="govuk-body">Skills Bootcamp Contracts collection</p>
          <h2 class="govuk-heading-l">Contract data</h2>

        <fieldset>
            <div class="govuk-form-group">
                <h1 class="govuk-label-wrapper">
                <label class="govuk-label govuk-label--s" for="event-name">
                    Filter by year
                </label>
                </h1>
                <div id="event-name-hint" class="govuk-hint">
                The page will refresh after you select each filter
                </div>
                <table class="govuk-table"
                        <tbody class="govuk-table__body>
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell">
                                    <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                                    <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                                    <label class="govuk-label govuk-checkboxes__label" for="organisation">2025 to 2026</label>
                                    </div>
                                </td>
                                <td class="govuk-table__cell"> 
                                    <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                                    <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="organisation-2" name="organisation" type="checkbox" value="employment-tribunal">
                                    <label class="govuk-label govuk-checkboxes__label" for="organisation-2">2024 to 2025</label>
                                    </div>
                                </td> 
                                <td class="govuk-table__cell">
                                    <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                                    <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="organisation-3" name="organisation" type="checkbox" value="MOD">
                                    <label class="govuk-label govuk-checkboxes__label" for="organisation-3">2023 to 2024</label>
                                    </div>
                                </td>
                            </tr>
                        </tbody>  
                </table>              
            </div>
        </fieldset>

          <h5 class="govuk-heading-m">Academic Year: 2025 to 2026</h5>


          <input name="selected-course" value="" style="display:none"><table class="govuk-table" data-module="moj-sortable-table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Upload date</th>
                    <th scope="col" class="govuk-table__header">Filename </th>
                    <th scope="col" class="govuk-table__header">Submitted by</th>
                    <th scope="col" class="govuk-table__header">Reports</th>
                </tr>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><strong>22 January 2024 at 4:13 pm</strong></td>
                    <td class="govuk-table__cell">10040002-SkillsBootcampContracts-20240122-170122.csv</td>
                    <td class="govuk-table__cell">Jo Bloggs</td>
                    <td class="govuk-table__cell"><a class="govuk-link" href="#">Download Reports</a></td>
                </tr>

                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><strong>22 January 2024 at 4:13 pm</strong></td>
                    <td class="govuk-table__cell">10040002-SkillsBootcampContracts-20240122-170122.csv</td>
                    <td class="govuk-table__cell">Jo Bloggs</td>
                    <td class="govuk-table__cell"><a class="govuk-link" href="#">Download Reports</a></td>
                </tr>

                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><strong>22 January 2024 at 4:13 pm</strong></td>
                    <td class="govuk-table__cell">10040002-SkillsBootcampContracts-20240122-170122.csv</td>
                    <td class="govuk-table__cell">Jo Bloggs</td>
                    <td class="govuk-table__cell"><a class="govuk-link" href="#">Download Reports</a></td>
                </tr>
            </tbody>
        </table>

        <br>

        <h5 class="govuk-heading-m">Academic Year: 2024 to 2025</h5>
        

          <input name="selected-course" value="" style="display:none"><table class="govuk-table" data-module="moj-sortable-table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Upload date</th>
                    <th scope="col" class="govuk-table__header">Filename </th>
                    <th scope="col" class="govuk-table__header">Submitted by</th>
                    <th scope="col" class="govuk-table__header">Reports</th>
                </tr>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><strong>22 January 2024 at 4:13 pm</strong></td>
                    <td class="govuk-table__cell">10040002-SkillsBootcampContracts-20240122-170122.csv</td>
                    <td class="govuk-table__cell">Jo Bloggs</td>
                    <td class="govuk-table__cell"><a class="govuk-link" href="#">Download Reports</a></td>
                </tr>

                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><strong>22 January 2024 at 4:13 pm</strong></td>
                    <td class="govuk-table__cell">10040002-SkillsBootcampContracts-20240122-170122.csv</td>
                    <td class="govuk-table__cell">Jo Bloggs</td>
                    <td class="govuk-table__cell"><a class="govuk-link" href="#">Download Reports</a></td>
                </tr>

                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><strong>22 January 2024 at 4:13 pm</strong></td>
                    <td class="govuk-table__cell">10040002-SkillsBootcampContracts-20240122-170122.csv</td>
                    <td class="govuk-table__cell">Jo Bloggs</td>
                    <td class="govuk-table__cell"><a class="govuk-link" href="#">Download Reports</a></td>
                </tr>
            </tbody>
        </table>
 
    </div>
          
        </div>
      </div>
    </main>
  </div>

{% endblock %}