{% extends "layoutsld.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<nav class="app-navigation govuk-clearfix">
    <ul class="app-navigation__list app-width-container">
  
      <li class="app-navigation__list-item app-navigation__list-item--current">
        <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline app-navigation__link" href="SBRD_ContractList.html" data-topnav="Contracts">Contracts</a>
      </li>

      <li class="app-navigation__list-item">
        <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline app-navigation__link" href="SBRD_Upload.html" data-topnav="Import">Import</a>
      </li>
  
      <li class="app-navigation__list-item">
        <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline app-navigation__link" href="SBRD_Export.html" data-topnav="Export">Export</a>
      </li>
  
    </ul>
  </nav>

<a href="javascript:history.back()" class="govuk-back-link">Back</a>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">Add a contract</h1>

        <h2 class="govuk-heading-m">Overview</h2>

        <p class="govuk-body">In order to add a contract you must have the following details:</p>

        <ul class="govuk-list govuk-list--bullet">
            <li>the contract number in the correct format</li>  
            <li>the Skills Bootcamp name</li>
            <li>the provider's UKPRN</li>
            <li>the contract start date</li>
            <li>the contract end date</li>
            <li>the unit cost</li>
            <li>the calculation method</li>
            <li>the procurement wave</li>
            <li>if applicable, the last dates for start payments, mid-course payments, completion payments and outcome payments</li>
            <li>if applicable, the percentages for start payments, mid-course payments, completion payments and outcome payments</li>
            <li>if applicable, the qualifying period (in days) for start payments</li>
            
            
        </ul>

        <p class="govuk-body govuk-!-font-weight-bold">Details will only be saved once you have added all the data and selected to save.</p>


        <a class="govuk-button" href="SBRD_calculationmethods.html">Continue</a>


    </div>
</div>


                </div>
            </div>
        </main>
    </div>


</body>


{% endblock %}