{% extends "layoutsld.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}
{% block content %}
<div class="govuk-width-container">
    <main class="govuk-main-wrapper">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                <a href="javascript:history.back()" class="govuk-back-link">Back</a>

                <span class="govuk-caption-m">
                XSB-90001232-20240210
                </span>

                <h1 class="govuk-heading-xl"> Changing the calculation method could alter the contract rates. Are you sure you want make this change?</h1>
                
                <p class="govuk-body">
                    If the calculation method is changed, you may have to re-enter some data to ensure that the correct parameters will be returned.  
                </p>

                <table class="govuk-table">
                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                            <td scope="row" class="govuk-table__cell">Previous calculation method </td>
                            <td class="govuk-table__cell">HGV01</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">New calculation method </th>
                            <td class="govuk-table__cell"><strong>HGV03</strong></td>
                        </tr>
                    </tbody>
                </table>
                    
                <div class="govuk-button-group">
                    <a href="/SBRD_ContractDatesCost.html" id="EditLink" class="govuk-button">Confirm and continue</a>
                    <a href="SBRD_calculationmethod.html" id="cancellink" class="govuk-link">Edit calculation method</a> 
                </div>
            </div>
        </div>
    </main>
</div>
   
{% endblock %}  