{% extends "layoutsld.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>


      <main class="govuk-main-wrapper" id="content" role="main">
          <div class="govuk-grid-row flex">
              <div class="govuk-grid-column-two-thirds">
                

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">Skills Bootcamp reference data collection</h1>

      <p class="govuk-body">
          This collection allows you to submit the Skills Bootcamp contract reference data required to support the funding calculation.
      </p>

    <p class="govuk-body">
          Data can be entered using the online form service or imported by using the CSV file upload service.
    </p>

    <p class="govuk-body">
        The online form service allows you to add contract reference data individually.
    </p>

    <p class="govuk-body">
    The CSV file upload service allows you to bulk upload contract reference data.  Note, this service overwrites any current data with the content of the new file.
   </p>

   <p class="govuk-body">
    Additionally, this collection allows you to export your contract reference data as a CSV file.
   </p>

      <a class="govuk-button" href="SBRD_ContractList.html">
          Continue
      </a>

  </div>
</div>
</div>
      </main>
  </div>
</body>


{% endblock %}