{% extends "layoutsld.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}
{% block content %}
<nav class="app-navigation govuk-clearfix">
  <ul class="app-navigation__list app-width-container">

    <li class="app-navigation__list-item app-navigation__list-item--current">
      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline app-navigation__link" href="SBRD_ContractList.html" data-topnav="Contracts">Contracts</a>
    </li>

    <li class="app-navigation__list-item">
      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline app-navigation__link" href="SBRD_Upload.html" data-topnav="Import">Import</a>
    </li>

    <li class="app-navigation__list-item">
      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline app-navigation__link" href="SBRD_Export.html" data-topnav="Export">Export</a>
    </li>

  </ul>
</nav>

    <a href="javascript:history.back()" class="govuk-back-link">Back</a>

    
    <main class="govuk-main-wrapper" id="content" role="main">
      <div class="govuk-grid-row flex">
          <div class="govuk-grid-column-two-thirds">

    
    <h1 class="govuk-heading-xl">Contract overview</h1>

    <p>some text some text some text some text some text some text some text some text some text.</p>
    
    <div class="govuk-summary-card">
        
      <div class="govuk-summary-card__title-wrapper">
        <div class="govuk-summary-card__status-wrapper">
          <h3 class="govuk-summary-card__title">Contract details</h3>
        </div>

        <ul class="govuk-summary-card__actions">
          <li class="govuk-summary-card__action"> <a class="govuk-link" href="SBRD_bootcampdetails.html">
              Change<span class="govuk-visually-hidden"> course details</span>
            </a>
          </li>
        </ul>
      </div>
    
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Skills Bootcamp
            </dt>
            <dd class="govuk-summary-list__value">
              Bootcamp 1
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">UKPRN</dt>
            <dd class="govuk-summary-list__value">
              12345678 
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Contract number
            </dt>
            <dd class="govuk-summary-list__value">
              90000010/1234
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Contract start date</dt>
            <dd class="govuk-summary-list__value">
              1 August 2023
            </dd>
          </div>
          
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Contract end date
            </dt>
            <dd class="govuk-summary-list__value">
              31 July 2024
            </dd>
          </div>
        </dl>
      </div>
    </div>


    <div class="govuk-summary-card govuk-!-margin-bottom-9">
      <div class="govuk-summary-card__title-wrapper">
        <div class="govuk-summary-card__status-wrapper">
          <h2 class="govuk-summary-card__title">Last dates</h2>
          
         
        </div>
        <ul class="govuk-summary-card__actions">
          <li class="govuk-summary-card__action"> <a class="govuk-link" href="SBRD_paymentdates.html">
              Change<span class="govuk-visually-hidden"> learner details</span>
            </a>
          </li>
        </ul>
      </div>
    
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Last date for starts</dt>
            <dd class="govuk-summary-list__value">
              01 September 2023
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Last date for mid-point payments</dt>
            <dd class="govuk-summary-list__value">
              01 December 2023 
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Last date for completions</dt>
            <dd class="govuk-summary-list__value">
              01 June 2024
            </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Last date for outcomes</dt>
            <dd class="govuk-summary-list__value">
              01 September 2024
            </dd>
          </div>
        </dl>
      </div>
    </div>

    <div class="govuk-summary-card govuk-!-margin-bottom-9">
      <div class="govuk-summary-card__title-wrapper">
        <div class="govuk-summary-card__status-wrapper">
          <h2 class="govuk-summary-card__title">Unit cost</h2>
          
         
        </div>
        <ul class="govuk-summary-card__actions">
          <li class="govuk-summary-card__action"> <a class="govuk-link" href="SBRD_paymentdetails.html">
              Change<span class="govuk-visually-hidden"> learner details</span>
            </a>
          </li>
        </ul>
      </div>
    
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Unit cost</dt>
            <dd class="govuk-summary-list__value">
              £2500.00
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Start percentage</dt>
            <dd class="govuk-summary-list__value">
              10%
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Mid-point payment percentage</dt>
            <dd class="govuk-summary-list__value">
              20%
            </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Completion percentage</dt>
            <dd class="govuk-summary-list__value">
              50%
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Outcome percentage</dt>
            <dd class="govuk-summary-list__value">
              10%
            </dd>
          </div>
        </dl>
      </div>
    </div>




    <div class="govuk-summary-card govuk-!-margin-bottom-9">
      <div class="govuk-summary-card__title-wrapper">
        <div class="govuk-summary-card__status-wrapper">
          <h2 class="govuk-summary-card__title">Calculation details</h2>
          
         
        </div>
        <ul class="govuk-summary-card__actions">
          <li class="govuk-summary-card__action"> <a class="govuk-link" href="SBRD_contractwave.html">
              Change<span class="govuk-visually-hidden"> learner details</span>
            </a>
          </li>
        </ul>
      </div>
    
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Wave</dt>
            <dd class="govuk-summary-list__value">
              Wave 3
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Calculation method</dt>
            <dd class="govuk-summary-list__value">
              Choice 1
            </dd>
          </div>
        </dl>
      </div>
    </div>

   



  

          <a class="govuk-button" href="SBRD_ContractList.html">Finish</a>



{% endblock %}