{% extends "layoutsld.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}
{% block content %}
<nav class="app-navigation govuk-clearfix">
    <ul class="app-navigation__list app-width-container">
  
      <li class="app-navigation__list-item app-navigation__list-item--current">
        <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline app-navigation__link" href="SBRD_ContractList.html" data-topnav="Contracts">Contracts</a>
      </li>

      <li class="app-navigation__list-item">
        <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline app-navigation__link" href="SBRD_Upload.html" data-topnav="Import">Import</a>
      </li>
  
      <li class="app-navigation__list-item">
        <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline app-navigation__link" href="SBRD_Export.html" data-topnav="Export">Export</a>
      </li>
  
    </ul>
  </nav>

    <a href="javascript:history.back()" class="govuk-back-link">Back</a>
        
        <div class="govuk-width-container">
            <main class="govuk-main-wrapper " id="main-content" role="main">
              <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <span class="govuk-caption-m">
                        XSB-90001238-1982343
                      </span>  
                  <h1 class="govuk-heading-l">Payment Details</h1>
                  <form action="/form-handler" method="post" novalidate>
                    <div class="govuk-form-group">
                      <label class="govuk-label govuk-label--m" for="passport-number">
                        Qualifying Period
                      </label>
                      <div id="passport-number-hint" class="govuk-hint">
                        What is the qualifying period, in days, before the learner is included in the ILR?
                      </div>
                      <input class="govuk-input govuk-input--width-10" id="passport-number" name="passportNumber" type="text" aria-describedby="passport-number-hint">
                    </div>
                    <div class="govuk-form-group">
                      <fieldset class="govuk-fieldset" role="group" aria-describedby="expiry-hint">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                         Start Payment 
                        </legend>
                        <div id="expiry-hint" class="govuk-hint">
                            What is the start percentage?
                        </div>
                        </div>
                            <input class="govuk-input govuk-input--width-10" id="passport-number" name="passportNumber" type="text" aria-describedby="passport-number-hint">
                        </div>
                    <button type="submit" class="govuk-button" data-module="govuk-button">
                      Continue
                    </button>
                  </form>
                </div>
              </div>
            </main>
          </div>

          {% endblock %}