{% extends "layoutsld.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}
{% block content %}
<div class="govuk-width-container">
    <a href="#" class="govuk-back-link">Back</a>
    <main class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-xl">Contract list</h1>
          <table class="govuk-table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header govuk-!-width-one-third">ILR contract reference number</th>
                    <th scope="col" class="govuk-table__header">Skills Bootcamp name </th>
                    <th scope="col" class="govuk-table__header">Provider UKPRN</th>               
                </tr>
            </thead>
    
            <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell word-break-break-word">XSB-90012345-A000001</td>
                        <td class="govuk-table__cell">HGV Learning</td>
                        <td class="govuk-table__cell">10002865</td>
                        <td class="govuk-table__cell">
                            <label class="govuk-visually-hidden" id="summary616756">View summary for John Abbott 11 July 1972</label>
    
                            <a class="govuk-link govuk-link--no-visited-state" href="/SBRD_ContractHelpdesk">View</a>
    
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell word-break-break-word">XSB-90012345-A000004</td>
                        <td class="govuk-table__cell">HGV Learning again</td>
                        <td class="govuk-table__cell">10002765</td>
                        <td class="govuk-table__cell">
                            <label class="govuk-visually-hidden" id="summary616756">View summary for John Abbott 11 July 1972</label>
    
                            <a class="govuk-link govuk-link--no-visited-state" href="/few/summary/2223/summary-staff-member/616756/10089242">View</a>
    
                        </td>
                    </tr>
            </tbody>
    
        </table>
        </div>
        </div>
    </main>
</div>

{% endblock %}