{% extends "layoutsld.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}
{% block content %}

    <span class="govuk-caption-m">
       SBC-90001267-2781232
    </span>

    <h1 class="govuk-heading-l">Are you sure that you want edit the calculation method of this Skills Bootcamp Contract?
    </h1>
    
    <p class="govuk-body">
        By editing the calculation method the rates of the contract could be altered. If a different calculation method is selected then some data may have to be reentered in order to ensure the correct parameters have been returned.  
    </p>
        
            <a class="govuk-button" data-module="govuk-button">Confirm</a>
            <a class="govuk-button govuk-button--secondary" data-module="govuk-button">Cancel</a>
    </div> 
{% endblock %}  