{% extends "layoutsld.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}
{% block content %}
<nav class="app-navigation govuk-clearfix">
    <ul class="app-navigation__list app-width-container">
  
      <li class="app-navigation__list-item app-navigation__list-item--current">
        <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline app-navigation__link" href="SBRD_ContractList.html" data-topnav="Contracts">Contracts</a>
      </li>

      <li class="app-navigation__list-item">
        <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline app-navigation__link" href="SBRD_Upload.html" data-topnav="Import">Import</a>
      </li>
  
      <li class="app-navigation__list-item">
        <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline app-navigation__link" href="SBRD_Export.html" data-topnav="Export">Export</a>
      </li>
  
    </ul>
  </nav>

    <a href="javascript:history.back()" class="govuk-back-link">Back</a>


    <main id="main-content" class="app-content" role="main">
        <span class="govuk-caption-m">
          SBC-10001
        </span>

        <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h2 class="govuk-fieldset__heading">
                Completion payment
              </h2>
            </legend>

       <div class="govuk-form-group">
            <h2 class="govuk-label-wrapper">
                <label class="govuk-label govuk-label--m" for="assessment-price">
                    What is the completion percentage?
                </label>
            </h2>
            <p class="govuk-body">The percentage of unit cost for the completion milestone payment</p>
            <label class="govuk-label govuk-date-input__label" for="assessment-price">
                Completion percentage
            </label>
            <div class="govuk-input__wrapper">
                <input class="govuk-input govuk-input--width-5" id="weekly-hours" type="text" inputmode="numeric" maxlength="5" name="WeeklyHours.Hours" value="">
                <div class="govuk-input__suffix" aria-hidden="true">%</div>
            </div>
        </div>


        <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">

                <h2 class="govuk-fieldset__heading">
                    What is the last date for completions?
                  </h2>
                 </legend>
              <div id="passport-issued-hint" class="govuk-hint">
                The last date for completions is the last possible date for a completion milestone to be paid.
                <br>For example, 27 3 2024.
              </div>
              <div class="govuk-date-input" id="passport-issued">
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                      Day
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" inputmode="numeric">
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                      Month
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" inputmode="numeric">
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                      Year
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" inputmode="numeric">
                  </div>
                </div>
              </div>
            </fieldset>
          </div>


        <a class="govuk-button" href="SBRD_Outcome.html">Continue</a>



  
        


{% endblock %}