{% extends "layoutsld.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<nav class="app-navigation govuk-clearfix">
    <ul class="app-navigation__list app-width-container">
  
      <li class="app-navigation__list-item">
        <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline app-navigation__link" href="SBRD_ContractList.html" data-topnav="Contracts">Contracts</a>
      </li>

      <li class="app-navigation__list-item app-navigation__list-item--current">
        <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline app-navigation__link" href="SBRD_Upload.html" data-topnav="Import">Import</a>
      </li>
  
      <li class="app-navigation__list-item">
        <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline app-navigation__link" href="SBRD_Export.html" data-topnav="Export">Export</a>
      </li>
  
    </ul>
  </nav>
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
    <div class="govuk-width-container">


        <main class="govuk-main-wrapper" id="content" role="main">
            <div class="govuk-grid-row flex">
                <!--<div class="govuk-grid-column-fullgovuk-grid-column-two-thirds"> -->
                <div class="govuk-grid-column-three-quarters">


<div class="govuk-panel govuk-panel--confirmation"> 
    <h2 class="govuk-panel__title">
        Skills Bootcamp Contract reference data file imported
    </h2>
    <div class="govuk-panel__body">
        Checking file for errors and preparing reports<br>
        Reference: 1995867
    </div>
</div>

<h2 class="govuk-heading-m">What to do next:</h2>
<p class="govuk-body">
    </p><ul class="govuk-list govuk-list--number">
        <li>You must check the summary reports for any errors</li>
        <li>Correct any errors and upload a new file</li>
        <li>Check email for notifications</li>
        <li><mark>When the file is free of errors, confirm the upload of the contract</mark></li>
    </ul>
<p>
    <a class="govuk-button secondary" href="#">Check reports</a>
</p>

<h2 class="govuk-heading-m">Upload details</h2>
<dl class="govuk-summary-list dl-override">
    <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key dt-override">
      Contract reference number
    </dt>
    <dd class="govuk-summary-list__value dd-override">
        XSB-10010000-7098753
    </dd>
    </div>

    <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key dt-override">
        Submitted by
    </dt>
    <dd class="govuk-summary-list__value dd-override">
        Shared SBC User
    </dd>
    </div>

    <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key dt-override">
        Time and date
    </dt>
    <dd class="govuk-summary-list__value dd-override">
        10:19am on Friday 10 May 2024
    </dd>
    </div>
</dl>

<h2 class="govuk-heading-m">Notifications about this contract submission</h2>
<p>A file has been submitted:</p>
<p class="govuk-body">
    </p><ul class="govuk-list govuk-list--number">
        <li>An email has been sent to dcttestemail@gmail.com</li>
        <li>Check your email for confirmation of this submission</li>
        <li>When reports are ready a separate notification email will be sent within thirty minutes of this submission</li>
        <li><mark>When all the data has been submitted without error, confirm the upload of this contract</mark></li>
    </ul>
</p>

<details class="govuk-details">
    <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
            Wrong email address or email not arrived
        </span>
    </summary>
    <div class="govuk-details__text">
        <p>If your email address is wrong, you'll need to <a href="https://services.signin.education.gov.uk/">update it in your DfE Sign-in account</a>.</p>
        <p>If you haven't received an email, it may be in your junkmail folder.</p>
    </div>
</details>

<p>
    <a class="govuk-button" href="/SBRD_Submissions">View reports</a>
</p>
<p><a href="/SBRD_Upload">Submit another contract</a></p>




    <script src="/assets/minified/app.min.js?v=ZtVrfTFn24M2aHg4_7R0E2SGwegJZT0kSPbzHnMt-Jo"></script>

                </div>
                    <div class="govuk-grid-column-one-quarter">
                        <aside class="app-related-items" role="complementary">
                            <h2 class="govuk-heading-m" id="subsection-title-help">
                                Help and support
                            </h2>
                                <ul class="govuk-list govuk-!-font-size-16">
                                    <li>
                                        <a class="govuk-link" href="https://esfahelp.education.gov.uk/hc/en-gb" target="_blank">
                                            ESFA training provider self-help and communities
                                        </a>
                                    </li>
                                    <li>
                                        <a class="govuk-link" href="https://esfahelp.education.gov.uk/hc/en-gb/community/topics/360000847259-Training-Providers" target="_blank">Discussion forums</a>
                                    </li>
                                </ul>

                            <h3 class="govuk-heading-s">ESFA support desk</h3>
                            <p class="govuk-!-font-size-16">Log a query using our 
                                <a class="govuk-link" href=" https://form.education.gov.uk/en/AchieveForms/?form_uri=sandbox-publish://AF-Process-f9f4f5a1-936f-448b-bbeb-9dcdd595f468/AF-Stage-8aa41278-3cdd-45a3-ad87-80cbffb8b992/definition.json&amp;redirectlink=%2fen&amp;cancelRedirectLink=%2fen" target="_blank">
                                            ESFA Service Desk enquiry form
                                </a>
                            </p>
                            <p class="govuk-!-font-size-16">Get help with 
                                <a class="govuk-link" href="  https://esfahelp.education.gov.uk/hc/en-gb/" target="_blank">
                                           Education and Skills Funding Agency Services
                                </a>
                            </p>
                            
                            <p class="govuk-!-font-size-16">
                                Telephone: 0370 267 0001<br>
                                Monday to Thursday, 9:00am to 5:00pm<br>
                                Friday, 9:00am to 4:00pm<br>
                            </p>

                            

                        </aside>
                    </div>
            </div>
        </main>
    </div>

 


</body>


{% endblock %}