{% extends "layoutsld.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}
{% block content %}

<div class="govuk-width-container">
    <a href="#" class="govuk-back-link">Back</a>
    <main class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-xl">Submissions</h1>
          <p class="govuk-body">Skills Bootcamp Contracts collection</p>
          <h2 class="govuk-heading-l">Contracts</h2>

          <details class="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Filters
              </span>
            </summary>
            <div class="govuk-details__text">
                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                        <h1 class="govuk-fieldset__heading">
                        Bootcamp providers 
                        </h1>
                    </legend>
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                          <th scope="col" class="govuk-table__header"></th>
                          <th scope="col" class="govuk-table__header"></th>
                          <th scope="col" class="govuk-table__header"></th>
                        </tr>
                        <tr class="govuk-table__row">
                    <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                        <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                        <label class="govuk-label govuk-checkboxes__label" for="organisation">
                        WeBootcamp.com
                        </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="organisation-2" name="organisation" type="checkbox" value="employment-tribunal">
                        <label class="govuk-label govuk-checkboxes__label" for="organisation-2">
                        HGVsRUS
                        </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="organisation-3" name="organisation" type="checkbox" value="MOD">
                        <label class="govuk-label govuk-checkboxes__label" for="organisation-3">
                        LearnToCode
                        </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="organisation-4" name="organisation" type="checkbox" value="DfT">
                        <label class="govuk-label govuk-checkboxes__label" for="organisation-4">
                        UpSkilling
                        </label>
                        </div>
                    </div>
                    </tr>
                    </fieldset>
                </div>
            </div>
          </details>

          <h3 class="govuk-heading-m">[Skills Bootcamp provider name]</h3>
          <h4 class="govuk-heading-m">[Provider UKPRN]</h4>

          <input name="selected-course" value="" style="display:none"><table class="govuk-table" data-module="moj-sortable-table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Date</th>
                    <th scope="col" class="govuk-table__header">File </th>
                    <th scope="col" class="govuk-table__header">Contract reference number</th>
                    <th scope="col" class="govuk-table__header">Submitted by</th>
                    <th scope="col" class="govuk-table__header">Reports</th>
                </tr>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><strong>22 January 2024 at 4:13 pm</strong></td>
                    <td class="govuk-table__cell">SBC-10007652-2324-20240122.Csv</td>
                    <td class="govuk-table__cell">XSB-10001232-20240210</td>
                    <td class="govuk-table__cell">Jo Bloggs</td>
                    <td class="govuk-table__cell"><a class="govuk-link" href="#">Download Reports</a></td>
                </tr>

                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><strong>22 January 2024 at 4:13 pm</strong></td>
                    <td class="govuk-table__cell">SBC-10007652-2324-20240122.Csv</td>
                    <td class="govuk-table__cell">XSB-10001232-20240210</td>
                    <td class="govuk-table__cell">Jo Bloggs</td>
                    <td class="govuk-table__cell"><a class="govuk-link" href="#">Download Reports</a></td>
                </tr>

                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><strong>22 January 2024 at 4:13 pm</strong></td>
                    <td class="govuk-table__cell">SBC-10007652-2324-20240122.Csv</td>
                    <td class="govuk-table__cell">XSB-10001232-20240210</td>
                    <td class="govuk-table__cell">Jo Bloggs</td>
                    <td class="govuk-table__cell"><a class="govuk-link" href="#">Download Reports</a></td>
                </tr>
            </tbody>
        </table>

        <br>

        <h5 class="govuk-heading-m">[Skills Bootcamp provider name]</h5>
          <h6 class="govuk-heading-m">[Provider UKPRN]</h6>

          <input name="selected-course" value="" style="display:none"><table class="govuk-table" data-module="moj-sortable-table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Date</th>
                    <th scope="col" class="govuk-table__header">File </th>
                    <th scope="col" class="govuk-table__header">Contract reference number</th>
                    <th scope="col" class="govuk-table__header">Submitted by</th>
                    <th scope="col" class="govuk-table__header">Reports</th>
                </tr>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><strong>22 January 2024 at 4:13 pm</strong></td>
                    <td class="govuk-table__cell">SBC-10007652-2324-20240122.Csv</td>
                    <td class="govuk-table__cell">XSB-10001232-20240210</td>
                    <td class="govuk-table__cell">Jo Bloggs</td>
                    <td class="govuk-table__cell"><a class="govuk-link" href="#">Download Reports</a></td>
                </tr>

                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><strong>22 January 2024 at 4:13 pm</strong></td>
                    <td class="govuk-table__cell">SBC-10007652-2324-20240122.Csv</td>
                    <td class="govuk-table__cell">XSB-10001232-20240210</td>
                    <td class="govuk-table__cell">Jo Bloggs</td>
                    <td class="govuk-table__cell"><a class="govuk-link" href="#">Download Reports</a></td>
                </tr>

                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><strong>22 January 2024 at 4:13 pm</strong></td>
                    <td class="govuk-table__cell">SBC-10007652-2324-20240122.Csv</td>
                    <td class="govuk-table__cell">XSB-10001232-20240210</td>
                    <td class="govuk-table__cell">Jo Bloggs</td>
                    <td class="govuk-table__cell"><a class="govuk-link" href="#">Download Reports</a></td>
                </tr>
            </tbody>
        </table>
 
    </div>
          
        </div>
      </div>
    </main>
  </div>

{% endblock %}