{% extends "layoutsld.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}


{% block content %}

<a href="javascript:history.back()" class="govuk-back-link">Back</a>


<main class="govuk-main-wrapper" id="content" role="main">
    <div class="govuk-grid-row flex">
        <div class="govuk-grid-column-two-thirds">
            

            

<div class="govuk-grid-row">
<div class="govuk-grid-column-full">
<h1 class="govuk-heading">Add course data</h1>

<p class="govuk-body">
    Record Skills Bootcamp course data
</p>


<table class="govuk-table">
    <caption class="govuk-table__caption govuk-table__caption--m">Planned starts</caption>
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Month</th>
        <th scope="col" class="govuk-table__header">Starts</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">January</th>
        <td class="govuk-table__cell govuk-!-font-weight-bold">
          <input class="govuk-input govuk-input--width-2" type="text" id="Headline" name="Headline" value="">
      </td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">February</th>
        <td class="govuk-table__cell govuk-!-font-weight-bold">
          <input class="govuk-input govuk-input--width-2" type="text" id="Headline" name="Headline" value="">
      </td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">March</th>
        <td class="govuk-table__cell govuk-!-font-weight-bold">
          <input class="govuk-input govuk-input--width-2" type="text" id="Headline" name="Headline" value="">
      </td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">March</th>
        <td class="govuk-table__cell govuk-!-font-weight-bold">
          <input class="govuk-input govuk-input--width-2" type="text" id="Headline" name="Headline" value="">
      </td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">April</th>
        <td class="govuk-table__cell govuk-!-font-weight-bold">
          <input class="govuk-input govuk-input--width-2" type="text" id="Headline" name="Headline" value="">
      </td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">May</th>
        <td class="govuk-table__cell govuk-!-font-weight-bold">
          <input class="govuk-input govuk-input--width-2" type="text" id="Headline" name="Headline" value="">
      </td>
      </tr>
    </tbody>
  </table>


  <p>
    <a class="govuk-button" href="/SBSDSummaryCourse"> Save and continue</a>
  </p>
  
</body>




{% endblock %}