{% extends "layout.html" %}

{% block pageTitle %}
  Remove collection assignment
{% endblock %}


{% block content %}
{% include "./includes/nav.html" %}

<div class="govuk-width-container">
    <a href="#" class="govuk-back-link">Back</a>
    <main class="govuk-main-wrapper">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
            <span class="govuk-caption-xl">Nottingham College, 10004577</span>
            <h1 class="govuk-heading-xl">Remove collection assignment</h1>
            </div>
        </div>
        <div class="govuk-warning-text">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text">
            <span class="govuk-visually-hidden">Warning</span>
            Are you sure that you want to remove the following collection assignment? 
            </strong>
        </div>
        <table class="govuk-table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Collection</th>
                    <th scope="row" class="govuk-table__header">Start date</th>
                    <th scope="row" class="govuk-table__header">End date</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td scope="row" class="govuk-table__cell">FEW2223</td>
                    <td scope="row" class="govuk-table__cell">26/10/2022</td>
                    <td scope="row" class="govuk-table__cell">12/02/2023</td>
                </tr>
            </tbody>
        </table>
    <div class="govuk-button-group">
        <a href="/OPSSBCCalcMethods.html" button class="govuk-button govuk-button--warning" data-module="govuk-button">
          Remove assignment
        </a>
        <a class="govuk-link" href="/OPSSBCCalcMethods.html">Cancel</a>
      </div>
    </main>
  </div>

{% endblock %}