{% extends "layout.html" %}

{% block pageTitle %}
  Start page example
{% endblock %}


{% block content %}
{% include "./includes/nav.html" %}

<div class="govuk-width-container">
    <a href="#" class="govuk-back-link">Back</a>
    <main class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-xl">Nottingham College, 10004577</span>
          <h1 class="govuk-heading-xl">Manage assignments</h1>
        </div>
        <div class="govuk-warning-text">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text">
              <span class="govuk-visually-hidden">Warning</span>
              Are you sure that you want to remove the following collection assignment? 
            </strong>
        </div>
        <div class="govuk-button-group">
            <a href="/OPSSBCCalcMethods.html" button class="govuk-button" data-module="govuk-button">
              Remove Assignment
            </a>
            <a class="govuk-link" href="/OPSSBCCalcMethods.html">Cancel</a>
          </div>
      </div>
    </main>
  </div>

{% endblock %}