{% extends "layoutsld.html" %}
{% block pageTitle %}
Accessibility Statement for Submit Learner Data
{% endblock %}
{% block content %}
<br>
<a class="govuk-link" href="#">Back</a>
<br>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Accessibility statement for submit learner data</h1>
      <p class="govuk-body">
        This accessibility statement applies to the Submit Learner Data service. This website is run by the Data Collections team at the Department for Education. We want as many people as possible to be able to use this website. For example, that means you should be able to:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>zoom in up to 300% without the text spilling off the screen</li>
        <li>navigate most of the website using just a keyboard</li>
        <li>navigate most of the website using speech recognition software</li>
        <li>listen to most of the website using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)</li>
      </ul>
      <p class="govuk-body">
        We’ve also made the website text as simple as possible to understand.
      </p>
      <p class="govuk-body">
        <a href="https://mcmw.abilitynet.org.uk/" class="govuk-link">AbilityNet</a> has advice on making your device easier to use if you have a disability.
      </p>
      <h2 class="govuk-heading-l">How accessible this website is</h2>
      <p class="govuk-body">
        We know some parts of this website are not fully accessible:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>some PDF documents are not fully accessible to screen reader software</li>
      </ul>
      <h2 class="govuk-heading-l">Feedback and contact information</h2>
      <p class="govuk-body">
        If you need information on this website in a different format like accessible PDF, large print, easy read, audio recording or braille:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>email <a href="mailto:Data.Collections@education.gov.uk" class="govuk-link">sde.servicedesk@education.gov.uk</a></li>
        <li>call <a href="mailto:call 0370 267 0001" class="govuk-link">call 0370 267 0001</a></li>
      </ul>
      <p class="govuk-body">We’ll consider your request and get back to you in 5 working days.</p>
      <h2 class="govuk-heading-l">Reporting accessibility problems with this website</h2>
      <p class="govuk-body">
        We’re always looking to improve the accessibility of this website. If you find any problems not listed on this page or think we’re not meeting accessibility requirements, contact:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Data Collections team by email at <a href="mailto:datacollections.applicationmanagement@education.gov.uk" class="govuk-link">datacollections.applicationmanagement@education.gov.uk</a></li>
      </ul>
      <h2 class="govuk-heading-l">Enforcement procedure</h2>
      <p class="govuk-body">
        The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’). If you’re not happy with how we respond to your complaint,
        <a href="https://www.equalityadvisoryservice.com/" class="govuk-link">contact the Equality Advisory and Support Service (EASS)</a>.
      </p>
      <h2 class="govuk-heading-l">Technical information about this website’s accessibility</h2>
      <p class="govuk-body">
        The Department for Education is committed to making its website accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.
      </p>
      <h2 class="govuk-heading-l">Compliance status</h2>
      <p class="govuk-body">
        This website is partially compliant with the
        <a href="https://www.w3.org/TR/WCAG21/" class="govuk-link">Web Content Accessibility Guidelines version 2.1 AA standard</a>, due to the non-compliances listed below.
      </p>
      <h2 class="govuk-heading-l">Non-accessible content</h2>
      <p class="govuk-body">The content listed below is non-accessible for the following reasons.</p>
      <h3 class="govuk-heading-m">Non-compliance with the accessibility regulations</h3>
      <p class="govuk-body">We know that some parts of this website are not fully accessible:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Some PDF documents are not fully accessible to screen reader software</li>
      </ul>
      <h3 class="govuk-heading-m">Content that’s not within the scope of the accessibility regulations</h3>
      <p class="govuk-body">
        The accessibility regulations do not require us to fix PDFs or other documents published before 23 September 2018 if they’re not essential to providing our services.
      </p>
      <h3 class="govuk-heading-m">Disproportionate burden</h3>
      <p class="govuk-body">
        We do not believe that any accessibility problems would impose a disproportionate burden on the organisation.
      </p>
      <h2 class="govuk-heading-l">What we’re doing to improve accessibility</h2>
      <p class="govuk-body">
        We are committed to improving accessibility across this website and will review accessibility regularly.
      </p>
      <h2 class="govuk-heading-l">Preparation of this accessibility statement</h2>
      <p class="govuk-body">
        This statement was prepared on 10th March 2023.
      </p>
      <p class="govuk-body">
        It was last reviewed on 10th January 2024. The test was carried out by the Data Collections team.
      </p>
  </div>
</div>
{% endblock %}