{% extends "layoutsld.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}


{% block content %}

<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-l">Sorry, there is a problem</h1>
          <p class="govuk-body">Your DfE Sign-in account may not be complete. </p>
          <p class="govuk-body">Check the organisations linked to your <a target="blank" href="https://services.signin.education.gov.uk/">DfE Sign-in account</a>.</p>



        </div>
      </div>





      
    </main>
  </div>


{% endblock %}