{% extends "layoutsld.html" %}
{% block pageTitle %}
Submit Learner Data
{% endblock %}
{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Submit learner data</h1>
        <p class="govuk-body">
            This service is for organisations submitting, validating or viewing data for the following data collections:
        </div>
</div>
{% endblock %}
{% block footer %}
<footer class="govuk-footer" role="contentinfo">
    <div class="govuk-width-container">
        <div class="govuk-footer__meta">
            <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
                <ul class="govuk-footer__inline-list">
                    <li class="govuk-footer__inline-list-item">
                        <a class="govuk-footer__link" href="#">Privacy Policy</a>
                    </li>
                    <li class="govuk-footer__inline-list-item">
                        <a class="govuk-footer__link" href="#">Terms and conditions</a>
                    </li>
                    <li class="govuk-footer__inline-list-item">
                        <a class="govuk-footer__link" href="#">Cookies</a>
                    </li>
                </ul>
                <p class="govuk-footer__meta-item govuk-footer__meta-item--grow">
                    All content is available under the
                    <a class="govuk-footer__link" href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/">
                        Open Government Licence v3.0
                    </a>, except where otherwise stated.
                </p>
            </div>
            <div class="govuk-footer__meta-item">
                <a class="govuk-footer__link govuk-footer__link--no-visited-state" href="#">
                    <svg class="govuk-footer__licence-logo" xmlns="http://www.w3.org/2000/svg" height="17" viewBox="0 0 41 17" fill="currentColor">
                        <path d="M0 0h11l1 2h15l1-2h11v5H0z" />
                    </svg>
                </a>
            </div>
        </div>
    </div>
</footer>
{% endblock %}






