{% extends "layout.html" %}

{% block pageTitle %}
  Adult funding claims
{% endblock %}


{% block content %}

  <a href="#" class="govuk-back-link">Back</a>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <h1 class="govuk-heading-xl">Adult funding claims</h1>

      <p class="govuk-body">
        This section allows you to manage funding and performance claims for providers with adult funding contracts. Please select an option below to continue.
      </p>

      <a class="govuk-button govuk-button--disabled" aria-disabled="true">
        Submit outstanding claims
      </a>

    </div>
  </div>
{% endblock %}
