{% extends "layoutsld.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}


{% block content %}



    <div class="govuk-width-container">


        <main class="govuk-main-wrapper" id="content" role="main">
            <div class="govuk-grid-row flex">
                <!--<div class="govuk-grid-column-fullgovuk-grid-column-two-thirds"> -->
                <div class="govuk-grid-column-three-quarters">

<h1 class="govuk-heading-xl">
    Submit learner data
</h1>

<p class="govuk-body-l">This service is for organisations submitting, validating or viewing data for the following data collections:<span aria-hidden="true"></span>.</p>
<ul class="govuk-list govuk-list--bullet">
    <li>Individualised learner records (<abbr>ILR</abbr>)</li>
    <li>Earnings adjustment statements (<abbr>EAS</abbr>)</li>
    <li><abbr>ESF</abbr> (European Social Fund) supplementary data</li>
    <li>Funding claims</li>
    <li few-download-link-switch=""> further education staff and vacancy data</li>
    <li>further education governor data</li>
    <li>Skills Bootcamp contracts (SBC)</li>
    <li>Search for employer identifiers using the Employer Data Service</li>
</ul>

<a href="/FEWHomeOpen" class="govuk-button govuk-button--start" id="signin">Sign in</a>

<h2 class="govuk-heading-m">Before you start</h2>
<p>You will need login details for DfE Sign-in.</p>

<p>If you haven't used DfE Sign-in before you'll need to <a class="govuk-link" href="https://profile.signin.education.gov.uk/register">create a DfE Sign-in account</a>.</P>


                </div>
                    <div class="govuk-grid-column-one-quarter">
                        <aside class="app-related-items" role="complementary">
                            <h2 class="govuk-heading-m" id="subsection-title-help">
                                Help and support
                            </h2>
                         <p>Find further information at the Customer Help Centre where you can read our help articles, talk to our Community, chat to our Virtual assistant or submit an enquiry.</p>

                            
    <h2 class="govuk-heading-m" id="subsection-title-home-related-content">
        Related content
    </h2>
    <nav role="navigation" aria-labelledby="subsection-title-home-related-content">
        <ul class="govuk-list govuk-!-font-size-16">
            <li>
                <a href="https://www.gov.uk/guidance/how-to-become-an-approved-training-provider-and-bid-for-funding" target="_blank">
                    How to become an approved training provider
                </a>
            </li>
            <li>
                <a href="https://guidance.submit-learner-data.service.gov.uk/" target="_blank">
                    Individualised Learner Record (ILR) technical documents, guidance and requirements (all years)
                </a>
            </li>
        </ul>
    </nav>


<h2 class="govuk-heading-m" id="subsection-title-tools-and-services">
    Tools and services
</h2>
<nav role="navigation" aria-labelledby="subsection-title-tools-and-services">
    <ul class="govuk-list govuk-!-font-size-16">
        <li>
            <a href="/publicdownloads/Desktop">FIS (Funding Information Service)</a>

        </li>
        <li>
            
<a href="https://submit-learner-data.service.gov.uk/find-a-learning-aim/" target="_blank">
    Find a Learning Aim
</a>

        </li>
        <li>
            <a href="/publicdownloads/LearnerEntry">ILR Learner entry tool</a>
        </li>
        <li>
            <a href="/publicdownloads/FileMerge">ILR FileMerge</a>
        </li>
        

        <li few-download-link-switch="">
            <a href="/publicdownloads/FEWorkforceStaffentrytool">FE staff data desktop application</a>
        </li>

        
    </ul>
</nav>

                        </aside>
                    </div>
            </div>
        </main>
    </div>




</body>

{% endblock %}