{% extends "layoutsld.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}


{% block content %}



    <div class="govuk-width-container">


        <main class="govuk-main-wrapper" id="content" role="main">
            <div class="govuk-grid-row flex">
                <!--<div class="govuk-grid-column-fullgovuk-grid-column-two-thirds"> -->
                <div class="govuk-grid-column-three-quarters">

<h1 class="govuk-heading-xl">
    Submit Learner Data
</h1>

<p class="govuk-body-l">This service is for organisations submitting, validating or viewing data.</p>
<p>For FE providers this includes:</p>
<ul class="govuk-list govuk-list--bullet">
    <li>Individualised Learner Records (<abbr>ILR</abbr>)</li>
    <li>Earnings Adjustment Statements (<abbr>EAS</abbr>)</li>
    <li>Funding Claims</li>
    <li>Further Education Staff and Vacancy Data</li>
    <li>Further Education Governor Data</li>
    <li>16-19 Student Estimate</li>
    <li>employer identification</li>
    <li>reports (including period end reports)</li>
</ul>
<br>
<p>For devolved organisations this includes:</p>
<ul class="govuk-list govuk-list--bullet">
    <li>Skills Bootcamp Contracts</li>
    <li>Funded Aims</li>
    <li>Devolved Contracts (for adult skills)</li>
    <li>period end reports</li>
</ul>

<br>

<a href="/FEWHomeOpen" class="govuk-button govuk-button--start" id="signin">Sign in</a>

<h2 class="govuk-heading-m">Before you start</h2>

    <p>
        You’ll need a <a target="blank" href="https://services.signin.education.gov.uk/">DfE Sign-in account</a> to use this service. Read about our
        <a href="/Help/DfESignInRoles">user roles and permissions.</a>
    </p>

                </div>
                    <div class="govuk-grid-column-one-quarter">
                        <aside class="app-related-items" role="complementary">
                            <h2 class="govuk-heading-m" id="subsection-title-help">
                                Help and support
                            </h2>
                            <p class="govuk-!-font-size-16">
                                Find further information at the <a href="https://esfahelp.education.gov.uk/hc/en-gb/articles/7443637756946">Customer Help Centre</a> where you can <a href="https://customerhelp.education.gov.uk/hc/en-gb/categories/360002506639-Articles">read our help articles</a>, talk to our Community, chat to our <a href="https://askonline.education.gov.uk/chatbot/davina?regional=true">Virtual assistant</a> or submit an enquiry.
                            </p>

                            
    <h2 class="govuk-heading-m" id="subsection-title-home-related-content">
        Related content
    </h2>
    <nav role="navigation" aria-labelledby="subsection-title-home-related-content">
        <ul class="govuk-list govuk-!-font-size-16">
            <li>
                <a href="https://www.gov.uk/guidance/how-to-become-an-approved-training-provider-and-bid-for-funding" target="_blank">
                    How to become an approved training provider
                </a>
            </li>
            <li>
                <a href="https://guidance.submit-learner-data.service.gov.uk/" target="_blank">
                    Individualised Learner Record (ILR) technical documents, guidance and requirements (all years)
                </a>
            </li>
        </ul>
    </nav>


<h2 class="govuk-heading-m" id="subsection-title-tools-and-services">
    Tools and services
</h2>
<nav role="navigation" aria-labelledby="subsection-title-tools-and-services">
    <ul class="govuk-list govuk-!-font-size-16">
        <li>
            <a href="/publicdownloads/Desktop">FIS (Funding Information Service)</a>

        </li>
        <li>
            
<a href="https://submit-learner-data.service.gov.uk/find-a-learning-aim/" target="_blank">
    Find a Learning Aim
</a>

        </li>
        <li>
            <a href="/publicdownloads/LearnerEntry">ILR Learner entry tool</a>
        </li>
        <li>
            <a href="/publicdownloads/FileMerge">ILR FileMerge</a>
        </li>
        

        <li few-download-link-switch="">
            <a href="/publicdownloads/FEWorkforceStaffentrytool">FE staff data desktop application</a>
        </li>

        
    </ul>
</nav>

                        </aside>
                    </div>
            </div>
        </main>
    </div>




</body>

{% endblock %}