{% extends "layoutsld.html" %}
{% block pageTitle %}
Terms and Conditions
{% endblock %}
{% block content %}
<!-- Feedback Banner -->
<div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title">
    <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title">LIVE</h2>
    </div>
    <div class="govuk-notification-banner__content">
        <p class="govuk-body">
            <a class="govuk-link" href="#">Your feedback (opens in new tab)</a> will help us improve the service.
        </p>
    </div>
</div>
<!-- User Info -->
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full govuk-!-text-align-right">
        <span>Beau Durman UKPRN:10033670</span> |
        <a href="#" class="govuk-link">Sign out</a>
    </div>
</div>
<!-- Back Link -->
<a class="govuk-back-link" href="#">Back</a>
<!-- Main Content -->
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Terms and conditions</h1>
        <p class="govuk-body">
            Welcome to the Education and Skills Funding Agency (ESFA) Submit Learner Data (SLD) service.
            By using this service, you agree to these terms and conditions.
        </p>
        <h2 class="govuk-heading-l">Our responsibilities</h2>
        <p class="govuk-body">
            This service is run by the Education and Skills Funding Agency (ESFA).
        </p>
        <p class="govuk-body">
            We do our best to make sure this service is constantly available, virus free, and that the information we provide is accurate and complete.
        </p>
        <p class="govuk-body">However, the ESFA accepts no liability for:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>You being unable to access the service (e.g. because of excessive demand or because we’ve taken the service down for maintenance).</li>
            <li>Delay or failure in submitting or receiving data.</li>
            <li>Indirect damages arising from using the service or relying on its content.</li>
            <li>The content and availability of external websites that link to the service or which are linked from it.</li>
        </ul>
        <h2 class="govuk-heading-l">Your responsibilities</h2>
        <p class="govuk-body">As a user of the service you must:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>If you are a training provider, ensure users given access to submit data and download reports have delegated authority on behalf of their organisation to do so.</li>
            <li>Keep your username and password confidential.</li>
            <li>Accept responsibility for all activities associated with your account.</li>
            <li>Ensure that any personal data (as defined under the EU General Data Protection Regulation (GDPR) and the Data Protection Act 2018) is protected, used only for the purposes for which it was obtained, and disposed of appropriately.</li>
            <li>Agree not to use the service for any illegal purpose.</li>
        </ul>
        <p class="govuk-body">
            In order to gain access to Submit Learner Data, you must have a DfE Sign-in account.
            Please see the <a href="#" class="govuk-link">terms and conditions for DfE Sign-in</a>.
        </p>
    </div>
</div>
{% endblock %}