{% extends "layoutsld.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<a href="/FEWCollectionOverview" class="govuk-back-link">Back</a>


        <main class="govuk-main-wrapper" id="content" role="main">
            <div class="govuk-grid-row flex">
                <div class="govuk-grid-column-two-thirds">
                    

                    

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <span class="govuk-caption-l">Academic year: 1 August 2022 to 31 July 2023</span>
        <h1 class="govuk-heading-l">Record Skills Bootcamp supplementary data</h1>

        <p class="govuk-body">
            This data collection has 3 parts.  You can start with either.
        </p>

        <form method="post" id="radio-group" action="/FEWCollectionSelection">
            <div class="govuk-form-group">
                
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                        <h2 class="govuk-fieldset__heading">
                            Select an option
                        </h2>
                    </legend>
                    <div class="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="option-1" type="radio" value="staff" aria-describedby="option-1-item-hint" name="SelectedOption">
                            <label class="govuk-label govuk-radios__label" for="option-1">
                                Record bootcamp data
                            </label>
                            <div id="option-1-item-hint" class="govuk-hint govuk-radios__hint">
                                hint description
                            </div>
                        </div>
                        <div class="govuk-radios__item">
                            
                                <input class="govuk-radios__input" id="option-2a" type="radio" value="vacancyAndRecruitment" aria-describedby="option-2-item-hint" name="SelectedOption">
                            
                            <label class="govuk-label govuk-radios__label" for="option-2">
                                Record employer data
                            </label>
                            <div id="option-2-item-hint" class="govuk-hint govuk-radios__hint">
                                hint description
                            </div>
                        </div>
                        <div class="govuk-radios__item">
                            
                            <input class="govuk-radios__input" id="option-2a" type="radio" value="vacancyAndRecruitment" aria-describedby="option-2-item-hint" name="SelectedOption">
                        
                        <label class="govuk-label govuk-radios__label" for="option-2">
                            Record learner data
                        </label>
                        <div id="option-2-item-hint" class="govuk-hint govuk-radios__hint">
                            hint description
                            </div>
                    </div>
                    </div>
                </fieldset>
            </div>


            <a class="govuk-button" href="Supplementary2example.html">Continue</a>

            
    </div>
</div>

                </div>
            </div>
        </main>
    </div>


</body>

{% endblock %}