{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
  {% include "./includes/nav.html" %}

  javascript:history.back()Back</a>

  <h1 class="govuk-heading-xl">Topic subscriptions and tasks</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <span class="govuk-caption-m">Topic: ilr2122submissiontopic</span>
      <span class="govuk-caption-m">Collection year: 2122</span>
      <span class="govuk-caption-m">Subscription: FileValidation</span>
      <span class="govuk-caption-m">Task: Process</span>

      <h2 class="govuk-heading-l">Task display settings</h2>

      <fieldset class="govuk-fieldset">
        <div class="govuk-form-group">
          <label class="govuk-label" for="address-line-1">
            Display name
          </label>
          <input class="govuk-input" id="address-line-1" name="addressLine1" type="text" autocomplete="address-line1">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="address-line-2">
            Description
          </label>
          <input class="govuk-input" id="address-line-2" name="addressLine2" type="text" autocomplete="address-line2">
        </div>

        <div class="govuk-checkboxes" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
            <label class="govuk-label govuk-checkboxes__label" for="waste">
              Mandatory
            </label>
          </div>
        </div>
      </fieldset>
    </div>
  </div>

  <br>

  <a hreficstaskscheck
    Save
  </a>
{% endblock %}
