{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
{% include "./includes/nav.html" %}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="tasksyear">Select year</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="taskscollectiontype">Select collection type</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      Select subscription
    </li>
  </ol>
</div>


<!--<a class="govuk-back-link navigation-back">Back</a>-->

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

            <h1 class="govuk-heading-l">Select subscription for 2122 PE-ILR</h1>
            <br>

            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend">
                  Select a subscription
                </legend>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="subscription-CrossYearReport" name="subscription" type="radio" value="CrossYearReport">
                  <label class="govuk-label govuk-radios__label" for="subscription-1">
                    CrossYearReport
                  </label>
                </div>
                <div class="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="subscription-DataScience" name="subscription" type="radio" value="DataScience">
                    <label class="govuk-label govuk-radios__label" for="subscription-2">
                      DataScience
                    </label>
                  </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="subscription-FRM" name="subscription" type="radio" value="FRM">
                    <label class="govuk-label govuk-radios__label" for="subscription-3">
                      FRM
                    </label>
                  </div>
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="subscription-GenerateFM36Payments" name="subscription" type="radio" value="GenerateFM36Payments">
                      <label class="govuk-label govuk-radios__label" for="subscription-4">
                        GenerateFM36Payments
                      </label>
                </div>
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="subscription-MCAGLAReporting2122" name="subscription" type="radio" value="MCAGLAReporting2122">
                      <label class="govuk-label govuk-radios__label" for="subscription-5">
                        MCAGLAReporting2122
                      </label>
                </div>
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="subscription-Payments" name="subscription" type="radio" value="Payments">
                      <label class="govuk-label govuk-radios__label" for="subscription-6">
                        Payments
                      </label>
                </div>
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="subscription-Reports" name="subscription" type="radio" value="Reports">
                      <label class="govuk-label govuk-radios__label" for="subscription-7">
                        Reports
                      </label>
                </div>
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="subscription-Reports2122" name="subscription" type="radio" value="Reports2122">
                      <label class="govuk-label govuk-radios__label" for="subscription-8">
                        Reports2122
                      </label>
                </div>
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="subscription-Summarisation" name="subscription" type="radio" value="Summarisation" checked>
                      <label class="govuk-label govuk-radios__label" for="subscription-9">
                        Summarisation
                      </label>
                </div>
            </div>

  </fieldset>
</div>

<a href="/tasksetting" button class="govuk-button" data-module="govuk-button">
  Continue
</a>

</div>
</div>
</body>
</html>


{% endblock %}
