{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <h1 class="govuk-heading-xl">FE Workforce Staff</h1>
</div>

<div class="govuk-tabs" data-module="govuk-tabs">
    <h2 class="govuk-tabs__title">
      Filters
    </h2>
      <ul class="govuk-tabs__list">
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
            <a class="govuk-tabs__tab" href="#all">
              All 
            </a>
          </li>
      <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
        <a class="govuk-tabs__tab" href="#past-day">
          Collection Started
        </a>
      </li>
      <li class="govuk-tabs__list-item">
        <a class="govuk-tabs__tab" href="#past-week">
          Collection completed
        </a>
      </li>
      <li class="govuk-tabs__list-item">
        <a class="govuk-tabs__tab" href="#past-month">
          No data submitted
        </a>
      </li>
      <li class="govuk-tabs__list-item">
        <a class="govuk-tabs__tab" href="#past-year">
          Modified in the last 24hrs
        </a>
      </li>
    </ul>

    <div class="govuk-tabs__panel" id="all">
        <h2 class="govuk-heading-l">All Providers</h2>
        <div class="govuk-grid-row">
          <div class="govuk-form-group">
              <label class="govuk-label" for="sort">Sort by</label>
              <select class="govuk-select" name="sort" id="sort">
                  <option>Provider name (a to z)</option>
                  <option>Provider name (z to a)</option>
                  <option>UKPRN (asc)</option>
                  <option>UKPRN (desc)</option>
              </select>
          </div>
          </div>
  
      <h3 class="govuk-heading-1">Provider Types</h3>
      <fieldset class="govuk-fieldset">
              <div class="govuk-radios">
                  <div class="govuk-radios__item">
                      <input class="govuk-radios__input" name="filter" type="radio" checked="" value="0">
                      <label class="govuk-label govuk-radios__label" for="collectionStarted">
                          GFEC 
                      </label>
                  </div>
  
                  <div class="govuk-radios__item">
                      <input class="govuk-radios__input" name="filter" type="radio" checked="" value="0">
                      <label class="govuk-label govuk-radios__label" for="collectionStarted">
                       ITP
                      </label>
                  </div>
  
                  <div class="govuk-radios__item">
                      <input class="govuk-radios__input" name="filter" type="radio" checked="" value="0">
                      <label class="govuk-label govuk-radios__label" for="collectionStarted">
                       SSC
                      </label>
                  </div>
  
                  <div class="govuk-radios__item">
                      <input class="govuk-radios__input" name="filter" type="radio" checked="" value="0">
                      <label class="govuk-label govuk-radios__label" for="collectionStarted">
                       LA
                      </label>
                  </div>
              </div>
       </fieldset>    
  
       <br></br>
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Provider Name</th>
              <th scope="col" class="govuk-table__header">UKPRN</th>
              <th scope="col" class="govuk-table__header">Started</th>
              <th scope="col" class="govuk-table__header">Complete</th>
              <th scope="col" class="govuk-table__header">Modified Date</th>
              <th scope="col" class="govuk-table__header">Modifier</th>
            </tr>
          </thead>
  
         
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">School of Rock</td>
              <td class="govuk-table__cell">00012345</td>
              <td class="govuk-table__cell">Y</td>
              <td class="govuk-table__cell">N</td>
              <td class="govuk-table__cell">10/07/2023</td>
              <td class="govuk-table__cell">Jo Bloggs</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">School of Art</td>
              <td class="govuk-table__cell">00012346</td>
              <td class="govuk-table__cell">Y</td>
              <td class="govuk-table__cell">N</td>
              <td class="govuk-table__cell">23/07/2023</td>
              <td class="govuk-table__cell">John Smith</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Springfield High</td>
              <td class="govuk-table__cell">00012343</td>
              <td class="govuk-table__cell">Y</td>
              <td class="govuk-table__cell">Y</td>
              <td class="govuk-table__cell">11/09/2023</td>
              <td class="govuk-table__cell">Marty McFly</td>
            </tr>
          </tbody>
        </table>
        <button data-prevent-double-click="true" class="govuk-button govuk-!-margin-right-3" type="submit" data-module="govuk-button" id="aBtnRefresh">Refresh</button>
        <a href="#" class="govuk-button" id="aBtnDownloadCSV" style="visibility: visible;">Download CSV</a>
      </div>

    <div class="govuk-tabs__panel" id="past-day">
      <h2 class="govuk-heading-l">Collections Started</h2>
      <div class="govuk-grid-row">
        <div class="govuk-form-group">
            <label class="govuk-label" for="sort">Sort by</label>
            <select class="govuk-select" name="sort" id="sort">
                <option>Provider name (a to z)</option>
                <option>Provider name (z to a)</option>
                <option>UKPRN (asc)</option>
                <option>UKPRN (desc)</option>
            </select>
        </div>
        </div>

    <h3 class="govuk-heading-1">Provider Types</h3>
    <fieldset class="govuk-fieldset">
            <div class="govuk-radios">
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" name="filter" type="radio" checked="" value="0">
                    <label class="govuk-label govuk-radios__label" for="collectionStarted">
                        GFEC 
                    </label>
                </div>

                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" name="filter" type="radio" checked="" value="0">
                    <label class="govuk-label govuk-radios__label" for="collectionStarted">
                     ITP
                    </label>
                </div>

                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" name="filter" type="radio" checked="" value="0">
                    <label class="govuk-label govuk-radios__label" for="collectionStarted">
                     SSC
                    </label>
                </div>

                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" name="filter" type="radio" checked="" value="0">
                    <label class="govuk-label govuk-radios__label" for="collectionStarted">
                     LA
                    </label>
                </div>
            </div>
     </fieldset>    

     <br></br>
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Provider Name</th>
            <th scope="col" class="govuk-table__header">UKPRN</th>
            <th scope="col" class="govuk-table__header">Submitted Data Last Year?</th>
            <th scope="col" class="govuk-table__header">Modifier</th>
          </tr>
        </thead>

       
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">School of Rock</td>
            <td class="govuk-table__cell">00012345</td>
            <td class="govuk-table__cell">Y</td>
            <td class="govuk-table__cell">Aaron Taylor</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">School of Art</td>
            <td class="govuk-table__cell">00012346</td>
            <td class="govuk-table__cell">N</td>
            <td class="govuk-table__cell">Bob Ryan</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Springfield High</td>
            <td class="govuk-table__cell">00012343</td>
            <td class="govuk-table__cell">Y</td>
            <td class="govuk-table__cell">Ashley Johnson</td>
          </tr>
        </tbody>
      </table>
      <button data-prevent-double-click="true" class="govuk-button govuk-!-margin-right-3" type="submit" data-module="govuk-button" id="aBtnRefresh">Refresh</button>
      <a href="#" class="govuk-button" id="aBtnDownloadCSV" style="visibility: visible;">Download CSV</a>
    </div>
    
    <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-week">
      <h2 class="govuk-heading-l">Collections Completed</h2>
      <div class="govuk-grid-row">
        <div class="govuk-form-group">
            <label class="govuk-label" for="sort">Sort by</label>
    
            <select class="govuk-select" name="sort" id="sort">
                <option>Provider name (a to z)</option>
                <option>Provider name (z to a)</option>
                <option>UKPRN (asc)</option>
                <option>UKPRN (desc)</option>
            </select>
        </div>
                </div>

                <h3 class="govuk-heading-1">Provider Types</h3>
                <fieldset class="govuk-fieldset">
                        <div class="govuk-radios">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" name="filter" type="radio" checked="" value="0">
                                <label class="govuk-label govuk-radios__label" for="collectionStarted">
                                    GFEC 
                                </label>
                            </div>
            
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" name="filter" type="radio" checked="" value="0">
                                <label class="govuk-label govuk-radios__label" for="collectionStarted">
                                 ITP
                                </label>
                            </div>
            
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" name="filter" type="radio" checked="" value="0">
                                <label class="govuk-label govuk-radios__label" for="collectionStarted">
                                 SSC
                                </label>
                            </div>
            
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" name="filter" type="radio" checked="" value="0">
                                <label class="govuk-label govuk-radios__label" for="collectionStarted">
                                 LA
                                </label>
                            </div>
                        </div>
                 </fieldset>    
            
                 <br></br>
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Provider Name</th>
            <th scope="col" class="govuk-table__header">UKPRN</th>
            <th scope="col" class="govuk-table__header">Opened date</th>
            <th scope="col" class="govuk-table__header">Closed date</th>
            <th scope="col" class="govuk-table__header">Modifier</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">St Trinians</td>
            <td class="govuk-table__cell">000123456</td>
            <td class="govuk-table__cell">01/05/2023</td>
            <td class="govuk-table__cell">01/06/2023</td>
            <td class="govuk-table__cell">Helen Jones</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Eton</td>
            <td class="govuk-table__cell">000123456</td>
            <td class="govuk-table__cell">05/07/2023</td>
            <td class="govuk-table__cell">10/07/2023</td>
            <td class="govuk-table__cell">Barbara Link</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Shrewsbury College</td>
            <td class="govuk-table__cell">000123456</td>
            <td class="govuk-table__cell">07/07/2023</td>
            <td class="govuk-table__cell">12/08/2023</td>
            <td class="govuk-table__cell">Christian John</td>
          </tr>
        </tbody>
      </table>
      <button data-prevent-double-click="true" class="govuk-button govuk-!-margin-right-3" type="submit" data-module="govuk-button" id="aBtnRefresh">Refresh</button>
      <a href="#" class="govuk-button" id="aBtnDownloadCSV" style="visibility: visible;">Download CSV</a>
    </div>
    <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-month">
      <h2 class="govuk-heading-l">No Data Submitted</h2>
      <div class="govuk-grid-row">
        <div class="govuk-form-group">
            <label class="govuk-label" for="sort">Sort by</label>
    
            <select class="govuk-select" name="sort" id="sort">
                <option>Provider name (a to z)</option>
                <option>Provider name (z to a)</option>
                <option>UKPRN (asc)</option>
                <option>UKPRN (desc)</option>
            </select>
        </div>
    </div>

    <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Provider Name</th>
            <th scope="col" class="govuk-table__header">UKPRN</th>
            <th scope="col" class="govuk-table__header">Completed Last Year?</th>
          </tr>
        </thead>

        <h3 class="govuk-heading-1">Provider Types</h3>
    <fieldset class="govuk-fieldset">
            <div class="govuk-radios">
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" name="filter" type="radio" checked="" value="0">
                    <label class="govuk-label govuk-radios__label" for="collectionStarted">
                        GFEC 
                    </label>
                </div>

                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" name="filter" type="radio" checked="" value="0">
                    <label class="govuk-label govuk-radios__label" for="collectionStarted">
                        ITP
                    </label>
                </div>

                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" name="filter" type="radio" checked="" value="0">
                    <label class="govuk-label govuk-radios__label" for="collectionStarted">
                        SSC
                    </label>
                </div>

                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" name="filter" type="radio" checked="" value="0">
                    <label class="govuk-label govuk-radios__label" for="collectionStarted">
                        LA
                    </label>
                </div>
            </div>
        </fieldset>    

        <br></br>
       
       
       
        <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">London College</td>
              <td class="govuk-table__cell">00012576</td>
              <td class="govuk-table__cell">Y</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell">York College</td>
                <td class="govuk-table__cell">00012576</td>
                <td class="govuk-table__cell">N</td
              </tr>
          </tbody>
    </table>
    <button data-prevent-double-click="true" class="govuk-button govuk-!-margin-right-3" type="submit" data-module="govuk-button" id="aBtnRefresh">Refresh</button>
    <a href="#" class="govuk-button" id="aBtnDownloadCSV" style="visibility: visible;">Download CSV</a>
    </div>
    
    <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-year">
      <h2 class="govuk-heading-l">Modified in Last 24hrs</h2>
      <div class="govuk-grid-row">
        <div class="govuk-form-group">
            <label class="govuk-label" for="sort">Sort by</label>
    
            <select class="govuk-select" name="sort" id="sort">
                <option>Provider name (a to z)</option>
                <option>Provider name (z to a)</option>
                <option>UKPRN (asc)</option>
                <option>UKPRN (desc)</option>
            </select>
        </div>
                </div>

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Provider Name</th>
            <th scope="col" class="govuk-table__header">UKPRN</th>
            <th scope="col" class="govuk-table__header">Provider Type</th>
            <th scope="col" class="govuk-table__header">Modifier</th>
          </tr>
        </thead>

    <h3 class="govuk-heading-1">Provider Types</h3>
    <fieldset class="govuk-fieldset">
            <div class="govuk-radios">
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" name="filter" type="radio" checked="" value="0">
                    <label class="govuk-label govuk-radios__label" for="collectionStarted">
                        GFEC 
                    </label>
                </div>

                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" name="filter" type="radio" checked="" value="0">
                    <label class="govuk-label govuk-radios__label" for="collectionStarted">
                        ITP
                    </label>
                </div>

                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" name="filter" type="radio" checked="" value="0">
                    <label class="govuk-label govuk-radios__label" for="collectionStarted">
                        SSC
                    </label>
                </div>

                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" name="filter" type="radio" checked="" value="0">
                    <label class="govuk-label govuk-radios__label" for="collectionStarted">
                        LA
                    </label>
                </div>
            </div>
        </fieldset>    

        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Solihull College</td>
            <td class="govuk-table__cell">00012576</td>
            <td class="govuk-table__cell">GFEC</td>
            <td class="govuk-table__cell">Sandy Lyle</td>
          </tr>
        </tbody>
      </table>
      <button data-prevent-double-click="true" class="govuk-button govuk-!-margin-right-3" type="submit" data-module="govuk-button" id="aBtnRefresh">Refresh</button>
      <a href="#" class="govuk-button" id="aBtnDownloadCSV" style="visibility: visible;">Download CSV</a>
    </div>
  </div>

  {% endblock %}