{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<html lang="en">
<body clas="govuk-template__body js-enabled">
  <noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KRD8CKK"
            height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<script>
        document.body.className =
            ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
</script>

<div class="govuk-width-container">

<a class="govuk-back-link navigation-back">Back</a>



<br>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
  
    <details class="govuk-details" data-module="govuk-details" role="group" open="">
            <summary class="govuk-details__summary" role="button" aria-controls="details-content" aria-expanded="true">
                <span class="govuk-details__summary-text">Upload multiple providers</span>
            </summary>
            <div class="govuk-details__text" id="details-content" aria-hidden="false">
            <h1 class="govuk-heading-l">Provider collection assignments</h1>
            <div id="dob-hint" class="govuk-hint">Choose providers file to upload</div>
            <br>
                <p>
                    <a href="/provider/AddNew/DownloadTemplate">Download CSV template</a>
                </p>
                <form method="post" enctype="multipart/form-data" id="providersUploadForm" action="/provider/AddNew/BulkUpload">

                    <div class="govuk-form-group">
                        <div class="govuk-form-group" id="controls">
                            <label class="govuk-label" for="file">
                                <strong>Upload a file</strong>
                            </label>
                            <input class="govuk-file-upload" id="file" name="file" type="file">
                        </div>
                        <div class="govuk-form-group" id="controls">
                            <label class="govuk-label" for="file">
                                <strong>Reason for upload</strong>
                            </label>
                            <textarea class="govuk-textarea" id="more-detail" rows="1" aria-describedby="more-detail-hint" name="Message"></textarea>
                        </div>
                    </div>
                    <button class="govuk-button">
                        Upload file
                    </button>
                    <br>
                    <a class="govuk-back-link navigation-back" href="/">Cancel</a>
                <div id="filesList">﻿<div class="govuk-grid-row">
                    <div class="govuk-grid-column-full">
                        <table class="govuk-table">
                            <thead class="govuk-table__head">
                                <tr class="govuk-table__row">
                                    <th scope="col" class="govuk-table__header">Date</th>
                                    <th scope="col" class="govuk-table__header">Submitted by</th>
                                    <th scope="col" class="govuk-table__header">File</th>
                                    <th scope="col" class="govuk-table__header">Job ID</th>
                                    <th scope="col" class="govuk-table__header">Reason</th>
                                    <th scope="col" class="govuk-table__header">Status</th>
                                    <th scope="col" class="govuk-table__header">Reports</th>
                                </tr>
                            </thead>
                            <tbody class="govuk-table__body" id="fileContainer">
                                <tr class="govuk-table__row">
                                    <td class="govuk-table__cell govuk-!-font-weight-bold">16 August 2021 at 9:06 am</td>
                                    <td class="govuk-table__cell">Mrs Sameenataz Chittoor</td>
                                    <td class="govuk-table__cell"><a href="/referencedata/ReferenceData/GetCollectionReportFileAsync/CoFRemoval/CoFRemovalRD-202108021000.csv">Providers-20210801-11000000.csv</a></td>
                                    <td class="govuk-table__cell">43792</td>
                                    <td class="govuk-table__cell">21/22 rollover</td>
                                    <td class="govuk-table__cell">
                                        <span class="jobCompleted">Job Completed</span> <br>
                                        <span class="govuk-!-font-weight-bold">999 records</span> <br>
                                        <span class="govuk-!-font-weight-bold">0 warnings</span> <br>
                                        <span class="govuk-!-font-weight-bold">0 errors</span> <br>
                                    </td>
                                    <td class="govuk-table__cell"><a href="/referencedata/ReferenceData/GetCollectionReportFileAsync/CoFRemoval/CoFRemovalRD-ValidationReport-202108021000.csv/43792">ProvidersReports-20210801-110000.csv</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
              </div>
            </div>

        </details>

</div>
</main>
</div>
</body>
</html>


{% endblock %}
